<div id="#container">

    <div id="center"><b>center</b></div>
    <div id="Fruit"><b>Fruit</b></div>
    <div id="Vegetable"><span style="color: red;">Vegetable</span></div>
    <div id="Orange">
      <p class="someclass">Orange</p>
    </div>
    <div id="Apple"><b>Apple</b></div>
    <div id="Banana"><b>Banana</b></div>
    <div id="Peach"><b>Peach</b></div>
    <div id="Bean"><b>Bean</b></div>
    <div id="Pea"><b>Pea</b></div>
    <div id="Carrot"><b>Carrot</b></div>
  <svg  id="body"
    class="associations"
    #body>
</svg>
  </div>
