.p-component {
    font-family: Font-Regular;
    letter-spacing: 1px;
}

.p-button {
    background: var(--primary-color);
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid var(--primary-color);
}

.p-button-label {
    font-weight: normal;
    letter-spacing: 1px;
}

.p-button:enabled:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.p-button:focus {
    box-shadow: none;
}

.p-button.p-button-brand {
    background: var(--brand-color);
    border-color: var(--brand-color);
}

.p-button.p-button-brand:hover {
    background: var(--brand-color);
    border-color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary>.p-button,
.p-splitbutton.p-button-secondary>.p-button {
    background-color: #ffffff;
    color: #24232C;
}

.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary>.p-button:enabled:hover,
.p-splitbutton.p-button-secondary>.p-button:enabled:hover {
    background-color: #ffffff;
    color: #24232C;
}

.p-button.p-button-secondary:enabled:focus {
    box-shadow: none;
}

.p-confirm-dialog-reject {
    background: var(--secondary-color);
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.p-confirm-dialog-reject:hover {
    background: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}