<div class="grid m-0 bg-blue ">
    <div class="bg-image bg-bottom">
    <div class="grid sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-8 ">
        <div class="col-6">
            <img src=" ./assets/logo-white.svg" alt="x-logo" class="ml-8">
        </div>
        <div class="col-6 ">
            <div class="home-button">
                <p-button label="Home"  styleClass="p-button-rounded font-medium text-2xl"></p-button>
            </div>
        </div>
    </div>
    <div class="grid text-white grid-chat">
        <div *ngFor="let data of botData;">
        <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12" *ngIf="data.type == 'bot'">
            <img src="./assets/bot.svg" alt="x-logo" width="14%" class="bot-align">
            <div class="flex flex-wrap p-3 border-0 export" >
                <p class="m-0 font-normal text-2xl  pointer" >
                  {{data.name}}
                </p>
            </div> 
        </div>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12" *ngIf="data.type == 'user'">
            <img src="./assets/user-bot.svg" alt="x-logo" width="18%" class="user-align">
            <div class="flex flex-wrap p-3 border-0 user-export">
                <p class="m-0 font-normal text-2xl  pointer">
                    {{data.name}}
                </p>
            </div>
        </div>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <img src="./assets/bot.svg" alt="x-logo" width="14%" class="bot-align">
            <div class="flex flex-wrap p-3 border-0 export">
                <xnode-advise-template></xnode-advise-template>
            </div> 
        </div>
    </div>
 </div> 
</div>