<div class="grid m-0 h-full bg-blue">
    <div class="grid sm:col-12 md:col-12 lg:col-12 xl:col-12 pt-5 ">
        <div class="col-6">
            <img src=" ./assets/logo-white.svg" alt="x-logo" class="ml-8">
        </div>
        <div class="col-6 ">
            <div class="justify-content-end">
                <p-button label="Home"  styleClass="p-button-rounded"></p-button>
            </div>
        </div>
    </div>
    <div class="grid mt-2 text-white grid-chat">
        <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <img src="./assets/bot.svg" alt="x-logo" width="14%" class="bot-align">
            <div class="flex flex-wrap p-3 border-0 export">
                <p class="m-0 font-normal text-2xl text-center pointer" >
                    Hi Raymond Nelson, I'm your xbot. What would you like to create today?
                </p>
            </div> 
        </div>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="flex flex-wrap p-3 border-0 export mt-4">
                <p class="m-0 font-normal text-2xl text-center pointer" >
                    Hi Raymond Nelson, I'm your xbot. What would you like to create today?
                </p>
            </div>
        </div>
    </div>
</div>