<div class="row flex">
    <div class="col-8 p-8">
        <div class="flex">
            <img src="./assets/logo-x.svg" alt="x-logo">
            <img src="./assets/logo-node.svg" alt="x-node">
        </div>
        <div class="ml-8 mr-2">
            <h1 class="sign-up-head">Sign up</h1>
            <p class="account-text">Have an account? Please
                <a class="text-blue-700">Sign In</a>
            </p>
            <div class="flex gap-2">
                <p class="border-round border-1 shadow-1 p-4 py-1 m-1 ">
                    <img src="./assets/google.png" width="16px"> CONTINUE WITH GOOGLE
                </p>
                <p class="border-round border-1 shadow-1 p-4 py-1 m-1"> <img src="./assets/linkedin.png" width="16px">
                    CONTINUE WITH LINKEDIN</p>
            </div>
            <p class="font-Inter font-medium font-normal text-base text-500">Or</p>
            <div class="formgrid grid">
                <div class="field col-12 md:col-4">
                    <label for="firstname6" class="font-Inter font-medium font-normal text-base">First
                        Name</label>
                    <input id="firstname6" type="text" placeholder="Please enter first name"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-4">
                    <label for="lastname6" class="font-Inter font-medium font-normal text-base">Last
                        Name</label>
                    <input id="lastname6" type="text" placeholder="Please enter last name"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-8">
                    <label htmlFor="email" class="font-Inter font-medium font-normal text-base">Email</label>
                    <input pInputText id="email" placeholder="Please enter email"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </div>
                <div class="field col-8">
                    <label htmlFor="password" class="font-Inter font-medium font-normal text-base">Password</label>
                    <input pInputText id="password" placeholder="Please enter password"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </div>
                <div class="field col-12 mt-6 ">
                    <p-button label="Create Account"
                        styleClass=" p-button-rounded bg-#EF018F w-4 h-4rem font-Inter font-medium font-normal text-lg"
                        icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-4 sign-up-img text-white text-center p-8 text-left">
        <div class="">
            <h1 class="heading">Start your journey with us.</h1>
            <p class="para-heading">Our platform is designed to be user-friendly and accessible to everyone, providing
                intuitive
                interfaces
                and
                powerful algorithms that can generate accurate and reliable models in just a few clicks.</p>
            <img src=" ./assets/sign-up.png" alt="logo" width="225px" class="ml-8 mb-4">
        </div>
    </div>

</div>