.sign-up-img {
    background-color: #000759;
}

.sign-up-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    align-items: flex-end;
    color: #000759;
}

.account-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

.para-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}