.sign-up-img {
    background-color: #000759;
}

.signup-color {
    color: #000759;
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

.form-container {
    margin-left: 215px;
    margin-right: 215px;
}

:host ::ng-deep .p-button {
    padding-top: 14px;
    padding-bottom: 14px;
}

.invalid-feedback {
    color: red;
}