<div class="grid bg-white m-0">

    <div class="bg-contain bg-no-repeat w-full h-screen w-full h-full"
        style="background-image: url('./assets/OnboardingBG.svg');">
        <div class="">
            <div class="flex justify-content-end m-8">
                <img src=" ./assets/X Logo.svg" alt="x-logo" class="">
            </div>
            <div class="flex justify-content-center -mt-8">

                <p-card [style]=" { width: '766px' ,height: 'auto' }" class="shadow-8" *ngIf="showContent">
                    <xnode-workspace></xnode-workspace>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center mt-8">
                        <p-button label="Continue" styleClass="p-button-rounded  font-medium text-lg"
                            icon="pi pi-angle-right" iconPos="right" (click)="toggleContent()"></p-button>
                    </div>
                </p-card>
                <p-card *ngIf="showContent1" [style]=" { width: '766px' ,height: 'auto' }" class="shadow-8">
                    <xnode-brand-guidelines></xnode-brand-guidelines>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center">
                        <p-button label="Create Workspace" styleClass="p-button-rounded  font-medium text-lg"
                            icon="pi pi-angle-right" iconPos="right" (click)="toggleContent1()"></p-button>
                    </div>
                </p-card>

                <p-card *ngIf="showContent2" [style]=" { width: '766px' ,height: 'auto' }" class="shadow-8">
                    <xnode-about-your-self></xnode-about-your-self>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center">
                        <p-button label="Get Started" styleClass="p-button-rounded  font-medium text-lg"
                            icon="pi pi-angle-right" iconPos="right" (click)="toggleContent2()"></p-button>
                    </div>
                </p-card>
                <p-card *ngIf="showContent3" [style]=" { width: '766px' ,height: 'auto' }" class="shadow-8">
                    <xnode-export-get-started></xnode-export-get-started>
                </p-card>
            </div>
        </div>
    </div>
</div>