.logo-x {
    margin-bottom: 520px;
    margin-left: 186px;
}

.heading-color {
    color: #000759;
}

.bg-image {
    background-image: url('/assets/OnboardingBG.svg');
}

:host ::ng-deep .p-card-body {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}