<p-dialog [(visible)]="visible" [style]="{ width: '774px'}" (onHide)="closePopup()">
    <div class="col-12 p-0 m-0 flex justify-content-between">
        <div class="flex justify-content-start">
            <div class="col-12 vertical-tabs-container p-0 m-0 overflow-hidden">
                <div class="col-12 p-0 m-0 vertical-divider">
                    <div class="ml-4 vertical-tabs">
                        <div class="vertical-tab" (click)="onClickTab(i)" [ngClass]="{'active': activeIndex === i}"
                            *ngFor="let tabs of tabs; let i = index">
                            {{tabs.name}}
                        </div>

                    </div>
                </div>
                <div class="col-12 tab-content w-full">
                    <div class="tooltip" *ngIf="activeIndex === 0">
                        <div class="tabpanel-content">
                            <div class="mb-3  ">
                                <h4 class="m-0 pb-1 font-semibold text-lg line-height-3 relative header-text">
                                    <div class="clip-tooltip">
                                        <i class="pi pi-copy cursor-pointer mr-2 text-white" title='Copy to clipboard'
                                            (click)="copyToClipboard(convSummary?.overall_summary?.content,$event)"
                                            *ngIf="!isCopyIconClicked"></i>
                                        <i class="pi pi-check text-white mr-2" *ngIf="isCopyIconClicked"></i>
                                        <i class="pi pi-envelope cursor-pointer text-white" title='Send on Email'
                                            (click)="sendOnMail(convSummary?.overall_summary?.content,$event)"></i>
                                    </div>
                                    {{convSummary?.overall_summary?.content?.Title ?
                                    convSummary?.overall_summary?.content?.Title :
                                    convSummary?.overall_summary?.content?.title}}
                                </h4>
                                <p class="m-0 text-base font-normal line-height-2 content-text">
                                    {{convSummary?.overall_summary?.content?.Summary ?
                                    convSummary?.overall_summary?.content?.Summary :
                                    convSummary?.overall_summary?.content?.summary}}
                                </p>
                                <div class="text-right mb-2 text-500 text-xs p-1 font-italic font-semibold">
                                    {{getMeLocalDateAndTime(convSummary?.overall_summary?.timestamp)}}
                                </div>
                            </div>
                            <div class="mb-3"
                                *ngIf="convSummary?.overall_summary?.content?.KeyPoints?.length || convSummary?.overall_summary?.content?.keyPoints?.length">
                                <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Key Points:</h4>
                                <ol class="m-0 text-base font-normal line-height-2 content-text">
                                    <li
                                        *ngFor="let keyPoint of convSummary?.overall_summary?.content?.KeyPoints ? convSummary?.overall_summary?.content?.KeyPoints: convSummary?.overall_summary?.content?.keyPoints ">
                                        {{keyPoint}}
                                    </li>
                                </ol>
                            </div>
                            <div class="mb-3"
                                *ngIf="convSummary?.overall_summary?.content?.Actions?.length || convSummary?.overall_summary?.content?.actions?.length">
                                <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Actions:</h4>
                                <ol class="m-0 text-base font-normal line-height-2 content-text">
                                    <li
                                        *ngFor="let action of convSummary?.overall_summary?.content?.Actions ? convSummary?.overall_summary?.content?.Actions : convSummary?.overall_summary?.content?.actions">
                                        {{action}}
                                    </li>
                                </ol>
                            </div>
                            <div class="mb-3"
                                *ngIf="convSummary?.overall_summary?.content?.Participants?.length || convSummary?.overall_summary?.content?.participants?.length">
                                <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Participants:</h4>
                                <p class="m-0 text-base font-normal line-height-2 content-text">{{
                                    convSummary?.overall_summary?.content?.Participants ?
                                    convSummary?.overall_summary?.content?.Participants?.join(', ') :
                                    convSummary?.overall_summary?.content?.participants?.join(', ') }}
                                </p>
                            </div>
                            <div class="mb-3"
                                *ngIf="convSummary?.overall_summary?.content?.Tags?.length ||convSummary?.overall_summary?.content?.tags?.length">
                                <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Tags:</h4>
                                <p class="m-0 text-base font-normal line-height-2 content-text">{{
                                    convSummary?.overall_summary?.content?.Tags ?
                                    convSummary?.overall_summary?.content?.Tags?.join(', ') :
                                    convSummary?.overall_summary?.content?.tags?.join(', ') }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="activeIndex === 1">
                        <div class="tabpanel-content">
                            <p-accordion [activeIndex]="0">
                                <p-accordionTab *ngFor="let summary of convSummary?.incremental_summary?.reverse()"
                                    class="tooltip">
                                    <ng-template pTemplate="header">
                                        <div class="col-12 p-0 flex justify-content-between   ">
                                            <div class="ml-2 font-normal text-base line-height-2 header-text relative">
                                                <div class="clip-tooltip1">
                                                    <i class="pi pi-copy cursor-pointer mr-2 text-white"
                                                        title='Copy to clipboard'
                                                        (click)="copyToClipboard(convSummary?.overall_summary?.content,$event)"
                                                        *ngIf="!isCopyIconClicked"></i>
                                                    <i class="pi pi-check text-white mr-2"
                                                        *ngIf="isCopyIconClicked"></i>
                                                    <i class="pi pi-envelope cursor-pointer text-white"
                                                        title='Send on Email'
                                                        (click)="sendOnMail(convSummary?.overall_summary?.content,$event)"></i>
                                                </div>
                                                {{summary?.content?.Title ?
                                                summary?.content?.Title : summary?.content?.title}}
                                            </div>
                                            <div class="flex align-items-center pr-4 ">
                                                <div class="text-right text-500 text-xs  font-italic font-semibold">
                                                    {{getMeLocalDateAndTime(summary?.timestamp)}}</div>
                                            </div>

                                        </div>
                                    </ng-template>
                                    <div>
                                        <div class="mb-3 ml-4 mt-2">
                                            <p class="m-0 text-base font-normal line-height-2 content-text">
                                                {{summary?.content?.Summary ? summary?.content?.Summary :
                                                summary?.content?.summary}}
                                            </p>
                                        </div>
                                        <div class="mb-3 ml-4"
                                            *ngIf="summary?.content?.KeyPoints?.length || summary?.content?.keyPoints?.length">
                                            <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Key
                                                Points:</h4>
                                            <ol class="m-0 text-base font-normal line-height-2 content-text">
                                                <li
                                                    *ngFor="let keyPoint of summary?.content?.KeyPoints ? summary?.content?.KeyPoints: summary?.content?.keyPoints">
                                                    {{keyPoint}}
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="mb-3 ml-4"
                                            *ngIf="summary?.content?.Actions?.length || summary?.content?.actions?.length">
                                            <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Actions:
                                            </h4>
                                            <ol class="m-0 text-base font-normal line-height-2 content-text">
                                                <li
                                                    *ngFor="let action of summary?.content?.Actions ?summary?.content?.Actions : summary?.content?.actions">
                                                    {{action}}
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="mb-3 ml-4"
                                            *ngIf="summary?.content?.Participants?.length || summary?.content?.participants?.length">
                                            <h4 class="m-0 m-0 pb-1 font-medium	text-lg line-height-3 header-text">
                                                Participants:
                                            </h4>
                                            <div
                                                *ngFor="let item of summary?.content?.Participants ? summary?.content?.Participants : summary?.content?.participants; let last = last">
                                                <p class="m-0 text-base font-normal line-height-2 content-text">{{
                                                    item?.Name }}</p>
                                                <ng-container *ngIf="!last">,</ng-container>
                                            </div>
                                        </div>
                                        <div class="mb-3 ml-4"
                                            *ngIf="summary?.content?.Tags?.length || summary?.content?.tags?.length">
                                            <h4 class="m-0 pb-1 font-medium	text-lg line-height-3 header-text">Tags:
                                            </h4>
                                            <p class="m-0 text-base font-normal line-height-2 content-text">
                                                {{ summary?.content?.Tags? summary?.content?.Tags?.join(', ') :
                                                summary?.content?.tags?.join(', ') }}
                                            </p>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end close-icon">
            <i class="pi pi-times p-3 pointer" (click)="closePopup()"></i>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="p-2">
            <p-button label="{{label}}" class="" (click)="viewChatSummary()" [rounded]="true"
                severity="info"></p-button>
        </div>
    </ng-template>
</p-dialog>