<div class="p-4">
    <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center justify-content-center filter-grid ">
            <p class="m-0 pr-2 pl-2">Filters:</p>
            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label"></p-dropdown>
        </div>
        <div class="flex align-items-center justify-content-center">
        </div>
    </div>
    <div class='comments-grid' *ngIf="commentList && commentList.length >0">
        <div class="w-full" *ngFor="let cmt of commentList">
            <div class="flex p-3 align-items-center">
                <p-avatar [label]=" userImage" *ngIf="username" styleClass="mr-2"
                    [style]="{ 'background-color': '#9c27b0', fontSize: '10px', color: '#ffffff',width:'23px',height:'23px' }"
                    shape="circle"></p-avatar>
                <div class="flex">
                    {{currentUser.first_name}} {{currentUser.last_name}}
                </div>
                <div>

                </div>
            </div>
            <div class="mt-2 text-sm">
                {{cmt.message}}
            </div>
        </div>
    </div>
</div>