<div class="card-content">
    <form [formGroup]="workspaceForm">
        <p class="text-500 font-normal text-2xl text-center">Step 1/4</p>
        <h1 class="heading-color text-6xl font-bold text-center">
            Welcome to xnode
        </h1>
        <p class="text-2xl font-semibold text-center mx-2">
            To get started, give your workspace a name.
        </p>
        <div class="grid text-center mx-7 justify-content-evenly mt-5">
            <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6" (click)="selectTeamOrCompany()"
                [class.selected]="teamOrCompanySelected" [class.invalid]="isFormSubmitted && !teamOrCompanySelected">
                <div class="flex flex-wrap align-items-center p-2 border-1 surface-border border-round-3xl">
                    <img src="./assets/People.svg" width="20px">
                    <p class="m-0 pl-2 font-semibold text-sm">TEAM OR COMPANY</p>
                </div>
            </div>
            <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6" (click)="selectPersonal()"
                [class.selected]="personalSelected" [class.invalid]="isFormSubmitted && !personalSelected">
                <div class="flex flex-wrap align-items-center p-2 border-1 surface-border border-round-3xl">
                    <img src="./assets/Man.svg" width="20px">
                    <p class="m-0 pl-2 font-semibold font-normal text-sm">PERSONAL</p>
                </div>
            </div>
            <div *ngIf="isFormSubmitted && !teamOrCompanySelected && !personalSelected" class="error-message">
                <p class="text-red-500 text-sm select-option">Please select any option above!</p>
            </div>
        </div>
        <div class="grid mx-7 mt-2">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <label htmlFor="companyName" class="font-medium text-base">Company Name</label>
                <input id="companyName" type="text" [placeholder]="isPlaceholderVisible ? 'Enter company name' : ''"
                    formControlName="companyName" [ngClass]="{ 'is-invalid': isInvalid }"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary border-round-3xl w-12"
                    (focus)="onInputFocus()" (blur)="onInputBlur()">
                <div *ngIf="submitted && Form['companyName'].errors" class="invalid-feedback">
                    <div *ngIf="Form['companyName'].errors?.['required']">Please enter company name</div>
                </div>
            </div>
        </div>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center mt-8">
            <p-button label="Continue" styleClass="p-button-rounded  font-medium text-lg" icon="pi pi-angle-right"
                iconPos="right" (click)="onClickWorkSpace()"></p-button>
        </div>
    </form>
</div>