.logo-x {
    margin-bottom: 520px;
    margin-left: 186px;
}

.heading-color {
    color: #000759;
}

:host ::ng-deep .p-card-body {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.invalid-feedback {
    color: red !important;

}

.selected>div {
    background-color: rgb(232, 240, 254);

}

.field {
    cursor: pointer;
}