<div class="h-100" [ngClass]="{'template-builder-body-wrapper': isOpen, 'close': !isOpen}" (click)="toggleMenu()">
     <div class="flex justify-content-end">
          <div class="pi pi-angle-left text-white p-2 p-button"  [ngClass]="{'hide-icon': !isOpen, 'show-icon': isOpen}"></div>
          <div class="pi pi-angle-right text-white p-2 p-button" [ngClass]="{'hide-icon': isOpen, 'show-icon': !isOpen}"></div>
     </div>
   <div class="submenu" *ngIf="isOpen">
     <div class="text-center border-bottom-2 p-3 border-primary">
          <span class="p-input-icon-left">
               <i class="pi pi-search"></i>
               <input type="text" pInputText placeholder="Search" />
          </span>
     </div>
     <div class="">
          <p-accordion [activeIndex]="1" *ngFor="let menu of sideMenuItem[0]?.SideBar; let i = 'index+1'">
               <p-accordionTab header="{{menu?.AccordianTabHeader}}">
                    <div class="row">
                         <!-- flex gap-3 justify-content-center mt-3 -->
                         <div class="col-4" *ngFor="let submenu of menu?.SubSideBar; let j = 'index+1'">
                              <!-- draggable="true" (dragstart)="drag($event)" -->
                              <div class="layout-item border-1 border-primary flex flex-wrap align-content-center justify-content-center pointer layout-item-active"
                                   id="{{submenu?.id}}" draggable="true" (dragstart)="drag($event)"
                                   [ngClass]="{'layout-item-active': selectedContainer=== '{{submenu?.selectedcontainer}}'  }">
                                   <span *ngIf="submenu?.hasrouter=='true'; else elseBlock">
                                        <div class="flex flex-column p-2" routerLink={{submenu?.routerlink}}>
                                             <div class="text-center">
                                                  <img src="{{submenu?.imgsrc}}" alt="{{submenu?.alt}}"
                                                       id="{{submenu?.id}}" draggable="true" (dragstart)="drag($event)">
                                             </div>
                                             <div class="mt-2 f-8" id="{{submenu?.id}}">
                                                  <p class="text-xs text-center">{{submenu?.content}}</p>
                                             </div>
                                        </div>
                                   </span>
                                   <ng-template #elseBlock>
                                        <div class="flex flex-column p-2">
                                             <div class="text-center">
                                                  <img src="{{submenu?.imgsrc}}" alt="{{submenu?.alt}}"
                                                       id="{{submenu?.id}}" draggable="true" (dragstart)="drag($event)">
                                             </div>
                                             <div class="mt-2 f-8" id="{{submenu?.id}}">
                                                  <p class="text-xs text-center">{{submenu?.content}}</p>
                                             </div>
                                        </div>
                                   </ng-template>
                              </div>
                         </div>
                    </div>
               </p-accordionTab>
          </p-accordion>
     </div>
  </div>
</div>