<div class="template-builder-layout-wrapper">
     <div class="text-center border-bottom-2 p-3 border-primary">
          <span class="p-input-icon-left">
               <i class="pi pi-search"></i>
               <input type="text" pInputText placeholder="Search" />
          </span>
     </div>
     <div class="">
          <p-accordion [activeIndex]="0">
               <p-accordionTab header="Layout">
                    <!-- <xnode-layout-elements (getLayout)="getLayout($event)"></xnode-layout-elements> -->
                    <!-- <div class="flex gap-3 justify-content-center">
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="Containers" draggable="true" (dragstart)="drag($event)"
                              (click)="onSelectLayout('CONTAINER')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'CONTAINER'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/container.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        Containers
                                   </div>
                              </div>
                         </div>
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="Rows" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('ROWS')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'ROWS'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/rows.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        Rows
                                   </div>
                              </div>
                         </div>
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="One Column" draggable="true" (dragstart)="drag($event)"
                              (click)="onSelectLayout('ONE_COLUMN')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'ONE_COLUMN'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/one-column.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        One Column
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="flex gap-3 justify-content-center mt-3">
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="Two Columns" draggable="true" (dragstart)="drag($event)"
                              (click)="onSelectLayout('TWO_COLUMNS')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'TWO_COLUMNS'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/container.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        Two Columns
                                   </div>
                              </div>
                         </div>
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="Three Columns" draggable="true" (dragstart)="drag($event)"
                              (click)="onSelectLayout('THREE_COLUMNS')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'THREE_COLUMNS'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/rows.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        Three Columns
                                   </div>
                              </div>
                         </div>
                         <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                              id="Four Column" draggable="true" (dragstart)="drag($event)"
                              (click)="onSelectLayout('ONE_COLUMN')"
                              [ngClass]="{'layout-item-active': selectedContainer=== 'ONE_COLUMN'  }">
                              <div class="flex flex-column">
                                   <div class="text-center">
                                        <img src="./assets/one-column.svg" alt="container">
                                   </div>
                                   <div class="mt-2 f-8">
                                        Four Column
                                   </div>
                              </div>
                         </div>
                    </div> -->
               </p-accordionTab>
          </p-accordion>
          <p-accordion [activeIndex]="1">
               <p-accordionTab header="UI Elemets">
                    <p>
                         Ui Elements
                    </p>
               </p-accordionTab>
          </p-accordion>
     </div>
</div>