@media (min-width: 768px) {
     .template-builder-body-wrapper {
          width: 150px !important;
          background: #24232C;
          transition: width 0.5s ease;
     }
}

@media (min-width: 1240px) {
     .template-builder-body-wrapper {
          width: 250px !important;
          background: #24232C;
          transition: width 0.5s ease;
     }
}

@media (min-width: 1440px) {
     .template-builder-body-wrapper {
          width: 350px !important;
          background: #24232C;
          transition: width 0.5s ease;
     }
}

.text-xs {
     font-size: 0.5rem !important;
}

.hide-template-builder-body-wrapper {
     width: calc(300px - 250px) !important;
     background: #24232C;
     transition: width 0.5s ease;
}

.hide-icon {
     display: none;
}

.show-icon {
     display: block;
}

:host ::ng-deep .p-button {
     font-size: 2rem;
     background: #4F4E55;
     border: 1px solid #24232C !important;
     cursor: pointer;
}

.layout-item {
     height: 92px;
}

.active-sub-menu {
     background-color: #302e38;
}

.submenu {
     height: calc(100vh - 42px);
}

.accordian-values {
     height: calc(100vh - 110px);
}