.open {
     width: 300px !important;
     background: #24232C;
     transition: width 0.5s ease;
}

.text-xs {
     font-size: 0.5rem !important;
}
.close{
     width: calc(300px - 250px) !important;
     transition: width 0.5s ease;
}
.hide-icon {
     display: none;
}

.show-icon {
     display: block;
}
.p-icon {
     font-size: 2rem
 }