<div *ngFor="let item of content let mainIndex = index ">
    <h4 class="mb-0 pb-2">{{item.title}}</h4>
    <div *ngIf="isArray(item.content)">
        <div *ngFor="let subItem of item.content; let i=index " class="pl-4">
            <div class="flex col-12 p-0 "
                (mouseover)="showCommentIcon = true;seletedMainIndex=mainIndex;selecteedSubIndex =i "
                (mouseleave)="showCommentIcon = false">
                <div class="col-10 p-0">
                    <p class="m-0 pb-1 line-height-3">
                        <span class="sub-title text-base font-medium" *ngFor="let word of subItem?.title?.split(' '); index as i" class="mr-1" [innerHTML]="word | highlight: searchTerm" (mouseup)="contentSelected($event)">
                          <p-overlayPanel #selectionText>
                            <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users"  *ngIf="selectedText.length>0"  [position]="'absolute'" [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                        </p-overlayPanel>
                        </span>
                        :
                        <span class="sub-content font-normal text-base"  *ngFor="let word of subItem?.content?.split(' '); index as i" class="mr-1" [innerHTML]="word | highlight: searchTerm" (mouseup)="contentSelected($event)">
                            <p-overlayPanel #selectionText>
                              <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users"  *ngIf="selectedText.length>0"  [position]="'absolute'" [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                          </p-overlayPanel>
                          </span>
                    </p>
                </div>
                <div class="col-1 p-0 flex  align-items-start justify-content-center">
                    <p-overlayPanel #op>
                        <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users"
                            (closeOverlay)="op.toggle(false)" [position]="'absolute'"
                            [selectedContent]="selectedContent" [commentType]="'comment'"
                            placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                    </p-overlayPanel>
                    <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)"
                        [style.display]="showCommentIcon && seletedMainIndex == mainIndex && selecteedSubIndex == i ? 'block' : 'none'">
                </div>
            </div>
        </div>
    </div>
</div>
