<div [formGroup]="parenFormGroup">
  <h2 *ngIf="noSQLForm.formName">{{noSQLForm.formName}}</h2>
  <div *ngIf="!noSQLForm.isArray; else displayformArray" class="grid">
      <div *ngFor="let control of noSQLForm.controls" class="col-12 md:col-6 lg:col-3"  >
        <xnode-dynamic-control [control]="control" [parentFormGroup]="form"></xnode-dynamic-control>
      </div>
      <div *ngFor="let subForm of noSQLForm.subForms" class="col-12">
        <xnode-dynamic-sub-form [parenFormGroup]="form" [noSQLForm]="subForm"></xnode-dynamic-sub-form>
      </div>
  </div>

  <ng-template #displayformArray>
    <ng-container [formArrayName]="noSQLForm.formName">
    <ng-container *ngFor="let formC of formList.controls; let i = index">
      <div [formGroup]="getFormC(i)" class="grid" >
        <!-- <div [formGroupName]="i"> -->
          <div *ngFor="let control of noSQLForm.controls" class="col-12 md:col-6 lg:col-3">
            <xnode-dynamic-control [control]="control" [parentFormGroup]="getFormC(i)"></xnode-dynamic-control>
          </div>
        <!-- </div> -->
      </div>
     <button (click)="remove(i)">Remove</button>
     <!-- <p-button label="Secondary" severity="secondary"></p-button> -->
     <!-- <p-button label="Primary"></p-button>
     <p-button label="Secondary" severity="secondary"></p-button> -->
    </ng-container>
  </ng-container>
    <div *ngFor="let subForm of noSQLForm.subForms " class="form-row">
      <xnode-dynamic-sub-form [parenFormGroup]="form" [noSQLForm]="subForm"></xnode-dynamic-sub-form>
    </div>
  <button (click)="add()">Add</button>
  </ng-template>
</div>
