<div class="bg">
    <div class="col-12 md:col-6 ">
        <!-- <img src="../../assets/finbuddy.png" alt="finbuddy-image"> -->
        <div class="flex align-items-center  font-bold text-gray-900 border-round m-2 usecases-card grid">

            <img src="../../assets/finbuddy.png" alt="finbuddy-image" class="ml-3">


            <h1 class=" text-white text-6xl font-medium">FinBuddy</h1>
            <p class=" text-white paragraph-color font-medium"></p>

        </div>
        <div class="col-12 md:col-6 ">

        </div>
    </div>