<xnode-app-header></xnode-app-header>
<div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
    <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates"></p-dropdown>
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'desktop' }" alt="desktop"
            class="image-icon" (click)="emitIconClicked('desktop')">
        <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'tab' }" alt="tab"
            class="image-icon" (click)="emitIconClicked('tab')">
        <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'mobile' }" alt="mobile"
            class="image-icon" (click)="emitIconClicked('mobile')">
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded"></p-button>
        <p-button label="Publish" (click)="openNewTab()" styleClass="p-button-rounded"></p-button>
    </div>
</div>
<div class="bg grid">
    <div class=" md:col-6 lg:col-8">
        <div class="flex mt-6">
            <img src="../../assets/finbuddy.png" alt="finbuddy-image" class="ml-6 w-1 h-1">
            <h1 class="text-white text-4xl font-medium  ml-4">FinBuddy</h1>
        </div>
        <!-- <div class="card flex justify-content-center">
            <p-rating [(ngModel)]="val2" [cancel]="false"></p-rating>
        </div> -->
        <p class=" ml-6 mt-3 text-xl font-medium finbuddy-text">
            FinBuddy is an AI-powered personal finance assistant app designed to help you take control of your
            finances and achieve your financial goals. With its intuitive interface and powerful features, FinBuddy
            makes it easy to track your income, expenses, and savings, all in one place. Stay on top of your
            finances and make informed decisions with the help of FinBuddy's advanced analytics and personalized
            insights.
        </p>
        <p class="para-text ml-6 text-2xl ">Created on: April 30, 2023</p>
        <div class="flex  flex-wrap card-container ml-6">
            <div class=" w-21rem h-19rem font-bold text-white  m-2 stake-holder ml-6">
                <h6 class="text-xl font-medium mt-4 ml-3 p-2">Primary Stakeholders</h6>
                <div class="mt-4">
                    <img src="../../assets/nelson-image.png" alt="nelson-image" class="h-3rem w-3rem ml-3">
                    <span class="text-white font-medium text-xl ml-3">Raymond Nelson</span>
                </div>
                <div class="mt-4 para-text">
                    <img src="../../assets/email-image.png" alt="email-image" class="h-1rem w-1rem ml-4">
                    <span class=" ml-3">ramond.nelson@finlife.com</span>
                </div>
                <div class="mt-4 para-text">
                    <img src="../../assets/call-image.png" alt="call-image" class="h-1rem w-1rem ml-4">
                    <span class=" ml-3">+1 408 409 7788</span>
                </div>
            </div>
            <div class="flex flex-column card-container ">
                <div class="flex  w-21rem h-9rem  font-bold text-white  m-2 stake-holder align-items-center ">
                    <div class="flex  flex-wrap card-container ml-6">
                        <img src="../../assets/download-image.png" alt="download-image" class="h-3rem w-4rem mr-2">
                        <div class="flex flex-column">
                            <span class=" ml-3 para-text">Total Downloads</span>
                            <span class="text-white font-normal text-3xl ml-3">1,014</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center  w-21rem h-9rem  font-bold text-white  m-2 stake-holder">
                    <div class="flex  flex-wrap card-container ml-6">
                        <img src="../../assets/people-image.png" alt="people-image" class="h-3rem w-4rem">
                        <div class="flex flex-column">
                            <span class=" ml-4 para-text">Monthly Users</span>
                            <span class="text-white font-normal text-3xl ml-4">854</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="text-white ml-7 mt-4">Key Features</h6>
        <div class="ml-7 mt-3">
            <p-button label="Expense Tracking " icon="pi pi-check" class=""></p-button>
            <p-button label="Income Management " icon="pi pi-check" class="ml-2"></p-button>
            <p-button label=" Budgeting" icon="pi pi-check" class="ml-2"></p-button>
            <p-button label="Savings Goals " icon="pi pi-check" class="ml-2"></p-button>
            <p-button label="Bill Reminders " icon="pi pi-check" class="ml-2"></p-button>
        </div>
        <div class="ml-7 mt-3">
            <p-button label="Debt Management " icon="pi pi-check" class=""></p-button>
            <p-button label="Financial Insights & Reports " icon="pi pi-check" class="ml-2"></p-button>
            <p-button label=" AI-Powered Advice" icon="pi pi-check" class="ml-2"></p-button>
            <p-button label="Security & Privacy " icon="pi pi-check" class="ml-2"></p-button>
        </div>
        <div class="ml-7 mt-3">
            <p-button label="Multi-device Sync" icon="pi pi-check" class="ml-2"></p-button>
        </div>
    </div>
    <div class=" md:col-6 lg:col-4">
        <div class="card-container mt-6 mr-4 stake-holder h-screen w-24rem text-white ">
            <div class="w-26rem p-1 mt-3 ml-3">
                <p class="text-xl font-normal nelson-name">Hey <span class="font-bold">Raymond Nelson!</span> You
                    are on
                    the verge of using the app.</p>
                <p class="text-lg font-medium">Please see the status below</p>
                <xnode-stepper #stepper [(counter)]="counter">
                    <xnode-step>
                        <div step-title>Over view</div>
                    </xnode-step>
                    <xnode-step>
                        <div step-title>Use Case</div>
                        <!-- <div step-content> content 2</div>
                    <div step-action> -->
                        <!-- <button (click)="stepper.prevStep()">prevStep</button>
                        <button (click)="stepper.nextStep()">nextStep</button> -->
                        <!-- </div> -->
                    </xnode-step>
                    <xnode-step>
                        <div step-title>Design</div>
                    </xnode-step>
                    <xnode-step>
                        <div step-title>Config</div>

                        <div step-content>
                            <xnode-stepper [(counter)]="counter2">
                                <xnode-step>
                                    <div step-title>Data Model</div>
                                </xnode-step>
                                <xnode-step>
                                    <div step-title>Integrations</div>
                                </xnode-step>
                                <xnode-step>
                                    <div step-title>Authentication</div>
                                </xnode-step>
                                <xnode-step>
                                    <div step-title>Entitlements</div>
                                </xnode-step>
                                <xnode-step>
                                    <div step-title>Business Rule</div>
                                </xnode-step>
                                <xnode-step>
                                    <div step-title>Business Rules</div>
                                </xnode-step>
                            </xnode-stepper>
                        </div>
                    </xnode-step>
                    <xnode-step>
                        <div step-title>Operate</div>
                    </xnode-step>
                    <xnode-step>
                        <div step-title>Change</div>
                    </xnode-step>
                </xnode-stepper>
                <xnode-stepper #stepper [(counter)]="counter">
                    <xnode-step *ngFor="let item of jsondata">
                        <div step-title>{{ item.label }}</div>
                        <div step-title>{{ item.children.title }}</div>

                        <div step-action>
                            <xnode-stepper *ngIf="item.children" [(counter)]="counter2">
                                <xnode-step *ngFor="let child of item.children">
                                    <div step-title>{{ child.title}}</div>

                                </xnode-step>
                            </xnode-stepper>
                        </div>
                    </xnode-step>
                </xnode-stepper>




                <!-- <div class="w-26rem p-1 mt-3 ml-3">
                <p class="text-xl font-normal nelson-name">Hey <span class="font-bold">Raymond Nelson!</span> You
                    are on
                    the verge of using the app.</p>
                <p class="text-lg font-medium">Please see the status below</p>
                <div class="stepper text-white font-semibold">
                    <ul class="vertical-stepper">
                        <li class="active">
                            <span class="step-label">Overview</span>
                        </li>
                        <li>
                            <span class="step-label">Usecase</span>
                        </li>
                        <li>
                            <span class="step-label">Design</span>
                        </li>
                        <li class="configure">
                            <span class="step-label">Configure</span>
                            <ul class="vertical-stepper child-stepper p-3 ">
                                <li>
                                    <span class="step-label font-normal">Data Model</span>
                                </li>
                                <li>
                                    <span class="step-label font-normal">Integrations</span>
                                </li>
                                <li>
                                    <span class="step-label font-normal">Authentication</span>
                                </li>
                                <li>
                                    <span class="step-label font-normal">Entitlements</span>
                                </li>
                                <li class="businessrule">
                                    <span class="step-label font-normal">Business Rule</span>
                                </li>
                                <li>
                                    <span class="step-label font-normal">Business Rules</span>
                                </li>
                            </ul>
                        </li>
                        <li class="operate">
                            <span class="step-label">Operate</span>
                        </li>
                        <li class="change">
                            <span class="step-label">Change</span>
                        </li>

                    </ul>

                </div>
            </div> -->
            </div>
        </div>
    </div>