<div class="p-0 border-1  border-round-md add-comment-panel">
    <div class=" p-0 flex add-comment-panel-header">
        <p-avatar [label]="utils.setUsernameOrDP()"
            [style]="{ 'background-color': '#9c27b0', fontSize: '10px', color: '#ffffff' }" shape="circle"
            class="pt-4 pl-4 pr-2"></p-avatar>
        <div class="p-3 w-full">
            <div [class]="width+ ' border-round-md'">
                <div class="col-12 p-0 flex add-comment-panel-body border-round-md ">
                    <div class="col-9 p-0 align-items-center flex">
                        <textarea pInputTextarea [(ngModel)]="comment" [autoResize]="true" [placeholder]="placeHolder"
                            [mention]="users" (input)="onChangeComment()" class="col-12"
                            style="min-height: 80px;"></textarea>
                    </div>
                    <div class="col-3 flex align-items-end justify-content-between ">
                        <div class="flex justify-content-between w-full ">
                            <img src="../assets/attach.svg" class="pointer" alt="attach">
                            <div class="pointer">
                                @
                            </div>
                            <img src="../assets/send-blue.svg" [ngClass]="{'disabled': comment.length < 5}"
                                class="pointer" alt="comment send" (click)="onClickSend()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 add-comments-footer align-items-center flex pl-4 pt-3 pb-3 " *ngIf="assinedUsers.length > 0">
        <p-checkbox name="assign" [value]="true" [(ngModel)]="assignAsaTask" inputId="ny"></p-checkbox>
        <label class="text-sm font-normal text-200 pl-2">Assign as a Task</label>
    </div>
</div>