:host ::ng-deep .p-inputgroup-addon {
    background: #302E38;
    border-left: 0;
}

:host::ng-deep .p-inputgroup-addon:first-child {
    border: none;
}

.add-comment-panel {
    position: absolute;
    top: -10px;
    right: 30px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    z-index: 2;
    background-color: #302E38;
}

:host ::ng-deep.p-inputtext {
    background-color: #302E38;
    color: #fff;
    border: 0;
    box-shadow: none;
}

.add-ons-bg {
    border-radius: 6px;
}