<div class="flex justify-content-between flex-wrap publish-header pl-8 pr-4 bg-white">
    <div class="flex align-items-center justify-content-center pt-3">
      <p class="text-2xl font-normal ">Hi,Good Morning! <b class="font-bold">Raymond Nelson</b></p>
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search by Stock, Income, Expense" />
        </span>
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <div class="flex align-items-center">
            <i class="pi pi-bell"></i>
        </div>
        <img src="./assets/dp.svg" alt="dp" width="48px" height="48px" class="m-0 pl-3">
        <div class="font-semibold text-sm header-menu-item m-0 pl-2">
            Rymond Nelson
        </div>
        <div class="flex align-items-center m-0 pl-2">
            <i class="pi pi-angle-down"></i>
        </div>
    </div>
</div>