<p-dialog [(visible)]="display" [style]="{width: '40vw', height: 'auto'}" [responsive]="true" [baseZIndex]="10000"
    (onHide)="onClose()" [dismissableMask]="false" [closeOnEscape]="false">
    <div class="modal-header">
        <div class="ml-4 flex flex-column">
            <h2 class="w-10 mb-2">Add Capability</h2>
            <h5>Please enter the details below to add or create capability</h5>
        </div>
    </div>
    <div class="modal-content">
        <div class="modal-body w-8 mx-auto">
            <form [formGroup]="createCapabilityForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-column align-items-center mb-3">
                    <label class="w-full" for="name">Name*</label>
                    <div class="w-full">
                        <input pInputText type="text" class="w-full form-control" id="name" formControlName="name"
                            placeholder="Create new or add from existing prompt" />
                    </div>
                </div>
                <div class="flex flex-column align-items-center mb-3">
                    <label class="w-full" for="description">Description</label>
                    <div class="w-full">
                        <textarea rows="3" pInputTextarea class="w-full form-control" id="description"
                            formControlName="description"></textarea>
                    </div>
                </div>
                <div class="flex flex-column align-items-center mb-3">
                    <label class="w-full" for="model">Model</label>
                    <div class="w-full">
                        <p-dropdown styleClass="w-full" formControlName="model" [filter]="true" filterBy="name"
                            [options]="modelOptionList.optionList" optionLabel="name"
                            placeholder="Select a Model"></p-dropdown>
                    </div>
                </div>
                <div class="flex flex-column align-items-center mb-3">
                    <label class="w-full" for="agent">Agent</label>
                    <div class="w-full">
                        <p-dropdown styleClass="w-full" formControlName="agent" [filter]="true" filterBy="name"
                            [options]="agentOptionList.optionList" optionLabel="name"
                            placeholder="Select a Agent"></p-dropdown>
                    </div>
                </div>
                <div class="button-container">
                    <button type="button" class="btn-cancel" (click)="onClose()">Cancel</button>
                    <button type="submit" class="btn-primary">Add</button>
                </div>
            </form>
            <!-- <form [formGroup]="promptForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name"
            placeholder="Create new or add from existing prompt" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="6" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="instructions">Instructions</label>
          <textarea rows="6" type="text" class="form-control" formControlName="instructions"
            placeholder="Provide detailed Instructions for the agent on how to execute the prompt"></textarea>
        </div>
        <div class="form-group">
          <label for="conversationStarters">Conversation Starters</label>
          <input type="text" class="form-control" formControlName="conversationStarters"
            placeholder="Add starter message" />
        </div>
        <div class="form-group">
          <label for="linkParent">Link Parent</label>
          <input type="text" class="form-control" formControlName="linkParent"
            placeholder="Enter ID or search for existing " />
        </div>
        <div class="button-container">
          <button type="submit" class="btn-cancel" (click)="onClose()">Cancel</button>
          <button type="submit" class="btn-primary">Add</button>
        </div>
      </form> -->
        </div>
    </div>
</p-dialog>