<span *ngIf="isArray(content) else obj">
  <ul *ngFor="let subItem of content; let i = index" (mouseleave)="showCommentIcon = false;checkOverlay()">
    <li>
      <div class="flex col-12 p-0 " (mouseover)="showCommentIcon = true; selectedIndex=i ">
        <div class="col-11 p-0 ">
          <div class="m-0 pb-1 line-height-3">
            <span class="flex flex-wrap sub-title text-base font-medium">
              <span *ngFor="let word of subItem?.title?.split(' '); index as i" class="pr-1"
                [innerHTML]="word | highlight: searchTerm"
                [ngClass]="{'content-selection-bg': selectedWordIndices.includes(i) && selectedText.length>0}"
                (mouseup)="contentSelected($event,'title');saveSecInLocal()">
                <p-overlayPanel #selectionText (onShow)="openOverlayPanel=true" (onHide)="showCommentIcon=false;onOverlayHide()">
                  <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users" *ngIf="selectedText.length>0"
                    [parentTitle]="parentTitle" [position]="'absolute'" [selectedContent]="subItem"
                    [selectedText]="selectedText" [parentEntity]="'SPEC'"
                    (closeOverlay)="selectionText.toggle(false);emptySelectedContent()" [specItem]="specItem"
                    [parentId]="specItem.id" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                </p-overlayPanel>
              </span><span *ngIf="subItem?.title || subItem?.content"> <br /></span>
            </span>

            <span class="flex flex-wrap sub-content font-normal text-base">
              <span *ngFor="let word of getWords(subItem); index as j" class="mr-1" [attr.id]="'word'+word+'^^'+i+j"
                [innerHTML]="word | highlight: searchTerm"
                [ngClass]="{'content-selection-bg': selectedWordIndices.includes('word'+word+'^^'+i+j) && selectedText.length>0}"
                (mouseup)="contentSelected($event,'content');saveSecInLocal();openOverlayPanel=true">
                <p-overlayPanel #selectionContent (onShow)="openOverlayPanel=true" (onHide)="showCommentIcon=false;onOverlayHide()">
                  <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users" *ngIf="selectedText.length>0"
                    [position]="'absolute'" [selectedText]="selectedText" [parentEntity]="'SPEC'"
                    [parentId]="specItem.id" [parentTitle]="parentTitle" [selectedContent]="subItem"
                    placeHolder="Add a Comment" [specItem]="specItem"
                    (closeOverlay)="selectionContent.toggle(false);emptySelectedContent()"></xnode-add-comment-overlay-panel>
                </p-overlayPanel>
              </span>
            </span>
          </div>
        </div>
        <div class="col-1 p-0 flex  align-items-start justify-content-center">
          <p-overlayPanel #op (onHide)="showCommentIcon=false;commentOverlayPanelOpened=false;onOverlayHide()" (onShow)="openOverlayPanel=true" >
            <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users" (closeOverlay)="op.toggle(false)"
              [position]="'absolute'" [parentTitle]="parentTitle" [selectedContent]="subItem"
              placeHolder="Add a Comment" [parentEntity]="'SPEC'" [commentType]="'comment'" [specItem]="specItem"
              [parentId]="specItem.id"></xnode-add-comment-overlay-panel>
          </p-overlayPanel>
          <img src="../assets/comment.svg" class="pointer" alt="comment"
            (click)="op.toggle($event);commentOverlayPanelOpened=true;saveSecInLocal();openOverlayPanel=true"
            *ngIf="(showCommentIcon || commentOverlayPanelOpened) && selectedIndex == i ">
          <i class="pi pi-eye pointer ml-2"
            *ngIf="(showCommentIcon || commentOverlayPanelOpened) && selectedIndex == i " style="color:#0991c6"
            (click)="openCommentSection()"></i>
          <img src="../assets/add-task.svg" class="pointer ml-2" style="color:#0991c6"
            (click)="op1.toggle($event);commentOverlayPanelOpened=true;saveSecInLocal();openOverlayPanel=true"
            *ngIf="(showCommentIcon || commentOverlayPanelOpened) && selectedIndex == i ">
          <p-overlayPanel #op1 appendTo="body" (onHide)="showCommentIcon=false;commentOverlayPanelOpened=false;onOverlayHide()" (onShow)="openOverlayPanel=true">
            <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="subItem" [parentTitle]="parentTitle"
              [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'" [parentId]="specItem.id"
              [specItem]="specItem" [reveiwerList]="reveiwerList"></xnode-add-task>
          </p-overlayPanel>
        </div>
      </div>
    </li>
  </ul>
</span>
<ng-template #obj>
  <ul>
    <li>
      <span class="flex flex-wrap sub-title text-base font-medium">
        <span class="pr-1" [innerHTML]="content?.title | highlight: searchTerm"> </span>
      </span>
      <span class="flex flex-wrap sub-content font-normal text-base">
        <span class="mr-1" [innerHTML]="content?.content | highlight: searchTerm">
        </span>
      </span>
    </li>
  </ul>
</ng-template>
