<ul *ngFor="let subItem of content; let i = index" (mouseleave)="showCommentIcon = false;deSelect()">
  <li>
    <div class="flex col-12 p-0 " (mouseover)="showCommentIcon = true; selectedIndex=i "
      >
      <div class="col-11 p-0 ">
        <div class="m-0 pb-1 line-height-3">
          <span class="flex flex-wrap sub-title text-base font-medium">
            <span *ngFor="let word of subItem?.title?.split(' '); index as i" class="pr-1"
              [innerHTML]="word | highlight: searchTerm"
              [ngClass]="{'content-selection-bg': selectedWordIndices.includes(i) && selectedText.length>0}"
              (mouseup)="contentSelected($event,'title');saveSecInLocal()">
              <p-overlayPanel #selectionText >
                <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users" *ngIf="selectedText.length>0"
                  [position]="'absolute'" [selectedContent]="subItem" [selectedText]="selectedText"
                  [parentEntity]="'SPEC'" (closeOverlay)="selectionText.toggle(false);emptySelectedContent()"
                  [specItem]="specItem" [parentId]="specItem.id"
                  placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
            </span><span *ngIf="subItem?.title || subItem?.content"> <br /></span>
          </span>

          <span class="flex flex-wrap sub-content font-normal text-base">
            <span *ngFor="let word of getWords(subItem); index as i" class="mr-1" [attr.id]="'word'+word+'^^'++i"
              [innerHTML]="word | highlight: searchTerm" [ngClass]="{'content-selection-bg': selectedWordIndices.includes('word'+word+'^^'+i) && selectedText.length>0}" (mouseup)="contentSelected($event,'content');saveSecInLocal()">
              <p-overlayPanel #selectionContent>
                <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users" *ngIf="selectedText.length>0"
                  [position]="'absolute'" [selectedText]="selectedText" [parentEntity]="'SPEC'" [parentId]="specItem.id"
                  [selectedContent]="subItem" placeHolder="Add a Comment" [specItem]="specItem"
                  (closeOverlay)="selectionContent.toggle(false);emptySelectedContent()"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
            </span>
          </span>
        </div>
      </div>
      <div class="col-1 p-0 flex  align-items-start justify-content-center">
        <p-overlayPanel #op (onHide)="showCommentIcon=false" (onHide)="commentOverlayPanelOpened=false">
          <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users" (closeOverlay)="op.toggle(false)"
            [position]="'absolute'" [selectedContent]="subItem" placeHolder="Add a Comment" [parentEntity]="'SPEC'"
            [commentType]="'comment'" [specItem]="specItem" [parentId]="specItem.id"></xnode-add-comment-overlay-panel>
        </p-overlayPanel>
        <img src="../assets/comment.svg" class="pointer" alt="comment"
          (click)="op.toggle($event);commentOverlayPanelOpened=true;saveSecInLocal()"
          *ngIf="(showCommentIcon || commentOverlayPanelOpened) && selectedIndex == i ">
      </div>
    </div>
  </li>
</ul>
