<ul *ngFor="let subItem of content let i = index">
  <li>
      <div class="flex col-12 p-0 " (mouseover)="showCommentIcon = true; selectedIndex=i "
          (mouseleave)="showCommentIcon = false">
          <div class="col-11 p-0 ">
            <div class="m-0 pb-1 line-height-3" >
              <span class="flex flex-wrap sub-title text-base font-medium">
                <span  *ngFor="let word of subItem?.title?.split(' '); index as i" class="mr-1" [innerHTML]="word | highlight: searchTerm" (mouseup)="contentSelected($event)">
                  <p-overlayPanel #selectionText>
                    <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users"  *ngIf="selectedText.length>0"  [position]="'absolute'" [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                </p-overlayPanel>
                </span><span *ngIf="subItem?.title || subItem?.content"> :  <br/></span>
                </span>

              <span class="flex flex-wrap sub-content font-normal text-base">
                <span  *ngFor="let word of getWords(subItem); index as i" class="mr-1" [innerHTML]="word | highlight: searchTerm" (mouseup)="contentSelected($event)">
                  <p-overlayPanel #selectionText>
                    <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users"  *ngIf="selectedText.length>0"  [position]="'absolute'" [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
                </p-overlayPanel>
                </span>
              </span>
              </div>
          </div>
          <div class="col-1 p-0 flex  align-items-start justify-content-center">
              <p-overlayPanel #op (onHide)="showCommentIcon=false" (onHide)="commentOverlayPanelOpened=false">
                  <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users"
                      (closeOverlay)="op.toggle(false)" [position]="'absolute'" [selectedContent]="selectedContent"
                      placeHolder="Add a Comment"  [parentEntity]="'SPEC'" [commentType]="'comment'"
                      [parentId]="specItem.id"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
              <img src="../assets/comment.svg" class="pointer" alt="comment"
                  (click)="op.toggle($event);commentOverlayPanelOpened=true"
                  *ngIf="(showCommentIcon || commentOverlayPanelOpened) && selectedIndex == i ">
          </div>
      </div>
  </li>
</ul>
