<div>
  <div *ngIf="formType == 'overview'; else elseBlock" class="w-12 overflow-auto overviewInstructionBlock">
    <div class="w-8 mx-auto">
      <form [formGroup]="overviewForm" (ngSubmit)="onOverviewSubmit()">
        <!-- <div class="flex align-items-center justify-content-end mb-3">
        <button type="button" class="btn btn-cancel">Save</button>
      </div> -->
        <div class="flex align-items-center mb-3">
          <label class="w-5" for="description">Description</label>
          <div class="w-7">
            <textarea pInputTextarea rows="6" id="description" class="text-base p-2 border-1 border-round w-full"
              formControlName="description" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="flex align-items-center mb-3">
          <label class="w-5" for="tags">Tags</label>
          <div class="w-7">
            <input pInputText type="text" class="text-base p-2 border-1 border-round w-full" id="tags"
              formControlName="tags" placeholder="Add Tags" />
          </div>
        </div>
      </form>
      <div class="w-full my-4">
        <hr class="border-white-alpha-10" />
      </div>

      <!--       
      <div class="w-full">
        <div class="flex flex-wrap">
          <ng-container *ngFor="let categoryItem of categoryNameCountArr">
            <div class="flex w-4 mb-6">
              <div class="border-1 p-5 border-round mr-3">
                <span class="pi pi-search text-4xl"></span>
              </div>
              <div class="flex flex-column justify-content-between">
                <label class="text-400 font-semibold mb-2">{{categoryItem.categoryName}}</label>
                <div class="text-7xl text-white">{{categoryItem.count}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div> -->



      <div class="flex agent-summary flex-wrap gap-8">
        <!-- Agents Card -->
        <div class="flex gap-2 w-9rem" *ngFor="let item of statsItem">
          <p-button styleClass="p-0">
            <img class="agent-icons" [src]="item.imgPath" alt="" />
          </p-button>
          <div class="flex flex-column">
            <div class="font-semibold text-base stats-label">{{ item.label }}</div>
            <div class="text-4xl font-bold">{{ item.count }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="w-12 overflow-auto overviewInstructionBlock">
      <div class="w-8 mx-auto">
        <form [formGroup]="instructionForm" (ngSubmit)="onInstructionSubmit()">
          <!-- <div class="flex align-items-center justify-content-end mb-3">
    <button type="button" class="btn btn-cancel">Save</button>
  </div> -->
          <div class="flex align-items-center mb-3">
            <label class="w-5" for="name">Name</label>
            <div class="w-7">
              <input pInputText type="text" class="text-base p-2 border-1 border-round w-full" id="name"
                formControlName="name" placeholder="e.g: Dilan" />
            </div>
          </div>
          <div class="flex align-items-center mb-3">
            <label class="w-5" for="role">Role</label>
            <div class="w-7">
              <input pInputText type="text" class="text-base p-2 border-1 border-round w-full" id="role"
                formControlName="role" placeholder="e.g: Finance Consultant" />
            </div>
          </div>
          <div class="flex align-items-center mb-3">
            <label class="w-5" for="description">Description</label>
            <div class="w-7">
              <textarea pInputTextarea rows="6" id="description" class="text-base p-2 border-1 border-round w-full"
                formControlName="description" placeholder="Here is your job description :"></textarea>
            </div>
          </div>
          <div class="w-full">
            <hr />
          </div>
          <div class="flex align-items-center mb-3">
            <div class="w-5">
              <p-dropdown [options]="instructionOption" styleClass="border-round w-full" formControlName="instruction"
                optionLabel="name" (onChange)="onChangeInstruction($event)"></p-dropdown>
            </div>
          </div>
          <!-- {{instructionForm.controls['instruction'].value.value}} -->
          <ng-container *ngIf="enableGeneralInstruction">
            <div class="flex align-items-center mb-3">
              <label class="w-5" for="general_task">General Task</label>
              <div class="w-7">
                <textarea pInputTextarea rows="6" id="general_task" class="text-base p-2 border-1 border-round w-full"
                  formControlName="general_task"
                  placeholder="If No Specific Task is Requested : Mention Task"></textarea>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!enableGeneralInstruction">
            <div class="flex align-items-center mb-3">
              <label class="w-5" for="specific_instruction">Specific Instruction</label>
              <div class="w-7">
                <input pInputText type="text" class="text-base p-2 border-1 border-round w-full"
                  id="specific_instruction" formControlName="specific_instruction"
                  placeholder="In particular, your task is to <Specific Task Description>" />
              </div>
            </div>
            <div class="flex align-items-center mb-3">
              <label class="w-5" for="missing_information">Missing Information</label>
              <div class="w-7">
                <textarea pInputTextarea rows="6" id="missing_information"
                  class="text-base p-2 border-1 border-round w-full" formControlName="missing_information"
                  placeholder="If you think you are missing information :"></textarea>
              </div>
            </div>
            <div class="flex align-items-center mb-3">
              <label class="w-5" for="answer_format">Answer Format</label>
              <div class="w-7">
                <textarea pInputTextarea rows="6" id="answer_format" class="text-base p-2 border-1 border-round w-full"
                  formControlName="answer_format" placeholder="You must Format your answer as follows :"></textarea>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </ng-template>
</div>