<div class="bg-image bg-no-repeat h-full bg-color">
    <div class="logo">
        <img src=" ./assets/xnode-logo.svg" alt="x-logo" class="h-16">
    </div>
    <div class="login-div">
        <p-card styleClass="login-card">
            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 p-0">
                <div class="m-0 flex login-back"><span class="pointer" (click)="onClickLogout()">
                        <i class="pi pi-arrow-left mr-2"></i>Logout
                    </span> </div>
                <div class="login-title font-bold mt-2">Verify your identity</div>
                <div class="mt-2 mb-4 text-500 forgot-content">
                    For additional security, an email with a required verification
                    code has been sent to {{userEmail}}
                </div>
                <form (ngSubmit)="verifyAccount()">
                    <div class="flex justify-content-center mt-5">
                        <ng-otp-input (onInputChange)="onOtpChange($event)"
                            [config]="{length:6,allowNumbersOnly: true, placeholder:'-'}" #ngOtpInput></ng-otp-input>
                    </div>
                    <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-5 flex align-items-center justify-content-center">
                        <p-button label="Verify Account"  type="submit" [rounded]="true"></p-button>
                    </div>
                    <div *ngIf="resendTimer > 0" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4">
                        <div class="font-medium flex justify-content-center heading-color resend-text">Resend
                            verification code in <a class="no-underline ml-1 policy">{{ resendTimer }}s</a> </div>
                    </div>
                    <div *ngIf="resendTimer === 0" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4">
                        <a class="text-lg font-medium flex justify-content-center no-underline policy pointer"
                            (click)="resendVerification()">Resend Code</a>
                    </div>
                </form>
            </div>
            <div
                class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 flex align-items-center justify-content-center">
                <p class="terms-conditions mb-0">
                    <a href="https://xnode.ai/terms-and-conditions/" class="no-underline mr-1 terms"
                        target="_blank">Terms of service </a>and<a href="https://xnode.ai/privacy-policy/"
                        target="_blank" class="no-underline ml-2 policy">privacy policy</a>
                </p>
            </div>
        </p-card>
    </div>
</div>
