.bg-color {
    background: #343541;
}

.invalid-feedback {
    color: red;
}

.error-message {
    color: red;
}

:host ::ng-deep.p-input-icon-right>.p-inputtext {
    padding: 8px !important;
}

.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

.heading-color {
    color: #DEDEDE;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}


:host ::ng-deep.otp-input {
    // width: 60px !important;
    // height: 60px !important;
    border-radius: 4px !important;
    border: solid 1px #c5c5c5 !important;
    text-align: center !important;
    // font-size: 32px !important;
    color: #DEDEDE !important;
    border-bottom: 6px solid #9b9a9a !important;
    background: #23222B !important;
    border-radius: unset !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

:host ::ng-deep.otp-input :focus-visible {
    border: none !important;
    box-shadow: none !important;
}

:host ::ng-deep.ng-otp-input-wrapper[_ngcontent-ng-c3470639301] .otp-input[_ngcontent-ng-c3470639301]:not(:last-child) {
    margin-right: 14px;
}

label {
    color: #DEDEDE;
}

:host ::ng-deep .p-card-body {
    // color: #23222B;
    padding: 40px 100px;
    padding-bottom: 0px;
}

.terms-conditions {
    color: #DEDEDE;
    font-size: 14px;
}

.terms,
.policy {
    color: #02ADEE;
}

.login-title,
.login-back {
    color: #DEDEDE;
}

.resend-text {
    font-size: 18px;
}

@media (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: center;
        padding: 40px;
    }

    .login-title {
        font-size: 38px;
    }

    .h-16 {
        height: 16px;
    }

    .login-div {
        padding-left: 20px;
        padding-right: 20px;
        height: calc(100vh - 95px);
    }

    :host::ng-deep .p-card-body {
        padding: 20px;
    }

    .resend-text {
        font-size: 14px;
    }

    :host ::ng-deep.otp-input {
        width: 25px !important;
        // height: 60px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo {
        display: flex;
        justify-content: center;
        padding: 40px;
        height: 20px;
    }

    .login-div {
        padding-left: 80px;
        padding-right: 80px;
    }

    :host::ng-deep .p-card-body {
        padding: 40px;
    }

    .login-title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .logo {
        display: flex;
        justify-content: end;
        padding: 40px;
    }

    .login-div {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        height: calc(100vh - 150px);
    }

    :host ::ng-deep .p-card {
        width: 680px !important;
    }

    .login-title {
        font-size: 48px;
    }

    :host ::ng-deep.otp-input {
        width: 60px !important;
        height: 60px !important;
    }
}

:host ::ng-deep .verify-otp-btn.p-button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px !important;
}

.p-button:enabled:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}