.bg-color {
    background: #343541 !important;

}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

:host ::ng-deep .p-button {
    padding-top: 14px;
    padding-bottom: 14px;
    // width: 100%;
}

.invalid-feedback {
    color: red;
}

.error-message {
    color: red;
}

.custom-password .p-password input {
    width: 300px;
    /* Set the desired width value */
}

:host ::ng-deep.p-input-icon-right>.p-inputtext {
    padding: 8px !important;
}

@media screen and (max-width: 780px) {
    .form-container {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.bg-image {
    background-image: url('/assets/OnboardingBG.svg');
}

.heading-color {
    color: #DEDEDE;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

:host ::ng-deep .p-card-body {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    color: #23222B !important;
}

.divider {
    width: 500px;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

:host ::ng-deep.otp-input {
    width: 60px !important;
    height: 60px !important;
    border-radius: 4px !important;
    border: solid 1px #c5c5c5 !important;
    text-align: center !important;
    font-size: 32px !important;
    color:#ffffff !important;
    border-bottom: 6px solid #9b9a9a !important;
    background: #23222B !important;
    border-radius: unset !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

:host ::ng-deep.otp-input :focus-visible {
    border: none !important;
    box-shadow: none !important;
}

:host ::ng-deep.ng-otp-input-wrapper[_ngcontent-ng-c3470639301] .otp-input[_ngcontent-ng-c3470639301]:not(:last-child) {
    margin-right: 14px;
}