.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead>tr>th {
    color: #ffffff;
    background: #3c89d6;
    font-size: 12px;
    border-right: 1px solid #fff;
}

.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead>tr>.p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover,
.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead>tr>.p-sortable-column.p-highlight:not(.p-sortable-disabled):hover {
    color: #ffffff;
    background: #3c89d6;
    font-size: 12px;
    border-right: 1px solid #fff;
}

.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead>tr>th>.p-column-header-content>.p-sortable-column-icon {
    color: #fff;
    font-size: 12px;
}

.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tbody>tr>td>.menu-icon>.p-button.p-button-icon-only {
    color: #3c89d6;
}

.override-datatable>.p-paginator {
    padding: 4px;
}

.override-datatable>.p-paginator>.p-paginator-element {
    margin: 0px;
}

.override-datatable>.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: #ffffff;
    background: #3c89d6;
}

.override-datatable>.p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2.5rem;
    height: 2.5rem;
}

.menu-icon>.p-button.p-button-icon-only,
.menu-icon>.p-button:enabled:hover,
.menu-icon>.p-button:focus,
.menu-icon>.p-button:enabled:active {
    width: 1rem;
    background: none;
    border: none;
    color: black;
    box-shadow: none;
}

.menu-icon>.p-button:enabled:hover {
    opacity: 0.6;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 8px !important;
}

.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-success,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-success:hover,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-success:enabled:active,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-success:enabled:focus {
    color: black;
    background: none;
    width: 100%;
    box-shadow: none;
    border: 1px solid grey;
    border-radius: 8px;
}

.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning:hover,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning:enabled:active,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning:enabled:focus {
    color: black;
    background: none;
    width: 100%;
    box-shadow: none;
    border: 1px solid grey;
    border-radius: 8px;
}

/* .overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning.p-button-rounded {
    border-radius: 0;
} */

.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-warning:hover,
.overlaypanel-demo>.p-overlaypanel-content>.p-button.p-button-success:hover {
    background-color: #e9ecef;
    border-radius: 8px;
    border: 1px solid grey;
}

.override-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tbody>tr.p-row-odd {
    background: #f8f9fa;
}

.override-import>.p-button.p-fileupload-choose {
    background-color: #3c89d6;
    color: #fff;
    border: 1px solid #3c89d6;
}

.override-datatable.p-datatable>.p-datatable-header {
    /* background-color: #e4e7f1; */
    border: 1px solid #a4b6c8;
}

.override-import>.p-button:not(button):not(a):not(.p-disabled):hover,
.override-import>.p-button:not(button):not(a):not(.p-disabled):active {
    background-color: #3c89d6;
    color: #fff;
    border: 1px solid #3c89d6;
}