<p-dialog [(visible)]="display" [style]="{width: '40vw', height: 'auto'}" [responsive]="true" [baseZIndex]="10000"
    (onHide)="onClose()" [dismissableMask]="false" [closeOnEscape]="false">
    <div class="modal-header">
        <div class="ml-4 flex flex-column">
            <h2 class="w-10 mb-2 text-xl font-bold">Add Tool</h2>
            <h5 class="text-base font-normal">Please enter the details below to add or create tool</h5>
        </div>
    </div>
    <div class="modal-content">
        <div class="modal-body w-8 mx-auto">
            <form class="flex flex-column gap-2 text-base font-normal text-white" [formGroup]="createToolForm"
                (ngSubmit)="submitForm()">
                <div class="flex flex-column gap-3">
                    <div class="flex flex-column align-items-center gap-1">
                        <label class="w-full" for="name">Name</label>
                        <div class="w-full">
                            <input pInputText type="text" class="w-full form-control" id="name" formControlName="name"
                                placeholder="Enter a Name" />
                        </div>
                    </div>
                    <div class="flex flex-column align-items-center gap-1">
                        <label class="w-full" for="description">Description</label>
                        <div class="w-full">
                            <textarea rows="3" pInputTextarea class="w-full form-control" id="description"
                                formControlName="description"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="separator w-full" />

                <div class="flex flex-column gap-3">
                    <div>OpenAPI Scheme</div>
                    <div>
                        <input id="import" type="radio" class="custom-control-input" value="import" name="select_scheme"
                            formControlName="select_scheme">
                        <label class="custom-control-label" for="import">Import OpenAPI URL</label>
                    </div>

                    <div>
                        <input id="schema" type="radio" class="custom-control-input" value="schema" name="select_scheme"
                            formControlName="select_scheme">
                        <label class="custom-control-label" for="schema">Directly Paste the OpenAPI Schema</label>
                    </div>
                </div>

                <hr class="separator w-full" />

                <div class="flex flex-column">
                    <div class="flex flex-column align-items-center gap-1"
                        *ngIf="createToolForm.get('select_scheme')?.value === 'import'">
                        <label class="w-full radio-label" for="tool_url">Import OpenAPI URL</label>
                        <div class="w-full">
                            <input pInputText type="text" class="w-full form-control" id="tool_url"
                                formControlName="tool_url" placeholder="Enter a URL" />
                        </div>
                    </div>
                    <div class="flex flex-column align-items-center gap-1"
                        *ngIf="createToolForm.get('select_scheme')?.value === 'schema'">
                        <label class="w-full radio-label" for="schema">Schema</label>
                        <div class="w-full">
                            <textarea rows="3" pInputTextarea class="w-full form-control" id="schema"
                                formControlName="schema" placeholder="Write, edit, or paste OpenAPI schema"></textarea>
                        </div>
                    </div>
                </div>


                <div class="button-container">
                    <button type="button" class="btn-cancel" (click)="onClose()">Cancel</button>
                    <button type="submit" class="btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</p-dialog>