<div class="w-full agent-hub-container border-round-2xl p-3 mt-3">
    <p-tabView>
        <p-tabPanel *ngFor="let topicItem of promptTabs" [header]="topicItem.title">
            <ng-container [ngSwitch]="topicItem.component">
                <div class="overflow-auto customTopicTabPanel">
                    <xnode-prompt-overview-instruction *ngSwitchCase="'prompt'" />
                    <!-- <xnode-prompt-overview-instruction *ngSwitchCase="'promptInstruction'" /> -->
                </div>
            </ng-container>
        </p-tabPanel>
    </p-tabView>
</div>