// --dropdown-background-color:#011a03,
// --dropdown-border-color:#023006,
// --dropdown-label-placeholder-color:#eeeee,
// --dropdown-label-text-color:#EFEEEE,
// --dropdown-label-placeholder-focus-color:#011202,
// --dropdown-panel-background-color:#011a03,
// --dropdown-panel-border-color:#535354,
// --dropdown-item-hightlight-color:#044409,
// --dropdown-item-focus-color:#011202,
// --dropdown-item-hover-color:#0f160f,
// --dropdown-text-color:#fff,
// --dropdown-item-inactive-text-color: #A2A2A3
// --dropdown-item-hightlight-text-color: #EFEEEE

.p-dropdown {
    background: var(--dropdown-background-color);
    border: 1px solid var(--dropdown-border-color);
  }
  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0 #BFDBFE;
  }
  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.75rem;
  }
  .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    color: var(--dropdown-label-text-color);
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    color: var(--dropdown-text-color);
  }
  .p-dropdown .p-dropdown-label:focus, .p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0 none;
    box-shadow: none;
    background-color: var(--dropdown-item-focus-color);
  }

  .p-dropdown-panel {
    background: var(--dropdown-panel-background-color);
    color: var(--dropdown-text-color);
    border: 1px solid  var(--dropdown-panel-border-color);
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .p-dropdown-panel .p-dropdown-header {
    padding: 0px;
    border-bottom: 1px solid #6f6f6f;
    color: var(--dropdown-text-color);
    background: var(--dropdown-background-color);
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color:var(--dropdown-item-inactive-text-color)
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: var(--dropdown-item-hightlight-color);
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: var(--dropdown-item-hightlight-color);
    color:var(--dropdown-item-hightlight-text-color)
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: var(--dropdown-item-focus-color);
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--dropdown-item-hover-color);
  }