.p-button .p-button-label{
  font-weight: 400;
}

.p-splitbutton.p-button-sm > .p-button {
  padding-top:6.5px;
  padding-bottom: 6.5px;
}

.p-splitbutton .p-splitbutton-defaultbutton, .p-splitbutton.p-button-rounded>.p-splitbutton-defaultbutton.p-button{
  font-size: 0.875rem;
}

.p-splitbutton.p-button-rounded{
  height: 30px;
}