.p-splitbutton.p-button-sm > .p-button {
  font-size: 0.875rem;
  padding-top:6.5px;
  padding-bottom: 6.5px;
}

// .p-splitbutton {
//     border-radius: 6px;
//   }
//   .p-splitbutton.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #93C5FD;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(147, 197, 253, 0.04);
//     color: #93C5FD;
//   }
//   .p-splitbutton.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(147, 197, 253, 0.16);
//     color: #93C5FD;
//   }
//   .p-splitbutton.p-button-outlined.p-button-plain > .p-button {
//     color: rgba(255, 255, 255, 0.6);
//     border-color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-outlined.p-button-plain > .p-button:enabled:hover, .p-splitbutton.p-button-outlined.p-button-plain > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(255, 255, 255, 0.03);
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-outlined.p-button-plain > .p-button:enabled:active, .p-splitbutton.p-button-outlined.p-button-plain > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(255, 255, 255, 0.16);
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-text > .p-button {
//     background-color: transparent;
//     color: #93C5FD;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(147, 197, 253, 0.04);
//     color: #93C5FD;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(147, 197, 253, 0.16);
//     color: #93C5FD;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-text.p-button-plain > .p-button {
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-text.p-button-plain > .p-button:enabled:hover, .p-splitbutton.p-button-text.p-button-plain > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(255, 255, 255, 0.03);
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-text.p-button-plain > .p-button:enabled:active, .p-splitbutton.p-button-text.p-button-plain > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(255, 255, 255, 0.16);
//     color: rgba(255, 255, 255, 0.6);
//   }
//   .p-splitbutton.p-button-raised {
//     box-shadow: 0px  !important;
//     border-width: 2px;
//     border-color: blue;
//   }
//   .p-splitbutton.p-button-rounded {
//     border-radius: 2rem;
//   }
//   .p-splitbutton.p-button-rounded > .p-button {
//     border-radius: 2rem;
//   }

//   .p-splitbutton.p-button-sm > .p-button .p-button-icon {
//     font-size: 0.875rem;
//   }
//   .p-splitbutton.p-button-lg > .p-button {
//     font-size: 1.25rem;
//     padding: 0.9375rem 1.5625rem;
//   }
//   .p-splitbutton.p-button-lg > .p-button .p-button-icon {
//     font-size: 1.25rem;
//   }

//   .p-splitbutton.p-button-secondary.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #CBD5E1;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(203, 213, 225, 0.04);
//     color: #CBD5E1;
//   }
//   .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(203, 213, 225, 0.16);
//     color: #CBD5E1;
//   }
//   .p-splitbutton.p-button-secondary.p-button-text > .p-button {
//     background-color: transparent;
//     color: #CBD5E1;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-secondary.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(203, 213, 225, 0.04);
//     border-color: transparent;
//     color: #CBD5E1;
//   }
//   .p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-secondary.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(203, 213, 225, 0.16);
//     border-color: transparent;
//     color: #CBD5E1;
//   }

//   .p-splitbutton.p-button-info.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #93C5FD;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-info.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-info.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(147, 197, 253, 0.04);
//     color: #93C5FD;
//   }
//   .p-splitbutton.p-button-info.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-info.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(147, 197, 253, 0.16);
//     color: #93C5FD;
//   }
//   .p-splitbutton.p-button-info.p-button-text > .p-button {
//     background-color: transparent;
//     color: #93C5FD;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-info.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-info.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(147, 197, 253, 0.04);
//     border-color: transparent;
//     color: #93C5FD;
//   }
//   .p-splitbutton.p-button-info.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-info.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(147, 197, 253, 0.16);
//     border-color: transparent;
//     color: #93C5FD;
//   }

//   .p-splitbutton.p-button-success.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #86EFAC;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-success.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(134, 239, 172, 0.04);
//     color: #86EFAC;
//   }
//   .p-splitbutton.p-button-success.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-success.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(134, 239, 172, 0.16);
//     color: #86EFAC;
//   }
//   .p-splitbutton.p-button-success.p-button-text > .p-button {
//     background-color: transparent;
//     color: #86EFAC;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-success.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-success.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(134, 239, 172, 0.04);
//     border-color: transparent;
//     color: #86EFAC;
//   }
//   .p-splitbutton.p-button-success.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-success.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(134, 239, 172, 0.16);
//     border-color: transparent;
//     color: #86EFAC;
//   }

//   .p-splitbutton.p-button-warning.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #FCD34D;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-warning.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(252, 211, 77, 0.04);
//     color: #FCD34D;
//   }
//   .p-splitbutton.p-button-warning.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-warning.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(252, 211, 77, 0.16);
//     color: #FCD34D;
//   }
//   .p-splitbutton.p-button-warning.p-button-text > .p-button {
//     background-color: transparent;
//     color: #FCD34D;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-warning.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(252, 211, 77, 0.04);
//     border-color: transparent;
//     color: #FCD34D;
//   }
//   .p-splitbutton.p-button-warning.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-warning.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(252, 211, 77, 0.16);
//     border-color: transparent;
//     color: #FCD34D;
//   }

//   .p-splitbutton.p-button-help.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #D8B4FE;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-help.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(216, 180, 254, 0.04);
//     color: #D8B4FE;
//   }
//   .p-splitbutton.p-button-help.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-help.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(216, 180, 254, 0.16);
//     color: #D8B4FE;
//   }
//   .p-splitbutton.p-button-help.p-button-text > .p-button {
//     background-color: transparent;
//     color: #D8B4FE;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-help.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-help.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(216, 180, 254, 0.04);
//     border-color: transparent;
//     color: #D8B4FE;
//   }
//   .p-splitbutton.p-button-help.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-help.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(216, 180, 254, 0.16);
//     border-color: transparent;
//     color: #D8B4FE;
//   }

//   .p-splitbutton.p-button-danger.p-button-outlined > .p-button {
//     background-color: transparent;
//     color: #FCA5A5;
//     border: 1px solid;
//   }
//   .p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-danger.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(252, 165, 165, 0.04);
//     color: #FCA5A5;
//   }
//   .p-splitbutton.p-button-danger.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-danger.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(252, 165, 165, 0.16);
//     color: #FCA5A5;
//   }
//   .p-splitbutton.p-button-danger.p-button-text > .p-button {
//     background-color: transparent;
//     color: #FCA5A5;
//     border-color: transparent;
//   }
//   .p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-danger.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
//     background: rgba(252, 165, 165, 0.04);
//     border-color: transparent;
//     color: #FCA5A5;
//   }
//   .p-splitbutton.p-button-danger.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-danger.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
//     background: rgba(252, 165, 165, 0.16);
//     border-color: transparent;
//     color: #FCA5A5;
//   }