.paragraph-text {
    color: rgba(255, 255, 255, 0.6);
}

.card {
    // width: 338px;
    width: 232px;
    height: 292px;
    background-color: #302E38;
    border: 1px solid #595959;
    border-radius: 12px;
}

.bg {
    background-color: #302E38;
}

.img-size {
    width: 4rem;
    height: 4rem;
}

.icon-color {
    background: #4F4E55;
    border: 0;
    color: #ffffff !important;
}

.green-alert {
    background: #71B52B;
    width: 65px;
    height: 65px;
}

.red-alert {
    background: #E80F23;
    width: 65px;
    height: 65px;
}

.orange-alert {
    background: #DD5902;
    width: 65px;
    height: 65px;
}

.yellow-alert {
    background: #FCD118;
    width: 65px;
    height: 65px;
}

.skyblue-alert {
    background: #0272C6;
    width: 65px;
    height: 65px;
}

.blue-alert {
    background: #000759;
    width: 65px;
    height: 65px;
}

.template-builder-wrapper {
    width: 100%;
    display: flex;
    height: calc(100vh - 42px);
}


.template-builder-body-wrapper {
    width: calc(100% - 50px);
    height: calc(100vh - 42px);
    overflow-y: hidden;
}

:host ::ng-deep.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link,
:host ::ng-deep.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link,
:host ::ng-deep.p-accordion .p-accordion-content {
    background-color: #24232C;
    color: #ffffff;
    border: 0;
}

:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
}

:host ::ng-deep.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link,
:host ::ng-deep.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    font-weight: normal;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #39383F;
}


//Publish header
.publish-header {
    height: 88px;
}

:host ::ng-deep .p-dropdown {
    background: #3A3942;
    border: 0;
}

:host ::ng-deep .p-dropdown .p-dropdown-label,
:host ::ng-deep .p-dropdown .p-dropdown-trigger {
    color: #ffffff;
}

img.highlighted {
    background-color: #02ADEE !important;
}

.hline {
    width: 1413px;
    height: 0px;
    border: 1px solid #2E2D36;
}

.another-template-builder-body-wrapper {
    width: calc(100% - 50px);
    height: calc(100vh - 42px);
}

.operate-body {
    height: calc(100vh - 150px);
    overflow: auto;
}