<div class="template-builder-wrapper">
    <div class="template-builder-layout-wrapper">
        <xnode-page-tools-layout></xnode-page-tools-layout>
    </div>
    <div class="template-builder-body-wrapper overflow-hidden"
        [ngClass]="!isOpen ? 'template-builder-body-wrapper': 'another-template-builder-body-wrapper'">
        <xnode-template-builder-publish-header></xnode-template-builder-publish-header>
        <div class=" operate-body ml-3 mr-4 p-3">
            <div class="h-full text-white">
                <div class="">
                    <div class="text-4xl font-bold ml-3 mt-2">Overview</div>
                    <div class="col-12 mt-3">
                        <div class="text-xl font-bold ml-3">
                            Insights
                        </div>
                        <p class="font-normal text-base ml-3">Use curated
                            monitoring views for specific resources <span class="text-blue-700">View all Insights</span>
                        </p>
                        <div class="grid flex flex-wrap justify-center ml-0 gap-4 col-12">
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/AppInsights.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold ">Application
                                    Insights</div>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Monitor
                                    your App’s availability
                                    performance , errors, and usage</p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/ContainerInsights.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">Container
                                    Insights</div>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Gain
                                    visibility into the performance
                                    and health of your controllers,nodes, and
                                    containers
                                </p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/VMInsights.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">VM Insights</div>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Monitor
                                    the health, performance, and
                                    dependencies of your VM’S and V, scale sets.
                                </p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/NetworkInsights.svg" alt="circle-ci-image" class="img-size mt-4">
                                <div class="text-xl mt-4 font-bold">Network
                                    Insights</div>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View
                                    the
                                    health and metrics for all
                                    deployed network resources
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 col-12">
                        <div class="text-xl font-bold ml-3">
                            Detection, triage and diagonisis
                        </div>
                        <p class="font-normal text-base  ml-3">Visualize,
                            analyze, and respond to moitoring data and
                            events.<span class="text-blue-700"> Learn more about
                                monitoring</span></p>
                        <div class="grid flex flex-wrap justify-center ml-0 gap-4 col-12">
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Metrics-ci.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">Metrics</div>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Create
                                    charts to monitor and investigate the usage
                                    and performance
                                    of your resources</p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Alerts-ci.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">Alerts</div>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Get
                                    notified and respond using alerts and
                                    actions
                                </p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Logs-ci.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">Logs</div>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Analyze
                                    and diagnose issues with
                                    log queries
                                </p>
                            </div>
                            <div
                                class="flex flex-column col-12 md:col-6 lg:col-3 align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Workbooks.svg" alt="circle-ci-image" class="img-size">
                                <div class="text-xl mt-4 font-bold">Workbooks</div>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View,
                                    create and share interactive reports
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>