<div class="template-builder-wrapper">
    <div class="template-builder-layout-wrapper">
        <div class="text-center border-bottom-2 p-3 border-primary">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" />
            </span>
        </div>
        <div class="">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Monitor">
                    <xnode-operate-layout (getconfigureLayout)="getLayout($event)"></xnode-operate-layout>
                </p-accordionTab>
            </p-accordion>
            <p-accordion [activeIndex]="1">
                <p-accordionTab header="Support">
                    <xnode-operate-layout (getconfigureLayout)="getLayout($event)"></xnode-operate-layout>
                </p-accordionTab>
            </p-accordion>
            <p-accordion [activeIndex]="2">
                <p-accordionTab header=" Training">
                    <p>
                        Training
                    </p>
                </p-accordionTab>
            </p-accordion>
            <p-accordion [activeIndex]="3">
                <p-accordionTab header=" Change">
                    <p>
                        Change
                    </p>
                </p-accordionTab>
            </p-accordion>
            <p-accordion [activeIndex]="4">
                <p-accordionTab header="Feedback">
                    <xnode-operate-feedback (getOperateLayout)="getLayout($event)"></xnode-operate-feedback>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="template-builder-body-wrapper">
        <div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
            <div class="flex align-items-center justify-content-center">
                <p-dropdown [options]="templates"></p-dropdown>
            </div>
            <div class="flex align-items-center justify-content-center gap-3">
                <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'desktop' }"
                    alt="desktop" class="image-icon" (click)="emitIconClicked('desktop')">
                <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'tab' }" alt="tab"
                    class="image-icon" (click)="emitIconClicked('tab')">
                <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'mobile' }" alt="mobile"
                    class="image-icon" (click)="emitIconClicked('mobile')">
            </div>
            <div class="flex align-items-center justify-content-center gap-3">
                <p-button label="Save" styleClass="p-button-rounded"></p-button>
                <p-button label="Publish" (click)="openNewTab()" styleClass="p-button-rounded"></p-button>
            </div>
        </div>
        <div class="surface-900 m-4 h-full" >
            <div class="h-full text-white" *ngIf ="dashboard == 'Overview'">
                <div class="grid surface-900">
                    <h6 class="text-4xl  p-4 font-bold">Overview</h6>
                    <div class="">
                        <div class="text-xl font-bold  ml-5">
                            Insights
                        </div>
                        <p class="font-normal text-base  ml-5">Use curated monitoring views for specific resources <span class="text-blue-700">View all Insights</span></p>
                        <div class="flex flex-wrap justify-center ml-4">
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-1 py-1 border-round-xl card">
                                <img src="../../assets/AppInsights.svg" alt="circle-ci-image" class="img-size mt-4">
                                <h5 class="text-xl mt-4 font-bold">Application Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Monitor your App’s availability
                                    performance , errors, and usage</p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/ContainerInsights.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">Container Insights</h5>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Gain visibility into the performance
                                    and health of your controllers,nodes, and containers
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/VMInsights.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">VM Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Monitor the health, performance, and
                                     dependencies of your VM’S and V, scale sets.
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/NetworkInsights.svg" alt="circle-ci-image" class="img-size mt-4">
                                <h5 class="text-xl mt-4 font-bold">Network Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View the health and metrics for all
                                    deployed network resources
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="text-xl font-bold ml-5">
                            Detection, triage and diagonisis
                        </div>
                        <p class="font-normal text-base  ml-5">Visualize, analyze, and respond to moitoring data and events.<span class="text-blue-700"> Learn more about monitoring</span></p>
                        <div class="flex flex-wrap justify-center ml-4">
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Metrics-ci.svg" alt="circle-ci-image" class="img-size mt-7">
                                <h5 class="text-xl mt-4 font-bold">Metrics</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Create charts to monitor and investigate the usage and performance 
                                    of your resources</p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Alerts-ci.svg" alt="circle-ci-image" class="img-size mt-6">
                                <h5 class="text-xl mt-4 font-bold">Alerts</h5>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Get notified and respond using alerts and actions
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Logs-ci.svg" alt="circle-ci-image" class="img-size mt-6">
                                <h5 class="text-xl mt-4 font-bold">Logs</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Analyze and diagnose issues with 
                                    log queries
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Workbooks.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">Workbooks</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View, create and share interactive reports
                                </p>
                            </div>
                        </div>
                </div>
            </div>
             </div>
             <div class="h-full text-white" *ngIf ="dashboard == 'Alerts'">
                <div class="grid surface-900">
                    <h6 class="text-4xl  p-4 font-bold">Alerts</h6>
                    <div class="">
                        
                        <div class="flex flex-wrap  ml-4 gap-4">
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/Create.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Create</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/AlertRules.svg" alt="circle-ci-image" class="mb-3">
                                <p class="font-normal text-base ">Alert rules</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/ActionGroups.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Action groups</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/AlertProcessingRules.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Alert processing rules</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/Coulmns.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Columns</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/Refresh.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Refresh</p>
                            </div>
                            <div class="flex flex-wrap gap-2">
                                <img src="../../assets/Exportthefile.svg" alt="image" class="mb-3">
                                <p class="font-normal text-base ">Export the file</p>
                            </div>

                        </div>
                        <hr class="hline ml-4 mr-8">
                        <div class="flex flex-wrap  ml-4 mb-4 gap-4">
                            <div class="mt-4">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" placeholder="Search" />
                                </span>
                            </div>
                            <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                                Time range : Past 24 hours
                            </div>
                            <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                                Subscription : All
                                <i class="pi pi-times-circle"></i>
                            </div>
                            <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                                Alert Conditions : Fired
                                <i class="pi pi-times-circle"></i>
                            </div>
                            
                        </div>
                        <div class="flex flex-wrap  ml-4 gap-6">
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="green-alert p-3">
                                  <img src="../../assets/TotalAlerts.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Total Alerts</p>
                                    <p class="font-bold text-5xl -mt-3">1</p>
                                </div>
                            </div>
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="red-alert p-3">
                                    <img src="../../assets/Critical.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Critical</p>
                                    <p class="font-bold text-5xl -mt-3">0</p>
                                </div>
                            </div>
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="orange-alert p-3">
                                    <img src="../../assets/Error.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Error</p>
                                    <p class="font-bold text-5xl -mt-3">1</p>
                                </div>
                            </div>
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="yellow-alert p-3">
                                    <img src="../../assets/Warning.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Warning</p>
                                    <p class="font-bold text-5xl -mt-3">0</p>
                                </div>
                            </div>
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="skyblue-alert p-3">
                                    <img src="../../assets/Informational.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Informational</p>
                                    <p class="font-bold text-5xl -mt-3">0</p>
                                </div>
                            </div>
                            <div class="mt-4 flex flex-wrap gap-4">
                                <div class="blue-alert p-3">
                                    <img src="../../assets/Verbose.svg" alt="image" >
                                </div>
                                <div class="text-center">
                                    <p class="text-base font-medium text-500">Verbose</p>
                                    <p class="font-bold text-5xl -mt-3">1</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="p-4">
                            <!-- <p-table [tableStyle]="{ 'min-width': '50rem' }" >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Name</th>
                                        <th>Severity</th>
                                        <th>Affected Resources</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" >
                                    <tr>
                                        <td>Finbuddy</td>
                                        <td>4-verbose</td>
                                        <td>receiptsavd-1</td>
                                    </tr>
                                </ng-template>
                            </p-table> -->
                            <img src="../../assets/alert-table.svg" width="100%" alt="image">
                        </div>
                    </div>
                   
            </div>
             </div>
             <!-- Feedback -->
             <div class="h-full text-white" *ngIf ="dashboard == 'Feed-Overview'">
                <div class="grid surface-900">
                    <h6 class="text-4xl  p-4 font-bold">Overview</h6>
                    <div class="">
                        <div class="text-xl font-bold  ml-5">
                            Insights
                        </div>
                        <p class="font-normal text-base  ml-5">Use curated monitoring views for specific resources <span class="text-blue-700">View all Insights</span></p>
                        <div class="flex flex-wrap justify-center ml-4">
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-1 py-1 border-round-xl card">
                                <img src="../../assets/AppInsights.svg" alt="circle-ci-image" class="img-size mt-4">
                                <h5 class="text-xl mt-4 font-bold">Application Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Monitor your App’s availability
                                    performance , errors, and usage</p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/ContainerInsights.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">Container Insights</h5>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Gain visibility into the performance
                                    and health of your controllers,nodes, and containers
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/VMInsights.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">VM Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Monitor the health, performance, and
                                     dependencies of your VM’S and V, scale sets.
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/NetworkInsights.svg" alt="circle-ci-image" class="img-size mt-4">
                                <h5 class="text-xl mt-4 font-bold">Network Insights</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View the health and metrics for all
                                    deployed network resources
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="text-xl font-bold ml-5">
                            Detection, triage and diagonisis
                        </div>
                        <p class="font-normal text-base  ml-5">Visualize, analyze, and respond to moitoring data and events.<span class="text-blue-700"> Learn more about monitoring</span></p>
                        <div class="flex flex-wrap justify-center ml-4">
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Metrics-ci.svg" alt="circle-ci-image" class="img-size mt-7">
                                <h5 class="text-xl mt-4 font-bold">Metrics</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem ">Create charts to monitor and investigate the usage and performance 
                                    of your resources</p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Alerts-ci.svg" alt="circle-ci-image" class="img-size mt-6">
                                <h5 class="text-xl mt-4 font-bold">Alerts</h5>

                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Get notified and respond using alerts and actions
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Logs-ci.svg" alt="circle-ci-image" class="img-size mt-6">
                                <h5 class="text-xl mt-4 font-bold">Logs</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">Analyze and diagnose issues with 
                                    log queries
                                </p>
                            </div>
                            <div
                                class="flex flex-col align-items-center justify-content-center font-bold text-white m-2 px-2 py-2 border-round-xl card">
                                <img src="../../assets/Workbooks.svg" alt="circle-ci-image" class="img-size mt-5">
                                <h5 class="text-xl mt-4 font-bold">Workbooks</h5>
                                <p class="font-normal text-xs text-left md:text-center paragraph-text w-13rem">View, create and share interactive reports
                                </p>
                            </div>
                        </div>
                </div>
            </div>
             </div>
         </div>
</div>