<div class="p-4">
    <div class="flex flex-row justify-content-between send-email-div text-white">
        <div class="flex p-4 text-md">
            <i class="pi pi-arrow-left mx-4 mt-1"></i>
            <a>Back to product</a>
        </div>
        <div class="flex flex-column justify-content-center">
            <p class="text-3xl font-medium">Hello. How can we help you?</p>
            <p>if you couldn’t find the topic, mail us at <a href="mailto:support@xnode.ai">support@xnode.ai</a></p>
            <p-button label="Send Email" styleClass="p-button-rounded  font-medium text-lg p-button-lg"></p-button>
        </div>
        <div class="">
            <img src="../../../assets/Group-1000004292.svg" alt="help-centre" height="287px" width="287px" />
        </div>
    </div>
</div>