<div>
  <p-toolbar aria-label="Actions">
    <div class="p-toolbar-group-start">
      <p-button label="New Model" icon="pi pi-plus" class="mr-2" (onClick)="createModel()"></p-button>
      <p-button label="Import" icon="pi pi-file-import" styleClass="p-button-success" class="mr-2"
        (onClick)="importJson()"></p-button>
      <p-button label="Export" icon="pi pi-file-export" styleClass="p-button-success" class="mr-2"
        (onClick)="exportJson()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button label="Settings" icon="pi pi-cog" styleClass="p-button-success" (onClick)="dataSetting()"></p-button>
    </div>
  </p-toolbar>

</div>


<div class="container-fluid mt-3">

  <div class="row">
    <div id="canvas" class="col-sm-10">
      <model *ngFor="let model of data.models" [myModel]="model"></model>
    </div>
  </div>

</div>
<!-- <xnode-create-schema [isVisible]="showSchemaModel" [model]="emptyModel"></xnode-create-schema> -->
