.spec-content-sideMenu {
    width: calc(100vw - 455px);
}

.spec-content {
    width: calc(100vw - 150px);
}

.spec-content-navi {
    width: calc(100vw - 610px);
}

.spec-content-sideMenu-navi {
    width: calc(100vw - 880px);
}