.spec-content-sideMenu {
    width: calc(100vw - 455px);
}

.spec-content {
    width: calc(100vw - 80px);
}

.spec-content-navi {
    width: calc(100vw - 540px);
}

.spec-content-sideMenu-navi {
    width: calc(100vw - 880px);
}

.comments-collapsed {
    width: calc(100% - 750px);
}

.comments-panel {
    width: 374px;
    background: #24232C;
}

.comments-panel-hidden {
    display: none;
}