<div class="flex" *ngIf="specData?.length">
    <xnode-specifications-menu [specData]="specData" (text)="searchText($event)"></xnode-specifications-menu>
    <div class="spec-content">
        <xnode-specifications-header></xnode-specifications-header>
        <xnode-specifications-content [specData]="specData"></xnode-specifications-content>
    </div>
</div>
<!-- <div class="flex flex-column justify-content-center h-full w-full" *ngIf="noSpec">
    <div class="flex justify-content-center w-full spec-content text-white">
        No spec is generated
    </div>
</div> -->

<xnode-product-alert-popup *ngIf="showSpecGenaretePopup" (closePopup)="this.showSpecGenaretePopup = false"
    [data]="productStatusPopupContent" [showProductStatusPopup]="showSpecGenaretePopup"></xnode-product-alert-popup>