.diff-view {
    height: calc(100vh - 70px);
    overflow: auto;
}

.spec-body {
    width: calc(100% - 375px);
}

:host ::ng-deep .version-dropdown .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    color: #ffffff;
    background: transparent;
}

:host ::ng-deep .version-dropdown .p-inputtext {
    background: transparent;
    color: #ffffff;
    padding: 0px;
}

.expand-spec {
    height: calc(100vh - 112px);
    width: 300px;
}

@media (min-width: 1024px) {

    .spec-section,
    .comments-open,
    .comments-close {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
    }

    .comments-open {
        width: 350px;
    }

    .spec-content {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
    }

    .spec-content-menu {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
        width: calc(100vw - 380px);
    }

    .spec-content-navi {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
        width: 650px;
    }

    .spec-content-navi-menu {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
        width: 380px;
    }

    .spec-content-comments {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
        width: calc(100vw - 430px);
    }

    .spec-content-comments-menu {
        transition: all 0.5s ease-in-out;
        height: calc(100vh - 112px);
        width: calc(100vw - 730px);
    }
}


.spec-container::-webkit-scrollbar {
    width: 5px;
}

.spec-container::-webkit-scrollbar-thumb {
    background-color: #24232c;
}

.spec-container::-webkit-scrollbar-thumb:hover {
    background-color: #24232c;
}

.spec-container-diff-view::-webkit-scrollbar {
    width: 5px;
}

.spec-container-diff-view::-webkit-scrollbar-thumb {
    background-color: #24232c;
}

.spec-container-diff-view::-webkit-scrollbar-thumb:hover {
    background-color: #24232c;
}



.spec-main-body {
    width: calc(100% - 375px);
}

.spec-main-body-full {
    width: 100%
}

.spec-view-body {
    width: calc(100% - 512px);
    display: flex;
    justify-content: center;
}

.spec-view-body-full {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spec-container {
    height: calc(100vh - 155px);
    overflow: auto;
    padding: 0 2px;
    border-radius: 6px;
}

.spec-container-diff-view {
    height: calc(100vh - 185px);
    overflow: auto;
    padding: 0 2px;
    border-radius: 6px;
}

.slide-down-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.slide-down-container.open {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
    overflow: visible;
}

.sticky-dropdown {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}