<div class="flex">
  <xnode-specifications-menu (searchtext)="searchText($event)" [keyword]="keyword" [specData]="specListForMenu"
    (onSelectSpecMenuItem)="onSelectSpecMenuItem($event)" *ngIf="isSideMenuOpened"
    (isMeneOpened)="isMeneOpened($event)"></xnode-specifications-menu>
  <div [ngClass]="isSideMenuOpened ? 'spec-main-body' :'spec-main-body-full' ">
    <div class="h-full" *ngIf="specExpanded">
      <xnode-expand-specification *ngIf="specExpanded" [dataToExpand]="selectedSpecItem"
        (childLoaded)="onChildLoaded($event)" (closeFullScreenView)="closeFullScreenView()"
        [specExpanded]="specExpanded"></xnode-expand-specification>
    </div>
    <div *ngIf="!specExpanded">
      <xnode-specifications-header (onDiffViewChange)="diffViewChangeEmiter($event)"
        [isSideMenuOpened]="isSideMenuOpened" (refreshCurrentRoute)="refreshCurrentRoute()" [versions]="versions"
        [selectedVersion]="selectedVersion" (specDataChange)="onSpecDataChange($event)"
        (generateSpec)="checkUserEmail()" (isMeneOpened)="isMeneOpened($event)"></xnode-specifications-header>
      <div class="flex spec-container">
        <div [ngClass]="openConversationPanel ? 'spec-view-body py-4': 'spec-view-body-full py-4'">
          <div class="specs w-8">
            <div class="justify-content-start gap-4 pb-2" *ngIf="showVersionToDiff">
              <p-dropdown [options]="versions" [(ngModel)]="selectedVersionOne" optionLabel="label"
                (onChange)="onVersionChange($event, 'one')" placeholder="Select a version"
                class="app-dropdown"></p-dropdown>
              <p-dropdown [options]="versions" [(ngModel)]="selectedVersionTwo" optionLabel="label"
                (onChange)="onVersionChange($event, 'two')" placeholder="Select a version"
                class="ml-3 app-dropdown"></p-dropdown>
            </div>
            <div *ngFor="let item of specList;let i = index" [id]="item.id">
              <xnode-diff-comp (childLoaded)="onChildLoaded($event)" (expandComponent)="_expandComponent($event)"
                [users]="usersList" [contentObj]="item" [index]="i" [format]="format"
                [diffObj]="getDiffObj(specTwoList,item, specList.length!==0&& specTwoList.length!==0)"
                [onDiff]="specList.length!==0&& specTwoList.length!==0"
                [selectedVersionTwo]="selectedVersionTwo"></xnode-diff-comp>
            </div>
          </div>
        </div>
        <xnode-comments-cr-panel [specData]="specList" *ngIf="openConversationPanel"></xnode-comments-cr-panel>
      </div>
    </div>
  </div>
</div>