<!-- ========Dont remove this code========== -->
<div class="hidden">
    <div class="flex md:justify-content-start sm:justify-content-start justify-content-start flex-wrap card-gap">
        <div
            class="flex align-items-center justify-content-center product-card font-bold border-round m-2 new-card-add">
            <div class="flex flex-wrap justify-content-center align-items-center card-color card-title"
                (click)="onClickNew()">
                <div class="col-12 flex justify-content-center">
                    <i class="pi pi-plus text-4xl pointer"></i>
                </div>
                <div class="class-12 title flex justify-content-center">
                    New Product
                </div>
            </div>
        </div>
        <div class="align-items-center pointer justify-content-center product-card shadow-6 font-bold border-round m-2"
            *ngFor="let data of filteredProducts | slice:0:end ; let i = index" (click)="onClickProductCard.emit(data)">
            <div class="card-color relative">
                <i class="pi pi-heart-fill overlay-heart absolute top-0 right-0 text-2xl"></i>
                <div class="overlay absolute bottom-0 right-0 text-2xl">{{ i + 1 }}</div>
                <img alt="Card" src="./assets/d-card.svg" class="w-full" />
            </div>
            <div class=" flex justify-content-between align-items-center card-color card-title">
                <div class="title-container" [title]="data?.title">
                    {{ data?.title }}
                </div>
                <i class="pi pi-external-link " [title]="data.product_url"
                    (click)="openExternalLink.emit(data.product_url)"
                    *ngIf="data.product_url && data.product_url !== ''"></i>
            </div>
            <div class="card-color flex align-items-start body-card">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
                    shape="circle" *ngIf="!currentUser" [style]="{ width:'40px',height:'40px' }"></p-avatar>
                <div class="ml-1 card-subheading-txt">
                    <p class="m-0 card-subheading ">{{data.created_by}} on:
                        {{data?.created_on |
                        date:'medium'}}</p>
                    <div class="mt-4">
                        Modified on - {{data?.createdOn | date:localDateFormat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================== -->
<div class="flex flex-wrap">
    <div class="col-12 sm:col-6 md:col-6 lg:col-4 xl:col-3 new-product-card">
        <div class="flex align-items-center justify-content-center product-card font-bold border-round w-full h-full new-card-add pointer"
            (click)="onClickNew()">
            <div class="flex flex-wrap justify-content-center align-items-center card-color card-title">
                <div class="w-full mb-2 flex justify-content-center">
                    <i class="pi pi-plus text-4xl"></i>
                </div>
                <div class="title flex justify-content-center">
                    New Product
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="filteredProducts.length > 0; else noProducts">
        <div class="col-12 sm:col-6 md:col-6 lg:col-4 xl:col-3 pointer"
            *ngFor="let data of filteredProducts | slice:0:end ; let i = index" (click)="onClickProductCard.emit(data)">
            <div class="w-full h-full card-color">
                <img alt="Card" src="./assets/d-card.svg" class="w-full" />
                <div class="flex justify-content-between gap-2 align-items-center p-2 card-color card-title">
                    <div class="title-container" [ngStyle]="{'max-width':data.product_url && data.product_url !== ''?'12ch':'18ch'}" [title]="data?.title">
                        {{ data?.title }}
                    </div>
                    <span>
                      <p-avatar [label]="data?.createdBy| userInitials" [style]="{ 'background-color': '#99EDFF', color: '#000000', width:'23px', height:'23px' }"
                      pTooltip="{{data?.createdBy?.displayName|titlecase}}" tooltipPosition="top" shape="circle"></p-avatar>
                  </span>
                    <i class="pi pi-external-link " [title]="data.product_url"
                        (click)="openExternalLink.emit(data.product_url)"  *ngIf="data.product_url && data.product_url !== ''"></i>
                </div>
                <div class="flex align-items-start px-2 pb-2 body-card">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                        styleClass="mr-2" shape="circle" *ngIf="!currentUser"
                        [style]="{ width:'40px',height:'40px' }"></p-avatar>
                    <div class="card-subheading-txt w-100">
                        <!-- <div class="mb-2">
                            <div class="card-subheading">Author</div>
                            <div class="dis">{{data.createdBy.displayName|titlecase}}
                            <span><app-avatars-display [userIdsList]="[data.createdBy]" [data]="data">
                            </app-avatars-display></span></div>
                        </div> -->
                        <div class="">
                            <!-- <div class="">Viewed </div> -->
                            <div class="">{{data?.modifiedOn | timeAgo}}</div>
                        </div>
                        <div class="text-align-center pt-3">
                            <p-button class="view-button" label="View in Chat" (onClick)="$event.stopPropagation();onClickProductChat.emit(data)" [outlined]="true" [rounded]="true" severity="info"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noProducts>
        <div
            class="col-12 md:col-6 lg:col-9 flex justify-content-center align-items-center text-disabled text-lg font-semibold ">
            No products found.
        </div>
    </ng-template>

</div>
