<div class="flex justify-content-left">
  <span *ngIf="userList?.length===1 else avatars">
    <p-avatar label="{{userList[0] | userInitials}}"
      [style]="{ 'background-color': '#99EDFF', color: '#000000', width:'23px', height:'23px' }"
      pTooltip="{{userList[0].displayName|titlecase}}" tooltipPosition="top" shape="circle"></p-avatar>
  </span>
  <ng-template #avatars>
    <p-avatarGroup styleClass="gap-2">
      <p-avatar *ngFor="let user of userList" [label]="user|userInitials" pTooltip="{{user.displayName|titlecase}}"
        [style]="{ 'background-color': '#99EDFF', color: '#000000', width:'23px', height:'23px'}"
        shape="circle"></p-avatar>
    </p-avatarGroup>
    <!-- <app-avatar-display *ngFor="let user of userList" [user]="user"></app-avatar-display> -->
  </ng-template>
  <!-- <p-avatar *ngIf="showCount" label="+{{ userCount}}" [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
      shape="circle" class="cursor-pointer"></p-avatar> -->
</div>