registry=https://registry.npmjs.org/
@salientminds:registry=https://pkgs.dev.azure.com/salientminds/_packaging/NaviWeb_Feed/npm/registry/
# Assuming 'navi-web' is published under the scope '@NaviWeb_Feed'
@NaviWeb_Feed:registry=https://pkgs.dev.azure.com/salientminds/xnode/_packaging/NaviWeb_Feed/npm/registry/
# Enable authentication for the private registry
//pkgs.dev.azure.com/salientminds/xnode/_packaging/NaviWeb_Feed/npm/registry/:always-auth=true
# Credentials (replace with your actual values)
//pkgs.dev.azure.com/salientminds/xnode/_packaging/NaviWeb_Feed/npm/registry/:username=AzureDevOps
//pkgs.dev.azure.com/salientminds/xnode/_packaging/NaviWeb_Feed/npm/registry/:_password=${npmRegistryPat}
//pkgs.dev.azure.com/salientminds/xnode/_packaging/NaviWeb_Feed/npm/registry/:email=sai.yalla@salientminds.com