registry=https://registry.npmjs.org/
@salientminds:registry=https://pkgs.dev.azure.com/salientminds/_packaging/NaviWeb_Feed/npm/registry/
//pkgs.dev.azure.com/salientminds/_packaging/NaviWeb_Feed/npm/registry/:username=AzureDevOps
//pkgs.dev.azure.com/salientminds/_packaging/NaviWeb_Feed/npm/registry/:_password=${npmRegistryPat}
//pkgs.dev.azure.com/salientminds/_packaging/NaviWeb_Feed/npm/registry/:email=sai.yalla@salientminds.com
