.content {
    color: #949292;
    line-height: 26px;
}

.sub-content {
    font-size: 14px;
    color: #7E7E7E;
}

.sub-title {
    font-size: 14px;
    color: #DEDEDE;
    font-weight: 500;
}

pre {
    width: 100%;
    overflow: auto;
}