<div class="flex col-12 p-0" (mouseover)="showCommentIcon = true;" (mouseleave)="showCommentIcon = false;">
    <div class="col-11 p-0 ">
      <p class="flex flex-wrap content text-base font-normal">
        <span *ngFor="let word of content.split(' '); index as i" class="mr-1" (mouseup)="alter($event)"  [innerHTML]="word | highlight: searchTerm">
           <p-overlayPanel #selectionText>
              <xnode-add-comment-overlay-panel [width]="'auto'" [users]="users"  *ngIf="selectedText.length>0"  [position]="'absolute'" [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
          </p-overlayPanel>
          </span>
      </p>
    </div>
    <div class="col-1 p-0 flex  align-items-start justify-content-center">
        <p-overlayPanel #op (onHide)="commentOverlayPanelOpened=false;showCommentIcon=false">
            <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users"
                (closeOverlay)="op.toggle(false);commentOverlayPanelOpened=false;" [position]="'absolute'"
                [selectedContent]="selectedContent" placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
        </p-overlayPanel>
        <img src="../assets/comment.svg" class="pointer" alt="comment"
            (click)="op.toggle($event);commentOverlayPanelOpened=true" (mouseleave)="showCommentIcon = false"
            *ngIf="showCommentIcon || commentOverlayPanelOpened">
    </div>
</div>
