$height: 24px;

.grid {
  display: grid;
  grid-template-columns: $height 1fr;
  grid-template-rows: $height 1fr;
  grid-gap: 10px 10px;

  .indicator {
    background-color: #5CAE29;
    border-radius: 50%;
    line-height: $height;
    text-align: center;
    font-size: 12px;
  }

  .black-indicator {
    background-color:
      #3A3942;
    border-radius: 50%;
    line-height: $height;
    text-align: center;
    font-size: 12px;
  }

  .yellow-indicator {
    background-color: orangered;
    border-radius: 50%;
    line-height: $height;
    text-align: center;
    font-size: 12px;
  }

  .title {
    line-height: $height;
    font-weight: bold;
    // margin-top: 10px;
  }

  .content {
    margin-bottom: 15px;
  }

  .divider {
    position: relative;
  }

  .line {
    position: absolute;
    top: -9px;
    bottom: 5px;
    width: 1px;
    background-color:
      #535353;
    box-sizing: border-box;
    left: 50%;

  }

  .check {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    height: 10px;
    width: 5px;
    transform: rotate(45deg);
    display: inline-block;
    margin-top: 3px;
    margin-left: 1px;

  }

  .away {
    margin-left: 10px;
    margin-top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: gray;
  }



}