.new-agent-status {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--cerulean);
  border-radius: 50%;
}

.draft-status {
  height: 10px;
  width: 10px;
  background-color: var(--star-dust);
  border-radius: 50%;
}

// .toggle-buttons {
//   //   border: 1px solid var(--davy-grey);
//   //   border-radius: 6px;
// }
:host ::ng-deep .header-inactive-toggle-btn {
  background: none;
  border: 1px solid var(--davy-grey);
  border-radius: 6px 0 0 6px;
  height: 100%;
  padding: 0.5rem 3rem;
}
:host ::ng-deep .header-active-toggle-btn {
  background-color: var(--charcoalGrey);
  border: 1px solid var(--davy-grey);
  border-radius: 0 6px 6px 0;
  height: 100%;
  padding: 0.5rem 3rem;
}
