<div class="w-full h-full">
  <xnode-create-configure-agent-header [createConfigureHeaderData]="createConfigureDetailObj"
    [manualConfiguration]="manualConfiguration"
    (headerClickHandler)="createConfigureheaderEvent($event)"></xnode-create-configure-agent-header>
  <div class="w-full p-3 agentBodyPanel">
    <router-outlet></router-outlet>

    <!-- Side bar of preview -->
    <p-sidebar [(visible)]="enablePreview" position="right" styleClass="w-30rem">
      <h3>Preview</h3>
    </p-sidebar>

    <xnode-configure-agent *ngIf="manualConfiguration" />
  </div>
</div>


<!-- <div>
  <p-tabView (onChange)="createAgentModel.switchHeaders($event)" [(activeIndex)]="createAgentModel.activeIndex">
    <ng-container *ngFor="let tabItem of createAgentModel.tabItems">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>{{tabItem.header.title}}</span>
        </ng-template>
        <ng-template pTemplate="content" [ngSwitch]="tabItem.tabContent.id">
          <ng-container *ngSwitchCase="'overview'">
            <ng-container [ngTemplateOutlet]="overview"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'instructions'">
            <ng-container [ngTemplateOutlet]="instruction"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'capabilities'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'topic'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'prompts'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'knowledge'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'model'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'tool'">
            <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
          </ng-container>
        </ng-template>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div> -->

<!-- dynamic Table -->
<!-- <ng-template #dynamicTable>
  <div class="table-height">
    <xnode-dynamic-table [inputData]="createAgentModel.tableData" [cols]="createAgentModel.columns"
      [tableInfo]="createAgentModel.tableInfo" [showColumnFilterOption]="createAgentModel.showColumnFilterOption"
      [tableRowActionOptions]="createAgentModel.tableRowActionOptions" [paginatorInfo]="createAgentModel.paginatorInfo"
      [searchFilterOptions]="createAgentModel.searchFilterOptions" columnWidth="13.8rem" altBgColorRow="#2E2D36"
      (paginatorChangeEvent)="createAgentModel.paginatorViewHandler($event)"></xnode-dynamic-table>
  </div>
</ng-template> -->

<!-- overview html -->
<!-- <ng-template #overview>
  <div class="table-height">
    <xnode-agent-overview formType="overview"></xnode-agent-overview>
  </div>
</ng-template> -->

<!-- instruction html -->
<!-- <ng-template #instruction>
  <div class="table-height">
    <xnode-agent-overview formType="instruction"></xnode-agent-overview>
  </div>
</ng-template> -->