

.agent-status {
    background-color: var(--bright-grey);
    border-radius: 24px;
  }

  .agent-desc li:first-child {
    list-style-type: none;
  }

  .agent-desc {
    color: var(--star-dust);
  }