<div class="flex flex-column gap-2">
    <div class="flex gap-2 align-items-center">
        <div class="text-4xl font-semibold">{{agentInfo?.name}}</div>
        <div class="pl-2 py-2 agent-status">
            <ul class="flex px-4 m-0 gap-1 text-sm">
                <li class="m-0">{{agentInfo?.status}} {{agentInfo?.version}}</li>
            </ul>
        </div>
    </div>
    <ul class="agent-desc flex gap-4 font-medium text-sm p-0 m-0">
        <li>N/A</li>
        <li>Created on {{agentInfo?.created_on | date:'MMM d, y'}}</li>
        <li>Last Updated on {{agentInfo?.modified_on | date:'MMM d, y'}}</li>
        <li>N/A</li>
    </ul>
</div>