<div class="grid ml-6">
    <div class="col-12 mt-5">
        <p class="text-6xl m-0 text-white">Hi, Good Morning!</p>
    </div>
    <div class="col-12 mt-5">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
        </span>
    </div>
    <div class="col-12 mt-4">
        <p-button styleClass="p-button-rounded mr-4">
            <img alt="bot-btn-icon" src="./assets/bot-btn-icon.svg" />
            <span class="ml-2 mr-2 ">New with xbot AI</span>
            <i class="pi pi-angle-right"></i>
        </p-button>
        <p-button styleClass="p-button-secondary p-button-rounded mr-4">
            <i class="pi pi-plus"></i>
            <span class="ml-2 mr-2 ">New Project</span>
        </p-button>
        <p-button styleClass="p-button-secondary p-button-rounded mr-4">
            <img alt="bot-btn-icon" src="./assets/import.svg" />
            <span class="ml-2 ">Import</span>
        </p-button>
    </div>
    <div class="col-12 flex text-base font-semibold letter-space-1 mt-4">
        <div class="flex">
            <img alt="all product" src="./assets/all-products.svg" />
            <p class="ml-2 text-white">All Products</p>
        </div>
        <div class="flex ml-4">
            <img alt="all product" src="./assets/recent.svg" />
            <p class="ml-2 active">Recently Viewed</p>
        </div>
        <div class="flex ml-4">
            <img alt="all product" src="./assets/user.svg" />
            <p class="ml-2 text-white">Created by you</p>
        </div>
        <div class="flex ml-4">
            <img alt="all product" src="./assets/favorite.svg" />
            <p class="ml-2 text-white">Favorites</p>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="flex gap-6">
            <p-card header="FinBuddy" [style]="{ width: '314px', height: '348px'}" class="pointer"
                (click)="onClickCreateNewTemplate()">
                <ng-template pTemplate="header">
                    <img alt="template card" src="./assets/d-card.svg" height="199" />
                </ng-template>
                <div class="flex">
                    <img alt="dp" src="./assets/dp.svg" width="30" />
                    <div class="text-white ml-4">
                        <p class="m-0 font-bold">Created by you</p>
                        <p class="m-0">Last viewed 3 minuts ago</p>
                    </div>
                </div>
            </p-card>
            <p-card [style]="{ width: '314px', height: '348px'}"
                class="flex  align-items-center justify-content-center flex-wrap new-card">
                <div class="flex align-items-center justify-content-center text-white h-full">
                    <i class="pi pi-plus text-4xl pointer" (click)="onClickCreateNewTemplate()"></i>
                </div>
            </p-card>
        </div>

    </div>

</div>