<div class="help-center-div p-4 h-full overflow-y-auto">
    <div class="flex flex-row justify-content-between send-email-div text-white">
        <div class="flex p-4 text-md cursor-pointer" (click)="location.back()">
            <i class="pi pi-arrow-left mx-4 mt-1"></i>
            <a>Back to product</a>
        </div>
        <div class="flex flex-column justify-content-center text-center">
            <p class="text-3xl font-medium">Hello. How can we help you?</p>
            <p>if you couldn’t find the topic, mail us at <a class='no-underline'
                    [href]="'mailto:support@xnode.ai?subject=Assistance Needed - '+selectedjson?.title" target="_blank"
                    id="mail">support@xnode.ai</a></p>
            <p-button label="Send Email" (click)="sendEmail()"
                styleClass="p-button-lg p-button-rounded font-medium text-lg w-18rem"></p-button>
        </div>
        <div class="">
            <img src="../../../assets/Group-1000004292.svg" alt="help-center" height="287px" width="287px" />
        </div>
    </div>
    <div class="my-6">
        <div class="flex flex-row justify-content-between help-search">
            <div class="flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" class="search-help border-transparent border-round-3xl surface-300 p-4"
                        pInputText placeholder="      Search help" />
                </span><i class="pi pi-times"></i>
            </div>
            <p-button (click)="showDialog()" label="Demo video"
                styleClass="p-button-lg p-button-rounded p-button-brand font-medium text-lg demo-video"></p-button>
        </div>
    </div>
    <div class="grid">
        <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
            <p-accordion class="text-white border-transparent">
                <p-accordionTab class="border-transparent" header="{{item.accordianTitle}}" *ngFor="let item of json">
                    <a class="side-menu-item block text-white cursor-pointer no-underline my-1 py-2 px-4 border-round-3xl"
                        id="{{subitem?.title}}" [ngClass]="{'active-sub-item': i === selectedMenuIndex  }"
                        (click)="showJson(subitem.title,item.accordianTitle,i)"
                        *ngFor="let subitem of item.objects;let i = index">{{subitem.title}}</a>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div
            class="help-content sm:col-12 md:col-8 lg:col-8 xl:col-8 border-left-1 border-gray-800 text-white px-5 overflow-y-auto">
            <div class="my-2 border-bottom-1 border-gray-800">
                <p class="text-3xl font-semibold">{{selectedjson.title}}</p>
                <div class="text-lg font-normal opacity-60">{{selectedjson.description}}</div>
            </div>
            <div class="my-2" *ngFor="let data of selectedjson.subobjects">
                <p class="text-3xl font-semibold">{{data.title}}</p>
                <p class="text-lg font-normal opacity-60" [innerHTML]="data.description"></p>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Demo Video" [(visible)]="visible" [style]="{width: '80vw'}">
    <video [style]="{width: '75vw'}" controls>
        <source src="https://xnodestrg.blob.core.windows.net/legal/xnode-beta-short-farm-connect-20230827.mp4"
            type="video/mp4">
    </video>
</p-dialog>