.help-center-div {
    background-color: #23222B;
}

.send-email-div {
    background-color: #000759 !important;
}

.search-help {
    height: 50px !important;
    width: 45vw !important;
    padding-left: 40px !important;
}

:host::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: transparent !important;
}

:host::ng-deep.p-accordion .p-accordion-content {
    background-color: transparent !important;
    color: white !important;
    border-color: transparent !important;
}

:host::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link {
    color: white !important;
    border-color: transparent !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

:host::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link:hover {
    border-color: transparent !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

:host::ng-deep.p-accordion .p-accordion-tab-active .active-sub-item {
    background-color: #1c3e52 !important;
}

:host::ng-deep.p-accordion .p-accordion-tab-active .side-menu-item:hover {
    background-color: #1c3e52 !important;
    opacity: 0.5 !important;
}

.help-content {
    height: 80vh !important;
}

.help-content::-webkit-scrollbar {
    width: 8px;
}

.help-content::-webkit-scrollbar-track {
    background-color: #3A3942;
    border-radius: 100px;
}

.help-content::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 100px;
}

:host::ng-deep .help-search .p-input-icon-left>i {
    top: 45% !important
}

:host::ng-deep.help-search .reset-search {
    position: relative !important;
    top: 18px !important;
    left: -30px !important;
}

:host::ng-deep.p-button.p-button-brand {
    padding: 12px 50px;
}

:host ::ng-deep.p-dialog {
    border: 1px solid #595959 !important;
}