<div class="help-center-div p-4 h-full overflow-y-auto">
    <div class="flex flex-row justify-content-between send-email-div text-white">
        <div class="flex p-4 text-md cursor-pointer" (click)="location.back()">
            <i class="pi pi-arrow-left mx-4 mt-1"></i>
            <a>Back to product</a>
        </div>
        <div class="flex flex-column justify-content-center text-center">
            <p class="text-3xl font-medium">Hello. How can we help you?</p>
            <p>if you couldn’t find the topic, mail us at <a class='no-underline'
                    [href]="'mailto:support@xnode.ai?subject=Assistance Needed - '+selectedjson?.title" target="_blank"
                    id="mail">support@xnode.ai</a></p>
            <p-button label="Send Email" (click)="sendEmail()"
                styleClass="p-button-lg p-button-rounded font-medium text-lg w-18rem"></p-button>
        </div>
        <div class="">
            <img src="../../../assets/Group-1000004292.svg" alt="help-center" height="287px" width="287px" />
        </div>
    </div>
    <div class="my-6">
        <div class="flex flex-row justify-content-between help-search">
            <div class="flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" class="search-help border-transparent border-round-3xl surface-300 p-4"
                        pInputText [(ngModel)]="searchText" placeholder="      Search help" (input)="onInput()" />
                </span><i class="pi pi-times reset-search cursor-pointer" *ngIf="searchText"
                    (click)="clearSearchText()"></i>
            </div>
            <p-button (click)="showDialog()" label="Demo video"
                styleClass="p-button-lg p-button-rounded p-button-brand font-medium text-lg demo-video"></p-button>
        </div>
    </div>
    <div class="grid" *ngIf="foundObjects.length==0 else elseTemplate">
        <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
            <p-accordion class="text-white border-transparent">
                <p-accordionTab class="accordion-help-menu border-transparent relative z-5"
                    header="{{item.accordianTitle}}" *ngFor="let item of json" activeIndex="0"
                    (click)="selectJson($event,item?.objects?.[0]?.title,item.accordianTitle)">
                    <a class="side-menu-item block text-white cursor-pointer no-underline my-1 py-2 px-4 border-round-3xl"
                        id="{{subitem?.title}}" [ngClass]="{'active-sub-item': i === selectedMenuIndex }"
                        (click)="showJson(subitem.title,item.accordianTitle,i)"
                        *ngFor="let subitem of item.objects;let i = index">{{subitem.title}}</a>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div
            class="help-content sm:col-12 md:col-8 lg:col-8 xl:col-8 border-left-1 border-gray-800 text-white px-5 overflow-y-auto">
            <div class="my-2 border-bottom-1 border-gray-800">
                <p class="text-3xl font-semibold">{{selectedjson?.title}}</p>
                <div class="text-lg font-normal opacity-60">{{selectedjson?.description}}</div>
            </div>
            <div class="my-2" *ngFor="let data of selectedjson?.subobjects; let i = index">
                <p class="text-3xl font-semibold" *ngIf="selectedjson?.title!='Subscription Plans'">{{data?.title}}</p>
                <div class="text-lg font-normal opacity-60"
                    *ngIf="selectedjson?.title!='Subscription Plans' else datatable"
                    [innerHTML]="getMeHtml(data.description)"></div>
                <ng-template #datatable>
                    <div *ngIf="i==0">
                        <p-table #dt [value]="tableData" class="border-round-lg">
                            <ng-template pTemplate='header'>
                                <tr [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Feature</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Product Feature |
                                        Customer Tier</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Free</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Basic</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Professional</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Business</th>
                                    <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Enterprise</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate='body' let-data let-rowIndex="rowIndex">
                                <tr [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>
                                    <td> {{rowIndex + 1}} </td>
                                    <td>{{data.ProductFeature}}</td>
                                    <td>{{data.Free}}</td>
                                    <td>{{data.Basic}}</td>
                                    <td>{{data.Professional}}</td>
                                    <td>{{data.Business}}</td>
                                    <td>{{data.Enterprise}}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template #elseTemplate>
        <div class="grid">
            <div class="sm:col-12 md:col-4 lg:col-4 xl:col-4">
                <p-accordion class="text-white border-transparent">
                    <p-accordionTab class="accordion-help-menu border-transparent relative z-5"
                        header="{{item.accordianTitle}}" *ngFor="let item of filteredAccordion" activeIndex="0"
                        (click)="selectJson($event,item?.objects?.[0]?.title,item?.accordianTitle)">
                        <a class="side-menu-item block text-white cursor-pointer no-underline my-1 py-2 px-4 border-round-3xl"
                            id="{{subitem?.title}}" [ngClass]="{'active-sub-item': i === selectedMenuIndex }"
                            (click)="showJson(subitem.title,item.accordianTitle,i)"
                            *ngFor="let subitem of item.objects;let i = index">{{subitem.title}}</a>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div
                class="help-content sm:col-12 md:col-8 lg:col-8 xl:col-8 border-left-1 border-gray-800 text-white px-5 overflow-y-auto">

                <div class="my-2 border-bottom-1 border-gray-800">
                    <p class="text-3xl font-semibold" *ngIf="selectedjson?.title!='Subscription Plans'">
                        {{selectedjson?.title}}</p>
                    <div class="text-lg font-normal opacity-60">{{selectedjson?.description}}</div>
                </div>
                <div class="my-2" *ngFor="let data of selectedjson?.subobjects; let i = index">
                    <p class="text-3xl font-semibold" *ngIf="selectedjson?.title!='Subscription Plans'">{{data?.title}}
                    </p>
                    <div class="text-lg font-normal opacity-60"
                        *ngIf="selectedjson?.title!='Subscription Plans' else datatable"
                        [innerHTML]="getMeHtml(data.description)"></div>
                    <ng-template #datatable>
                        <div *ngIf="i==0">
                            <p-table #dt [value]="tableData" class="border-round-lg">
                                <ng-template pTemplate='header'>
                                    <tr [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Feature</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Product Feature |
                                            Customer Tier</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Free</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Basic</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Professional</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Business</th>
                                        <th [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>Enterprise</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate='body' let-data let-rowIndex="rowIndex">
                                    <tr [ngStyle]='{backgroundColor:"#23222b", color:"white"}'>
                                        <td> {{rowIndex + 1}} </td>
                                        <td>{{data.ProductFeature}}</td>
                                        <td>{{data.Free}}</td>
                                        <td>{{data.Basic}}</td>
                                        <td>{{data.Professional}}</td>
                                        <td>{{data.Business}}</td>
                                        <td>{{data.Enterprise}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
    </ng-template>
</div>

<p-dialog header="Demo Video" [modal]="true" [(visible)]="visible" [style]="{width: '80vw' }" class='video-modal'>
    <video [style]="{width: '100%'}" controls>
        <source src="https://xnodestrg.blob.core.windows.net/legal/xnode-beta-short-farm-connect-20230827.mp4"
            type="video/mp4">
    </video>
</p-dialog>