.main-div {
    height: calc(100vh - 42px);
}

.inner-div {
    height: calc(100vh - 82px);
}

.content-div {
    height: calc(100vh - 170px);
}

.table-header {
    height: 10%;
}

.table-body {
    height: 90%;
}

.header-div {
    height: 40%;
    background-color: green;
}

.active-color {
    color: #437FEC
}

.font-family {
    font-family: 'Inter'
}

::ng-deep .p-button-rounded.mr-2 {
    background-color: #23222B !important;
    border-color: white;
}

::ng-deep .p-button-rounded.mr-2:hover {
    background-color: #23222B !important;
    border-color: white;
}

::ng-deep .p-breadcrumb {
    background-color: transparent !important;
    color: white;
    font-family: 'Inter';
    font-weight: 500px;
}

::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    background-color: #23222B !important;
    color: white;
    font-family: 'Inter';
    font-weight: 500px;
    border-width: 0px;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #3A3942;
    color: #fff
}

::ng-deep .p-breadcrumb {
    border-width: 0px;
    padding-left: 0px;
}

::ng-deep .card {
    border: 0px;

}

.table-div {
    height: 530px;
}

:host ::ng-deep.p-breadcrumb {
    background-color: transparent !important;
}
