.main-div {
    height: calc(100vh - 42px)
}

.table-header {
    height: 60px
}

.table-body {
    height: calc(100vh - 200px);

}

.header-div {
    height: 40%;
    background-color: green;
}

.active-color {
    color: #437FEC
}

.font-family {
    font-family: 'Inter'
}

::ng-deep .p-button-rounded.mr-2 {
    background-color: #23222B !important;
    border-color: white;
}

::ng-deep .p-button-rounded.mr-2:hover {
    background-color: #23222B !important;
    border-color: white;
}

::ng-deep .p-breadcrumb {
    background-color: #212121 !important;
    color: white;
    font-family: 'Inter';
    font-weight: 500px;
    border-width: 0px !important;
}

::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    background-color: #212121 !important;
    color: white;
    font-family: 'Inter';
    font-weight: 500px;
    border-width: 0px !important;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #3A3942;
    color: #fff
}

::ng-deep .p-breadcrumb {
    border-width: 0px;
}

::ng-deep .card {
    border: 0px;

}

.table-div {
    height: 530px;
}


.template-builder-wrapper {
    width: 100%;
    display: flex;
    height: calc(100vh - 42px);
}

.template-builder-body-wrapper {
    // width: calc(100% - 300px);
    height: calc(100vh - 42px);
    overflow-y: hidden;
    background-color: lightblue;
}

.another-template-builder-body-wrapper {
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
}