.chat-bot-container {
    background-color: #000759;
    height: 100vh;
}

.bot-height {
    height: calc(100vh - 200px);
}

.xnode-product-alert-popup {
    display: none !important;
}

/* Show the popup when the showProductStatusPopup flag is true */
.xnode-product-alert-popup.show {
    display: block !important;
}