<p-dialog [(visible)]="visible">
    <p class="header font-bold">
        {{Data?.type + ' User'}}
    </p>
    <div class="flex font-medium">
        <span>
            Are you sure you want to {{invitationType}}
        </span>
    </div>
    <div class="flex justify-content-end  pt-3">
        <p-button label="Cancel" styleClass="p-button-sm p-button-rounded p-button-secondary" class="mr-3"
            (click)="onReject()"></p-button>
        <p-button [label]="Data?.type" styleClass="p-button-sm p-button-rounded" (click)="onSuccess()"></p-button>
    </div>
</p-dialog>