:host ::ng-deep.card {
    background-color: transparent !important;
}

// :host ::ng-deep.p-button-sm .p-button-rounded .p-button-secondary:hover {
//     background: #2563eb;
//     color: #ffffff;
//     border-color: #2563eb;
// }

// :host ::ng-deep.p-button.p-button-secondary {
//     background-color: #fff;
// }


.user-txt {
    font-size: 24px;
    font-family: Inter;
}

.header {
    font-size: 24px;
    font-family: Inter;
}

:host ::ng-deep.p-dialog {
    // border-width: 1px solid #fff;
    border: 1px solid #595959 !important;

}

:host ::ng-deep.p-dialog-header {
    border-top-width: 1px;
}

:host ::ng-deep.p-dialog .p-dialog-header {
    background-color: #2E2D36;
    color: #fff;
    border-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

:host ::ng-deep.p-dialog .p-dialog-content {
    background-color: #2E2D36;
    color: #fff;

}

:host ::ng-deep.p-dialog {
    width: '40vw'
}

// :host ::ng-deep .btn-primary.p-button {
//     // background: var(--primary-color);
//     font-size: 12px;
//     padding-top: 6px;
//     padding-bottom: 6px;
//     // border: 1px solid var(--primary-color);
// }

:host ::ng-deep.p-button-sm {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    width: 85px !important;
}

:host ::ng-deep.btn-primary.p-button:enabled:hover {
    background: #2563eb !important;
    color: #DEDEDE;
    border-color: #2563eb !important;
}

:host ::ng-deep.p-button.p-button-secondary:hover {
    background: #ffffff !important;
    border-color: #ffffff;
}

:host ::ng-deep.p-button:enabled:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-width: none !important;

}