<div class="grid m-0 h-full">
    <div class="bg-image bg-no-repeat w-12 h-12">
        <div class="h-full w-full">
            <div class="div-logo">
                <img src=" ./assets/xnode-logo.svg" alt="x-logo" class="logo">
            </div>
            <div class="w-full h-full">
                <p-card>
                    <div class="heading-color text-5xl font-bold -ml-2">Setup Password</div>
                    <div class="formgrid grid form-container pt-3">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onClick()">
                            <div class="formgrid grid">
                                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-2">
                                    <div>
                                        <label htmlFor="password" class="text-white font-medium text-lg pl-2 my-1">New
                                            Password</label>
                                    </div>
                                    <p-password [toggleMask]="true" id="password" placeholder="Enter password"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && reset['password'].errors }"
                                        class="text-base text-color p-2 border-round-2xl appearance-none outline-none focus:border-primary w-full"></p-password>
                                    <div *ngIf="submitted && reset['password'].errors" class="invalid-feedback">
                                        <div *ngIf="reset['password'].errors?.['required']">Password
                                            is required</div>
                                        <div *ngIf="reset['password'].errors['password']">Password
                                            must be at least 6 characters</div>
                                    </div>
                                </div>
                                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12  mt-2">
                                    <div class="">
                                        <label htmlFor="confirmpassword"
                                            class="text-white font-medium text-lg pl-2  my-1">Confirm
                                            Password</label>
                                    </div>
                                    <p-password [toggleMask]="true" id="confirmpassword"
                                        formControlName="confirmpassword"
                                        class="text-base text-color p-2 border-round-2xl appearance-none outline-none focus:border-primary w-full"
                                        [ngClass]="{ 'is-invalid': submitted && reset['confirmpassword'].errors }"
                                        placeholder="Enter confirm password"></p-password>
                                    <div *ngIf="submitted && reset['confirmpassword'].errors" class="invalid-feedback">
                                        <div *ngIf="reset['confirmpassword'].errors['required']">Confirm
                                            password is required</div>
                                        <div *ngIf="reset['confirmpassword'].errors['minlength']">
                                            Confirm
                                            password must be at least 6 characters
                                        </div>
                                        <div *ngIf="confirmPasswordValidator">
                                            Passsword and Confirm Password didn't match.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 text-center pointer">
                                    <p-button label="Submit "
                                        styleClass="p-button-rounded font-medium text-lg p-button-lg" iconPos="right"
                                        (click)="onClick()"></p-button>
                                    <fieldset class="submit-fieldset">
                                        <button type="submit" style="display: none;"></button>
                                    </fieldset>
                                </div>
                                <div
                                    class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 flex align-items-center justify-content-center terms-conditions ">
                                    <a href="https://dev.xnode.ai/terms-of-service/" class="no-underline mr-1"
                                        target="_blank">Terms of service </a><span style="color:#fff">and</span><a
                                        href="https://dev.xnode.ai/privacy-policy/" target="_blank"
                                        class="no-underline ml-1">privacy policy</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>