.bg-dark {
    background-color: #343541 !important;
    opacity: 0.6;
}

:host ::ng-deep .bg-forgotpswd-card .p-card {
    background-color: #23222B;
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 780px) {
    .form-container {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.bg-image {
    background-image: url('/assets/OnboardingBG.svg');
}

.heading-color {
    color: #DEDEDE;
}

.divider {
    width: 500px;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

:host ::ng-deep .p-password {
    width: 100%;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}