<p-dialog [(visible)]="visible" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold" *ngIf="mode == 'create'">Create Property</span>
    <span class="text-xl font-bold" *ngIf="mode == 'edit'">Edit Property</span>
  </ng-template>
  <form>
    <div class="flex flex-column gap-2 mb-3">
      <label htmlFor="username">Name</label>
      <ng-container
        *ngIf="use_laravel_auth && mode==='edit' && parent_model.name=='user' && ( schema.name=='name' || schema.name=='email' || schema.name=='password'); then laravelAuth_name; else notLaravelAuth_name">
      </ng-container>
      <ng-template #laravelAuth_name>
        <input pInputText type="text" class="form-control form-control" id="name-field" name="name"
          [(ngModel)]="schema.name" readonly />
        <small id="username-help">Enter your username to reset your password.</small>
      </ng-template>

      <ng-template #notLaravelAuth_name>
        <input pInputText type="text" class="form-control form-control" id="name-field" name="name"
          [(ngModel)]="schema.name" autofocus />
        <small id="nameHelp" class="form-text text-muted">Input schema name with singular camelCase.</small>
      </ng-template>
    </div>

    <div class="flex flex-column gap-2 mb-3">
      <label htmlFor="username">Display name</label>
      <input pInputText type="text" class="form-control form-control" id="display_name-field" name="display_name"
        [(ngModel)]="schema.display_name" />
    </div>

    <div class="flex flex-column gap-2 mb-3">
      <label htmlFor="username">Comment</label>
      <input pInputText type="text" class="form-control form-control" id="comment-field" name="comment"
        [(ngModel)]="schema.comment" />
    </div>

    <div class="flex flex-column gap-2 mb-3">
      <label htmlFor="username">Type</label>
      <ng-container
        *ngIf="use_laravel_auth && mode==='edit' && parent_model.name=='user' && ( schema.name=='name' || schema.name=='email' || schema.name=='password'); then laravelAuth_type; else notLaravelAuth_type">
      </ng-container>
      <ng-template #laravelAuth_type>
        <input pInputText class="form-control form-control" id="type-field" name="type" [(ngModel)]="schema.type"
          readonly />
        <small id="typeHelp" class="form-text text-muted">unable to change. This is for Laravel auth.</small>
      </ng-template>
      <ng-template #notLaravelAuth_type>
        <select id="type-field" name="type" class="form-control form-control" [(ngModel)]="schema.type">
          <option value="string" selected>string</option>
          <option value="text">text</option>
          <option value="longtext">longtext</option>
          <option value="integer">integer</option>
          <option value="float">float</option>
          <option value="date">date</option>
          <option value="time">time</option>
          <option value="datetime">datetime</option>
          <option value="timestamp">timestamp</option>
          <option value="boolean">boolean</option>
        </select>
      </ng-template>
    </div>
    <div class="flex flex-column gap-2 mb-3">
      <label htmlFor="username">Input Type</label>
      <ng-container
        *ngIf="use_laravel_auth && mode==='edit' && parent_model.name=='user' && ( schema.name=='name' || schema.name=='email' || schema.name=='password'); then laravelAuth_input_type; else notLaravelAuth_input_type">
      </ng-container>
      <ng-template #laravelAuth_input_type>
        <input pInputText type="text" class="form-control form-control" id="input_type-field" name="input_type"
          [(ngModel)]="schema.input_type" readonly>
        <small id="input_typeHelp" class="form-text text-muted">unable to change. This is for Laravel auth.</small>
      </ng-template>
      <ng-template #notLaravelAuth_input_type>
        <select id="input_type-field" name="input_type" class="form-control form-control"
          [(ngModel)]="schema.input_type">
          <option value="text">text</option>
          <option value="textarea">textarea</option>
          <option value="password">password</option>
          <option value="email">email</option>
          <option value="html">html</option>
          <option value="number">number</option>
          <option value="date">date</option>
          <option value="time">time</option>
          <option value="datetime">datetime</option>
          <option value="toggle">toggle</option>
          <option value="checkbox">checkbox</option>
          <option value="checkboxes">checkboxes</option>
          <option value="dropdown">dropdown</option>
          <option value="select">select (for relations only)</option>
          <option value="radiobutton">radiobutton</option>
          <option value="file">file</option>
          <option value="image">image</option>
        </select>
      </ng-template>
    </div>

    <div class="flex flex-column gap-2" *ngIf="schema.input_type=='select' || schema.input_type=='radiobutton'">
      <label htmlFor="username">Custom options</label>
      <input pInputText type="text" class="form-control form-control" id="custom_options-field" name="custom_options"
        [(ngModel)]="schema.custom_options">
    </div>

    <div class="flex flex-column gap-2 mb-3">
      <label>Custom options</label>
      <input pInputText type="text" class="form-control form-control" id="varidate-field" name="varidate"
        [(ngModel)]="schema.varidate">
    </div>
    <div class="flex flex-column gap-2 mb-3">
      <label>Faker Type</label>
      <input pInputText type="text" class="form-control form-control mb-1" id="faker_type-field" name="faker_type"
        [(ngModel)]="schema.faker_type">
      <ng-select [items]="fakerTypes" id="faker_type-select" name="faker_type_select" [(ngModel)]="schema.faker_type">
      </ng-select>
    </div>
    <div class="flex flex-column gap-2 mb-3">
      <ng-container
        *ngIf="use_laravel_auth && mode==='edit' && parent_model.name=='user' && ( schema.name=='name' || schema.name=='email' || schema.name=='password'); then laravelAuth_nullable; else notLaravelAuth_nullable">
      </ng-container>
      <ng-template #laravelAuth_nullable>
        <div class="form-check form-check-inline">
          <input pInputText class="form-check-input" type="checkbox" name="nullable" value="true"
            [(ngModel)]="schema.nullable" disabled="disabled">
          <label class="form-check-label">nullable</label>
          <input pInputText type="hidden" name="nullable" value="true" [(ngModel)]="schema.nullable" />
        </div>
        <small id="input_typeHelp" class="form-text text-muted">unable to change. This is for Laravel auth.</small>
      </ng-template>
      <ng-template #notLaravelAuth_nullable>
        <ng-container
          *ngIf="use_laravel_auth && parent_model.name=='user'; then laravelAuth_nullable_a; else notLaravelAuth_nullable_a">
        </ng-container>
      </ng-template>
      <ng-template #laravelAuth_nullable_a>
        <div class="flex align-items-center">
          <input pInputText class="form-check-input" type="checkbox" name="nullable" value="true" checked="checked">
          <label class="ml-2">nullable</label>
          <input pInputText type="hidden" name="nullable" value="true" />
        </div>
        <small id="input_typeHelp" class="form-text text-muted">unable to change nullable for Laravel auth user model
          schema.</small>
      </ng-template>
      <ng-template #notLaravelAuth_nullable_a>
        <div class="flex align-items-center">
          <input pInputText class="form-check-input" type="checkbox" id="nullable-field" name="nullable" value="true"
            [(ngModel)]="schema.nullable">
          <label class="ml-2">nullable</label>
        </div>
      </ng-template>
    </div>
    <div class="flex flex-column gap-2 mb-3">
      <ng-container
        *ngIf="use_laravel_auth && parent_model.name=='user' && ( schema.name=='name' || schema.name=='email' || schema.name=='password'); then laravelAuth_unique; else notLaravelAuth_unique">
      </ng-container>
      <ng-template #laravelAuth_unique>
        <div class="flex align-items-center">
          <input pInputText type="checkbox" class="form-check-input" id="unique-field" name="unique" value="true"
            [(ngModel)]="schema.unique" disabled="disabled">
          <label class="ml-2">unique</label>
          <input pInputText type="hidden" name="unique" value="true" [(ngModel)]="schema.unique" />
        </div>
        <small id="input_typeHelp" class="form-text text-muted">unable to change. This is for Laravel auth.</small>
      </ng-template>
      <ng-template #notLaravelAuth_unique>
        <ng-container *ngIf="parent_model?.is_pivot==true; then pivot_unique; else notPivot_unique"></ng-container>
      </ng-template>
      <ng-template #pivot_unique>
        <div class="flex align-items-center">
          <input pInputText type="checkbox" class="form-check-input" id="unique-field" name="unique" value="false"
            disabled="disabled">
          <label class="ml-2">unique</label>
          <input pInputText type="hidden" name="unique" value="false" />
        </div>
        <small id="input_typeHelp" class="form-text text-muted">unable to use unique for pivot model schemas</small>
      </ng-template>
      <ng-template #notPivot_unique>
        <div class="flex align-items-center">
          <input pInputText type="checkbox" class="form-check-input" id="unique-field" name="unique" value="true"
            [(ngModel)]="schema.unique">
          <label class="ml-2">unique</label>
        </div>
      </ng-template>

    </div>
    <div class="flex flex-column gap-2 mb-3">
      <div class="flex align-items-center">
        <input pInputText type="checkbox" class="form-check-input" id="show_in_list-field" name="show_in_list"
          value="true" [(ngModel)]="schema.show_in_list">
        <label class="ml-2">show in list</label>
      </div>
      <div class="flex align-items-center">
        <input pInputText type="checkbox" class="form-check-input" id="show_in_detail-field" name="show_in_detail"
          value="true" [(ngModel)]="schema.show_in_detail">
        <label class="ml-2">show in detail</label>
      </div>
    </div>
    <input type="hidden" name="parent_id" [(ngModel)]="schema.parent_id">
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="modalService.hide()" label="Close" styleClass="p-button-secondary"  [rounded]="true"></p-button>
    <p-button (click)="create()" label="Save" styleClass="create p-button-info"  [rounded]="true"></p-button>
  </ng-template>
</p-dialog>
