<div class="p-3">
    <p class="m-0 font-normal text-2xl  pointer" >
        Perfect! Based on your requirements, we can build an app that has features like expense tracking,
         income tracking, budget creation, goal setting, investment tracking, and personalized financial advice.
    </p>
    <p class="mt-2 font-normal text-2xl  pointer" >
        Please select our templates below
    </p>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 flex flex-row flex-wrap">
         <div class="field col-4 sm:col-12 md:col-12 lg:col-4 xl:col-4">
          <p-card [style]=" { width: '171px' ,height: '212px' }" class="shadow-8">
            Template 1
        </p-card>
    </div>
    <div class="field col-4 sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <p-card [style]=" { width: '171px' ,height: '212px' }" class="shadow-8">
            Template 2
        </p-card>
    </div>
    <div class="field col-4 sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <p-card [style]=" { width: '171px' ,height: '212px' }" class="shadow-8">
            Template 3
        </p-card>
    </div>
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12text-center mt-8">
        <p-button label="Continue" styleClass="p-button-rounded  font-medium text-lg" icon="pi pi-angle-right"
            iconPos="right" routerLink="/brand-guideline"></p-button>
    </div>
</div>