.signup-image{
    background-color: #000759;
}

.signup-div{
    background-color: #FFF;
}

.step-para-opacity{
   color:#4B4B4B;
   opacity: 0.6;
}

.page-header{
    color: #000759;
}

.step-para{
    color:#4B4B4B;
 }

 .border-div{
    border: 1px solid #BFBFBF;
 }

 .btn-next{
    border-radius: 44px;
    background: #EF018F;
    color:#FFF;
    padding: 18px 190px;
    border-color: transparent;
 }
 
 .business-type{
    font-family: Inter;
 }