<div class="grid bg-white m-0">

    <div class="bg-contain bg-no-repeat w-full h-screen w-full h-full"
        style="background-image: url('./assets/OnboardingBG.svg');">
        <div class="">
            <div class="flex justify-content-end m-8">
                <img src=" ./assets/X Logo.svg" alt="x-logo" class="">
            </div>
            <div class="flex justify-content-center -mt-8 ">
                <p-card [style]=" { width: '666px' ,height: 'auto' }" class="shadow-8">
                    <p class="text-500 font-normal text-2xl text-center">Step 1/4</p>
                    <h1 class="heading-color text-6xl font-bold text-center">
                        Welcome to xnode
                    </h1>
                    <p class="text-2xl font-semibold text-center">
                        To get started, give your workspace a name.
                    </p>
                    <div class="grid m-0 text-center">
                        <div class="field col-6">
                            <div
                                class="flex flex-wrap  align-items-center p-2 border-1 surface-border border-round-2xl">
                                <img src="" width="16px">
                                <p class="m-0 pl-2 font-semibold text-sm ">
                                    TEAM OR COMPANY
                                </p>
                            </div>
                        </div>
                        <div class="field col-6">
                            <div
                                class="flex flex-wrap  align-items-center p-2 border-1 surface-border border-round-2xl">
                                <img src="" width="16px">
                                <p class="m-0 pl-2 font-semibold font-normal text-sm ">
                                    PERSONAL
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                        <label htmlFor="email" class="font-medium text-base">Company Name</label>
                        <div class="flex flex-wrap  align-items-center p-2 border-1 surface-border border-round-2xl">
                            <p class="m-0 pl-2 font-normal text-base ">
                                FinLife360
                            </p>
                        </div>
                    </div>
                    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center">
                        <p-button label="Continue" styleClass="p-button-rounded  font-medium text-lg"
                            icon="pi pi-angle-right" iconPos="right"></p-button>
                    </div>

                </p-card>
            </div>

        </div>
    </div>

</div>