.logo-x {
    margin-bottom: 520px;
    margin-left: 186px;
}

.heading-color {
    color: #000759;
}

// #background-image {
//     background-image: url('./assets/OnboardingBG.svg');
//     background-size: cover;
//     background-repeat: no-repeat;
// }