.logo-x {
    margin-bottom: 520px;
    margin-left: 186px;
}

.heading-color {
    color: #000759;
}

:host ::ng-deep .p-card-body {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

textarea:focus~label,
textarea~label {
    top: 2.25em !important;
    font-size: 14px !important;
}