<div class="card">
    <form [formGroup]="aboutyourselfForm" (ngSubmit)="onClickaboutYourSelf()">
        <p class="text-500 font-normal text-2xl text-center">Step 3/4</p>
        <h1 class="heading-color text-6xl font-bold text-center mt-6">
            Tell us about yourself
        </h1>
        <p class="text-2xl font-semibold text-center mx-2">This helps us craft better
            experiences.
        </p>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mx-8 mt-5">
            <label htmlFor="plan" class="font-medium text-base">How do you plan to use xnode
                *</label>
            <div *ngFor="let category of categories" class="field-checkbox">
                <p-radioButton [inputId]="category.key" [value]="category"
                    formControlName="selectedCategory"></p-radioButton>
                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
            </div>
            <div class="error-msg text-sm text-red-500" *ngIf="submitted && Form['selectedCategory'].errors">
                Please select any option above!
            </div>
        </div>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mx-8 mt-3">
            <label htmlFor="plan" class="font-medium text-base">Additional
                Information</label>
            <div class="flex p-float-label">
                <textarea id="float-input" class="border-round-3xl" rows=" 3" cols="55" pInputTextarea
                    [autoResize]="true" formControlName="Additionalinfo" type="text"
                    placeholder="Please share any additional information about your product"
                    (focus)="onInputFocus()"></textarea>
                <label for="float-input" class="font-normal text-base" *ngIf="isPlaceholderVisible">Please share any
                    additional
                    information
                    about your product.</label>
            </div>
            <span class="error-msg text-sm text-red-500" *ngIf="submitted && Form['Additionalinfo'].errors">
                Please provide additional information!
            </span>
        </div>
        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-6 text-center">
            <p-button label="Get Started" styleClass="font-medium text-lg" icon="pi pi-angle-right"
                iconPos="right" (onClick)="onClickaboutYourSelf()"  [rounded]="true"></p-button>
        </div>
        <button type="submit" style="display: none;"></button>
    </form>
</div>
