.sctions-grid {
  background: #24232c;
  padding: 30px;
  color: #dfdfdf;
  max-height: 200px;
  overflow: hidden;
  border-radius: 6px;
}

.pre-content {
  white-space: pre-wrap !important;
}

.comment-msg {
  margin-right: 2%;
}

.openapi-spec {
  background: #fff;
  overflow: hidden;
}

.banner-grid {
  background: #24232c;
  width: 60%;
  padding: 30px;
  color: #dfdfdf;
  overflow: hidden;
}

.intro-grid {
  background: #24232c;
  padding: 30px;
  color: #dfdfdf;
  border-radius: 6px;
}

.sctions-grid-full {
  background: #24232c;
  padding: 30px;
  color: #dfdfdf;
  max-height: none;
  border-radius: 6px;
}

.content {
  color: #949292;
  line-height: 26px;
}

:host ::ng-deep .see-more-button {
  color: #ffffff;
  background: #23222b;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ffffff;
}

.spec-body-full {
  height: calc(100vh - 120px);
  overflow: auto;
  width: 100%;
}

.spec-body-collapsed {
  height: calc(100vh - 120px);
  overflow: auto;
  width: calc(100% - 514px);
}

.sub-content {
  font-size: 14px;
  color: #7e7e7e;
}

.sub-title {
  font-size: 14px;
  color: #dedede;
  font-weight: 500;
}

pre {
  width: 100%;
  overflow: auto;
}

:host ::ng-deep .p-datatable>.p-datatable-wrapper {
  border-radius: 6px;
}

.collapse {
  height: 30px;
  width: 100%;
}

.spec-status {
  color: #7e7e7e;
  font-size: 14px;
}

.author {
  columns: #dedede;
}

.pi-circle-fill {
  font-size: 8px;
}

.tag-text-color {
  color: #4b4b4b;
}

.h-vh {
  height: 100vh;
}

.expnad-icon {
  width: 25px;
}

.small-comment-box {
  position: fixed;
  left: 45%;
  bottom: 20%;
  border: 1px solid #fff;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  z-index: 20;
}

:host ::ng-deep .yellow {
  background: #8c7604 !important;
  height: 30px !important;
  color: white !important;
  border-radius: 2px !important;
}

.commnets-panel-grid {
  width: 514px;
  background: linear-gradient(0deg, #23222b, #23222b),
    linear-gradient(0deg, #535354, #535354);
  border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
}

:host ::ng-deep .p-overlaypanel .p-overlaypanel-content {
  background: #302e38 !important;
  border-radius: 6px !important;
}


// new styles
@media (max-width: 1440px) {
  .common-spec-table {
    width: 600px;
  }

  // .spec-table::-webkit-scrollbar {
  //   display: none;
  // }


  // ================= Don't remove =================

  // new new styles
  // @media (max-width: 1366px) {
  //   .spec-table {
  //     width: 200px;
  //     height: 100px;
  //     background-color: yellow;
  //     overflow: auto;
  //   }
  //   .spec-table-menu {
  //     width: 930px;
  //     background-color: yellow;
  //   }
  //   .spec-table-comments {
  //     width: 830px;
  //     background-color: blue;
  //   }
  //   .spec-table-navi {
  //     width: 800px;
  //     background-color: violet;
  //   }
  //   .spec-table-menu-navi {
  //     width: 550px;
  //     background-color: pink;
  //   }
  //   .spec-table-menu-comments {
  //     width: 580px;
  //     background-color: skyblue;
  //   }
  // }


  // @media (max-width: 1440px) {
  //   .spec-table{
  //     width: 850px;
  //   }
  //   .spec-table-menu{
  //     width: 600px;
  //   }
  //   .spec-table-comments{
  //     width: 520px;
  //   }
  //   .spec-table-navi{
  //     width: 580px;
  //   }
  //   .spec-table-menu-navi{
  //     width: 330px;
  //   }
  //   .spec-table-menu-comments{
  //     width: 270px;
  //   }
  // }


  // @media (max-width: 1920px) {
  //   .spec-table{
  //     width: 1170px;
  //   }
  //   .spec-table-menu{
  //     width: 930px;
  //   }
  //   .spec-table-comments{
  //     width: 830px;
  //   }
  //   .spec-table-navi{
  //     width: 800px;
  //   }
  //   .spec-table-menu-navi{
  //     width: 550px;
  //   }
  //   .spec-table-menu-comments{
  //     width: 580px;
  //   }
  // }
}