<div *ngFor="let content of content; let cIndex = index" class="mt-2">
  <div [ngClass]="
      !content?.collapsed
        ? 'sctions-grid relative'
        : 'sctions-grid-full relative'
    " id="{{ content?.id }}" #contentContainer>
    <div class="flex justify-content-between flex-wrap relative w-full">
      <div class="flex align-items-center justify-content-between w-full">
        <h3 class="m-0 pb-2 text-2xl font-bold" [innerHTML]="
            sectionIndex + 1 + '.' + (cIndex + 1) + ' ' + content.title
              | highlight : searchTerm
          "></h3>
        <div *ngIf="checkExpandSpecSections(content.title)">
          <span *ngIf="
              content.title == 'Annexures' ||
                content.title == 'User Interfaces' ||
                content.title == 'Functional Dependencies' ||
                content.title == 'Business Rules';
              else elseExpand
            ">
            <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent.emit(content)"
              class="expnad-icon pointer" *ngIf="checked && selectedContent === sectionIndex" class="ml-3"
              style="width: 25px" />
          </span>
          <ng-template #elseExpand>
            <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent.emit(content)"
              *ngIf="!readOnly" class="expnad-icon pointer" />
          </ng-template>
        </div>
      </div>
    </div>
    <p-button (click)="onClickSeeMore.emit({ item: specItem, content: content })" label="See More"
      *ngIf="!content?.collapsed && !readOnly" styleClass="p-button-outlined see-more-button" [rounded]="true"
      class="absolute bottom-0 right-0 mr-2 mb-2 z-5"></p-button>
    <p-button (click)="onClickSeeLess.emit({ item: specItem, content: content })" label="See Less"
      *ngIf="content?.collapsed && !readOnly" styleClass="p-button-outlined see-more-button" [rounded]="true"
      class="absolute bottom-0 right-0 mr-2 mb-2"></p-button>
    <div [ngSwitch]="content.content_data_type">
      <div *ngSwitchCase="'PARA'" [id]="content.id">
        <xnode-para-view [content]="content.content" [reveiwerList]="reveiwerList" [searchTerm]="searchTerm"
          [users]="usersList" [specItem]="specItem" [id]="content.id" [specId]="sectionIndex + 1 + '.' + (cIndex + 1)"
          [content]="content" [selectedContent]="selectedContent"></xnode-para-view>
      </div>
      <div *ngSwitchCase="'BULLETS_WITH_TITLE'" [id]="content.id">
        <xnode-list-view [content]="content.content" [parentTitle]="content.title" [selectedContent]="selectedContent"
          [searchTerm]="searchTerm" [users]="usersList" [id]="content.id"
          [specId]="sectionIndex + 1 + '.' + (cIndex + 1)" [specItem]="specItem"
          [reveiwerList]="reveiwerList"></xnode-list-view>
      </div>
      <div *ngSwitchCase="'BULLETS'" [id]="content.id">
        <xnode-list-view [content]="content.content" [parentTitle]="content.title" [selectedContent]="selectedContent"
          [searchTerm]="searchTerm" [users]="usersList" [id]="content.id"
          [specId]="sectionIndex + 1 + '.' + (cIndex + 1)" [specItem]="specItem"
          [reveiwerList]="reveiwerList"></xnode-list-view>
      </div>
      <div *ngSwitchCase="'TABLE'" [id]="content.id">
        <xnode-common-spec-table [searchTerm]="searchTerm" [users]="usersList" [specItem]="specItem"
          [content]="content.content"></xnode-common-spec-table>
      </div>
      <div *ngSwitchCase="'JSON_TABLE'" [id]="content.id">
        <div *ngIf="content.showTable; else elsejson">
          <div
            [ngClass]="{'common-spec-table':isSideMenuOpened, 'common-spec-table-navi ':!isSideMenuOpened && isDockedNaviOpened, 'common-spec-table-navi-menu':isSideMenuOpened && isDockedNaviOpened,'common-spec-table-menu-comments':isSideMenuOpened && isCommnetsPanelOpened}">
            <xnode-common-spec-table [searchTerm]="searchTerm" [users]="usersList" [specItem]="specItem"
              [content]="content.content"></xnode-common-spec-table>
          </div>
        </div>
        <ng-template #elsejson>
          <div class="grid" (mouseover)="businessRulesshowCommentIcon = true"
            (mouseleave)="businessRulesshowCommentIcon = false">
            <div class="col-12">
              <pre [innerHTML]="content.content | json | highlight : searchTerm"
                style="white-space: pre-wrap; overflow: auto"></pre>
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'USER_PERSONAS'" [id]="content.id">
        <div *ngFor="let persona of content.content" class="pb-3">
          <xnode-user-persona [searchTerm]="searchTerm" [content]="persona"></xnode-user-persona>
        </div>
      </div>
      <div *ngSwitchCase="'USECASES'" [id]="content.id">
        <div *ngFor="let persona of content.content" class="pb-3">
          <xnode-common-usecases [searchTerm]="searchTerm" [users]="usersList" [specItem]="specItem"
            [useCases]="content.content"></xnode-common-usecases>
        </div>
      </div>
      <div *ngSwitchCase="'WORKFLOWS'" [id]="content.id">
        <xnode-bpmn-common (dataFlowEmitter)="expandComponent.emit(content)" [bpmnFrom]="bpmnFrom"
          [item]="content"></xnode-bpmn-common>
      </div>
      <div *ngSwitchCase="'DATA_MODEL'" [id]="content.id">
        <xnode-data-model-common *ngIf="content" (dataFlowEmitter)="expandComponent.emit(content)"
            [dataModelData]="content"></xnode-data-model-common>
      </div>
      <div *ngSwitchCase="'DASHBOARD'" [id]="content.id">
        <iframe id="myIframe" [src]="iframeSrc" class="h-vh w-full" title="Template Builder">
        </iframe>
      </div>
    </div>
    <div class="gradientback" *ngIf="!content?.collapsed"></div>
    <div class="collapse" *ngIf="content?.collapsed"></div>
  </div>