<div class="h-full text-white">
    <div class="surface-900">
        <h6 class="text-4xl  p-4 font-bold">Alerts</h6>
        <div class="grid ">
            <div class="flex flex-wrap gap-4 ml-8">
                <div class="flex flex-wrap gap-2 ">
                    <img src="../../assets/Create.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Create</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/AlertRules.svg" alt="circle-ci-image" class="mb-3">
                    <p class="font-normal text-base ">Alert rules</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/ActionGroups.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Action groups</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/AlertProcessingRules.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Alert processing rules</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/Coulmns.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Columns</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/Refresh.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Refresh</p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <img src="../../assets/Exportthefile.svg" alt="image" class="mb-3">
                    <p class="font-normal text-base ">Export the file</p>
                </div>

            </div>
            <hr class="hline ml-4 mr-8">
            <div class="flex flex-wrap mb-4 gap-4 ml-8">
                <div class="mt-4">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search" />
                    </span>
                </div>
                <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                    Time range : Past 24 hours
                </div>
                <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                    Subscription : All
                    <i class="pi pi-times-circle"></i>
                </div>
                <div class="mt-4 p-2 border-1 surface-border border-round-3xl icon-color">
                    Alert Conditions : Fired
                    <i class="pi pi-times-circle"></i>
                </div>
                
            </div>
            <div class="flex flex-wrap gap-8 ml-8 ">
                <div class="mt-4 flex flex-wrap gap-4">
                    <div class="green-alert p-3">
                      <img src="../../assets/TotalAlerts.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Total Alerts</p>
                        <p class="font-bold text-5xl -mt-3">1</p>
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap gap-4">
                    <div class="red-alert p-3">
                        <img src="../../assets/Critical.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Critical</p>
                        <p class="font-bold text-5xl -mt-3">0</p>
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap gap-4">
                    <div class="orange-alert p-3">
                        <img src="../../assets/Error.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Error</p>
                        <p class="font-bold text-5xl -mt-3">1</p>
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap gap-4">
                    <div class="yellow-alert p-3">
                        <img src="../../assets/Warning.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Warning</p>
                        <p class="font-bold text-5xl -mt-3">0</p>
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap gap-4">
                    <div class="skyblue-alert p-3">
                        <img src="../../assets/Informational.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Informational</p>
                        <p class="font-bold text-5xl -mt-3">0</p>
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap gap-4 ">
                    <div class="blue-alert p-3">
                        <img src="../../assets/Verbose.svg" alt="image" >
                    </div>
                    <div class="text-center">
                        <p class="text-base font-medium text-500">Verbose</p>
                        <p class="font-bold text-5xl -mt-3">1</p>
                    </div>
                </div>
                
            </div>
            <div class="mt-4 p-3 ml-7">
                <!-- <p-table [tableStyle]="{ 'min-width': '50rem' }" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Severity</th>
                            <th>Affected Resources</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" >
                        <tr>
                            <td>Finbuddy</td>
                            <td>4-verbose</td>
                            <td>receiptsavd-1</td>
                        </tr>
                    </ng-template>
                </p-table> -->
                <img src="../../assets/alert-table.svg" width="100%" alt="image">
            </div>
        </div>
       
</div>
 </div>