<div class="border-1 border-white-alpha-40 w-full">
    <div class="grid w-4">
        <div class="col-1">
            <i class="pi pi-angle-right text-sm text-white"></i>
            <img src="../../../assets/changerequest.svg" />
        </div>
        <div class="col">
            <span class="text-white text-lg text-left">
                Functional Specifications
            </span>
            <img src="../../../assets/changerequest.svg" class="ml-2" />
            <span class="ml-1 text-white">3</span>
            <span style="color: #C8E943;" class="ml-3">In review</span>
            <i class="pi pi-user-plus text-sm text-white ml-2"></i>
            <i class="pi pi-flag text-sm text-white ml-2"></i>
            <i class="pi pi-ellipsis-v text-sm text-white ml-2"></i>
        </div>
    </div>
    <div class="grid w-4">
        <div class="col-1">

        </div>
        <div class="col">
            <span class="text-white text-sm text-left">
                Req ID: #CR0042
            </span>
            <span class="text-white text-sm text-left">
                Assigned by Richard and Paul
            </span>
        </div>
    </div>
</div>