:host ::ng-deep .export {
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 4rem !important;
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 2rem !important;
    background: #E4E7FB;
    color: #000759;
    width: 560px;
}