<div class="grid m-0 mt-5">
    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <div class="flex flex-wrap p-3 border-0 export mx-3 mt-4">
            <p class="m-0 font-normal text-2xl text-center pointer" (click)="startChatWithBot()">
                Hi, I’m xnode bot click here to get started
            </p>
        </div>
    </div>
    <div class="field col-12 col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 flex justify-content-end">
        <img src="./assets/bot.svg" width="30%">
    </div>
</div>