<div class="bg-image bg-no-repeat h-full">
    <div class="logo">
        <img src=" ./assets/xnode-logo.svg" alt="x-logo">
    </div>
    <div class="login-div">
        <p-card styleClass="login-card">
            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 p-0">
                <p class="m-0 pointer flex login-back" (click)="backToLogin()"><span>
                        <i class="pi pi-arrow-left mr-2"></i>
                    </span> Login</p>
                <div class="login-title font-bold mt-2">Forgot Password?</div>
                <div class="mt-2 mb-4 text-500 forgot-content">
                    Enter the email associated with your account and we’ll send an email to reset
                    your password.
                </div>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onClickSubmit()">
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mb-0">
                            <label htmlFor="email" class="text-white font-medium text-xl my-1">
                                Email/Username</label>
                            <input type="text" pInputText class="p-inputtext p-2 col-12" formControlName="email"
                                placeholder="Enter email"
                                [ngClass]="{ 'is-invalid': submitted && forgot['email'].errors }">
                            <div *ngIf="submitted && forgot['email'].errors" class="invalid-feedback">
                                <div *ngIf="forgot['email'].errors?.['required']">Email
                                    is required</div>
                                <div *ngIf="forgot['email'].errors['email']">Email
                                    must be a valid email address</div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-content-center w-full mt-5">
                            <p-button label="Submit" styleClass="p-button-rounded p-button font-medium text-lg"
                                type="submit" [disabled]="forgotPasswordForm.invalid"></p-button>
                        </div>
                    </div>
                </form>
            </div>
            <div
                class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 flex align-items-center justify-content-center">
                <p class="terms-conditions mb-0">
                    <a href="https://xnode.ai/terms-and-conditions/" class="no-underline mr-1 terms"
                        target="_blank">Terms of service </a>and<a href="https://xnode.ai/privacy-policy/"
                        target="_blank" class="no-underline ml-2 policy">privacy policy</a>
                </p>
            </div>
        </p-card>
    </div>
</div>