.bg-dark {
    background-color: #343541 !important;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 780px) {
    .form-container {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

.heading-color {
    color: #DEDEDE;
}

.divider {
    width: 500px;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

:host ::ng-deep.p-inputtext {
    color: #ffffff;
    background: #2E2D36 !important;
    padding: 0.75rem 0.75rem;
    border: 1px solid #2E2D36;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.75rem !important;
    resize: none !important;
}

:host ::ng-deep.p-inputtext:enabled:hover {
    border-color: #2E2D36 !important;
}