<div class="grid m-0 bg-color h-full">
    <div class="bg-image bg-no-repeat w-12 h-12">
        <div class="h-full w-full">
            <div class="div-logo">
                <img src=" ./assets/xnode-logo.svg" alt="x-logo" class="logo">
            </div>
            <div class="main-card">
                <div class="sub-card ">
                    <p-card>
                        <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
                            <div class="grid form-container pt-3">
                                <div class="col-12">
                                    <div class="heading-text">Forgot Password?</div>
                                    <div class="heading-content text-lg font-medium mt-2 mb-6 text-500">
                                        Enter the email associated with your account and we’ll send an email to reset
                                        your password.
                                    </div>
                                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onClick()">
                                        <div class="formgrid grid">
                                            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-2">
                                                <div>
                                                    <label htmlFor="email"
                                                        class="text-white font-medium text-xl pl-2 my-1">
                                                        Email/Username</label>
                                                </div>
                                                <input pInputText id="email" placeholder="Enter email"
                                                    formControlName="email" autocomplete="username"
                                                    [ngClass]="{ 'is-invalid': submitted && forgot['email'].errors }"
                                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full" />
                                                <div *ngIf="submitted && forgot['email'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="forgot['email'].errors?.['required']">Email
                                                        is required</div>
                                                    <div *ngIf="forgot['email'].errors['email']">Email
                                                        must be a valid email address</div>
                                                </div>
                                            </div>
                                            <div
                                                class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 text-center">
                                                <p-button label="Submit"
                                                    styleClass="p-button-rounded  font-medium text-lg p-button-lg"
                                                    [disabled]="forgotPasswordForm.invalid" iconPos="right"
                                                    (click)="onClick()"></p-button>
                                                <fieldset class="submit-fieldset">
                                                    <button type="submit" style="display: none;"></button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>