.bg-dark {
    background-color: #343541 !important;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

.forgot-card {
    width: 50vw;
    height: 80vh
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}


.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

.heading-color {
    color: #DEDEDE;
}

.divider {
    width: 500px;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

:host ::ng-deep .p-password {
    width: 100%;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}


:host ::ng-deep.p-input-icon-right>.p-inputtext,
input {
    background: #2E2D36 !important;
    color: #DEDEDE !important;
    width: 100% !important;
    border: solid 1px #2E2D36 !important;
    border-radius: 0.75rem !important;
}

@media (min-width: 641px) and (max-width: 992px) {
    .forgot-card {
        width: 75vw !important;
        height: 70vh !important;
    }

    .logo-img {
        justify-content: center !important;
        margin: 5rem !important;
    }

    .forgot-password-div {
        padding: 2rem !important;
        height: 60vh !important;
        margin-top: 2rem !important;
    }

    .formgrid {
        margin: 0rem !important;
    }

    .submit-btn {
        margin-top: 4rem !important;
    }
}

@media (max-width: 640px) {
    .forgot-card {
        width: 85vw !important;
        height: 75vh !important;
    }

    .heading-color {
        font-size: 2.5rem !important;
    }

    .forgot-password-div {
        padding: 0.5rem !important;
    }

    .form-container {
        margin: 0rem !important;
        padding: 0rem !important;
    }

    .submit-btn {
        margin-top: 1rem !important;
    }

    .logo-img {
        justify-content: center !important;
        margin: 2rem !important;
    }

    .forgot-main-div {
        margin-top: 1rem !important;
    }

    .heading-color {
        font-size: 2rem !important;
    }

    .heading-content {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }
}