<div class="grid m-0 bg-dark h-full">
    <div class="bg-image bg-no-repeat w-12 h-12">
        <div class="">
            <div class="logo-img flex justify-content-end m-6">
                <img src=" ./assets/xnode-logo.svg" alt="x-logo" class="">
            </div>
            <div class="forgot-main-div flex justify-content-center mt-6">
                <p-card class="forgot-card">
                    <!-- [style]=" { width: '680px' ,height: '660px' }" -->
                    <div class="forgot-password-div sm:col-12 md:col-12 lg:col-12 xl:col-12 p-6">
                        <div class="grid form-container pt-3">
                            <div class="col-12">
                                <div class="flex text-white mb-3">
                                    <p class="m-0 pointer flex" (click)="backToLogin()"><span>
                                            <i class="pi pi-arrow-left mr-2 pointer" style="font-size: 1.5rem"></i>
                                        </span> Login</p>
                                </div>
                                <div class="heading-color text-6xl font-bold -ml-2">Forgot Password?</div>
                                <div class="heading-content text-lg font-medium mt-2 mb-6 text-500">
                                    Enter the email associated with your account and we’ll send an email to reset
                                    your password.
                                </div>
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onClick()">
                                    <div class="formgrid grid">
                                        <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-2">
                                            <div>
                                                <label htmlFor="email" class="text-white font-medium text-xl pl-2 my-1">
                                                    Email/Username</label>
                                            </div>
                                            <input pInputText id="email" placeholder="Enter email"
                                                formControlName="email" autocomplete="username"
                                                [ngClass]="{ 'is-invalid': submitted && forgot['email'].errors }"
                                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full" />
                                            <div *ngIf="submitted && forgot['email'].errors" class="invalid-feedback">
                                                <div *ngIf="forgot['email'].errors?.['required']">Email
                                                    is required</div>
                                                <div *ngIf="forgot['email'].errors['email']">Email
                                                    must be a valid email address</div>
                                            </div>
                                        </div>
                                        <div class="submit-btn flex flex-row justify-content-center w-full mt-6">
                                            <p-button label="Submit"
                                                styleClass="p-button-rounded  font-medium text-lg p-button-lg"
                                                [disabled]="forgotPasswordForm.invalid" iconPos="right"
                                                (click)="onClick()"></p-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>