.bg-dark {
    background-color: #343541 !important;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}


.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

.divider {
    width: 500px;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

:host ::ng-deep.p-inputtext {
    color: #ffffff;
    background: #2E2D36 !important;
    padding: 0.75rem 0.75rem;
    border: 1px solid #2E2D36;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.75rem !important;
}

label {
    color: #DEDEDE;
}

:host ::ng-deep .p-card-body {
    color: #23222B;
    padding: 40px 100px;
}

.terms-conditions {
    color: #DEDEDE;
    font-size: 14px;
}

.terms,
.policy {
    color: #02ADEE;
}

.login-title,
.login-back {
    color: #DEDEDE;
}

.forgot-content {
    font-size: 16px;
}

:host ::ng-deep {
    .p-inputtext {
        color: #ffffff;
        background: #2E2D36 !important;
        padding: 0.75rem 0.75rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 6px;
        resize: none !important;
    }

    .p-input-icon-right>.p-inputtext,
    input {
        background: #2E2D36;
        color: #DEDEDE;
        width: 100% !important;
        border: solid 1px #2E2D36;
        border-radius: 0.75rem !important;
    }
}


@media (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: center;
        padding: 40px;
    }

    .h-16 {
        height: 16px;
    }

    .login-title {
        font-size: 38px;
    }

    .login-div {
        padding-left: 20px;
        padding-right: 20px;
        height: calc(100vh - 95px);
    }

    .forgot-content {
        font-size: 14px;
    }

    :host::ng-deep .p-card-body {
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo {
        display: flex;
        justify-content: center;
        padding: 40px;
        height: 20px;
    }

    .login-div {
        padding-left: 80px;
        padding-right: 80px;
        height: calc(100vh - 95px);
    }

    :host::ng-deep .p-card-body {
        padding: 40px;
    }

    .login-title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .logo {
        display: flex;
        justify-content: end;
        padding: 40px;
    }

    .login-div {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        height: calc(100vh - 150px);
    }

    :host ::ng-deep .p-card {
        width: 680px !important;
    }

    .login-title {
        font-size: 48px;
    }
}