<div class="feedback-div grid m-0 p-0">
    <div class="feedback-header col-12 py-2 px-5 border-bottom-2 border-100  ">
        <div class="flex justify-content-between flex-wrap">
            <div class="flex">
                <div class="flex flex-column justify-content-center">
                    <i class="pi pi-angle-left pointer mr-3" (click)="onClickClose()"></i>
                </div>
                <div>
                    <h3 class="feedback-heading">View existing feedback</h3>
                    <p class="feedbacktheading-content text-sm">Your feedback will be used to improve xnode</p>
                </div>
            </div>
            <div class="flex flex-column justify-content-center">
                <p-selectButton [options]="areaTypes"
                    [ngStyle]="{'background-color': selectedArea === 'Reported Bug' ? '#02ADEE' : '#535354'}"
                    [(ngModel)]="selectedArea" optionLabel="label" optionValue="value"
                    class="feedback-header-options ml-4 areaType-mid"
                    (onChange)="onChangeArea($event)"></p-selectButton>
            </div>
            <div class="flex flex-column justify-content-center">
                <i class="pi pi-times pointer" (click)="onClickClose()"></i>
            </div>
        </div>
        <div class="flex justify-content-center">
            <p-selectButton [options]="areaTypes" [(ngModel)]="selectedArea" optionLabel="label" optionValue="value"
                class="feedback-header-options ml-4 my-4 hidden areaType-small"
                (onChange)="onChangeArea($event)"></p-selectButton>
        </div>
    </div>
    <div class="grid col-12 m-0 p-0" *ngIf="reportList?.length">
        <div class="md:col-5 sm:col-12 feedback-list p-0">
            <div class="report-list-height">
                <div class="list-item pl-4 pr-4 pt-4 pr-4  border-bottom-1"
                    *ngFor="let report of reportList;let i= index" [ngClass]="{'active': selectedIndex === i}"
                    [id]="report.id">
                    <div (click)="onSelectListItem(report,i,false)">
                        <div class="flex justify-content-between flex-wrap">
                            <b class="text-base">{{getMeTitle(report)}}</b>
                        </div>
                        <p class="feedback-text text-sm font-normal m-0 pb-2 my-3">
                            {{report.feedbackText|titlecase}}
                        </p>
                        <div class="flex align-items-center my-2">
                            <div class="flex align-items-center list-details">
                                <div class="flex align-items-center pr-2">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle" *ngIf="!report?.userName"></p-avatar>
                                    <p-avatar [label]="getMeUserAvatar(report)" styleClass="mr-2"
                                        [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"
                                        *ngIf="report?.userName"></p-avatar>
                                    <p class="m-0 pl-2 font-sm font-medium">{{report?.userName|titlecase}}
                                    </p>
                                </div>
                                <div class="text-sm font-normal border-left-1 border-right-1 pl-2 pr-2">
                                    <!-- {{selectedListItem.modifiedOn | date:'medium'}} -->
                                    {{report.createdOn | date: 'MM/dd/yyyy, hh:mm a'}}
                                </div>
                                <p class="m-0 text-sm font-normal pl-2">
                                    Status <span class="text-sm open">
                                        {{report?.feedbackStatusId}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:col-7 feedback-detail p-0" *ngIf="reportList?.length">
            <div class="report-list-height">
                <div class="grid m-0">
                    <div class="col-12 mt-1 px-4 selected-item border-bottom-1">
                        <div class="flex justify-content-between flex-wrap">
                            <p class="text-2xl font-medium m-0">{{getMeTitle(selectedListItem)}}</p>
                            <div class="flex align-items-center">
                                <p-chip [label]="selectedListItem?.feedbackStatusId" class="ml-3"></p-chip>
                            </div>
                        </div>
                        <p class="font-light text-base contentText">
                            {{selectedListItem.feedbackText|titlecase}}
                        </p>
                        <div class="flex" *ngIf="selectedListItem?.userFiles">
                            <img src="./assets/attachment.svg" alt="att" class="mr-2">
                            <span *ngIf="selectedListItem?.userFiles.length==1">
                                <p class="text-sm m-0">1 Attachment</p>
                            </span>
                            <span *ngIf="selectedListItem?.userFiles.length>1">
                                <p class="text-sm m-0">{{selectedListItem?.userFiles.length}} Attachments</p>
                            </span>
                        </div>
                        <div class="grid">
                            <div class="sm:col-4 md:col-4 lg:col-4 xl:col-4 my-2"
                                *ngFor="let file of selectedListItem?.userFiles">
                                <div class="img-div border-1 w-8">
                                    <img [src]="file.filePath" class="att-image border-round-lg w-full" alt="att img">
                                    <div class="flex align-items-center image-names py-2 px-2 border-round-sm"
                                        *ngIf="file?.filePath">
                                        <p class="text-sm m-0 ellipsis-text">{{file?.fileName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between flex-wrap align-items-center mt-4 mb-2">
                            <div class="flex align-items-center">
                                <p-avatar [label]="getMeUserAvatar(reportItem)" shape="circle"
                                    [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
                                <p class="m-0 pl-2 font-sm font-medium">{{selectedListItem?.userName|titlecase}}<span
                                        class="text-sm font-normal border-left-1 ml-4 pl-4">
                                        {{selectedListItem.createdOn | date:'medium'}}
                                        <!-- {{selectedListItem.modifiedOn | date: 'MM/dd/yyyy, hh:mm a'}} -->
                                    </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="selectedItemConversation?.length > 0">
                    <div class="mx-0 my-2 py-2 px-4" *ngFor="let conv of selectedItemConversation; let i=index;">
                        <xnode-feedback-conversation [conversation]="conv" [index]="i"
                            conversationSourceId="conversationSourceId"
                            [conversationSourceType]="selectedArea"></xnode-feedback-conversation>
                    </div>
                </ng-container>
                <div class="grid m-0 pl-4 pr-4 pt-2 pb-2"
                    *ngIf="selectedItemConversation?.length === 0 || showMessageBox">
                    <div class="col-md-12 w-full my-2">
                        <div class="flex justify-content-between flex-wrap">
                            <div class="flex align-items-center">
                                <p-avatar [label]="getMeMyAvatar(currentUser)" shape="circle"
                                    [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
                                <p class="m-0 pl-2 font-sm font-medium">{{currentUser?.first_name + ' '+
                                    currentUser?.last_name |titlecase}}</p>
                            </div>
                            <p-button label="Send" styleClass="p-button-outlined send" [rounded]="true"
                                (click)="onClickSend()"></p-button>
                        </div>
                        <textarea rows="5" cols="30" pInputTextarea class="w-full mt-2" [(ngModel)]="message"
                            (keydown.enter)="onClickSend()"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="reportList?.length == 0" class="col-12 p-8 report-list-height">
        <div class="flex justify-content-center flex-wrap">
            <h3 class="flex align-items-center justify-content-center">No Feedback List </h3>
        </div>
    </div>
</div>

<p-dialog header="Report a bug" class="feedback" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{ width: dialogWidth }" [position]="modalPosition" (onHide)="closePopup()">
    <ng-template pTemplate="header" class="p-2">
        <div class="flex align-items-center">
            <i class="pi pi-angle-left mr-3 pointer" (click)="closePopup()"></i>
            <div>
                <p class="m-0 font-bold text-2xl heading-color reported-bug">Reported bug</p>
            </div>
        </div>
    </ng-template>
    <div class="report-list-height">
        <div class="grid m-0">
            <div class="col-12 pl-4 pr-4  border-bottom-1">
                <div class="flex">
                </div>
                <div class="flex justify-content-between flex-wrap mt-2">
                    <p class="text-2xl font-medium m-0">{{getMeTitle(selectedListItem)}}</p>
                    <p-chip [label]="selectedListItem?.feedbackStatusId" class="p-2 ml-3"></p-chip>
                </div>
                <p class="font-light text-base contentText">
                    {{selectedListItem?.feedbackText|titlecase}}
                </p>
                <div class="flex" *ngIf="selectedListItem?.userFiles">
                    <img src="./assets/attachment.svg" alt="att" class="mr-2">
                    <span *ngIf="selectedListItem?.userFiles.length==1">
                        <p class="text-sm m-0">1 Attachment</p>
                    </span>
                    <span *ngIf="selectedListItem?.userFiles.length>1">
                        <p class="text-sm m-0">{{selectedListItem?.userFiles.length}} Attachments</p>
                    </span>
                </div>
                <div class="grid">
                    <div class="sm:col-4 md:col-4 lg:col-4 xl:col-4 my-2 mx-1 userfile-divs"
                        *ngFor="let file of selectedListItem?.userFiles">
                        <div class="img-div border-1 w-8">
                            <img [src]="file.filePath" class="att-image border-round-lg w-full" alt="att img">
                            <div class="flex align-items-center image-names py-2 px-2 border-round-sm"
                                *ngIf="file?.filePath">
                                <p class="text-sm m-0 ellipsis-text">{{file?.fileName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-between flex-wrap align-items-center mt-4 mb-2">
                    <div class="flex align-items-center">
                        <p-avatar [label]="getMeUserAvatar(reportItem)" shape="circle"
                            [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
                        <p class="m-0 pl-2 font-sm font-medium">{{selectedListItem?.userName|titlecase}}<span
                                class="text-sm font-normal border-left-1 ml-4 pl-4">
                                {{selectedListItem?.createdOn | date:'medium'}}
                                <!-- {{selectedListItem?.modifiedOn | date: 'MM/dd/yyyy, hh:mm a'}} -->
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="selectedItemConversation?.length > 0">
            <div class="m-0 py-3 px-4" *ngFor="let conv of selectedItemConversation; let i=index;">
                <xnode-feedback-conversation [conversation]="conv" [index]="i"
                    conversationSourceId="conversationSourceId"
                    [conversationSourceType]="selectedArea"></xnode-feedback-conversation>
            </div>
        </ng-container>
        <div class="grid m-0 px-4 py-2" *ngIf="selectedItemConversation?.length === 0 || showMessageBox">
            <div class="col-md-12 w-full my-2">
                <div class="flex justify-content-between flex-wrap">
                    <div class="flex align-items-center">
                        <p-avatar [label]="getMeUserAvatar()" shape="circle"
                            [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
                        <p class="m-0 pl-2 font-sm font-medium">{{currentUser?.first_name|titlecase}}
                            {{currentUser?.last_name|titlecase}}</p>
                    </div>
                    <p-button label="Send" styleClass="p-button-outlined send" [rounded]="true"
                        (click)="onClickSend()"></p-button>
                </div>
                <textarea rows="5" (keydown.enter)="onClickSend()" cols="30" pInputTextarea class="w-full"
                    [(ngModel)]="message"></textarea>
            </div>
        </div>
    </div>
</p-dialog>