.image-names {
    background-color: #4B4B4B;
}

.feedback-header {
    border-color: #535354 !important;
}

.list-item {
    background: #29282b;
    color: #DEDEDE;
    padding: 10px;
    cursor: pointer;
    border-color: #535354 !important;
}

.list-item:hover {
    background: #434344;
    color: #DEDEDE;
    padding: 10px;
    cursor: pointer;
}

.contentText {
    color: #DEDEDE;
    opacity: 0.8;
}

:host ::ng-deep.p-button.send{
  background-color:transparent!important;
  border:1px solid white!important;
}

:host ::ng-deep.p-dialog {
    border: 1px solid #595959 !important;
}

.report-list-height::-webkit-scrollbar {
    width: 8px;
}

.report-list-height::-webkit-scrollbar-track {
    background-color: #3A3942;
    border-radius: 100px;
}

.report-list-height::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 100px;
}

.active {
    // background: #535354;
    background-color: #343541;
}

.list-item .border-bottom-1,
.selected-item {
    border-color: #535354 !important;
}

.active .list-details {
    border-color: #DEDEDE !important;
}

:host::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 1px solid #ccc;
}

:host::ng-deep .p-dropdown,
:host::ng-deep .p-dialog .p-dialog-content,
:host::ng-deep .p-dialog .p-dialog-header,
:host::ng-deep .p-dialog .p-dialog-footer,
.search {
    background: #23222B !important;
    color: #fff;
}


:host::ng-deep .p-inputtext {
    border: 0 !important
}

:host::ng-deep .p-dropdown .p-dropdown-label.p-placeholder,
:host::ng-deep .p-input-icon-right>.p-inputtext {
    padding: 2px 5px;
}

:host::ng-deep .p-dialog .p-dialog-content {
    padding: 0;
}

:host::ng-deep .p-chip .p-chip-text {
    margin: 0;
    font-size: 14px;
    padding: 5px;
}

.feedback-list {
    border-right: 1px solid #ccc;
}

.feedback-div {
    padding: 20px;
    background: #29282b;
    color: #dedede;
}

.text-10 {
    font-size: 10px;
}


@media (max-width: 640px) {

    .feedback-header-div,
    .feedback-div {
        display: block !important;
    }

    .feedback-list,
    .feedback-detail {
        width: 100vw !important;
    }

    :host::ng-deep .p-dialog-header {
        align-items: unset !important;
    }

    .list-item {
        padding: 15px 15px !important;
    }
}

:host::ng-deep .p-selectbutton .p-button.p-highlight {
    background: #02ADEE;
    border-color: #02ADEE;
    padding: 16px 10px;
}

:host::ng-deep .p-buttonset .p-button:last-of-type,
:host::ng-deep .p-buttonset .p-button:first-of-type {
    padding: 16px 10px;
}

.report-list-height {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

:host::ng-deep .p-chip {
    background: #E1CF6B;
    color: #665910;
}

.open {
    color: #E1CF6B;
}

.w-140 {
    width: 140px;
}

:host::ng-deep .p-inputtext {
    color: #dedede;
}

.ellipsis-text {
    white-space: nowrap;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.att-image {
    height: 110px;
}

@media(min-width: 668px) and (max-width: 980px) {

    .feedback-detail,
    .areaType-mid {
        display: none !important;
    }

    .areaType-small {
        display: block !important;
    }

    .feedback-list {
        width: 100% !important;
    }

    .userfile-divs {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 668px) {

    .feedback-detail,
    .areaType-mid {
        display: none !important;
    }

    .areaType-small {
        display: block !important;
    }

    .feedback-div {
        padding: 10px !important;
    }

    .feedback-list {
        width: 100% !important;
        border: none !important;
    }

    .feedback-header {
        border: none !important;
    }

    .feedback-heading,
    .reported-bug {
        font-size: 1.25rem !important;
    }

    .feedback-header-options {
        margin-top: 10px !important;
    }

    .feedbacktheading-content {
        font-size: .75rem !important;
    }

    .feedback-text {
        margin: 0px 5px !important;
    }

    .userfile-divs {
        width: 45% !important;
    }
}

.img-div {
    border-radius: 10px;
    border-color: #4B4B4B;
}
