<div class="template-builder-wrapper" >
    <div class="template-builder-layout-wrapper">
        <xnode-page-tools-layout></xnode-page-tools-layout>
    </div>
    <div  [ngClass]="{'template-builder-body-wrapper': isOpen, 'another-template-builder-body-wrapper': isOpen}" (click)="this.isOpen = !this.isOpen">
        <xnode-template-builder-publish-header #childComponent
            (iconClicked)="onIconClicked($event)"></xnode-template-builder-publish-header>
        <div class="flex justify-content-center flex-wrap ">
            <div class="flex align-items-center justify-content-center m-4 h-full">
                <div class="" [ngClass]="currentView">
                    <iframe src="https://xnode-template-builder.azurewebsites.net/" class="h-full w-full"
                        title="Template Builder">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>