<div class="template-builder-wrapper">
    <div class="template-builder-layout-wrapper">
        <div class="text-center border-bottom-2 p-3 border-primary">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" />
            </span>
        </div>
        <div class="">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Layout">
                    <xnode-layout-elements (getLayout)="getLayout($event)"></xnode-layout-elements>
                </p-accordionTab>
            </p-accordion>
            <p-accordion [activeIndex]="1">
                <p-accordionTab header="UI Elemets">
                    <p>
                        Ui Elements
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="template-builder-body-wrapper">
        <xnode-template-builder-publish-header></xnode-template-builder-publish-header>
        <div class="m-4 h-full">
            <!-- https://xnode-template-builder.azurewebsites.net/-->
            <iframe src="http://localhost:62630/" class="h-full w-full" title="Template Builder">
            </iframe>
            <!-- <gridster [options]="options">
                <gridster-item [item]="item" *ngFor="let item of dashboard">
                </gridster-item>
            </gridster> -->
        </div>

    </div>
</div>