.comment-msg{
  margin-right: 2%;
}

@media (max-width: 1440px) {
  .common-spec-table {
    width: 550px;
  }
}
:host::ng-deep .common-spec-table-head .p-datatable-scrollable-table>.p-datatable-thead {
  z-index: 0!important;
}
