<div class="card p-0 m-0">
  <div class="flex col-12 p-0" (mouseover)="showCommentIcon = true;" (mouseleave)="showCommentIcon = false;">
    <div class="col-11 p-0 ">
    <p-table #dt [value]="content" [columns]="setColumnsToTheTable(content[0])" [resizableColumns]="true"
        [scrollable]="true" scrollDirection="horizontal">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pResizableColumn *ngFor="let col of columns" [ngClass]="'tableheader'">
                    {{ col.header }}
                    <p-columnFilter type="text" [field]="col.field" display="menu" *ngIf="col.filter"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex" class="">
            <tr class="text-xs">
                <td *ngFor="let col of columns" style="white-space: normal;border-bottom-width: 0px;"
                    [style.width.px]="10">
                    <div *ngIf="isArray(rowData[col.field])">
                        <div *ngFor="let data of rowData[col.field]"
                            [innerHTML]="data.columnName ? data.columnName : data | highlight: searchTerm">
                        </div>
                    </div>
                    <div *ngIf="!isArray(rowData[col.field])" [innerHTML]="rowData[col.field] | highlight: searchTerm ">
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <div class="col-1 p-0 flex  align-items-start justify-content-center">
      <p-overlayPanel #op (onHide)="commentOverlayPanelOpened=false;showCommentIcon=false">
          <!-- <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users" *ngIf="commentOverlayPanelOpened"
              (closeOverlay)="op.toggle(false);commentOverlayPanelOpened=false;" [position]="'absolute'"
              [selectedContent]="content" placeHolder="Add a Comment" [commentType]="'comment'"
              [parentEntity]="'SPEC'" [parentId]="specItem.id"
              [specItem]="specItem"></xnode-add-comment-overlay-panel> -->
      </p-overlayPanel>
      <img src="../assets/comment.svg" class="pointer" alt="comment"
          (click)="op.toggle($event);commentOverlayPanelOpened=true" (mouseleave)="showCommentIcon = false"
          *ngIf="showCommentIcon || commentOverlayPanelOpened">
    </div>
  </div>
</div>
