<div class="w-full h-full">
    <div class="grid flex justify-content-between my-products-body">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-wrap text-4xl	font-normal mb-3">Hi, Good Morning!</div>
            <div class="mt-3">
                <p-button styleClass="mr-2 navi-btn" size="small" [rounded]="true">
                    <i class="pi pi-plus"></i>
                    <span class="text-sm ml-2 font-medium" (click)="onClickNewWithNavi()">New with Navi</span>
                </p-button>
                <p-button styleClass="import-btn ml-3" [rounded]="true" size="small" severity="secondary">
                    <img alt="bot-btn-icon" src="./assets/import.svg" />
                    <span class="text-sm ml-2 font-medium" (click)="importNavi()">Import</span>
                </p-button>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex p-input-icon-left">
                <i class="pi pi-search "></i>
                <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" (input)="search()"
                    class="border-round-3xl search-input lg:w-10 w-full" />
            </div>
            <div class="mt-3 flex justify-content-center lg:justify-content-start">
                <p-button class="mb-2 md:mr-2 align-items-center justify-content-center tabView-label" [text]="true"
                    [ngClass]="{'nonActive': activeIndex != 0}" label=" All Products" [link]="true"
                    (click)="activeIndex = 0;onClickAllProducts()">
                    <img src="./assets/all-products.svg" class="text-2xl" pTooltip="All Products"
                        [src]="tabAllProducts || activeIndex === 0 ? './assets/all-products-hover.svg' : './assets/all-products.svg'" />
                </p-button>
                <p-button
                    class="mb-2 md:mr-2 align-items-center justify-content-center text-base font-semibold tabView-label"
                    [text]="true" [ngClass]="{'nonActive': activeIndex != 1}" label=" Recently Viewed" [link]="true"
                    (click)="activeIndex = 1">
                    <img src="./assets/recent.svg" class="text-2xl" pTooltip="Recently Viewed"
                        [src]="tabRecent || activeIndex === 1  ? './assets/recent-hover.svg' : './assets/recent.svg'" />
                </p-button>
                <p-button
                    class="mb-2 md:mr-2 align-items-center justify-content-center text-base font-semibold tabView-label"
                    [text]="true" [ngClass]="{'nonActive': activeIndex != 2}" label=" My Products" [link]="true"
                    (click)="activeIndex = 2;onClickcreatedByYou()">
                    <img src="./assets/user.svg" class="text-2xl" pTooltip="My Products"
                        [src]="tabCreated || activeIndex === 2 ? './assets/user-hover.svg' : './assets/user.svg'" />
                </p-button>
            </div>
        </div>
    </div>
    <div class="overflow-auto my-products-scroll h-full">
        <p-tabView [(activeIndex)]="activeIndex" class="my-products-tab-view">
            <p-tabPanel>
                <div class="grid">
                    <div class="col-12 flex md:justify-content-start justify-content-center">
                        <div
                            class="flex md:justify-content-start sm:justify-content-start justify-content-start flex-wrap card-gap">
                            <div class="flex product-card card-color justify-content-center align-items-center empty-card"
                                *ngIf="filteredProducts.length == 0">
                                <div
                                    class="flex flex-wrap justify-content-center align-items-center card-color card-title">
                                    <div class="col-12 flex justify-content-center">
                                        <i class="pi pi-plus text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                                    </div>
                                    <div class="col-12 title flex justify-content-center">
                                        New Product
                                    </div>
                                </div>
                            </div>
                            <div class="flex align-items-center pointer justify-content-center product-card font-bold border-round m-2 empty-card1"
                                *ngIf="filteredProducts.length > 0">
                                <div
                                    class="flex flex-wrap justify-content-center align-items-center card-color card-title">
                                    <div class="col-12 flex justify-content-center">
                                        <i class="pi pi-plus text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                                    </div>
                                    <div class="class-12 title flex justify-content-center">
                                        New Product
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center pointer justify-content-center product-card font-bold border-round m-2"
                                *ngFor="let data of filteredProducts |  slice:0:end ; let i = index"
                                (click)="onClickProductCard(data)">
                                <div class="card-color relative">
                                    <i class="pi pi-heart-fill overlay-heart absolute top-0 right-0 text-2xl"></i>
                                    <div class="overlay absolute bottom-0 right-0 text-2xl">{{ i + 1 }}</div>
                                    <img alt="Card" src="./assets/d-card.svg" class="w-full" />
                                </div>
                                <div class=" flex justify-content-between align-items-center card-color card-title">
                                    <div class="title-container" [title]="data.title">
                                        {{ data.title }}
                                    </div>
                                    <i class="pi pi-external-link " [title]="data.product_url"
                                        (click)="openExternalLink(data.product_url)"
                                        *ngIf="data.product_url && data.product_url !== ''"></i>
                                </div>
                                <div class="card-color flex align-items-start body-card">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        styleClass="mr-2" shape="circle" *ngIf="!currentUser"
                                        [style]="{ width:'40px',height:'40px' }"></p-avatar>
                                    <!-- <p-avatar [label]="userImage" *ngIf="currentUser" styleClass="mr-2"
                                        [style]="{ 'background-color': '#9c27b0', color: '#ffffff',width:'25px',height:'25px' }"
                                        shape="circle"></p-avatar> -->
                                    <div class="ml-1 card-subheading-txt">
                                        <p class="m-0 card-subheading ">{{data.created_by}} on:
                                            {{data.created_on
                                            |
                                            date:'medium'}}</p>
                                        <div class="mt-4">
                                            Modified on - NA
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <div class="col-12 xs:col-12 lg:col-12 flex justify-content-center text-xl mt-4 font-font-medium">
                    No Recently Viewed Products
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <div class="grid">
                    <div class="col-12">
                        <div class="flex md:justify-content-start justify-content-center flex-wrap card-gap">
                            <div class="flex align-items-center pointer justify-content-center product-card font-bold border-round m-2 empty-card1"
                                *ngIf="filteredProducts.length > 0">
                                <i class="pi pi-plus text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                                <div class=" flex justify-content-between align-items-center card-color card-title">
                                    <div class="title">
                                        New Product
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center pointer justify-content-center product-card font-bold border-round m-2"
                                *ngFor="let data of filteredProducts ; let i = index"
                                (click)="onClickProductCard(data)">
                                <div class="card-color relative">
                                    <i class="pi pi-heart-fill overlay-heart absolute top-0 right-0 text-2xl"></i>
                                    <div class="overlay absolute bottom-0 right-0 text-2xl">{{ i + 1 }}</div>
                                    <img alt="Card" src="./assets/d-card.svg" class="w-full" />
                                </div>
                                <div class=" flex justify-content-between align-items-center card-color card-title">
                                    <div class="title-container" [title]="data.title">
                                        {{ data.title }}
                                    </div>
                                    <i class="pi pi-external-link " [title]="data.product_url"
                                        (click)="openExternalLink(data.product_url)"
                                        *ngIf="data.product_url && data.product_url !== ''"></i>
                                </div>
                                <div class="card-color flex align-items-start body-card">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        styleClass="mr-2" shape="circle" *ngIf="!currentUser"
                                        [style]="{ width:'40px',height:'40px' }"></p-avatar>
                                    <!-- <p-avatar [label]="userImage" *ngIf="currentUser" styleClass="mr-2"
                                        [style]="{ 'background-color': '#9c27b0', color: '#ffffff',width:'25px',height:'25px' }"
                                        shape="circle"></p-avatar> -->
                                    <div class="ml-1">
                                        <p class="m-0 card-subheading-txt">{{data.created_by}} on: {{data.created_on
                                            |
                                            date:'medium'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="col-12 lg:col-12  flex justify-content-end flex-wrap" *ngIf="filteredProducts.length > 0">
            <p-button class="flex align-items-center justify-content-end" size="small" [text]="true" *ngIf="isViewLess"
                icon="pi pi-arrow-right" label="View All" [link]="true" iconPos="right" (click)="onViewAll()">
            </p-button>

            <p-button class="flex align-items-center justify-content-end" size="small" [text]="true" *ngIf="!isViewLess"
                icon="pi pi-arrow-right" label="View Less" [link]="true" iconPos="right" (click)="onViewLess()">
            </p-button>
        </div>
        <div class="col-12">
            <h3 class="text-2xl font-semibold">Recent Activity</h3>
            <div class="recentActivity p-0 ">
                <div class="filterDropdown">
                    <i class="pi pi-search search-icon" (click)="toggleSearch()"></i>
                    <input type="text" *ngIf="enableSearch" class="p-inputtext " placeholder="Search"
                        [(ngModel)]="searchTextConversation" (input)="searchConversation()" />
                    <p-dropdown [options]="Conversations" [(ngModel)]="selectedConversation" [editable]="true"
                        optionLabel="name"></p-dropdown>
                </div>
                <p-tabView [(activeIndex)]="activeIndexRecentActivity" class="col-12">

                    <p-tabPanel header="All Conversations" class="home-conversations-card"
                        *ngIf="selectedConversation.value == 'All'">
                        <p-card header={{conversation?.title}} class="conversations-card "
                            *ngFor="let conversation of filteredConversation">
                            <div class="flex col-12">
                                <p class="m-0 col-7 text-sm font-normal">
                                    #{{conversation?.cId}} in {{conversation?.productName}}
                                </p>
                                <p class="m-0 col-5 text-sm font-normal">
                                    Updated : {{conversation?.modifiedOn | date :'MMM d, y, h:mm:ss a'}}
                                </p>
                            </div>
                        </p-card>

                    </p-tabPanel>
                    <p-tabPanel header="My Conversations" class="home-conversations-card"
                        *ngIf="selectedConversation.value == 'Mine'">
                        <p-card header={{conversation?.title}} class="conversations-card"
                            *ngFor="let conversation of mineConversations">
                            <div class="flex col-12">
                                <p class="m-0 col-8 text-sm font-normal">
                                    #{{conversation?.cId}} in {{conversation?.productName}}
                                </p>
                                <p class="m-0 col-4 text-sm font-normal">
                                    Updated : {{conversation?.modifiedOn | date :'MMM d, y, h:mm:ss a'}}
                                </p>
                            </div>
                        </p-card>

                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
<xnode-limit-reached-popup *ngIf="showLimitReachedPopup" [visible]="showLimitReachedPopup"
    (closePopup)="this.showLimitReachedPopup = false;"></xnode-limit-reached-popup>
<!-- <xnode-confirmation-popup [data]="{type:'Submit'}" *ngIf="true"></xnode-confirmation-popup> -->