@media (max-width: 767px) {
    :host ::ng-deep .p-button {
        padding-left: 0px;
        padding-right: 0px;
    }

    :host ::ng-deep .p-tabview {
        width: 100% !important;
    }

    :host ::ng-deep .p-button.p-button-secondary {
        padding-left: 10px;
        padding-right: 10px;
    }

    :host ::ng-deep .p-inputtext {
        background-color: #4F4E55;
        width: 100%;
        border-width: 0;
        border-radius: 50px;
        height: 40px;
        margin-left: 5px;
    }

    .txt-heading {
        font-size: 36px;
        // margin-top: 20px;
        font-family: 'Inter';
        font-weight: 500;
        line-height: 43.57px;
    }

    .tabview-header-txt {
        font-size: 10px;
    }

    :host ::ng-deep .p-card {
        height: 250px !important;
    }

    :host ::ng-deep .p-card-header {
        height: 100px;
    }

    .tab-view-img {
        height: 18px;
        width: 18px;
    }

    .header-text {
        font-size: 12px
    }

    .heading-text {
        font-size: 10px;
    }

    .normal-text {
        font-size: 8px;
    }

    :host ::ng-deep .p-card .p-card-title {
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 700;
    }

    .overlay-heart {
        position: relative;
        color: #EF018F;
        bottom: 110px;
        padding: 10px;
        text-align: right;
        z-index: 1;
    }

    .overlay {
        position: relative;
        bottom: 110px;
        color: #4E4D55;
        font-size: 30px;
        font-weight: 700;
        padding: 12px;
        text-align: right;
    }

}


/* Tablets (768px to 991px width) */
@media (min-width: 768px) and (max-width: 991px) {
    :host ::ng-deep .p-button {
        padding-left: 0px;
        padding-right: 0px;
    }

    :host ::ng-deep .p-button.p-button-secondary {
        padding-left: 10px;
        padding-right: 10px;
    }

    :host ::ng-deep .p-inputtext {
        background-color: #4F4E55;
        width: 100%;
        border-width: 0;
        border-radius: 50px;
        height: 40px;
        margin-left: 5px
    }

    .txt-heading {
        font-size: 48px;
    }

    .tabview-header-txt {
        font-size: 14px;
    }

    :host ::ng-deep .p-card-header {
        height: 150px;
    }

    .heading-text {
        font-size: 12px;
    }

    .normal-text {
        font-size: 9px;
    }

    .overlay-heart {
        position: relative;
        color: #EF018F;
        bottom: 150px;
        padding: 10px;
        text-align: right;
        z-index: 1;
    }

    .overlay {
        position: relative;
        bottom: 110px;
        color: #4E4D55;
        font-size: 40px;
        font-weight: 700;
        padding: 12px;
        text-align: right;
    }
}

@media (min-width: 992px) {
    :host ::ng-deep .p-button {
        padding-left: 0px;
        padding-right: 0px;
    }

    :host ::ng-deep .p-button.p-button-secondary {
        padding-left: 10px;
        padding-right: 10px;
    }

    :host ::ng-deep .p-inputtext {
        background-color: #4F4E55;
        width: 100%;
        border-width: 0;
        border-radius: 50px;
        height: 40px;
        margin-left: 5px
    }

    .txt-heading {
        font-size: 36px;
    }

    .tabview-header-txt {
        font-size: 14px;
    }

    :host ::ng-deep .p-card-header {
        height: 125px;
    }

    :host ::ng-deep .p-card {
        height: 310px !important;
    }

    .heading-text {
        font-size: 12px;
    }

    .normal-text {
        font-size: 10px;
    }

    .overlay-heart {
        position: relative;
        color: #EF018F;
        bottom: 140px;
        padding: 10px;
        text-align: right;
        z-index: 1;
    }

    .overlay {
        position: relative;
        bottom: 110px;
        color: #4E4D55;
        font-size: 40px;
        font-weight: 700;
        padding: 12px;
        text-align: right;
    }
}

:host ::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none;
}

:host ::ng-deep .p-inputtext ::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

:host ::ng-deep .p-card {
    background: #4E4D55;
}

// :host ::ng-deep .p-card-content {
//     height: 100%;
// }

// :host ::ng-deep .new-card .p-card .p-card-body {
//     height: 100% !important;

// }

// :host ::ng-deep .p-card {
//     border-radius: 20px;
//     background: #4E4D55;
// }
:host ::ng-deep .p-card .p-card-body {
    padding: 0.75rem;
}



:host ::ng-deep .p-card .p-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    color: #ffffff;
}

.external-link-icon {
    position: relative;
    color: white;
    margin-left: 16rem;
    bottom: 118px;
}

:host ::ng-deep .p-card .p-.card-title:hover {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    background-color: #fff;
    color: #000;
    padding: 5px;
    z-index: 1;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.card-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    /* 4 cards for desktop */
    grid-gap: 45px;
    grid-row-gap: 70px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards for iPad */
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        justify-content: center;
        /* 1 card for mobile */
    }
}

:host ::ng-deep .p-tabview {
    // width: 100vw !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
    background: #3A3942 !important;
    color: #ffffff !important;
    border: none !important;
}

:host ::ng-deep.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #3A3942;
    border-color: #02ADEE;
    color: #02ADEE;
}

:host ::ng-deep.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: #3A3942;
    border-color: #02ADEE;
    color: #02ADEE;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: #3A3942;
    color: #ffffff;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    background: #3A3942 !important;
    color: #ffffff !important;
    padding: 0px !important;
}

@media screen and (max-width: 600px) {
    .search .p-inputtext {
        width: 95%;
    }
}

.tmp-page-height {
    height: calc(100vh - 40px);
    overflow: auto;
}

.text-xxs {
    font-size: 8px;
}

.card-body {
    height: 328px;
}

.body-container {
    height: 100%;
    width: 100%;
}