<div class="lg:p-5 p-3 overflow-auto body-container">
    <div class="text-white txt-heading lg:mt-3 lg:ml-3 md:ml-3 md:mt-3 ml-2 mt-3">Hi, Good Morning!</div>
    <div class="flex sm:col-8 md:col-7 lg:col-4 p-input-icon-left mt-3 lg:mt-6">
        <i class="pi pi-search text-white sm:ml-3  md:ml-3"></i>
        <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" (input)="search()"
            class="text-white" />
    </div>
    <div class="col-12 flex flex-wrap row-gap-4 mt-2 md:mt-3  lg:mt-4">
        <p-button label="New with Navi AI" styleClass="p-button-rounded mr-2 navi-btn"
            (click)="onClickNewWithNavi()"></p-button>
        <p-button styleClass="p-button-secondary p-button-rounded mr-4">
            <img alt="bot-btn-icon" src="./assets/import.svg" />
            <span class="import-btn ml-2" (click)="importNavi()">Import</span>
        </p-button>
    </div>
    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex  align-items-center justify-content-center" (mouseenter)="tabAllProducts = true"
                    (mouseleave)="tabAllProducts = false" (click)="activeIndex = 0">
                    <img src="./assets/all-products.svg" class="tab-view-img"
                        [src]="tabAllProducts || activeIndex === 0 ? './assets/all-products-hover.svg' : './assets/all-products.svg'" />
                    <p class="m-0 pl-2 tabview-header-txt">All Products</p>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 pointer"
                    *ngFor="let data of filteredProducts ; let i = index" (click)="onClickCreateNewTemplate(data)">
                    <div class="card-color relative">
                        <i class="pi pi-heart-fill overlay-heart absolute top-0 right-0 text-2xl"></i>
                        <div class="overlay absolute bottom-0 right-0 text-2xl">{{ i + 1 }}</div>
                        <img alt="Card" src="./assets/d-card.svg" class="w-full" />
                    </div>
                    <div class=" flex justify-content-between align-items-center card-color card-title p-3">
                        <div class="title-container" [title]="data.title">
                            {{ data.title }}
                        </div>
                        <i class="pi pi-external-link " [title]="data.product_url"
                            (click)="openExternalLink(data.product_url)"
                            *ngIf="data.product_url && data.product_url !== ''"></i>
                    </div>
                    <div class="card-color p-3 pb-4 flex align-items-start body-card">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            styleClass="mr-2" shape="circle" *ngIf="!currentUser"
                            [style]="{ width:'40px',height:'40px' }"></p-avatar>
                        <p-avatar [label]="userImage" *ngIf="currentUser" styleClass="mr-2"
                            [style]="{ 'background-color': '#9c27b0', color: '#ffffff',width:'25px',height:'25px' }"
                            shape="circle"></p-avatar>
                        <div class="text-white ml-2">
                            <p class="m-0 card-subheading-txt">Created by you</p>
                            <!-- <p class="m-0 card-normal-txt mt-1 ">Last viewed {{data.timeAgo }} ago</p> -->
                            <p class="m-0 card-normal-txt mt-1">Created on: {{data.created_on
                                |
                                date:'medium'}}</p>
                        </div>
                    </div>
                </div>
                <div class="flex p-2 col-6 md:col-4 lg:col-3 xl:col-2 card-color justify-content-center align-items-center empty-card1"
                    *ngIf="filteredProducts.length > 0">
                    <i class="pi pi-plus text-white text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                </div>
            </div>
            <div class="flex p-2 col-6 md:col-4 lg:col-3 xl:col-2 mt-2 card-color justify-content-center align-items-center empty-card"
                *ngIf="filteredProducts.length == 0">
                <i class="pi pi-plus text-white text-4xl pointer" (click)="onClickgotoxPilot()"></i>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center" (mouseenter)="tabRecent = true"
                    (mouseleave)="tabRecent = false" (click)="activeIndex = 1">
                    <img src="./assets/recent.svg" class="tab-view-img"
                        [src]="tabRecent || activeIndex === 1  ? './assets/recent-hover.svg' : './assets/recent.svg'" />
                    <p class="m-0 pl-2 tabview-header-txt">Recently Viewed</p>
                </div>
            </ng-template>
            <div class="col-12 flex justify-content-center text-xl mt-4 text-white font-font-medium">
                No Recently Viewed Products
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex  align-items-center justify-content-center" (mouseenter)="tabCreated = true"
                    (mouseleave)="tabCreated = false" (click)="activeIndex = 2">
                    <img src="./assets/user.svg" class="tab-view-img"
                        [src]="tabCreated || activeIndex === 2 ? './assets/user-hover.svg' : './assets/user.svg'" />
                    <p class="m-0 pl-2 tabview-header-txt">Created by you</p>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-6 md:col-4 lg:col-3 xl:col-2 pointer"
                    *ngFor="let data of filteredProductsByEmail ; let i = index"
                    (click)="onClickCreateNewTemplate(data)">
                    <div class="card-color relative">
                        <i class="pi pi-heart-fill overlay-heart absolute top-0 right-0 text-2xl"></i>
                        <div class="overlay absolute bottom-0 right-0 text-2xl">{{ i + 1 }}</div>
                        <img alt="Card" src="./assets/d-card.svg" class="w-full" />
                    </div>
                    <div class=" flex justify-content-between align-items-center card-color card-title p-3">
                        <div class="title-container" [title]="data.title">
                            {{ data.title }}
                        </div>
                        <i class="pi pi-external-link " [title]="data.product_url"
                            (click)="openExternalLink(data.product_url)"
                            *ngIf="data.product_url && data.product_url !== ''"></i>
                    </div>
                    <div class="card-color p-3 pb-4 flex align-items-start body-card">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            styleClass="mr-2" shape="circle" *ngIf="!currentUser"
                            [style]="{ width:'40px',height:'40px' }"></p-avatar>
                        <p-avatar [label]="userImage" *ngIf="currentUser" styleClass="mr-2"
                            [style]="{ 'background-color': '#9c27b0', color: '#ffffff',width:'25px',height:'25px' }"
                            shape="circle"></p-avatar>
                        <div class="text-white ml-2">
                            <p class="m-0 card-subheading-txt">Created by you</p>
                            <!-- <p class="m-0 card-normal-txt mt-1 ">Last viewed {{data.timeAgo }} ago</p> -->
                            <p class="m-0 card-normal-txt mt-1">Created on: {{data.created_on
                                |
                                date:'medium'}}</p>
                        </div>
                    </div>
                </div>
                <div class="flex p-2 col-6 md:col-4 lg:col-3 xl:col-2 card-color justify-content-center align-items-center empty-card1"
                    *ngIf="filteredProductsByEmail.length > 0">
                    <i class="pi pi-plus text-white text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                </div>
                <div class="flex p-2 col-6 md:col-4 lg:col-3 xl:col-2 mt-2 card-color justify-content-center align-items-center empty-card"
                    *ngIf="filteredProductsByEmail.length == 0">
                    <i class="pi pi-plus text-white text-4xl pointer" (click)="onClickgotoxPilot()"></i>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
<xnode-limit-reached-popup *ngIf="showLimitReachedPopup" [visible]="showLimitReachedPopup"
    (closePopup)="this.showLimitReachedPopup = false;"></xnode-limit-reached-popup>