<div class="sidebar flex justify-content-center flex-wrap bg-white">
  <div class="">
    <img src="./assets/piggy.svg " width="45px" class="m-2">

    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><img src="./assets/grapph.svg " width="42px" class="m-2"></a></li>
              
      <li ><a href="#">
        <i class="pi pi-chart-bar m-3" style="font-size: 1.5rem ;color: #4B4B4B;"></i>
      </a></li>        
      <li ><a href="#">
        <i class="pi pi-credit-card m-3" style="font-size: 1.5rem;color: #4B4B4B;"></i>
      </a></li>
      <li><a href="#">
          <img src="./assets/money-bag.svg " width="42px" class="m-2">
        </a>
      </li>
      <li><a href="#">
        <img src="./assets/arrow.svg " width="42px" class="m-2">
      </a>
    </li>
    </ul>
    
  </div>
  </div>