.para-text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400rem !important;
    font-size: 1rem;
}

.stake-holder {
    background-color: none;
    border: 1px solid #535353;
}

.finbuddy-text {
    width: auto;
    color: #FFFFFF;
}

:host ::ng-deep.p-button {
    color: white;
    font-weight: 700 !important;
    height: 2rem;
    font-size: 10px;
}

:host ::ng-deep .p-dropdown {
    background: #3A3942;
    border: 0;
}

.stepper-card {
    width: 566px;
}

@media screen and (max-width: 780px) {
    .finbuddy-text {
        width: auto !important;
    }
}

@media screen and (max-width: 780px) {
    .nelson-name {
        width: 10rem !important;
    }
}

@media (max-width: 780px) {
    :host ::ng-deep.p-button {
        margin: 10px;

    }
}

@media (max-width: 780px) {

    .stepper-card {
        width: 500px;
        margin-left: 49px;
    }
}

@media (max-width: 780px) {

    .nelson-name {
        width: 370px !important;

    }
}

.stepper {
    margin-left: 2rem;
}


.feature-key {
    background: #FFFFFF !important;
    color: black !important;
    font-weight: 700;
    font-size: 13px;
    border: none;
    border-radius: 20px;
    display: inline-block;
}

.icon-check {
    margin-right: 0.5rem;
    background-color: #4B4B4B;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
}

.feature-value {
    align-items: center;
    width: auto;
    justify-content: center;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
    color: #ffffff;
}

.overview-body {
    height: calc(100vh - 130px);
    overflow: auto;
    background-color: #23222B;
    margin: 25px;
}