<p-dialog header="" [(visible)]="visible" [style]="{width:'41vw'}" class="popup">
    <div class="flex">
        <img src="../../../assets/popup-tick.png" alt="popup" class="w-3rem h-3rem">
        <p class="text-xl font-medium  ml-5">
            We got your application, our admin will sooner approve your account and share a login link to the
            registered email.
        </p>
    </div>
    <p-button label="Close" class="popup-close flex justify-content-end mr-4" (click)="Popup()"></p-button>
</p-dialog>