<p-dialog header="General Feedback" class="feedback" [(visible)]="visible"
    [style]="{ width:dialogWidth, height: dialogHeight}" [draggable]="false" [resizable]="false"
    (onHide)="closePopup()">
    <ng-template pTemplate="header">
        <div class="flex align-items-center p-3">
            <i class="pi pi-angle-left mr-3 pointer" (click)="utils.showFeedbackPopupByType('report-bug')"></i>
            <div>
                <p class="m-0 font-bold text-2xl heading-color">General Feedback</p>
                <p class="m-0 text-sm font-medium heading-color">Your feedback will be used to improve xnode</p>
            </div>
        </div>
    </ng-template>
    <div class="p-4">
        <form [formGroup]="generalFeedbackForm" (ngSubmit)="sendFeedback($event)">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="flex justify-content-end align-items-center">
                    <a class="font-medium text-base no-underline pointer"
                        (click)="utils.showFeedbackPopupByType('view-existing-feedbacks')">View feedback history</a>
                    <i class="pi pi-arrow-right"></i>
                </div>
            </div>
            <div
                class="grid flex justify-content-center align-items-center col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <label class="text-base font-medium ">How would you like to rate your experience</label>
                <form [formGroup]="formGroup">
                    <p-rating formControlName="value" [stars]="5" (onRate)="gotRating($event)">
                        <ng-template pTemplate="cancel">
                            <img src="./assets/star1.svg" width="60px" height="60px" />
                        </ng-template>
                        <ng-template pTemplate="onicon">
                            <img src="./assets/star1.svg" width="60px" height="60px" />
                            <img src="./assets/star2.svg" width="60px" height="60px" />
                            <img src="./assets/star3.svg" width="60px" height="60px" />
                            <img src="./assets/star4.svg" width="60px" height="60px" />
                            <img src="./assets/star5.svg" width="60px" height="60px" />
                        </ng-template>
                        <ng-template pTemplate="officon">
                            <img src="./assets/star1.svg" width="60px" height="60px" />
                        </ng-template>
                    </p-rating>
                </form>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 -mt-2">
                <label class="text-sm font-normal">Tell us more (optional)</label>
                <textarea rows="3" cols="30" pInputTextarea formControlName="tellUsMore"
                    [ngClass]="{ 'is-invalid': submitted && feedback['tellUsMore'].errors }" class="col-12"
                    placeholder="Describe more about your experience"></textarea>
                <div *ngIf="submitted && feedback['tellUsMore'].errors" class="invalid-feedback">
                    <div *ngIf="feedback['tellUsMore'].errors?.['required']">
                        Tell us more is required</div>
                </div>
            </div>
            <div class="grid col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="field col-6 sm:col-6 md:col-6 lg:col-6 xl:col-6">
                    <label class="text-sm font-normal">Product</label>
                    <input type="text" pInputText formControlName="product" placeholder=""
                        [ngClass]="{ 'is-invalid': submitted && feedback['product'].errors }" class="col-12" />
                    <div *ngIf="submitted && feedback['product'].errors" class="invalid-feedback">
                        <div *ngIf="feedback['product'].errors?.['required']">
                            Product is required</div>
                    </div>
                </div>
                <div class="field col-6 sm:col-6 md:col-6 lg:col-6 xl:col-6">
                    <label class="text-sm font-normal">Section</label>
                    <input type="text" pInputText formControlName="section" placeholder="e.g., Dashboard"
                        [ngClass]="{ 'is-invalid': submitted && feedback['section'].errors }" class="col-12" />
                    <div *ngIf="submitted && feedback['section'].errors" class="invalid-feedback">
                        <div *ngIf="feedback['section'].errors?.['required']">
                            Section is required</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="text-sm font-normal">Screenshot</label>
                <div class="image-container border-1" *ngIf="screenshot !==''">
                    <img [src]="screenshot" width="100%" class="img">
                    <div class="img-footer flex justify-content-between align-items-center px-3">
                        <div class="text-base">{{screenshotName}}</div>
                        <i class="pi pi-trash pointer" (click)="onDeleteImage()"></i>
                    </div>
                </div>
                <div class="image-container border-1 flex align-items-center justify-content-center"
                    *ngIf="screenshot ===''" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)">
                    <div (click)="onUploadIconClick()">
                        <p>Upload or drag</p>
                        <input type="file" (change)="onFileInput($event)" accept=".png, .jpeg" style="display: none;"
                            id="file" #fileInput (change)="onFileSelected($event)">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="mt-3">
            <p-button label="Cancel" styleClass="p-button-rounded" class="cancel-button"
                (click)="closePopup()"></p-button>
            <p-button label="Send Feedback" styleClass="p-button-rounded p-button-primary"
                (click)="sendFeedback($event)"></p-button>
        </div>
    </ng-template>
</p-dialog>