.heading-color {
    color: #DEDEDE;
}

:host ::ng-deep.p-dialog {
    border: 1px solid #595959 !important;
}

.container {
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    border: dashed 1px #595959;
    position: relative;
    height: 60%;
    display: flex;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 40%;
        height: 70%;
        top: 0;
        left: 0;
    }
}

.single-file {
    background: #4B4B4B;
}

.image-container {
    height: 180px;
    border-radius: 8px;
    border-color: #4B4B4B;
}

.img {
    height: 70%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-footer {
    background-color: #4B4B4B;
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container-img {
    display: flex;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 40%;
        height: 70%;
        top: 0;
        left: 0;
    }
}

// :host::ng-deep .p-dropdown .p-dropdown-label {
//     color: #ffffff;
// }

.p-inputtext,
textarea {
    color: #ffffff;
    background: #2E2D36;
    padding: 0.75rem 0.75rem;
    border: 1px solid #2E2D36;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    resize: none !important;
}

:host::ng-deep.cancel-button .p-button {
    color: #ffffff;
    // background: #2E2D36;
    background: #23222B;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ffffff;
}

:host::ng-deep.custom-dropdown .p-dropdown {
    width: 100%;
    /* or any other desired width */
    // color: #ffffff;
    background: #2E2D36;
    border: 1px solid #2E2D36;

}

:host::ng-deep.browseFiles .p-button:hover {
    border-radius: 2rem;
    background-color: #23222B !important;
    color: #2C91FD !important;
    border: solid 1px #2C91FD;
}

:host::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 1px solid #4B4B4B;
}

.invalid-feedback {
    color: red;
}

.error-message {
    color: red;
}

:host::ng-deep .p-dialog .p-dialog-footer {
    border-top: 1px solid #4B4B4B;
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list {
    margin-top: 1.5rem;
    width: 500px;

    // .single-file {
    //     display: flex;
    //     padding: 0.5rem;
    //     justify-content: space-between;
    //     align-items: center;
    //     border: dashed 1px #979797;
    //     border-radius: 12px;
    //     margin-bottom: 1rem;

    //     .delete {
    //         display: flex;
    //         margin-left: 0.5rem;
    //         cursor: pointer;
    //         align-self: flex-end;
    //     }


    //     display: flex;
    //     flex-grow: 1;

    //     .name {
    //         font-size: 14px;
    //         font-weight: 500;
    //         color: #353f4a;
    //         margin: 0;
    //     }

    //     .size {
    //         font-size: 12px;
    //         font-weight: 500;
    //         color: #a4a4a4;
    //         margin: 0;
    //         margin-bottom: 0.25rem;
    //     }

    //     .info {
    //         width: 100%
    //     }
    // }
}

.star-image {
    width: 58px;
}

.star-image:hover {
    width: 60px;
}

.star-width {
    width: 61px;
    height: 61px;
}

:host ::ng-deep {
    .p-dropdown .p-dropdown-label {
        color: #ffffff !important;
        // font-weight: 600;
    }
}

:host ::ng-deep.p-inputtext:enabled:hover,
textarea:enabled:hover {
    border-color: #2E2D36 !important;
}

:host ::ng-deep.p-dropdown:not(.p-disabled):hover {
    border: 1px solid #2E2D36;
}

.feedback-history {
    color: #02ADEE;
}

.ellipsis-text {
    white-space: nowrap;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .send-feedback-btn.p-button {
    background: var(--primary-color);
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid var(--primary-color);
}

.p-button:enabled:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

:host ::ng-deep .p-dropdown-panel {
    border: 1px solid #535354;
    background-color: #2E2D36 !important;
    color: #ffffff !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-header {
    background-color: #2E2D36 !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items-wrapper {
    background-color: #2E2D36 !important;
    max-height: 180px !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #42404B !important;
    color: white !important;
}

:host ::ng-deep .p-dropdown-item {
    color: #ffffff !important;
}

:host ::ng-deep .p-dropdown-item:hover {
    color: #ffffff !important;
    background: #393843 !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items {
    padding: 0;

}

:host ::ng-deep .p-dropdown-filter-container {
    border: 1px solid transparent !important;
    background: transparent;
}

:host ::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    width: 100%;
    background-color: #2E2D36 !important;
    border: none;
    color: white !important;
    box-shadow: none !important;
}

:host ::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-header .p-dropdown-filter .p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: none;
    background-color: #2E2D36 !important;
    color: white !important;
}

:host::ng-deep .p-dropdown-panel .p-dropdown-header {
    padding: 0;
}

.selected-item {
    font-weight: bold;
}

.check-mark {
    margin-left: 5rem;
}

.title-container {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 60%);
}