<xnode-no-comments *ngIf="list?.length === 0; else conversationComments"
    [content]="'No open tasks yet'"></xnode-no-comments>
<ng-template #conversationComments>
    <div class="p-4">
        <div class="flex flex-row justify-content-between">
            <div class="">
                <div class="flex align-items-center filter-grid ">
                    <p class="m-0 pl-2">Filters:</p>
                    <p-dropdown class="w-full" [options]="filterOptions" placeholder="Select " [(ngModel)]="selectedFilter"
                        optionLabel="label" (onChange)="filterList(list)"></p-dropdown>
                </div>
            </div>
            <div class="flex justify-content-end">
                <div class="flex flex-row justify-content-end align-items-center search-grid">
                    <div class="p-inputgroup">
                      <span class="mr-2">
                        <input type="text" *ngIf="filter.text" pInputText [(ngModel)]="searchIconKeyword" (keyup)="searchConversation($event)" class="w-full"/>
                        <p-multiSelect *ngIf="filter.users" id="comment-panel-user-filter" optionValue="user_id" optionLabel="name" [(ngModel)]="selectedUsers" [options]="usersList" (onChange)="userFilter($event)" [showClear]="true" placeholder="Select a user" ></p-multiSelect>
                      </span>
                        <i (click)="filterDisplay('text')" class="pi pi-search text-white pointer pt-2 mr-2 w-auto"></i>
                    </div>
                    <img src="./assets/user.svg"  (click)="filterDisplay('users')" alt="user" class="pointer"/>
                </div>
            </div>
        </div>
        <div class='comments-grid'>
            <xnode-task-list [swaggerData]="swaggerData" [activeIndex]="activeIndex" [list]="filteredList" [usersList]="usersList"
                [topParentId]="selectedComment?.id" [searchIconKeyword]="searchIconKeyword"></xnode-task-list>
        </div>
    </div>
</ng-template>
