<xnode-no-comments *ngIf="list?.length === 0; else conversationComments"
    [content]="'No open tasks yet'"></xnode-no-comments>
<ng-template #conversationComments>
    <div class="p-4">
        <div class="grid">
            <div class="col-6">
                <div class="flex align-items-center filter-grid ">
                    <p class="m-0 pl-2">Filters:</p>
                    <p-dropdown [options]="filterOptions" placeholder="Select " [(ngModel)]="selectedFilter"
                        optionLabel="label"></p-dropdown>
                </div>
            </div>
            <div class="col-6">
                <div class="flex align-items-center search-grid">
                    <div class="p-inputgroup">
                        <input type="text" pInputText />
                        <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
                    </div>
                    <img src="./assets/user.svg" alt="user" />
                </div>
            </div>
        </div>
        <div class='comments-grid'>
            <xnode-task-list [activeIndex]="activeIndex" [list]="list" [usersList]="usersList"
                [topParentId]="selectedComment?.id"></xnode-task-list>
        </div>
    </div>
</ng-template>