<div class="p-5">
   
      <h3>Nested FormGroup</h3>

<form [formGroup]="myForm">
	
    <xnode-input-text [address]="myForm"></xnode-input-text>
    <xnode-input-textarea [textArea]="myForm"></xnode-input-textarea>
    <xnode-input-checkbox [checkBox]="myForm"></xnode-input-checkbox>
    <xnode-input-dropdown [dropDown]="myForm"></xnode-input-dropdown>
    <xnode-input-radio [radioButton]="myForm"></xnode-input-radio> 

    <button pButton pRipple label="Submit" [disabled]="!myForm.valid" class="p-button-success"></button>

</form>
<pre>Form Values: {{myForm.value | json}}</pre>

</div>