// ::ng-deep svg {
//   background-color: lightgray;
//   cursor: default;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

::ng-deep svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

::ng-deep path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

::ng-deep svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

::ng-deep path.link.selected {
  stroke-dasharray: 10,2;
}

::ng-deep path.link.dragline {
  pointer-events: none;
}

::ng-deep path.link.hidden {
  stroke-width: 0;
}

::ng-deep circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

::ng-deep circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

::ng-deep text {
  font: 12px sans-serif;
  pointer-events: none;
}

::ng-deep text.id {
  text-anchor: middle;
  font-weight: bold;
}


.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}
