<div class="w-full agent-hub-container border-round-2xl mt-3 p-3">
  <ng-container>
    <p-tabView (onChange)="agentDetailsModel.onTabSwitchHandler($event)"
      [(activeIndex)]="agentDetailsModel.activeIndex">
      <ng-container *ngFor="let tabItem of agentDetailsModel.tabItems">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>{{tabItem.title}}</span>
          </ng-template>
          <ng-template pTemplate="content" [ngSwitch]="tabItem.title">
            <ng-container *ngSwitchCase="'Overview'">
              <ng-container [ngTemplateOutlet]="overview"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Agent Instructions'">
              <ng-container [ngTemplateOutlet]="instruction"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Capabilities'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Topics'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Prompts'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Knowledge'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Models'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'Tools'">
              <ng-container [ngTemplateOutlet]="dynamicTable"></ng-container>
            </ng-container>
          </ng-template>
        </p-tabPanel>
      </ng-container>
    </p-tabView>

    <ng-template #dynamicTable>
      <div class="w-full table-height" *ngIf="agentDetailsModel.activeIndex > 1">
        <xnode-dynamic-table [inputData]="agentDetailsModel.tableData" [cols]="agentDetailsModel.columns"
          [tableInfo]="agentDetailsModel.tableInfo" [showColumnFilterOption]="agentDetailsModel.showColumnFilterOption"
          [tableRowActionOptions]="agentDetailsModel.tableRowActionOptions"
          [paginatorInfo]="agentDetailsModel.paginatorInfo"
          [searchFilterOptions]="agentDetailsModel.searchFilterOptions" columnWidth="13.8rem"
          [tableHeaderbgColor]="tableHeaderbgColor" [bgColorRow]="bgColorRow" [showViewRowData]="true"
          (changeEvent)="agentDetailsModel.viewHandler($event)"
          (paginatorChangeEvent)="agentDetailsModel.paginatorViewHandler($event)"></xnode-dynamic-table>
      </div>
    </ng-template>
  </ng-container>

  <!-- overview html -->
  <ng-template #overview>
    <div class="table-height">
      <xnode-agent-overview formType="overview"
        [agentInfo]="agentDetailsModel.agentHubDetail.agentInfo"></xnode-agent-overview>
    </div>
  </ng-template>

  <!-- instruction html -->
  <ng-template #instruction>
    <div class="table-height">
      <xnode-agent-overview formType="instruction"
        [agentInfo]="agentDetailsModel.agentHubDetail.agentInfo"></xnode-agent-overview>
    </div>
  </ng-template>
</div>