<p-dialog header="Product Status" [(visible)]="showProductStatusPopup" [style]="{width: '30vw'}">
    <div class="p-4">
        It appears that app has not been onboarded completely, would you like to generate the application based on the
        information you have shared earlier?
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="continueChat()" label="Continue Chat"
            styleClass="p-button-rounded"></p-button>
        <p-button icon="pi pi-check" (click)="getPreviousCoversation()" label="Generate Application"
            styleClass="p-button-outlined p-button-rounded"></p-button>
    </ng-template>
</p-dialog>