<p-dialog header="{{dialogHeader}}" [(visible)]="showProductStatusPopup" [style]="{width: '30vw'}"
    [breakpoints]="{ '1450px': '35vw' }" (onHide)="continueChat()">
    <div *ngIf="contentdata?.content; else elseBlock">
        <div class="p-4" *ngIf=" this.buttonLabel !== 'Cancel'">
            Are you sure, you want to {{content}} this app?
        </div>
        <div class="p-4" *ngIf="this.buttonLabel === 'Cancel'">
            {{content}}
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="p-4">
            It appears that app has not been onboarded completely, would you like to generate the application based on
            the
            information you have shared earlier?
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button (click)="continueChat()" label="Continue Chat"
            styleClass="p-button-rounded p-button-outlined "></p-button>
        <p-button (click)="actionButton()" label="{{buttonLabel}}"
            styleClass="p-button-rounded generate-app"></p-button>
    </ng-template>
</p-dialog>

<xnode-limit-reached-popup *ngIf="showLimitReachedPopup" [visible]="showLimitReachedPopup"
    (closePopup)="this.showLimitReachedPopup = false;"></xnode-limit-reached-popup>