<div class="flex flex-wrap justify-content-between">
    <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer componentsize m-1"
        id="Rows">
        <div class="flex flex-column">
            <div class="text-center">
                <img src="./assets/dev.png" alt="container">
            </div>
            <div class="mt-2 f-8  text-center componenttext">
                DEV
            </div>
        </div>
    </div>
    <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer componentsize m-1"
    id="Rows">
    <div class="flex flex-column">
        <div class="text-center">
            <img src="./assets/uat.png" alt="container">
        </div>
        <div class="mt-2 f-8  text-center componenttext">
            UAT
        </div>
    </div>
</div>
<div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer componentsize m-1"
id="Rows">
<div class="flex flex-column">
    <div class="text-center">
        <img src="./assets/prd.png" alt="container">
    </div>
    <div class="mt-2 f-8  text-center componenttext">
        PRD
    </div>
</div>
</div>
<div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer componentsize m-1"
id="Rows">
<div class="flex flex-column">
    <div class="text-center">
        <img src="./assets/create.png" alt="container">
    </div>
    <div class="mt-2 f-8  text-center componenttext">
        Create
    </div>
</div>
</div>

</div>