.content{
  background-color: #212121;
}

.expand-spec {
  height: calc(100vh - 110px);
}

.swagger-h {
  background: #fff;
}

.data-dictionary {
  overflow: scroll;
  height: calc(100vh - 216px);
}

// @media (min-width: 768px) {
//   .expand-spec {
//     width: calc(100vw - 380px);
//   }
// }
// @media (min-width: 1280px) {
//   .expand-spec {
//     width: calc(100vw - 430px);
//   }
// }
// @media (min-width: 1440px) {
//   .expand-spec {
//     width: calc(100vw - 455px);
//   }
// }
