.content {
  height: calc(100vh - 112px);
}

.expand-spec{
  background-color: #212121;
}

.swagger-h {
  height: calc(100vh - 112px);
  background: #fff;
}

.data-dictionary {
  overflow: scroll;
  height: calc(100vh - 216px);
}

@media (min-width: 768px) {
  .expand-spec {
    width: calc(100vw - 380px);
  }
}
@media (min-width: 1280px) {
  .expand-spec {
    width: calc(100vw - 430px);
  }
}
@media (min-width: 1440px) {
  .expand-spec {
    width: calc(100vw - 455px);
  }
}
