<p-dialog header="Link to Change Request" [(visible)]="showCrPopup" [modal]="true" [style]="{ width: '30vw' }"
  [draggable]="false" [resizable]="false" (onHide)="close.emit(false)">
  <form [formGroup]="crForm" (ngSubmit)="linkCr()">
    <div class="grid">
      <div class="col-12">
        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
      </div>
      <div class="col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <img src="./assets/cr.svg" alt="cr">
          </span>
          <p-dropdown formControlName="crToAdd" [options]="crList" [(ngModel)]="crForm.value.crToAdd"
            (ngModelChange)="onDropdownChange($event)" optionLabel="label" appendTo="body"
            placeholder="Add new or search existing change requests"
            [ngClass]="{ 'is-invalid': submitted && crFormControl['crToAdd'].errors }">
          </p-dropdown>
        </div>
        <div *ngIf="submitted && crFormControl['crToAdd'].errors" class="invalid-feedback">
          <div *ngIf="crFormControl['crToAdd'].errors?.['required']">
            CR is required</div>
        </div>
        <p class="text-sm pointer mt-1 mb-0 api-ticket"
          *ngIf="crForm.get('priority')?.value || crForm.get('version')?.value || crForm.get('duedate')?.value">
          <span><i class="pi pi-plus pr-2"></i></span> Connect with the
          api
          ticketing
          system
        </p>
      </div>
      <div class="col-12 flex flex-wrap"
        *ngIf="crForm.get('priority')?.value || crForm.get('version')?.value || crForm.get('duedate')?.value">
        <div class="col-4">
          <label for="priority" class="api-ticket text-sm ">Priority: </label>
          <div class="ml-2">
            {{ crForm.get('priority')?.value?.label }}
          </div>
        </div>
        <div class="col-4">
          <label class="api-ticket text-sm ">To Version: </label>
          <div class="ml-2"> {{ crForm.get('version')?.value?.label }}</div>
        </div>
        <div class="col-4">
          <label class="api-ticket text-sm ">Due Date: </label>
          <div class="ml-2">
            {{ crForm.get('duedate')?.value | date: 'shortDate' }}
          </div>
        </div>
      </div>
      <div class="col-12 pb-0" *ngIf="reviewerList?.length">
        <div class="flex justify-content-between flex-wrap">
          <p class="m-0 api-ticket text-sm">
            Reviewers
          </p>
        </div>
      </div>
      <div class="col-12" *ngIf="reviewerList?.length">
        <div class="flex align-items-center">
          <div class="flex level-title p-2 justify-content-center align-items-center w-3rem h-3rem mr-2">
            L1
          </div>
          <div class="reviewer-grid flex">
            <div class="flex" *ngFor="let reviewer of reviewerList[0].users">
              <div class="reviewer-chip flex align-items-center mr-1">
                <p class="m-0 avtar">
                  {{setAvatar(reviewer)}}
                </p>
                <p class="mt-0 mb-0 ml-1">
                  {{reviewer.displayName}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" styleClass="p-button-sm p-button-secondary" [rounded]="true" class="mr-2"
      (click)="close.emit(false)"></p-button>
    <p-button type="submit" label="Link" styleClass="p-button-sm confirm-success btn-primary" [rounded]="true"
      (click)="linkCr()"></p-button>
  </ng-template>
</p-dialog>

<xnode-create-new-cr-version *ngIf="showNewCrPopup" [visible]="showNewCrPopup" header="Add New CR"
  [versions]="versionList" (close)="closePopUp($event)">
</xnode-create-new-cr-version>