<div class="background-color">
    <div class="navbar flex align-items-center justify-content-between">
        <div class="logo ml-6">
            <img src="../../assets/logo-white.svg" alt="white-text-logo">
        </div>
        <div class="middle-section">
            <ul class="nav justify-content-center flex ">
                <li class="nav-item ">
                    <a class="nav-link text-white text-2xl" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-2xl" href="#">About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-2xl" href="#">Features </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-2xl" href="#">Blog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-2xl" href="#">FAQ </a>
                </li>
            </ul>
        </div>
        <div class="end-section">
            <ul class="nav justify-content-end flex">
                <li class="nav-item mt-3">
                    <a class="nav-link text-white text-2xl" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <p-button label="Sign up" class="signup-button"></p-button>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid m-0">
        <div class="col-6 md:col-6 lg:col-6">
            <h1 class="m-0 ml-6">Transforming Product Development: AI-Driven, No-Code Innovation
            </h1>
            <p class="text-xl ml-6">Unleash innovation with XNODE - Turning your ideas into reality with AI-assisted
                no-code
                application
                building.</p>
            <div class="flex justify-content-start ml-5 p-2">
                <p-button label="Get Started" class="get-start-button" icon="pi pi-angle-right"
                    iconPos="right"></p-button>
            </div>
            <div class="p-2 mt-8">

                <p class=" text-xl ml-6 w-56rem">Trusted by more than 50,000+ companies across the globe</p>
                <div class="flex justify-content-around  w-7 ml-4">
                    <div class="flex">
                        <img src="../../assets/apple-icon.png" alt="apple-icon">
                    </div>
                    <div class="flex">
                        <img src="../../assets/tesla.svg" alt="tesla-icon">
                    </div>
                    <div class="flex">
                        <img src="../../assets/snap-inc.svg" alt="snap-inc">
                    </div>
                    <div class="flex">
                        <img src="../../assets/amazon.svg" alt="amazon-icon">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6 md:col-6 lg:col-6 mt-3">
            <div class="p-5">
                <img src="../../assets/manface.png" class="man-face" alt="x">
            </div>
        </div>
    </div>
</div>