<div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
    <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates"></p-dropdown>
    </div>
    <div class="flex align-items-center justify-content-center gap-3"
        *ngIf="showDesign">
        <img src="./assets/Computer.svg"
            [ngClass]="{ 'highlighted': highlightedIndex === 'desktop' }"
            alt="desktop"
            class="image-icon" (click)="emitIconClicked('desktop')">
        <img src="./assets/tab.svg"
            [ngClass]="{ 'highlighted': highlightedIndex === 'tab' }" alt="tab"
            class="image-icon" (click)="emitIconClicked('tab')">
        <img src="./assets/mobile.svg"
            [ngClass]="{ 'highlighted': highlightedIndex === 'mobile' }"
            alt="mobile"
            class="image-icon" (click)="emitIconClicked('mobile')">
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded save-btn"></p-button>
        <p-splitbutton [label]="selectedOption" [model]="templatesOptions"
            styleClass="p-button-raised p-button-rounded"
            (onClick)="onSelectOption()"></p-splitbutton>
    </div>
</div>