<div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
    <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates" [(ngModel)]="selectedTemplate" optionLabel="title" optionValue="id"
            class="app-dropdown" (onChange)="selectedProduct($event)">
        </p-dropdown>
        <div *ngIf="product_url &&  product_url !==''">
            <i class="pi pi-external-link app-external-link-icon p-4 text-white pointer" [title]="product_url"
                (click)="openExternalLink(product_url)" *ngIf="product_url !== ''"></i>
        </div>
    </div>
    <div class="flex align-items-center justify-content-center gap-3  pointer" *ngIf="showDeviceIcons">
        <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'desktop' }" alt="desktop"
            class="image-icon" (click)="deviceIconClicked('desktop')">
        <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'tab' }" alt="tab"
            class="image-icon" (click)="deviceIconClicked('tab')">
        <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'mobile' }" alt="mobile"
            class="image-icon" (click)="deviceIconClicked('mobile')">
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded save-btn"></p-button>
        <p-splitButton [label]="selectedOption" [model]="this.productOptions" (onClick)="onSelectOption()"
            styleClass="p-button-sm p-button-rounded"></p-splitButton>
        <p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
    </div>
</div>
<xnode-limit-reached-popup *ngIf="showLimitReachedPopup" [visible]="showLimitReachedPopup"
    (closePopup)="this.showLimitReachedPopup = false;"></xnode-limit-reached-popup>