<div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
    <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates"></p-dropdown>
    </div>
    <div class="flex align-items-center justify-content-center gap-3  pointer" *ngIf="showDeviceIcons">
        <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'desktop' }" alt="desktop"
            class="image-icon" (click)="deviceIconClicked('desktop')">
        <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'tab' }" alt="tab"
            class="image-icon" (click)="deviceIconClicked('tab')">
        <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': selectedDeviceIndex === 'mobile' }" alt="mobile"
            class="image-icon" (click)="deviceIconClicked('mobile')">
    </div>
    <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded save-btn"></p-button>
        <p-dropdown [options]="templatesOptions" [(ngModel)]="selectedOption" optionLabel="label" styleClass=" border-round-3xl" class="dropdown" (onChange)="onSelectOption()"  ></p-dropdown>
    </div>
</div>
<p-toast></p-toast>