.publish-header {
    height: 88px;
}

:host ::ng-deep .p-dropdown {
    background: #3A3942;
    border: 0;
}

img.highlighted {
    background-color: #02ADEE !important;
}

:host ::ng-deep.p-button.p-button-icon-only {
    padding: 0 !important;
}

:host ::ng-deep .save-btn.p-button {
    background: #23222B;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #23222B;
}

:host ::ng-deep.dropdown.p-dropdown {
    background: #EF018F !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-label,
:host ::ng-deep .p-dropdown .p-dropdown-trigger {
    color: #ffffff;
}

:host ::ng-deep .dropdown .p-dropdown {
    background: #EF018F;
    height: 30px;
}


:host ::ng-deep .dropdown .p-dropdown-label {
    padding-top: 5px;
    font-size: 12px;
    border-radius: 30px;
}

.label {
    background-color: #EF018F;
}


:host ::ng-deep .app-dropdown .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 100%;
    color: #ffffff;
    background: #4F4E55;
}

:host ::ng-deep .app-dropdown .p-dropdown-label {
    padding-top: 5px;
    font-size: 12px;
    border-radius: 30px;
    margin-top:5px
}