.publish-header {
    height: 88px;
}

:host ::ng-deep .p-dropdown {
    background: #3A3942;
    border: 0;
}

img.highlighted {
    background-color: #02ADEE !important;
}

:host ::ng-deep.p-button.p-button-icon-only {
    padding: 0 !important;
}