<div class="flex flex-column gap-6">
<div class="flex justify-content-start flex-column gap-4">
    <p>Description</p>

    <input type="text" pInputText />

</div>

<div class="flex justify-content-start flex-column gap-4">
    <p>Description</p>

    <input type="text" pInputText />

</div>

<div class="flex justify-content-start flex-column gap-4">
    <p>Description</p>

    <input type="text" pInputText />

</div>

<div class="flex justify-content-start flex-column gap-4">
    <p>Description</p>

    <input type="text" pInputText />

</div>

</div>