.sctions-grid {
    background: #24232C;
    width: 60%;
    padding: 20px;
    color: #dfdfdf;
    max-height: 100px;
    overflow: hidden;
}

.sctions-grid-full {
    background: #24232C;
    width: 60%;
    padding: 20px;
    color: #dfdfdf;
    max-height: none;
}

.content {
    color: #949292;
    line-height: 32px;
}

.see-more-button {
    display: block;
    margin: 0 auto;
}