.sctions-grid {
    background: #24232C;
    width: 60%;
    padding: 30px;
    color: #dfdfdf;
    max-height: 150px;
    overflow: hidden;
}

.banner-grid {
    background: #24232C;
    width: 60%;
    padding: 30px;
    color: #dfdfdf;
    overflow: hidden;
}

.intro-grid {
    background: #24232C;
    width: 60%;
    padding: 30px;
    color: #dfdfdf;
}

.sctions-grid-full {
    background: #24232C;
    width: 60%;
    padding: 30px;
    color: #dfdfdf;
    max-height: none;
}

.content {
    color: #949292;
    line-height: 32px;
}

:host ::ng-deep.see-more-button .p-button {
    display: block;
    margin: 0 auto;
    position: absolute !important;
    right: 45% !important;
}

.spec-body {
    height: calc(100vh - 120px);
    overflow: auto;
}

.gradientback {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: -moz-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 255, 241, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0);
    /* IE6-9 */

}

.spec-status {
    color: #7E7E7E;
    font-size: 14px;
}

.author {
    columns: #dedede;
    font-size: 18px;
}

.pi-circle-fill {
    font-size: 8px;
}