<div class="spec-body">
    <xnode-expand-specification *ngIf="specExpanded" [dataToExpand]="selectedSpecItem"
        (closeFullScreenView)="closeFullScreenView()" [specExpanded]="specExpanded"></xnode-expand-specification>
    <div *ngIf="!specExpanded">
        <div class="flex justify-content-center  mb-3" *ngFor="let item of specItemList;let i = index;">
            <div class="w-8">
                <div class="intro-grid" [id]="item.title">
                    <div class="text-4xl font-semibold">{{i+1+".0" + ' ' + item?.title}}</div>
                    <div class="flex align-items-center spec-status">
                        <p class="text-sm font-medium">Published on {{item?.content?.[0]?.created_on | date: 'MMM d,
                            y'}}
                        </p>
                        <i class="pi pi-circle-fill pl-3 pr-3"></i>
                        <p class="text-sm font-medium">Updated on {{item?.content?.[0]?.modified_on | date: 'MMM d, y'}}
                        </p>
                        <i class="pi pi-circle-fill pl-3 pr-3"></i>
                        <p class="text-sm font-medium">3 mins read</p>
                    </div>
                    <div class="flex mt-2">
                        <div class="p-1 pl-3 pr-3 bg-white mr-2 border-round-2xl text-xs font-medium tag-text-color">
                            #{{app_name}}
                        </div>
                    </div>
                    <div class="flex mt-3 author align-items-center">
                        <p class="spec-status text-sm font-medium m-0"> By {{item?.content?.[0]?.modified_by}}
                    </div>
                    <img [src]="getMeBanner(item)" alt="banner" class="mt-3 w-full">
                </div>
                <div *ngFor="let content of item.content;let cIndex = index; " class="mt-2">
                    <div [ngClass]="!content?.collapsed ? 'sctions-grid relative' : 'sctions-grid-full relative'"
                        id={{content?.id}} #contentContainer>
                        <div class="flex justify-content-between flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <h3 class="m-0 pb-2 text-2xl font-bold" [innerHTML]="(i+1) + '.' + (cIndex+1) +' '+
                                content.title | highlight: searchTerm "></h3>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <img src="../assets/comment.svg" class="pointer" alt="comment"
                                    (click)="onClickComment(item, content)">
                            </div>
                        </div>
                        <p-button (click)="onClickSeeMore(item,content)" label="See More" *ngIf="!content?.collapsed"
                            styleClass="p-button-rounded p-button-outlined see-more-button"
                            class="absolute bottom-0 right-0 mr-2 mb-2 z-1"></p-button>
                        <p-button (click)="onClickSeeLess(item,content)" label="See Less" *ngIf="content?.collapsed"
                            styleClass="p-button-rounded p-button-outlined see-more-button"
                            class="absolute bottom-0 right-0 mr-2 mb-2"></p-button>

                        <div *ngIf="content.title ==='Usecases'">
                            <div class="flex col-12 justify-content-end align-items-center">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-usecases [searchTerm]="searchTerm"></xnode-common-usecases>
                        </div>
                        <div *ngIf="content.title ==='User Interface Design'">
                            <div class="flex justify-content-between align-items-center">
                                <h1>Dashboard</h1>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <iframe id="myIframe" [src]="iframeSrc" class="h-vh w-full" title="Template Builder">
                            </iframe>
                        </div>
                        <div *ngIf="content.title ==='Data Management Persistence'">
                            <xnode-data-model-common (dataFlowEmitter)="expandComponent(content)"
                                [item]="content"></xnode-data-model-common>
                        </div>
                        <div *ngIf="content.title ==='Workflows'">
                            <xnode-bpmn-common (dataFlowEmitter)="expandComponent(content)"
                                [item]="content"></xnode-bpmn-common>
                        </div>
                        <div *ngIf="content.title ==='Data Dictionary'">
                            <div class="flex justify-content-end align-items-center my-2 mr-2">
                                <i class="pi pi-code pointer mr-2" pTooltip="JSON view"
                                    (click)="checkedToggle('json', item, content)"></i>
                                <i class="pi pi-table pointer ml-2" pTooltip="Table view"
                                    (click)="checkedToggle('table', item, content)"></i>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer ml-3" style="width: 25px;">
                            </div>
                            <xnode-data-dictionary [searchTerm]="searchTerm" *ngIf="content.showTable; else elsejson"
                                [content]="content.content"></xnode-data-dictionary>
                            <ng-template #elsejson>
                                <pre [innerHTML]="content.content | json | highlight: searchTerm "></pre>
                            </ng-template>
                        </div>
                        <div *ngIf="content.title ==='Business Rules'">
                            <div class="flex justify-content-end align-items-center my-2 mr-2">
                                <i class="pi pi-code pointer mr-2" pTooltip="Json view"
                                    (click)="checkedToggle('json', item, content)"></i>
                                <i class="pi pi-table pointer ml-2" pTooltip="Table view"
                                    (click)="checkedToggle('table', item, content)"></i>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer" *ngIf="checked && selectedContent ===i" class="ml-3"
                                    style="width: 25px;">
                            </div>
                            <div *ngIf="content.showTable; else elsejson">
                                <xnode-common-spec-table [searchTerm]="searchTerm"
                                    [content]="content.content"></xnode-common-spec-table>
                            </div>
                            <ng-template #elsejson>
                                <pre [innerHTML]="content.content | json | highlight: searchTerm"></pre>
                            </ng-template>
                        </div>
                        <div *ngIf="content.title ==='Functional Dependencies'">
                            <div class="flex justify-content-end align-items-center my-2 mr-2">
                                <i class="pi pi-code pointer mr-2" pTooltip="Json view"
                                    (click)="checkedToggle('json', item, content)"></i>
                                <i class="pi pi-table pointer ml-2" pTooltip="Table view"
                                    (click)="checkedToggle('table', item, content)"></i>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer" *ngIf="checked && selectedContent ===i" class="ml-3"
                                    style="width: 25px;">
                            </div>
                            <div *ngIf="content.showTable; else elsejson">
                                <xnode-common-spec-table [searchTerm]="searchTerm"
                                    [content]="content.content"></xnode-common-spec-table>
                            </div>
                            <ng-template #elsejson>
                                <pre [innerHTML]="content.content | json | highlight: searchTerm"></pre>
                            </ng-template>
                        </div>
                        <div *ngIf="content.title ==='User Interfaces'">
                            <div class="flex justify-content-end align-items-center my-2 mr-2">
                                <i class="pi pi-code pointer mr-2" pTooltip="Json view"
                                    (click)="checkedToggle('json', item, content)"></i>
                                <i class="pi pi-table pointer ml-2" pTooltip="Table view"
                                    (click)="checkedToggle('table', item, content)"></i>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer" *ngIf="checked && selectedContent ===i" class="ml-3"
                                    style="width: 25px;">
                            </div>
                            <div *ngIf="content.showTable; else elsejson">
                                <xnode-common-spec-table [searchTerm]="searchTerm"
                                    [content]="content.content"></xnode-common-spec-table>
                            </div>
                            <ng-template #elsejson>
                                <pre [innerHTML]="content.content | json | highlight: searchTerm"></pre>
                            </ng-template>
                        </div>
                        <div *ngIf="content.title ==='Annexures'">
                            <div class="flex justify-content-end align-items-center my-2 mr-2">
                                <i class="pi pi-code pointer mr-2" pTooltip="Json view"
                                    (click)="checkedToggle('json', item, content)"></i>
                                <i class="pi pi-table pointer ml-2" pTooltip="Table view"
                                    (click)="checkedToggle('table', item, content)"></i>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer" *ngIf="checked && selectedContent ===i" class="ml-3"
                                    style="width: 25px;">
                            </div>
                            <div *ngIf="content.showTable; else elsejson">
                                <xnode-common-spec-table [searchTerm]="searchTerm"
                                    [content]="content.content"></xnode-common-spec-table>
                            </div>
                            <ng-template #elsejson>
                                <pre [innerHTML]="content.content | json | highlight: searchTerm"></pre>
                            </ng-template>
                        </div>
                        <div *ngIf="content.title ==='Historical Data Load'">
                            <div class="flex justify-content-end mb-2">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-spec-table [searchTerm]="searchTerm"
                                [content]="content.content"></xnode-common-spec-table>
                        </div>
                        <div *ngIf="content.title ==='User Personas'">
                            <div *ngFor="let persona of content.content" class="pb-3">
                                <xnode-user-persona [searchTerm]="searchTerm" [content]="persona"></xnode-user-persona>
                            </div>
                        </div>
                        <div class="w-full" *ngIf="content.title ==='Glossary'">
                            <div class="flex justify-content-end mb-2">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-spec-table [searchTerm]="searchTerm"
                                [content]="content.content"></xnode-common-spec-table>
                        </div>
                        <div *ngIf="content.title ==='Version Control'">
                            <div class="flex justify-content-end mb-2">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-spec-table [searchTerm]="searchTerm"
                                [content]="content.content"></xnode-common-spec-table>
                        </div>
                        <div *ngIf="content.title ==='Error Handling'">
                            <div class="flex justify-content-end mb-2">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-spec-table [searchTerm]="searchTerm"
                                [content]="content.content"></xnode-common-spec-table>
                        </div>
                        <div *ngIf="content.title ==='Stakeholder Approvals'">
                            <div class="flex justify-content-end mb-2">
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <xnode-common-spec-table [searchTerm]="searchTerm"
                                [content]="content.content"></xnode-common-spec-table>
                        </div>

                        <div *ngIf="checkListViewSections(content.title)">
                            <ul *ngFor="let content of content.content">
                                <li class="sub-content font-normal text-sm"
                                    [innerHTML]="content| highlight: searchTerm"></li>
                            </ul>
                        </div>

                        <div *ngIf="content.title ==='QA Test Cases'">
                            <div *ngFor="let subItem of content.content">
                                <div *ngIf="subItem.title !=='Sample Test Cases';else sampleTestCases">
                                    <p class="m-0 pb-2"><span class="sub-title text-base font-medium"
                                            [innerHTML]="subItem.title|  highlight: searchTerm">
                                        </span>
                                        : <span class="sub-content font-normal text-base"
                                            [innerHTML]="subItem.content| highlight: searchTerm"></span>
                                    </p>
                                </div>
                                <ng-template #sampleTestCases>
                                    <h4 class="mb-2" [innerHTML]="subItem.title| highlight: searchTerm"></h4>
                                    <div *ngFor="let testCase of subItem.content; let lastItem = last">
                                        <p *ngFor="let key of getTestCaseKeys(testCase)" class="m-0 pb-2">
                                            <span class="sub-title text-base font-medium" [innerHTML]="key| highlight:
                                            searchTerm"></span> :
                                            <span class="sub-content font-normal text-base"
                                                [innerHTML]="testCase[key] | highlight: searchTerm"></span>
                                        </p>
                                        <ng-container *ngIf="!lastItem">
                                            <hr class="mt-2 mb-2">
                                        </ng-container>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div *ngIf="content.title ==='OpenAPI Spec'">
                            <div class="flex col-12 justify-content-between align-items-center">
                                <h4 class="m-0 ">Swagger API</h4>
                                <img src="./assets/spec-minimize.svg" alt="container" (click)="expandComponent(content)"
                                    class="expnad-icon pointer">
                            </div>
                            <div id="openapi-ui-spec" class="openapi-spec mt-2"></div>
                        </div>
                        <div *ngIf="content.title ==='User Roles'">
                            <xnode-user-roles [searchTerm]="searchTerm" [content]="content.content"></xnode-user-roles>
                        </div>
                        <div class="w-full relative" (mouseup)="checkSelection(item,content)">
                            <div *ngIf=" isArray(content.content); else notArray" [id]="content.id">
                                <ul *ngFor="let subItem of content.content">
                                    <li>
                                        <p class="m-0 pb-1 line-height-3">
                                            <span class="sub-title text-base font-medium"
                                                [innerHTML]="subItem?.title| highlight: searchTerm"></span>
                                            :
                                            <span class="sub-content font-normal text-base"
                                                [innerHTML]="subItem?.content | highlight: searchTerm"></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <ng-template #notArray>
                                <div class="content text-base font-normal"
                                    [innerHTML]="content?.content | highlight: searchTerm" [id]="content.id"></div>
                            </ng-template>
                            <xnode-add-comment-overlay-panel *ngIf="content.showCommentOverlay && isOpenSmallCommentBox"
                                (sendComment)="sendComment($event)"></xnode-add-comment-overlay-panel>
                        </div>

                        <div class="gradientback" *ngIf="!content?.collapsed">
                        </div>
                        <div class="collapse" *ngIf="content?.collapsed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>