.bg-color {
    background: #343541 !important;
}

.heading {
    font-weight: 700;
    font-size: 54px;
    display: flex;
    align-items: flex-end;
}

// :host ::ng-deep .p-button {
//     padding-top: 14px;
//     padding-bottom: 14px;
//     // width: 100%;
// }

.invalid-feedback {
    color: red;
}

.error-message {
    color: red;
}

:host ::ng-deep.p-input-icon-right>.p-inputtext,
input {
    background: #2E2D36;
    color: #DEDEDE;
    width: 100% !important;
    border: solid 1px #2E2D36;
    border-radius: 0.75rem !important;
}

:host ::ng-deep .p-card-content {
    padding-top: 0;
}

:host ::ng-deep.p-checkbox .p-checkbox-box {
    background: #23222B !important;
    border: solid 1px #9E9E9E;
}

:host ::ng-deep.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #23222B;
    font-size: 14px;
}

:host ::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
    background: #ffffff !important;
    color: #23222B !important;
    border: solid 1px #ffffff;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

:host::ng-deep.custom-button {
    width: 225px;
    height: 65px;
}

.forgot-pwd {
    color: #02ADEE;
}

@media screen and (max-width: 780px) {
    .form-container {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

.heading-color {
    color: #DEDEDE;
}

:host ::ng-deep .p-card-body {
    color: #23222B;
}