<div class="bg-image bg-no-repeat h-full bg-color">
    <div class="logo">
        <img src=" ./assets/xnode-logo.svg" alt="x-logo" class="h-16">
    </div>
    <div class="login-div">
        <p-card styleClass="login-card">
            <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12 p-0">
                <div class="login-title font-bold">Login to xnode</div>
                <div class="pt-5">
                    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
                    <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
                        <div class="formgrid grid">
                            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <div>
                                    <label htmlFor="email" class="font-medium text-xl">Email/Username</label>
                                </div>
                                <input type="text" pInputText class="p-inputtext p-2" placeholder="Enter email"
                                    formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && login['email'].errors }">
                                <div *ngIf="submitted && login['email'].errors" class="invalid-feedback">
                                    <div *ngIf="login['email'].errors?.['required']">Email
                                        is required</div>
                                    <div *ngIf="login['email'].errors['email']">Email
                                        must be a valid email address</div>
                                </div>
                            </div>
                            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <div>
                                    <label htmlFor="password" class="font-medium text-xl">Password</label>
                                </div>
                                <p-password [toggleMask]="true" formControlName="password" placeholder="Enter password" [feedback]="false"
                                    [style]="{'width':'100%', 'height': '42px'}"
                                    class="text-lg text-color border-round-xl mt-1"
                                    [ngClass]="{ 'is-invalid': submitted && login['password'].errors }"></p-password>

                                <div *ngIf="submitted && login['password'].errors" class="invalid-feedback">
                                    <div *ngIf="login['password'].errors['required']">Password
                                        is required</div>
                                    <div *ngIf="login['password'].errors['minlength']">Password
                                        must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 text-right">
                                <a class="font-medium text-base no-underline forgot-pwd pointer"
                                    (click)="forgotPassword()">Forgot
                                    Password?</a>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 text-center">
                                <p-button type="submit" label="Login" [rounded]="true"></p-button>
                            </div>
                            <div
                                class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mt-4 flex align-items-center justify-content-center">
                                <p class="terms-conditions ">
                                    <a href="https://xnode.ai/terms-and-conditions/" class="no-underline mr-1 terms"
                                        target="_blank">Terms of service </a>and<a
                                        href="https://xnode.ai/privacy-policy/" target="_blank"
                                        class="no-underline ml-2 policy ">privacy policy</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-card>
    </div>
</div>
