.bg-color {
    background: #343541 !important;
}

.invalid-feedback {
    color: red;
}

.error-message {
    color: red;
}

:host ::ng-deep.p-input-icon-right>.p-inputtext,
input {
    background: #2E2D36;
    color: #DEDEDE;
    width: 100% !important;
    border: solid 1px #2E2D36;
    border-radius: 0.75rem !important;
}

:host ::ng-deep .p-card-content {
    padding: 0;
}

:host ::ng-deep.p-checkbox .p-checkbox-box {
    background: #23222B !important;
    border: solid 1px #9E9E9E;
}

:host ::ng-deep.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #23222B;
    font-size: 14px;
}

:host ::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
    background: #ffffff !important;
    color: #23222B !important;
    border: solid 1px #ffffff;
}

:host::ng-deep.p-card {
    background-color: #23222B !important;
}

.forgot-pwd {
    color: #02ADEE;
}

.bg-image {
    background-image: url('/assets/bg-image.svg');
    background-position: left bottom;
}

label {
    color: #DEDEDE;
}

:host ::ng-deep .p-card-body {
    color: #23222B;
    padding: 40px 100px;
}

.terms-conditions {
    color: #DEDEDE;
    font-size: 14px;
}

.terms,
.policy {
    color: #02ADEE;
}

.login-title {
    color: #DEDEDE;
}

@media (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: center;
        margin: 40px;
        height: 16px;
    }

    .login-title {
        font-size: 38px;
    }

    .login-div {
        padding-left: 20px;
        padding-right: 20px;
    }

    :host::ng-deep .p-card-body {
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo {
        display: flex;
        justify-content: center;
        margin: 40px;
        height: 20px;
    }

    .login-div {
        padding-left: 80px;
        padding-right: 80px;
    }

    :host::ng-deep .p-card-body {
        padding: 40px;
    }

    .login-title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .logo {
        display: flex;
        justify-content: end;
        margin: 40px;
    }

    .login-div {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    :host ::ng-deep .p-card {
        width: 680px !important;
    }

    .login-title {
        font-size: 48px;
    }
}