:host ::ng-deep .p-dropdown {
border-radius: 30px;
}
:host ::ng-deep .p-dropdown .p-dropdown-label  {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.selected-item {
    font-weight: bold;
}

.check-mark {
    margin-left: 2rem;
}