<form [formGroup]="myForm">
    <p-dropdown [options]="products" formControlName="selectedProduct" class="app-dropdown" optionLabel="title"
        [filter]="true" filterBy="title" filterPlaceholder="Search">
        <ng-template let-item pTemplate="item">
            <div class="item-container">
                {{ item.title }}
                <i class="pi pi-check check-mark"
                    *ngIf="myForm.value.selectedProduct && myForm.value.selectedProduct.id === item.id"></i>
            </div>
        </ng-template>
    </p-dropdown>
</form>