.card-footer {
    font-size: 14px;
    height: 20px;
}

.click-here {
    color: #2C91FD;
}

.ai-platform {
    width: 21rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

.background-image {
    display: flex;
    background-image: url('../../../assets/BG.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 15rem;
}

.logo {
    width: 10rem !important;
}

.bot-image {
    flex: 1 1 auto;
    margin-top: 45px;
}


:host ::ng-deep.p-dialog .p-dialog-content {
    padding: 0px !important;
}

:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon {
    display: none;
}

:host ::ng-deep.p-dialog .p-dialog-header {
    padding: 0px;
}

.card-width {
    width: 33rem;
}

:host ::ng-deep.p-divider.p-divider-vertical {
    padding: 0px !important;
    margin: 0 8px;
}

:host ::ng-deep.p-divider.p-divider-vertical:before {
    border-left: 1px solid #4C4545 !important;
}