<p-dialog [(visible)]="visible">
    <div class="text-2xl card-width">
        <div class="flex background-image">
            <div class="logo flex-column justify-content-start">
                <img src="../assets/xnode-logo.svg" class="flex mt-5 ml-4 text-white" alt="Logo">
                <div class="ai-platform">
                    <p class="text-2xl font-bold text-white">Our cutting-edge No-Code
                        Generative AI Platform</p>
                </div>
            </div>
            <div class="flex bot-image justify-content-end mr-5">
                <img src="../assets/Robot.svg" class="w-9rem h-9rem" alt="Bot image">
            </div>
        </div>
        <div class="card-body p-4">
            <p class="">Dear<span class="font-bold m-2">Raymond Nelson,</span></p>
            <p>Thank you for your interest. We would like to move forward with the onboarding process
                and collect additional details.</p>
            <p>Please <a class="click-here font-bold pointer">click here</a> to
                provide additional
                information.</p>
            <p>Thanks,<br><span class="font-bold">
                    Xonde Team</span></p>
        </div>
        <div class="card-footer surface-100 text-sm  font-medium h-5rem p-3">
            <div class="flex justify-content-center align-items-center font-semibold">
                <p class="m-0">
                    Help
                </p>
                <p-divider layout="vertical" class="p-divider p-divider-vertical"></p-divider>
                <p class="m-0">
                    Privacy
                </p>
                <p-divider layout="vertical" class="p-divider p-divider-vertical"></p-divider>
                <p class="m-0">
                    Terms and Conditions
                </p>
            </div>
            <p class="text-center p-0 m-0 font-normal mt-3">© xnode, All Rights Reserved</p>
        </div>
    </div>
</p-dialog>