.card-footer {
    font-size: 14px;
    height: 20px;
}

.robot-img {
    margin-left: -114px;
}

.vertical-bar {
    width: 1px;
    background-color: #4C4545;
    height: 15px;
    margin-right: 10px;
}

.click-here {
    color: #2C91FD;
}

.ai-platform {
    width: 21rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

.background-image {
    display: flex;
    background-image: url('../../../assets/BG.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 15rem;
}

.logo {
    width: 10rem !important;
}

.bot-image {
    flex: 1 1 auto;
    margin-top: 45px;
}

:host ::ng-deep.p-dialog .p-dialog-content {
    padding: 0px !important;
}

:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon {
    display: none;
}

:host ::ng-deep.p-dialog .p-dialog-header {
    padding: 0px;
}

.card-width {
    width: 33rem;
}