<div class="flex gap-3 justify-content-center">
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center justify-content-center pointer"
          id="Text" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/container.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Text
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Button" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/rows.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Button
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Icon" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Icon
               </div>
          </div>
     </div>
</div>
<div class="flex gap-3 justify-content-center mt-3">
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Link" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/container.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Link
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Image" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/rows.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Image
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Shape" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Shape
               </div>
          </div>
     </div>
</div>

<div class="flex gap-3 justify-content-center mt-3">
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Alert" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Alert
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Video" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Video
               </div>
          </div>
     </div>
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="HTML" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    HTML
               </div>
          </div>
     </div>
</div>

<div class="flex gap-3  mt-3">
     <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
          id="Map" draggable="true" (dragstart)="drag($event)">
          <div class="flex flex-column">
               <div class="text-center">
                    <img src="./assets/one-column.svg" alt="container">
               </div>
               <div class="mt-2 f-8">
                    Map
               </div>
          </div>
     </div>
</div>