.app-header-wrapper {
    height: 42px;
    background: #24232C;
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #39383F;
}

.header-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-menu-item:hover {
    color: #959494;
}