.app-header-wrapper {
    height: 42px;
    background: #24232C;
    color: #FFFFFF;
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #39383F;
}

.header-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-menu-item:hover {
    color: #959494;
}

:host ::ng-deep.p-button {
    border: none;
    background: #24232C !important;
    padding: 0;
}

:host ::ng-deep.p-button:enabled:hover {
    border: none;
}

:host ::ng-deep.p-tieredmenu.p-tieredmenu-overlay {
    top: 23px !important;
    left: unset !important;
    right: 13px !important;
}

.notification-icon {
    margin-top: 2px;
    margin-right: 10px
}

.notification-card {
    top: 41px;
    position: absolute;
    width: 300px;
    transition: opacity 2s;
    z-index: 2;
    background-color: #24232C;
    color: '#fff';
}

.badge {
    top: 10px;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    z-index: 2;
    background-color: red;
    color: '#fff';
    font-size: 7px;
}