<div class="app-header-wrapper flex align-content-center flex-wrap">
    <div class="w-9 flex gap-5">
        <div class="flex flex-row">
            <img src="./assets/logo-x.svg" alt="x-logo">
            <img src="./assets/logo-node.svg" alt="x-node" routerLink="/my-products" class="pointer">
        </div>
        <div *ngFor="let item of headerItems" class="header-menu-item">
            {{item.label}}
        </div>
    </div>
    <div class="w-3 flex gap-2 justify-content-end align-content-center">
        <div class=" flex justify-content-center align-content-center">
            <i class="pi pi-bell text-lg mr-2 mt-1 notif-icon" pBadge value={{notificationCount}} severity="danger"
                (click)="notifications.length > 0 && op.show($event)"></i>
            <p-overlayPanel #op
                [style]="{'width': '350px','height':'300px','background-color':'#24232C', 'overflow-y': 'auto'}">
                <div *ngFor="let notification of notifications" class="p-2 border-50 notif-card text-white text-xs">
                    <div>{{notification.message}}</div>
                    <div>Status: {{notification.status}}</div>
                    <div *ngIf="notification?.execution_time">Exiicution Time: {{notification.execution_time}}</div>
                    <a *ngIf="notification.product_status === 'completed'" (click)="goToProducts()">Go to Products</a>
                </div>
            </p-overlayPanel>
        </div>
        <img src="./assets/dp.svg" alt="dp" class="mr-2">
        <p-splitButton label="Raymond Nelson" [model]="logoutDropdown" styleClass="p-button-raised"></p-splitButton>
    </div>
</div>
<p-toast></p-toast>