<div class="app-header-wrapper flex align-content-center flex-wrap">
    <div class="w-9 flex gap-5">
        <div class="flex flex-row">
            <img src="./assets/logo-x.svg" alt="x-logo">
            <img src="./assets/logo-node.svg" alt="x-node"
                routerLink="/my-templates" class="pointer">
        </div>
        <div *ngFor="let item of headerItems" class="header-menu-item">
            {{item.label}}
        </div>
    </div>
    <div class="w-3 flex gap-2 justify-content-end align-content-center">
        <img src="./assets/dp.svg" alt="dp" class="mr-2">
        <!-- <label class="mt-3 font-medium text-xs">Rymond Nelson</label> -->

        <div class="flex justify-content-center align-content-center ">

            <!-- <p-splitbutton label="Rymond Nelson" icon="pi pi-check" [model]="items"
                styleClass="p-button-warning"></p-splitbutton> -->

            <!-- <i class="pi pi-angle-down" (click)="toggleDropdown()"></i>

            <p-dropdown [options]="values" id="user-options-header"
                optionLabel="name"
                (onChange)="onOptionSelected($event.value)"
                class="custom-dropdown"
                *ngIf="isDropdownVisible"></p-dropdown> -->
        </div>

    </div>
</div>