<div class="app-header-wrapper flex align-content-center flex-wrap">
    <div class="w-6 flex gap-5">
        <div class="flex flex-row">
            <!-- <img src="./assets/logo-x.svg" alt="x-logo"> -->
            <img src="./assets/logo-xnode.svg" alt="x-node" (click)="onClickLogo()" class="pointer">
        </div>
    </div>
    <div class="w-6 flex justify-content-end align-items-center">
        <i class="pi pi-question-circle pointer mr-3" (click)="onClickHelpCenter()"></i>
        <img src="./assets/Feedback.svg" (click)="toggleFeedbackPopup()" class="pointer mr-3" />
        <i *ngIf="notificationCount > 0" class="pi pi-bell pointer mr-3 " pBadge value={{notificationCount}}
            severity="danger" (click)="overlayToggle($event, op)"></i>
        <i *ngIf="notificationCount == 0" class="pi pi-bell text-base pointer mr-3"
            (click)="overlayToggle($event, op)"></i>
        <p-overlayPanel #op [style]="{'width': '400px','height':'560px'}">
            <xnode-notification-panel [data]="allNotifications" (preparePublishPopup)="showMePublishPopup($event)"
                (viewSummaryPopup)="viewSummaryPopup($event)"
                (closeNotificationPanel)="overlayToggleFromNotificationPanel($event)"
                (showMeLimitInfoPopup)="showMeLimitInfoPopup($event)"></xnode-notification-panel>
        </p-overlayPanel>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass=""
            shape="circle" *ngIf="!username" [style]="{ width:'23px',height:'23px' }"></p-avatar>
        <p-avatar [label]="userImage" *ngIf="username"
            [style]="{ 'background-color': '#9c27b0', color: '#ffffff',width:'23px',height:'23px' }"
            shape="circle"></p-avatar>
        <p-splitButton [label]="username" [model]="logoutDropdown" styleClass="p-button-raised logout-split-btn"
            class="hidden md:block"></p-splitButton>
    </div>
    <xnode-customer-feedback *ngIf="selectedPopup==='customer-feedback'"
        [visible]="selectedPopup==='customer-feedback'"></xnode-customer-feedback>
    <xnode-report-bug [screenshot]="screenshot" *ngIf="selectedPopup==='report-bug'"
        [visible]="selectedPopup==='report-bug'"></xnode-report-bug>
    <xnode-general-feedback [visible]="selectedPopup==='general-feedback'" *ngIf="selectedPopup==='general-feedback'"
        [screenshot]="screenshot"></xnode-general-feedback>
    <xnode-thank-you *ngIf="selectedPopup==='thankyou'" [visible]="selectedPopup==='thankyou'"></xnode-thank-you>
    <xnode-view-existing-feedback *ngIf="selectedPopup==='view-existing-feedbacks'"
        [visible]="selectedPopup==='view-existing-feedbacks'"></xnode-view-existing-feedback>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
<xnode-limit-reached-popup *ngIf="showLimitReachedPopup" [visible]="showLimitReachedPopup"
    [limitReachedContent]="limitReachedContent"
    (closePopup)="this.showLimitReachedPopup = false;"></xnode-limit-reached-popup>

<xnode-view-summary-popup *ngIf="showViewSummaryPopup" [visible]="showViewSummaryPopup" [notifObj]="notifObj"
    [convSummary]="convSummary" [label]="'View in Chat'" (closePopUp)="showViewSummaryPopup=false"></xnode-view-summary-popup>
