.app-header-wrapper {
    height: 42px;
    background: #24232C;
}

.app-side-menu-wrapper {
    width: 80px;
    height: calc(100vh - 42px);
    background-color: #24232C;
    color: #ffffff;
    border-right: 1px solid #39383F;
}

.app-body-wrapper {
    width: calc(100vw - 80px);
}

.template-builder-wrapper {
    width: 100%;
    display: flex;
    height: calc(100vh - 42px);
}

.template-builder-layout-wrapper {
    width: 300px;
    background: #24232C;
}

.template-builder-body-wrapper {
    width: calc(100% - 300px);
    height: calc(100vh - 42px);
    overflow-y: auto;
}