.app-header-wrapper {
  height: 42px;
  background: #24232C;
}

.app-side-menu-wrapper {
  width: 80px;
  height: calc(100vh - 42px);
  background-color: #24232C;
  color: #ffffff;
  border-right: 1px solid #39383F;
}

.app-body-wrapper {
  width: calc(100vw - 80px);
  height: calc(100vh - 42px);
  background: #3A3942;
}

@media(min-width: 768px) {
  .app-body-wrapper-navi {
    width: calc(100% - 430px);
    background: #3A3942;
  }
}

@media(min-width: 1024px) {
  .app-body-wrapper-navi {
    width: calc(100% - 480px);
    height: calc(100vh - 43px);
    background: #3A3942;
  }
}

@media(min-width: 1366px) {
  .app-body-wrapper-navi {
    width: calc(100% - 480px);
    background: #3A3942;
  }
}

@media(min-width: 1440px) {
  .app-body-wrapper-navi {
    width: calc(100% - 530px);
    background: #3A3942;
  }
}

@media(min-width: 1900px) {
  .app-body-wrapper-navi {
    width: calc(100% - 580px);
    background: #3A3942;
  }
}

.app-body-wrapper-full {
  width: 100%;
  height: calc(100vh - 40px);
  overflow: auto;
}

@media (min-width: 768px) {
  .side-window {
    transition: all 0.5s ease-in-out;
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .app-body-wrapper {
    width: 100% !important
  }
}

.chatbot-close {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  display: none;
}

.content-class-pilot {
  position: relative;
}

.close-button {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  padding: 10px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}

.hide-button {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  padding: 10px;
  top: 6%;
  left: -2%;
  right: 0;
  border-radius: 50%;
}

:host::ng-deep.p-overlaypanel .p-overlaypanel-content {
  padding: 0px !important;
}

.h-90 {
  height: 96vh;
}

.full-screen-navi {
  position: absolute;
  z-index: 10;
  width: 100vw;
  right: 0;
  height: calc(100vh - 48px);
  transition: all 0.5s ease-in-out;
}

.ifram-navi {
  border-width: 0px;
  border-radius: 10px;
}

.docked-navi {
  border: 1px solid #89888e;
  border-radius: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .main-component {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: calc(100vh - 42px);
  }
}


// main content

@media (min-width: 768px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 380px);
    height: calc(100vh - 42px);
  }

  .main-component-expand-navi {
    transition: all 0.5s ease-in-out;
    width: 0%;
    height: calc(100vh - 42px);
    display: none;

  }
}

@media (min-width: 1280px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 380px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1366px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 380px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1440px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 380px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1536px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 400px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1600px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 400px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1920px) {
  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 514px);
    height: calc(100vh - 42px);
  }
}

// main content end
@media (min-width: 768px) {
  .docked-navi {
    width: 100%;
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 380px;
  }

  .expand-docked-navi {
    width: calc(100vw - 80px);
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1280px) {
  .docked-navi {
    width: 380px;
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 380px;
  }
}

@media (min-width: 1366px) {
  .docked-navi {
    width: 380px;
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1440px) {
  .docked-navi {
    width: 380px;
    height: calc(100vh - 42px);
  }
}

@media (min-width: 1536px) {
  .docked-navi {
    width: 400px;
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 400px;
  }
}

@media (min-width: 1600px) {
  .docked-navi {
    width: 400px;
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 400px;
  }
}

@media only screen and (min-width:1601px) and (max-width: 1919px) {
  .docked-navi {
    width: 420px;
    height: calc(100vh - 42px);
  }

  .main-component-navi {
    transition: all 0.5s ease-in-out;
    width: calc(100vw - 420px);
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 420px;
  }
}

@media (min-width: 1920px) {
  .docked-navi {
    width: 514px;
    height: calc(100vh - 42px);
  }

  .navi-frame {
    width: 514px;
  }
}

@media (min-width: 768px) {
  .docked-navi-component {
    transition: all 0.5s ease-in-out;
    width: 0%;
  }
}

@media (min-width: 768px) {
  .navi-frame {
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .navi-frame {
    width: 400px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 2;
  }
}

@media (min-width: 1366px) {
  .navi-frame {
    width: 420px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 2;

  }
}

@media (min-width: 1440px) {
  .navi-frame {
    width: 450px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 2;

  }
}

@media (min-width: 1900px) {
  .navi-frame {
    width: 500px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 2;

  }
}

.navi-ful-frame {
  width: calc(100% - 80px);
  position: absolute;
  height: 100%;
  left: 80px;
  height: calc(100vh - 42px);
  z-index: 3;
}