<div class="w-full h-full overflow-hidden">
    <div class="w-full" *ngIf="isUserExists()">
        <span (click)="submenuFunc()">
            <xnode-bot *ngIf="isBotIconVisible" [botDisplayFlag]="isSideWindowOpen"
                (valueChange)="openNavi($event)"></xnode-bot>
        </span>
        <xnode-app-header></xnode-app-header>
        <div class="flex">
            <div class="app-side-menu-wrapper" *ngIf="showSideMenu()">
                <xnode-app-side-menu></xnode-app-side-menu>
            </div>
            <div [ngClass]="showSideMenu()  ? 'app-body-wrapper' : 'app-body-wrapper-full'">
                <router-outlet></router-outlet>
            </div>
            <div id="side-window" [ngClass]=" isNaviExpanded ? 'full-screen-navi': 'side-window'"
                *ngIf="isSideWindowOpen">
                <div class="content-class-pilot h-full">
                    <iframe id="myIframe" [src]="iframeUrl" allow="microphone" Cross-Origin-Opener-Policy="*"
                        class="w-full h-full pl-0 pr-0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <router-outlet *ngIf="!isUserExists()"></router-outlet>
</div>
<p-toast></p-toast>
<ngx-spinner size="medium" type="ball-clip-rotate-multiple"></ngx-spinner>