.app-header-wrapper {
  height: 42px;
  background: #24232C;
}

.app-side-menu-wrapper {
  width: 80px;
  height: calc(100vh - 42px);
  background-color: #24232C;
  color: #ffffff;
  border-right: 1px solid #39383F;
}

.app-body-wrapper {
  width: calc(100vw - 80px);
}

#myIframe {
  margin-top: 30px;
}

.side-window {
  background-color: #000759;
  transition: all 0.5s ease-in-out;
}

.side-window.open {
  width: 40%;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  display: none;
}

.content-class-pilot {
  position: relative;
}

.close-button {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  padding: 10px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}

.hide-button {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  padding: 10px;
  top: 6%;
  left: -2%;
  right: 0;
  border-radius: 50%;
}

//   .side-window-content {
//     padding: 0px;
//     margin-top: 20px; /* Increase margin as needed */
//     height: calc(100% - 100px); 
//   }