<p-dialog header="New Version" [(visible)]="showVersionPopup" [modal]="true" [style]="{ width: '30vw' }"
    [draggable]="false" [resizable]="false" (onHide)="closePopUp()">
    <form [formGroup]="versionForm" (ngSubmit)="saveVersion($event)">
        <div class="grid">
            <div class="col-4">
                <label>Major</label>
                <div class="p-inputgroup mt-1">
                    <input type="text" pInputText formControlName="major" (input)="onMajorInputChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && versionFormControl['major'].errors }" />
                </div>
                <div *ngIf="submitted && versionFormControl['major'].errors" class="invalid-feedback">
                    <div *ngIf="versionFormControl['major'].errors?.['required']">
                        Major is required</div>
                    <div *ngIf="versionFormControl['major'].errors?.['pattern']">
                        Enter numbers only</div>
                </div>
            </div>
            <div class="col-4">
                <label>Minor</label>
                <div class="p-inputgroup mt-1">
                    <input type="text" pInputText formControlName="minor" (input)="onMinorInputChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && versionFormControl['minor'].errors }" />
                </div>
                <div *ngIf="submitted && versionFormControl['minor'].errors" class="invalid-feedback">
                    <div *ngIf="versionFormControl['minor'].errors?.['required']">
                        Minor is required</div>
                    <div *ngIf="versionFormControl['minor'].errors?.['pattern']">
                        Enter numbers only</div>
                </div>
            </div>
            <div class="col-4">
                <label>Build</label>
                <div class="p-inputgroup mt-1">
                    <input type="text" pInputText formControlName="build" readonly="true" />
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" styleClass="p-button-sm p-button-secondary" [rounded]="true" class="mr-2"
            (click)="closePopUp()"></p-button>
        <p-button type="submit" label="Submit" styleClass="p-button-sm confirm-success btn-primary" [rounded]="true"
            (click)="saveVersion($event)"></p-button>
    </ng-template>
</p-dialog>