<div class="template-builder-wrapper">
  <xnode-page-tools-layout></xnode-page-tools-layout>
  <!-- <div class="template-builder-layout-wrapper">
    <div class="text-center border-bottom-2 p-3 border-primary">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" />
      </span>
    </div>
    <div class="">
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="Data Model">
          <xnode-er-generator-layout (getconfigureLayout)="getLayout($event)"
            type="data-model"></xnode-er-generator-layout>
        </p-accordionTab>
      </p-accordion>
      <p-accordion [activeIndex]="1">
        <p-accordionTab header="Integrations">
          <xnode-er-generator-layout (getconfigureLayout)="getLayout($event)"
            type="integrations"></xnode-er-generator-layout>
        </p-accordionTab>
      </p-accordion>
      <p-accordion [activeIndex]="2">
        <p-accordionTab header=" Authentication">
          <p>
            Authentication
          </p>
        </p-accordionTab>
      </p-accordion>
      <p-accordion [activeIndex]="3">
        <p-accordionTab header=" Entitlements">
          <p>
            Entitlements
          </p>
        </p-accordionTab>
      </p-accordion>
      <p-accordion [activeIndex]="4">
        <p-accordionTab header="Business Rules">
          <p>
            Business Rules
          </p>
        </p-accordionTab>
      </p-accordion>
      <p-accordion [activeIndex]="5">
        <p-accordionTab header="Work flows">
          <p>
            Work flows
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div> -->
  <div class="" [ngClass]="{'template-builder-body-wrapper': !isOpen, 'another-template-builder-body-wrapper': isOpen}" >
    <div class="flex justify-content-between flex-wrap publish-header pl-4 pr-4">
      <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates"></p-dropdown>
      </div>
      <div class="flex align-items-center justify-content-center gap-3">
        <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'desktop' }" alt="desktop"
          class="image-icon">
        <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'tab' }" alt="tab"
          class="image-icon">
        <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'mobile' }" alt="mobile"
          class="image-icon">
      </div>
      <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded"></p-button>
        <p-button label="Publish" (click)="openNewTab()" styleClass="p-button-rounded"></p-button>
      </div>
    </div>
    <div class="surface-900 m-4 h-full">
      <h6 class="text-4xl text-white p-4 font-bold">Data Model</h6>
      <div class="flex flex-wrap justify-center ml-4">
        <div id="canvas" class="col-sm-10">
          <model *ngFor="let model of data.models" [myModel]="model"></model>
        </div>
      </div>
    </div>
  </div>
</div>