<div class="template-builder-wrapper">
  <xnode-page-tools-layout></xnode-page-tools-layout>
  <div class="" [ngClass]="!isOpen ? 'template-builder-body-wrapper': 'another-template-builder-body-wrapper'">
    <div class="flex justify-content-between flex-wrap p-4 pb-1">
      <div class="flex align-items-center justify-content-center">
        <p-dropdown [options]="templates"></p-dropdown>
      </div>
      <div class="flex align-items-center justify-content-center gap-3">
        <img src="./assets/Computer.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'desktop' }" alt="desktop"
          class="image-icon">
        <img src="./assets/tab.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'tab' }" alt="tab"
          class="image-icon">
        <img src="./assets/mobile.svg" [ngClass]="{ 'highlighted': highlightedIndex === 'mobile' }" alt="mobile"
          class="image-icon">
      </div>
      <div class="flex align-items-center justify-content-center gap-3">
        <p-button label="Save" styleClass="p-button-rounded custom-button"   ></p-button>
        <p-button styleClass="p-button-rounded" (click)="navigateOnClick()">{{dropdownSelectedValue}}</p-button>
        <p-dropdown [options]="templatesOptions" id="design-template-options-header" class="custom-dropdown"
            (onChange)="onDropdownOptionClick($event)" appendTo="body">
        </p-dropdown>
      </div>
    </div>
    <div class="surface-900  er-body overflow-auto m-4 p-2">
      <h6 class="text-4xl text-white p-4 font-bold">Data Model</h6>
      <div class="flex flex-wrap justify-center ml-4">
        <div id="canvas" class="col-sm-10">
          <model *ngFor="let model of data.models" [myModel]="model"></model>
        </div>
      </div>
    </div>
  </div>
  <p-progressSpinner class="absolute top-50 left-50" *ngIf="loading"></p-progressSpinner>

</div>