<div>
    <p-button label="Back to Graph" icon="pi pi-arrow-left" styleClass="p-button-sm  p-button-text p-button-rounded"
        *ngIf="graphRedirection" (click)="switchWindow()" class="ml-4"></p-button>
</div>
<div class="grid bpmn-div">
    <div class="col-12">
        <div id="diagramRef" class="diagram-container">
        </div>
        <p-sidebar *ngIf="sideBar" id="property-panel" [(visible)]="sidebarVisible" position="right"
            styleClass="w-30rem" [modal]="false">
            <ng-template pTemplate="header"><b>{{overview.title}}</b></ng-template>
            <div class="flex">
                <div class="col-auto">
                    <div class="row">
                        <p-avatar *ngIf="taskHeader?.label==='Task'" label="T" styleClass="mr-2"
                            size="large"></p-avatar>
                        <p-avatar *ngIf="taskHeader?.label==='Pool'" label="P" styleClass="mr-2"
                            size="large"></p-avatar>
                        <p-avatar *ngIf="taskHeader?.label==='Activity'" label="A" styleClass="mr-2"
                            size="large"></p-avatar>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">{{taskHeader?.label}}</div>
                    <div class="row"><strong class="p-0">{{taskHeader?.task}}</strong></div>
                </div>
            </div>
            <p-divider></p-divider>

            <p-tabView>
                <!-- General Tab -->
                <p-tabPanel header="General">
                    <p-panel header="General" [toggleable]="true">
                        <div class="row">
                            <label htmlFor="username">{{generalInfo[0].label}}</label>
                            <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="entity" />
                            <!--overview.Tag  overview.title -->
                        </div>
                        <div class="row">
                            <label htmlFor="username">{{generalInfo[1].label}}</label>
                            <input pInputText id="username" aria-describedby="username-help"
                                [value]="flowInfo?.[0]?.name" /> <!--[(ngModel)]='overview.title'  -->
                        </div>
                    </p-panel>
                    <p-panel header="Documentation" [toggleable]="true">
                        <label htmlFor="username">{{generalInfo[2].label}}</label>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="overview.Description"></textarea>

                    </p-panel>
                </p-tabPanel>

                <!-- Properties tab -->
                <p-tabPanel header="Properties">
                    <p-panel header={{taskHeader?.pHeader}} [toggleable]="true" [collapsed]="true">
                        <p-table [value]="flowInfo" [tableStyle]="{ 'min-width': '30rem' }">
                            <ng-template pTemplate="body" let-product>
                                <tr *ngIf="product.index%2===0">
                                    <td>
                                        <label htmlFor="username">{{product.label}}</label>
                                        <input pInputText id="username" aria-describedby="username-help"
                                            [(ngModel)]="product.name" />
                                    </td>
                                    <td *ngIf="flowInfo[product.index+1]">
                                        <label htmlFor="username">{{flowInfo[product.index+1].label}}</label>
                                        <input pInputText id="username" aria-describedby="username-help"
                                            [(ngModel)]="flowInfo[product.index+1].name" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-panel>
                    <a *ngIf="elementList?.type ==='bpmn:ServiceTask'&&!sP" href="/">View DMN Decision
                        Flow</a>

                    <p-panel *ngIf="sP" header="Userflows" [toggleable]="true" [collapsed]="true"
                        styleClass="{ 'width': '30rem' }">
                        <p-table [value]="userTask" [tableStyle]="{ 'min-width': '30rem' }">
                            <ng-template pTemplate="body" let-product>
                                <tr *ngIf="product.index%2===0">
                                    <td>
                                        <label>TaskId</label>
                                        <input pInputText [(ngModel)]="product.name" />
                                    </td>
                                    <td *ngIf="userTask[product.index+1]">
                                        <label>TaskId</label>
                                        <input pInputText [(ngModel)]="userTask[product.index+1].name" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-panel>

                    <p-panel *ngIf="sP" header="Backendflows" [toggleable]="true" [collapsed]="true">
                        <p-table [value]="serviceTask" [tableStyle]="{ 'min-width': '30rem' }">
                            <ng-template pTemplate="body" let-product>
                                <tr *ngIf="product.index%2===0">
                                    <td>
                                        <label>TaskId</label>
                                        <input pInputText [(ngModel)]="product.name" />
                                    </td>
                                    <td *ngIf="serviceTask[product.index+1]">
                                        <label>TaskId</label>
                                        <input pInputText [(ngModel)]="serviceTask[product.index+1].name" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-panel>
                </p-tabPanel>

                <!-- JSON Tab -->
                <p-tabPanel header="JSON">
                    <pre>{{ jsonWorkflowToShow | json }}</pre>
                </p-tabPanel>

                <!-- Comments Tab -->
                <p-tabPanel header="Comments"> </p-tabPanel>
            </p-tabView>
        </p-sidebar>
        <div id="sc" class="scrollable-container w-full h-full overflow-auto">
            <div class="col-12" id="graph">
            </div>
        </div>
    </div>
</div>
<div class="container bpmn-component m-4">
    <p-sidebar *ngIf="sideBar" id="property-panel" [(visible)]="sidebarVisible" position="right" styleClass="w-30rem"
        [modal]="false">
        <ng-template pTemplate="header"><b>{{overview.title}}</b></ng-template>
        <div class="flex w-full">
            <div class="col-auto">
                <div class="row">
                    <p-avatar *ngIf="taskHeader?.label==='Task'" label="T" styleClass="mr-2" size="large"></p-avatar>
                    <p-avatar *ngIf="taskHeader?.label==='Pool'" label="P" styleClass="mr-2" size="large"></p-avatar>
                    <p-avatar *ngIf="taskHeader?.label==='Activity'" label="A" styleClass="mr-2"
                        size="large"></p-avatar>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">{{taskHeader?.label}}</div>
                <div class="row"><strong class="p-0">{{taskHeader?.task}}</strong></div>
            </div>
        </div>
        <p-divider></p-divider>

        <p-tabView>
            <!-- General Tab -->
            <p-tabPanel header="General">
                <p-panel header="General" [toggleable]="true">
                    <div class="row">
                        <label htmlFor="username">{{generalInfo[0].label}}</label>
                        <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="entity" />
                        <!--overview.Tag  overview.title -->
                    </div>
                    <div class="row">
                        <label htmlFor="username">{{generalInfo[1].label}}</label>
                        <input pInputText id="username" aria-describedby="username-help"
                            [value]="flowInfo?.[0]?.name" /> <!--[(ngModel)]='overview.title'  -->
                    </div>
                </p-panel>
                <p-panel header="Documentation" [toggleable]="true">
                    <label htmlFor="username">{{generalInfo[2].label}}</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="overview.Description"></textarea>

                </p-panel>
            </p-tabPanel>

            <!-- Properties tab -->
            <p-tabPanel header="Properties">
                <p-panel header={{taskHeader?.pHeader}} [toggleable]="true" [collapsed]="true">
                    <p-table [value]="flowInfo" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="body" let-product>
                            <tr *ngIf="product.index%2===0">
                                <td>
                                    <label htmlFor="username">{{product.label}}</label>
                                    <input pInputText id="username" aria-describedby="username-help"
                                        [(ngModel)]="product.name" />
                                </td>
                                <td *ngIf="flowInfo[product.index+1]">
                                    <label htmlFor="username">{{flowInfo[product.index+1].label}}</label>
                                    <input pInputText id="username" aria-describedby="username-help"
                                        [(ngModel)]="flowInfo[product.index+1].name" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
                <a *ngIf="elementList?.type ==='bpmn:ServiceTask'&&!sP" href="/">View DMN Decision
                    Flow</a>

                <p-panel *ngIf="sP" header="Userflows" [toggleable]="true" [collapsed]="true"
                    styleClass="{ 'width': '30rem' }">
                    <p-table [value]="userTask" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="body" let-product>
                            <tr *ngIf="product.index%2===0">
                                <td>
                                    <label>TaskId</label>
                                    <input pInputText [(ngModel)]="product.name" />
                                </td>
                                <td *ngIf="userTask[product.index+1]">
                                    <label>TaskId</label>
                                    <input pInputText [(ngModel)]="userTask[product.index+1].name" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>

                <p-panel *ngIf="sP" header="Backendflows" [toggleable]="true" [collapsed]="true">
                    <p-table [value]="serviceTask" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="body" let-product>
                            <tr *ngIf="product.index%2===0">
                                <td>
                                    <label>TaskId</label>
                                    <input pInputText [(ngModel)]="product.name" />
                                </td>
                                <td *ngIf="serviceTask[product.index+1]">
                                    <label>TaskId</label>
                                    <input pInputText [(ngModel)]="serviceTask[product.index+1].name" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </p-tabPanel>

            <!-- JSON Tab -->
            <p-tabPanel header="JSON">
                <pre>{{ jsonWorkflowToShow | json }}</pre>
            </p-tabPanel>

            <!-- Comments Tab -->
            <p-tabPanel header="Comments"> </p-tabPanel>
        </p-tabView>
    </p-sidebar>
    <div id="sc" class="scrollable-container w-full h-full overflow-auto">
        <div class="col-12" id="graph">
        </div>
    </div>

</div>