<div class="p-4 pb-6">
    <div class="inner-div p-4">
        <div class="flex justify-content-between">
            <div class="flex align-items-center">
                <div class="flex font-medium text-xl active-color font-family">
                    Home
                </div>
                <div class="flex text-white font-medium ">
                    <i class="pi pi-chevron-right ml-1  text-sm"></i>
                </div>
                <div class="flex text-white font-semibold text-xl ml-1 font-family">
                    Accounts
                </div>
            </div>
            <div class="flex align-items-center">
                <p-button styleClass="mr-2 p-button-rounded"  [rounded]="true">
                    <span class=" text-sm font-semibold font-family">Invite</span>
                </p-button>
                <p-button styleClass="p-button-rounded"  [rounded]="true">
                    <span class=" text-sm font-semibold font-family">Add Account</span>
                    <i class="pi pi-plus text-sm ml-1"></i>
                </p-button>
            </div>
        </div>
        <div class="table-div mt-3" >
            <xnode-dynamic-table> </xnode-dynamic-table>
        </div>
    </div>
</div>
