.usecases-card {
    background-color: #302E38;
    width: 40rem;
    border: 1px solid #595959;
    border-radius: 4px;
}

.paragraph-color {
    color: rgba(255, 255, 255, 0.6) !important;
}

.usecase-body {
    height: calc(100vh - 154px);
    background: #212121 !important;
}

.expnad-icon{
    width: 25px;
  }
