<xnode-no-comments *ngIf="list?.length === 0; else conversationComments"
    [content]="'No open comments yet'"></xnode-no-comments>
<ng-template #conversationComments>
    <div class="p-4">
        <div class="flex flex-row justify-content-between">
            <div class="">
                <div class="flex align-items-center filter-grid ">
                    <p class="m-0 pl-2">Filters:</p>
                    <p-dropdown class="filter w-full ml-2 " [options]="filterOptions" placeholder="Select " [(ngModel)]="selectedFilter"
                        optionLabel="label" (onChange)="filterList(list)" ></p-dropdown>
                </div>
            </div>
            <div class="flex justify-content-end">
                <div class="flex flex-row justify-content-end align-items-center search-grid">
                    <div class="p-inputgroup">
                      <span class="">
                        <p-overlayPanel #op (onHide)="filter.users=false">
                          <div class="h-15rem w-15rem overflow-y-auto">
                            <i class="pi pi-search absolute" [ngStyle]="{top: '10px', left: '5px',color:'#949292'}" [ngClass]="{'hidden':hideSearch}"></i>
                            <textarea pInputTextarea [autoResize]="true" placeholder="     Search users..." [mention]="usersList" [mentionConfig]="config"  (keydown)="handleKeydown($event)" class="col-12 h-2rem" [ngStyle]="{ 'border-top': 'transparent', 'border-right': 'transparent', 'border-left': 'transparent', 'border-bottom': '1px solid #535354' }"  (focus)="hideSearch=true" (blur)="hideSearch=false"></textarea>
                            <span class="grid p-1" *ngFor="let user of selectedUserNames">
                              <span class="col-10"  [ngStyle]="{'white-space':'pre'}">
                                <p-avatar [label]="user.avatar" class="text-xs" shape="circle" [style]="{ 'background-color': '#9c27b0', color: '#ffffff', fontSize: '10px' }"></p-avatar>
                                {{user.name}}
                              </span>
                              <span class="col-2">
                                <i class="pi pi-times mt-2 pointer" (click)="deleteUserId(user.id);$event.stopPropagation()"></i>
                              </span>
                              <br/>
                            </span>
                          </div>
                      </p-overlayPanel>
                      </span>
                      <i (click)="filterDisplay('text')" class="pi pi-search pointer pt-2 mr-3 w-auto" [ngClass]="filter.text?'p-button-link':'text-white'"></i>
                    </div>
                    <i class="pi pi-user pointer pt-1" [ngClass]="filter.users?'p-button-link':'text-white'" (click)="op.toggle($event);filterDisplay('users')" style="font-size: 1.25rem"></i>
                </div>
            </div>
        </div>
        <div class="my-4" *ngIf="filter.text">
          <i class="pi pi-search relative" [ngStyle]="{top: '32px', left: '10px',color:'#A2A2A3'}" [ngClass]="{'hidden':searchIconKeyword.length>0}"></i>
          <input type="text" pInputText [(ngModel)]="searchIconKeyword" (keyup)="searchConversation($event)" placeholder="     Search for Keywords"
          class="w-full border-round-3xl font-family-inter text-sm font-normal"/>
        </div>
        <div class='comments-grid'>
            <xnode-spec-conversation [swaggerData]="swaggerData" [activeIndex]="activeIndex" [list]="filteredList" [usersList]="usersList" [searchIconKeyword]="searchIconKeyword" [topParentId]="selectedComment?.id"></xnode-spec-conversation>
        </div>
    </div>
</ng-template>
