<div class="surface-900 overflow-hidden"
    [ngClass]="{'spec-er-body':currentUrl == '/specification','er-body':currentUrl != '/specification'}">
    <span *ngIf="bpmnSubUrl; else elseBlock">
        <xnode-bpmn-diagram></xnode-bpmn-diagram>
    </span>
    <ng-template #elseBlock>
        <div [ngClass]="{'modal-view-header':currentUrl == '/specification'}">
            <div class="flex align-items-center justify-content-between p-4" *ngIf="currentUrl == '/specification'">
                <h6 class="text-4xl text-white  font-bold m-0">Data Model</h6>
                <img src="./assets/spec-minimize.svg" class="expnad-icon pointer" alt="container" *ngIf="!specExpanded"
                    (click)="expandDataFlows()">
                <i class="pi pi-times text-white text-xl pointer" *ngIf="specExpanded" (click)="expandDataFlows()"></i>
            </div>
        </div>
        <div class="overflow-auto "
            [ngClass]="{'modal-view-body':currentUrl == '/specification','modal-view-body-full':currentUrl != '/specification'}">
            <div id="canvas" class="col-sm-10">
                <model *ngFor="let model of data.models" [myModel]="model"></model>
            </div>
        </div>
    </ng-template>
</div>