 <!-- Feedback -->
<div class="h-full text-white">
    <div class="surface-900">
        <h6 class="text-4xl  p-4 font-bold">Overview</h6>
        <div class="flex flex-wrap">
            <div
                class="grid col-12 feedback-section flex flex-col justify-content-between flex-wrap">
                <div
                    class="flex align-items-center justify-content-center gap-4 ml-8">
                    <div class="text-base font-normal">
                        Date
                    </div>
                    <div
                        class="p-2 border-1 surface-border border-round-3xl icon-color">
                        7 Days
                        <i class="pi pi-angle-down"></i>
                    </div>
                    <i class="pi pi-info-circle"></i>
                    <div class="text-base font-normal">
                        Feedback Type
                    </div>
                    <div
                        class="p-2 border-1 surface-border border-round-3xl icon-color">
                        CAST
                        <i class="pi pi-angle-down"></i>
                    </div>
                    <div class="text-base font-normal">
                        Feedback Name
                    </div>
                    <div
                        class="p-2 border-1 surface-border border-round-3xl icon-color">
                        All Surveys
                        <i class="pi pi-angle-down"></i>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center ">
                    <p-button label="New Feedback" styleClass="p-button-rounded"></p-button>
                </div>
            </div>
            <div class="grid col-12 flex flex-wrap mt-4 gap-4 justify-content-center">
                <div
                    class="flex flex-col font-bold text-white m-2 px-2 py-2 border-round-xl card feedback-card">
                    <div class="flex flex-wrap gap-2">
                        <div class="p-3">
                            <img src="../../assets/smile-green.svg" alt="image">
                        </div>
                        <div class="text-center">
                            <p class="text-xs font-bold">Very Satisfied</p>
                            <p class="font-bold text-2xl">50% <span
                                    class="text-xs font-normal">3</span></p>
                        </div>
                        <div class="text-center">
                            <i class="pi pi-info-circle "
                                style="font-size: 0.875rem"></i>

                            <p class="text-xs font-normal mt-3">0%
                                <i class="pi pi-arrow-up "
                                    style="font-size: 0.875rem"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col font-bold text-white m-2 px-2 py-2 border-round-xl card feedback-card">
                    <div class="flex flex-wrap gap-2">
                        <div class="p-3">
                            <img src="../../assets/smile-blue.svg" alt="image">
                        </div>
                        <div class="text-center">
                            <p class="text-xs font-bold">Satisfied</p>
                            <p class="font-bold text-2xl">16.67% <span
                                    class="text-xs font-normal">3</span></p>
                        </div>
                        <div class="text-center">
                            <i class="pi pi-info-circle "
                                style="font-size: 0.875rem"></i>

                            <p class="text-xs font-normal mt-3">0% <i
                                    class="pi pi-arrow-up "
                                    style="font-size: 0.875rem"></i></p>

                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col font-bold text-white m-2 px-2 py-2 border-round-xl card feedback-card">
                    <div class="flex flex-wrap gap-2">
                        <div class="p-3">
                            <img src="../../assets/neutral.svg" alt="image">
                        </div>
                        <div class="text-center">
                            <p class="text-xs font-bold">Neutral</p>
                            <p class="font-bold text-2xl">0% <span
                                    class="text-xs font-normal">0</span></p>
                        </div>
                        <div class="text-center">
                            <i class="pi pi-info-circle "
                                style="font-size: 0.875rem"></i>

                            <p class="text-xs font-normal mt-3">0%
                                <i class="pi pi-arrow-up "
                                    style="font-size: 0.875rem"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col font-bold text-white m-2 px-2 py-2 border-round-xl card feedback-card">
                    <div class="flex flex-wrap gap-2">
                        <div class="p-3">
                            <img src="../../assets/sad.svg" alt="image">
                        </div>
                        <div class="text-center">
                            <p class="text-xs font-bold">UnSatisfied</p>
                            <p class="font-bold text-2xl">16.67% <span
                                    class="text-xs font-normal">1</span></p>
                        </div>
                        <div class="text-center">
                            <i class="pi pi-info-circle "
                                style="font-size: 0.875rem"></i>

                            <p class="text-xs font-normal mt-3">0%
                                <i class="pi pi-arrow-up"
                                    style="font-size: 0.875rem"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col font-bold text-white m-2 px-2 py-2 border-round-xl card feedback-card">
                    <div class="flex flex-wrap gap-2">
                        <div class="p-3">
                            <img src="../../assets/anger.svg" alt="image">
                        </div>
                        <div class="text-center">
                            <p class="text-xs font-bold">Very UnSatisfied</p>
                            <p class="font-bold text-2xl">16.67% <span
                                    class="text-xs font-normal">1</span></p>
                        </div>
                        <div class="text-center">
                            <i class="pi pi-info-circle"
                                style="font-size: 0.875rem"></i>

                            <p class="text-xs font-normal mt-3">0%
                                <i class="pi pi-arrow-up"
                                    style="font-size: 0.875rem"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid col-12 flex mt-4 gap-5 justify-content-center">
                <div
                    class="col-8 flex flex-col font-bold text-white  p-4 card chart-card border-round-l ml-2">
                    <h1 class="text-2xl font-bold">Customer Satisfaction Score
                        (CSAT) by Time
                        <i class="pi pi-info-circle" style="font-size: 0.875rem"></i>
                    </h1>
                    <div class="justify-content-center">
                        <p-chart type="bar" [data]="data" [options]="options"
                            class="p-4"></p-chart>
                    </div>
                </div>
                <div
                    class="col-4 flex flex-col font-bold text-white p-4 card doughnut-card">
                    <h1 class="text-2xl font-bold">CSAT Score
                        <i class="pi pi-info-circle" style="font-size: 0.875rem"></i>
                    </h1>
                    <div class="justify-content-center">
                        <p-chart type="doughnut" [data]="doughnutData"
                            [options]="doughnutOptions"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>