<p-dialog header="Report a bug" class="feedback" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{ width: dialogWidth }" [position]="modalPosition" (onHide)="closePopup()">
    <ng-template pTemplate="header" class="p-2">
        <div class="flex align-items-center">
            <i class="pi pi-angle-left mr-3 pointer" (click)="utils.showFeedbackPopupByType('customer-feedback')"></i>
            <div>
                <p class="m-0 font-bold text-2xl heading-color">Report a bug</p>
                <p class="m-0 text-sm font-medium heading-color">Your feedback will be used to improve xnode</p>
            </div>
        </div>
    </ng-template>
    <div class="p-4 mt-4">
        <form [formGroup]="feedbackForm" (ngSubmit)="feedbackReport($event)">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <label class="flex justify-content-between flex-wrap">
                    <div class="text-sm font-normal">Product</div>
                    <a class="font-medium text-base no-underline pointer"
                        (click)="utils.showFeedbackPopupByType('view-existing-feedbacks')">View bug
                        history <i class="pi pi-arrow-right"></i> </a>
                </label>
                <input type="text" pInputText formControlName="product"
                    [ngClass]="{ 'is-invalid': submitted && feedback['product'].errors }" class="col-12" />
                <div *ngIf="submitted && feedback['product'].errors" class="invalid-feedback">
                    <div *ngIf="feedback['product'].errors?.['required']">
                        Product is required</div>
                </div>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 -mt-2">
                <label class="text-sm font-normal">Section</label>
                <input type="text" pInputText formControlName="section" placeholder="e.g., Dashboard"
                    [ngClass]="{ 'is-invalid': submitted && feedback['section'].errors }" class="col-12" />
                <div *ngIf="submitted && feedback['section'].errors" class="invalid-feedback">
                    <div *ngIf="feedback['section'].errors?.['required']">
                        Section is required</div>
                </div>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 -mt-2">
                <label class="text-sm font-normal">Choose priority</label>
                <p-dropdown formControlName="severityId" [options]="priorities" placeholder="Choose priority"
                    [ngClass]="{ 'is-invalid': submitted && feedback['severityId'].errors }" optionLabel="name"
                    optionValue="code" class="custom-dropdown"></p-dropdown>
                <div *ngIf="submitted && feedback['severityId'].errors" class="invalid-feedback">
                    <div *ngIf="feedback['severityId'].errors?.['required']">
                        Choose priority is required</div>
                </div>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 -mt-2">
                <label class="text-sm font-normal"> Help us improve</label>
                <textarea rows="3" cols="30" pInputTextarea formControlName="feedbackText"
                    [ngClass]="{ 'is-invalid': submitted && feedback['feedbackText'].errors }" class="col-12"
                    placeholder="Share your thoughts on the product"></textarea>
                <div *ngIf="submitted && feedback['feedbackText'].errors" class="invalid-feedback">
                    <div *ngIf="feedback['feedbackText'].errors?.['required']">
                        Help us improve is required</div>
                </div>
            </div>

            <label class="text-sm font-normal">Screenshot</label>
            <div class="field grid">
                <!-- org starts
                     <label class="text-sm font-normal">Screenshot</label>
                <div class="image-container border-1" *ngIf="screenshot !==''">
                    <img [src]="screenshot" width="100%" class="img">
                    <div class="img-footer flex justify-content-between align-items-center px-3">
                        <div class="text-base">{{screenshotName}}</div>
                        <i class="pi pi-trash pointer" (click)="onDeleteImage()"></i>
                    </div>
                </div>
                <div class="image-container border-1 flex align-items-center justify-content-center"
                    *ngIf="screenshot ===''" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)">
                    <div (click)="onUploadIconClick()">
                        <p>Upload or drag</p>
                        <input type="file" (change)="onFileInput($event)" accept=".png, .jpeg" style="display: none;"
                            id="file" #fileInput (change)="onFileSelected($event)">
                    </div>
                org ends -->
                <div class="sm:col-6 md:col-6 lg:col-6 xl:col-6" *ngFor="let img of screenshot;let i = index">
                    <div class="image-container border-1">
                        <img [src]="img" width="100%" class="img">
                        <div class="img-footer flex justify-content-between align-items-center px-3">
                            <div class="text-base">
                                {{ screenshotName[i].length > 12 ? screenshotName[i].substring(0, 12) + '...' :
                                screenshotName[i] }}
                            </div>
                            <i class="pi pi-trash pointer" (click)="onDeleteImage(i)"></i>
                        </div>
                    </div>
                </div>
                <div class="sm:col-6 md:col-6 lg:col-6 xl:col-6">
                    <div class="image-container border-1 flex align-items-center justify-content-center"
                        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                        <div (click)="onUploadIconClick()">
                            <p>Upload or drag</p>
                            <input type="file" (change)="onFileInput($event)" accept=".png, .jpeg, .jpg"
                                style="display: none;" multiple id="file" #fileInput (change)="onFileSelected($event)">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="mt-3">
            <p-button label="Cancel" styleClass="p-button-rounded" class="cancel-button"
                (click)="closePopup()"></p-button>
            <p-button label="Report" styleClass="p-button-rounded p-button-primary"
                (click)="feedbackReport($event)"></p-button>
        </div>
    </ng-template>
</p-dialog>