<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="Conversation">
    <xnode-no-comments *ngIf="commentList?.length === 0; else conversationComments"></xnode-no-comments>
    <ng-template #conversationComments>
      <xnode-comments-panel [activeIndex]="activeIndex" [commentList]="commentList"
        [usersList]="usersList"></xnode-comments-panel>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Tasks">
    <xnode-no-comments *ngIf="tasksList?.length === 0; else tasksComments"></xnode-no-comments>
    <ng-template #tasksComments>
      <xnode-comments-panel [activeIndex]="activeIndex" [tasksList]="tasksList" [commentList]="[]"
        [usersList]="usersList"></xnode-comments-panel>
    </ng-template>
  </p-tabPanel>
</p-tabView>