<p-tabView [(activeIndex)]="activeIndex" (onChange)="onTabChange($event)">
  <p-tabPanel [header]="'Comments'">
    <xnode-comments-panel [usersList]="usersList"></xnode-comments-panel>
  </p-tabPanel>
  <p-tabPanel [header]="'Tasks'">
    <!-- <xnode-no-comments *ngIf="list?.length === 0; else conversationComments"></xnode-no-comments> -->
    <!-- <xnode-comments-panel [activeIndex]="'1'" [commenttasksList]="list" [usersList]="usersList"></xnode-comments-panel> -->
  </p-tabPanel>
</p-tabView>