<!-- <ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" [compactType]="compactType"
    [preventCollision]="preventCollision">
    <ktd-grid-item *ngFor="let item of layout; trackBy:trackById" [id]="item.id"
        [dragStartThreshold]="dragStartThreshold" [draggable]="!disableDrag" [resizable]="!disableResize">
        <div class="grid-item-content">{{item.id}}</div>
        <div class="grid-item-remove-handle" *ngIf="!disableRemove">
        </div>
    </ktd-grid-item>
</ktd-grid> -->
<div class="bg-white">
  <xnode-input-form></xnode-input-form>
</div>