<div style="position: relative;">
    <div class="p-0 m-0 cursor-pointer " style="position: absolute;left: -15px;top:20px">
        <img src="../assets/spec-chevron-right.svg" class="flex  text-white" alt="Logo" *ngIf="!isSideMenuOpened"
            (click)="toggleSideMenu()" />
    </div>
    <div
        class="flex justify-content-between align-items-center pl-4 pr-4 flex-wrap border-bottom-1 border-white-alpha-40 header-items">
        <div class="flex align-items-center">
            <xnode-product-dropdown (_onChangeProduct)="onChangeProduct($event)"
                [selectedProduct]="product"></xnode-product-dropdown>
            <p-dropdown [options]="versions" [(ngModel)]="selectedVersion" optionLabel="label"
                (onChange)="onChangeVersion($event)" placeholder="Select a version" class="ml-3 app-dropdown-version"
                *ngIf="!diffView"></p-dropdown>
        </div>
        <div class="flex align-items-center" *ngIf="versions&& versions.length>1">
            <p-inputSwitch [(ngModel)]="diffView" (onChange)="toggleDiffView($event)"></p-inputSwitch>
            <label *ngIf="!viewType" class="ml-2">Diff View</label>
            <p-dropdown *ngIf="viewType" [options]="viewList" [(ngModel)]="viewType" (onChange)="onViewChange($event)"
                placeholder="Select View Type" class="view-dropdown"></p-dropdown>
        </div>

        <div class="flex align-items-center">
            <img src="../assets/feedback-list.svg" class="pointer" alt="Logo" title="Comments" (click)="openComments()">
            <!-- <img src="../assets/print.svg" class="pr-3 pointer" alt="Logo"> -->
            <p-button [disabled]="!enabledGeneratespec" (click)="op.toggle($event)" class="ellipsis-btn "
                icon="pi pi-ellipsis-v"></p-button>
            <p-overlayPanel class="overlay-class" #op>
                <div class="confirm-overlay p-2 cursor-pointer" (keyup)="askConfirmationOnClickGenerate()"
                    (keydown)="op.hide()" (keypress)="askConfirmationOnClickGenerate()"
                    (click)="askConfirmationOnClickGenerate();op.hide()" *ngIf="!specData">
                    Generate Spec</div>
                <div class="confirm-overlay p-2 cursor-pointer" (keyup)="viewPublishedApp()" (keydown)="op.hide()"
                    (keypress)="viewPublishedApp()" (click)="viewPublishedApp();op.hide()">View
                    Published App</div>
            </p-overlayPanel>
            <p-button label="Share" size="small" [rounded]="true" (click)="ShareOp.toggle($event)"></p-button>
            <p-overlayPanel class="overlay-class" #ShareOp>
                <div class="confirm-overlay p-2 cursor-pointer">
                    <p-tabView>
                        <p-tabPanel header="Share">
                            <form [formGroup]="addShareForm">
                                <div class="col-12 p-0 flex flex-wrap justify-content-center">
                                    <div class="col-9">
                                        <p-autoComplete placeholder="Add people, groups, or emails"
                                            [suggestions]="filteredReveiwers" formControlName="reviewersLOne"
                                            (completeMethod)="filteredReveiwer($event, 'L1')" field="name"
                                            (click)="$event.stopPropagation()" [multiple]="true" styleClass="w-full">
                                            <ng-template let-reviewer pTemplate="selectedItem">
                                                <div class="flex align-items-center">
                                                    <div
                                                        class="autocomplete-label avtar text-xs flex justify-content-center align-items-center">
                                                        {{ reduceToInitials(reviewer.name) }}
                                                    </div>
                                                    <span class="ml-2">{{ reviewer.name }}</span>
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>
                                    </div>
                                    <div class="col-3 mt-2">
                                        <p-button label="Invite" size="small" [outlined]="true" [rounded]="true"
                                            class="mr-2 mt-2"></p-button>
                                    </div>
                                </div>
                            </form>
                        </p-tabPanel>
                        <!-- <p-tabPanel header="Publish">
                            <p>
                                Publish
                            </p>
                        </p-tabPanel> -->
                    </p-tabView>
                    <hr>
                    <div class="col-12 flex justify-content-between p-0">
                        <p-dropdown [(ngModel)]="selectedInvite" [options]="invities" optionLabel="name"
                            placeholder="Select a Invite">
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="selectedInvite">
                                    <ng-container *ngIf="selectedInvite.code === 'Invite'">
                                        <img src="../assets/lock.svg" alt="link" class="text-sm" />
                                    </ng-container>
                                    <ng-container *ngIf="selectedInvite.code === 'Anyone'">
                                        <img src="../assets/Link.svg" alt="link" class="text-sm" />
                                    </ng-container>
                                    <ng-container *ngIf="selectedInvite.code === 'Everyone'">
                                        <img src="../assets/publish.svg" alt="link" class="text-sm" />
                                    </ng-container>
                                    <div>{{ selectedInvite.name }}</div>

                                </div>
                            </ng-template>
                            <ng-template let-invite pTemplate="item">
                                <div class="flex align-items-center">
                                    <div>
                                        <img *ngIf="invite?.code === 'Invite'" src="../assets/lock.svg" alt="copy"
                                            class="text-sm">
                                        <img *ngIf="invite?.code === 'Anyone'" src="../assets/Link.svg" alt="copy"
                                            class="text-sm">
                                        <img *ngIf="invite?.code === 'Everyone'" src="../assets/publish.svg" alt="copy"
                                            class="text-sm">
                                    </div>
                                    <div>
                                        <div class="">
                                            {{ invite.name }}
                                            <i class="pi pi-check check-mark ml-4"
                                                *ngIf="selectedInvite && selectedInvite.code === invite.code"></i>
                                        </div>
                                        <div *ngIf="invite?.code === 'Invite'" class="text-xs font-normal">Only
                                            you
                                            and people invited can access</div>
                                        <div *ngIf="invite?.code === 'Anyone'" class="text-xs font-normal">People
                                            invited
                                            and workspace members with link access</div>
                                        <div *ngIf="invite?.code === 'Everyone'" class="text-xs font-normal">All
                                            workspace
                                            members can search and access</div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <div class="justify-content-center align-items-center mt-2 pointer">
                            <img src="../assets/Link.svg" alt="copy" class="text-sm mt-2">
                            <span class="font-normal text-xs ml-2">Copy Link</span>
                        </div>

                    </div>
                </div>
            </p-overlayPanel>
        </div>
    </div>
    <xnode-confirmation-popup-new *ngIf="showConfirmationPopup" [visible]="showConfirmationPopup"
        [header]="'Update Spec'" [content]="'Are you sure, do you want to update this Spec?'" (onClickAction)="
      onClickConfirmPopupAction($event)"></xnode-confirmation-popup-new>
    <xnode-spec-gen-popup *ngIf="showSpecGenaretePopup" (closePopup)="this.showSpecGenaretePopup = false"
        [content]="productStatusPopupContent" [showSpecGenaretePopup]="showSpecGenaretePopup"
        [isTheCurrentUserOwner]="isTheCurrentUserOwner" (generateSpec)="generate()">
    </xnode-spec-gen-popup>
</div>