.header-items {
    color: #DEDEDE;
    height: 70px;
}

.text-color {
    color: #949292 !important
}

:host ::ng-deep .app-dropdown .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 100%;
    color: #ffffff !important;
    background: transparent;
}

:host ::ng-deep .app-dropdown .p-inputtext {
    background: transparent !important;
    color: #ffffff !important;
    padding: 10px !important;
}

:host ::ng-deep .app-dropdown-version .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 100%;
    color: #11CF46 !important;
    background: #CCFFDA;
}

:host ::ng-deep .app-dropdown-version .p-inputtext {
    background: #CCFFDA !important;
    color: #11CF46 !important;
    padding: 8px 10px !important;
}

:host ::ng-deep .app-dropdown-version .p-dropdown-label {
    font-size: 12px;
    border-radius: 30px;
}

:host ::ng-deep .app-dropdown-version .p-dropdown .p-dropdown-label,
:host ::ng-deep .app-dropdown-version .p-dropdown .p-dropdown-trigger {
    color: #11CF46;
}

:host ::ng-deep .app-dropdown .p-dropdown-label {
    font-size: 12px;
    border-radius: 30px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label,
:host ::ng-deep .p-dropdown .p-dropdown-trigger {
    color: #ffffff;
}

.status {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}


:host ::ng-deep.ellipsis-btn .p-button,
:host ::ng-deep.ellipsis-btn .p-button:hover {
    background-color: transparent;
    border: none
}

:host::ng-deep .p-overlaypanel .p-overlaypanel-content {
    // padding: 10px !important;
    background-color: #2E2D36;
    color: white;
    border: 1px solid #535354;
}

:host::ng-deep .p-overlaypanel .p-overlaypanel-content .confirm-overlay:hover {
    background-color: #393843;
    color: #ffffff;
}

:host::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0px !important;
}

:host ::ng-deep .update-spec-button {
    color: #ffffff;
    background: #23222B;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ffffff;
}

:host ::ng-deep .app-dropdown-version .p-dropdown-panel {
    position: absolute;
}

:host :ng-deep .view-dropdown .p-inputtext {
    background-color: transparent !important;
    border: 1px solid transparent !important;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: var(--primary-color);
}


:host ::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background: var(--primary-color);
}

:host ::ng-deep .view-dropdown .p-dropdown-label {
    display: none;
}

:host ::ng-deep .view-dropdown .p-dropdown {
    border: none;
}

:host ::ng-deep .view-dropdown .p-dropdown-trigger {
    width: 0;
    margin-top: 0.5rem;
}