<div style="position: relative;">
    <div class="p-0 m-0 cursor-pointer " style="position: absolute;left: -15px;top:20px">
        <img src="../assets/spec-chevron-right.svg" class="flex  text-white" alt="Logo" *ngIf="!isSideMenuOpened"
            (click)="toggleSideMenu()" />
    </div>
    <div
        class="flex justify-content-between align-items-center pl-4 pr-4 flex-wrap border-bottom-1 border-white-alpha-40 header-items">
        <div class="flex align-items-center">
            <xnode-product-dropdown (_onChangeProduct)="onChangeProduct($event)"></xnode-product-dropdown>
            <p-dropdown [options]="versions" [(ngModel)]="selectedVersion" optionLabel="label"
                (onChange)="onVersionChange($event)" placeholder="Select a version"
                class="ml-3 app-dropdown-version"></p-dropdown>
        </div>
        <div class="flex align-items-center">
            <!-- <img src="../assets/fav.svg " class="pr-3 pointer" alt="Logo"> -->
            <img src="../assets/feedback-list.svg" class="pr-3 pointer" alt="Logo" title="Comments"
                (click)="openComments()">
            <img src="../assets/print.svg" class="pr-3 pointer" alt="Logo">
            <p-button [disabled]="!enabledGeneratespec" (click)="op.toggle($event)" class="ellipsis-btn "
                icon="pi pi-ellipsis-v"></p-button>
            <p-overlayPanel class="overlay-class" #op>
                <!-- Dont remove this code -->
                <!-- <div class="confirm-overlay p-2 cursor-pointer " (click)="openCRs()">Change Requests
                </div>
                <div class="confirm-overlay p-2 cursor-pointer">Integration</div> -->
                <!-- ============= -->
                <div class="confirm-overlay p-2 cursor-pointer" (keyup)="openPopup('Spec Generation')"
                    (keydown)="op.hide()" (keypress)="openPopup('Spec Generation')"
                    (click)="openPopup('Spec Generation');op.hide()">Generate Spec</div>
                <div class="confirm-overlay p-2 cursor-pointer" (keyup)="viewPublishedApp()" (keydown)="op.hide()"
                    (keypress)="viewPublishedApp()" (click)="viewPublishedApp();op.hide()">View
                    Published App</div>
            </p-overlayPanel>
            <p-button label="Share" size="small" [rounded]="true"></p-button>
        </div>
    </div>
    <xnode-product-alert-popup *ngIf="showProductStatusPopup" (closePopup)="this.showProductStatusPopup = false"
        [contentdata]="data" [showProductStatusPopup]="showProductStatusPopup"></xnode-product-alert-popup>

    <xnode-confirmation-popup-new *ngIf="showConfirmationPopup" [visible]="showConfirmationPopup"
        [header]="'Update Spec'" [content]="'Are you sure, do you want to update this Spec?'" (onClickAction)="
        onClickAction($event)"></xnode-confirmation-popup-new>
    <xnode-spec-gen-popup *ngIf="showSpecGenaretePopup" (closePopup)="this.showSpecGenaretePopup = false"
        [content]="productStatusPopupContent" [showSpecGenaretePopup]="showSpecGenaretePopup"
        [isTheCurrentUserOwner]="isTheCurrentUserOwner" (generateSpec)="generate()">
    </xnode-spec-gen-popup>
</div>