.header-items {
    color: #DEDEDE;
    height: 70px;
}

.text-color {
    color: #949292 !important
}

:host ::ng-deep .app-dropdown .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 100%;
    color: #ffffff !important;
}

:host ::ng-deep .app-dropdown .p-inputtext {
    padding: 10px !important;
}

:host ::ng-deep .app-dropdown-version .p-dropdown {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 100%;
    color: #11CF46 !important;
    background: #CCFFDA;
}
:host ::ng-deep .app-dropdown-version .p-dropdown .p-dropdown-label{
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

:host ::ng-deep .app-dropdown-version .p-inputtext {
    background: #CCFFDA !important;
    color: #11CF46 !important;
    padding: 8px 10px !important;
}

:host ::ng-deep .app-dropdown-version .p-dropdown .p-dropdown-label,
:host ::ng-deep .app-dropdown-version .p-dropdown .p-dropdown-trigger {
    color: #11CF46;
}

.status {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}


:host ::ng-deep.ellipsis-btn .p-button,
:host ::ng-deep.ellipsis-btn .p-button:hover {
    background-color: transparent;
    border: none
}

:host::ng-deep .p-overlaypanel .p-overlaypanel-content {
    background-color: #2E2D36;
    color: white;
    border: 1px solid #535354;
}

:host::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0px !important;
}

:host ::ng-deep .update-spec-button {
    color: #ffffff;
    background: #23222B;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ffffff;
}

:host ::ng-deep .app-dropdown-version .p-dropdown-panel {
    position: absolute; 
}

:host ::ng-deep .share-btn.p-button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}
:host ::ng-deep .p-button .p-button-label{
    color : var(--primary-button-text-color)
}