<div class="template-builder-wrapper">
  <div class="template-builder-layout-wrapper">
    <xnode-page-tools-layout></xnode-page-tools-layout>
  </div>
  <div class="template-builder-body-wrapper overflow-hidden"
    [ngClass]="!isOpen ? 'template-builder-body-wrapper': 'another-template-builder-body-wrapper'">
    <xnode-template-builder-publish-header></xnode-template-builder-publish-header>
    <div class="surface-900 h-full overflow-auto mx-4 p-4 publish-body">
      <h6 class="text-4xl text-white mt-0 mb-5 font-bold">DEV</h6>
      <div class="flex align-items-center justify-content-between mb-4">
        <div class="flex">
          <div class="text-white text-sm">Cloud Provider : </div>
          <div class="text-white text-sm font-bold ml-2"> Azure</div>
        </div>
        <div class="flex pl-5">
          <div class="flex justify-content-center align-items-center deployvbtn text-xs border-round-3xl text-white">
            Deploy v3.0
          </div>
        </div>
      </div>
      <div class="h-full w-full">
        <xnode-dynamic-table class="mt-2" [inputData]="publish_overview" [cols]="cols" [tableInfo]="tableInfo">
        </xnode-dynamic-table>
      </div>
    </div>
  </div>
</div>
