.light-grey{
  color:#A2A2A3!important;
}

.cr-tabs-div{
  height: 80vh!important;
  overflow-y: auto!important;
}

:host ::ng-deep .cr-comment .p-divider-vertical:before {
  height: 65%!important;
 }
