.light-grey {
  color: #a2a2a3 !important;
}

.cr-tabs-div {
  height: 80vh !important;
  overflow-y: auto !important;
}

:host ::ng-deep .cr-comment .p-divider-vertical:before {
  height: 65% !important;
}

:host ::ng-deep .accordian .p-icon {
  color: white;
}

:host ::ng-deep .cr-tabs .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0px;
  align-items: flex-start;
}

:host ::ng-deep .cr-tabs .p-accordion .p-accordion-content {
  padding-top: 0px;
  align-items: flex-start;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
  background-color: #23222b;
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.search-input {
  border: revert-layer !important;
}

// :host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
//   border-width: 0px;
//   border-color: #ffff;
// }
// :host ::ng-deep .p-checkbox .p-checkbox-box:hover {
//   border-color: #ffff;
// }
// :host ::ng-deep .p-checkbox .p-checkbox-box:active {
//   border-color: #fff;
//   border-width: 0px;
// }
// :host ::ng-deep .p-checkbox .p-checkbox-box:focus {
//   border-color: #fff;
//   border-width: 0px;
// }

:host ::ng-deep .cr-tabs .p-accordion .p-accordion-header .p-accordion-header-link {
  position: relative;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  position: absolute !important;
  left: 7%;
  top: 2px;
  height: 10px;
}

.shaded-color {
  color: #a2a2a3;
}

.normal-font-weight {
  font-weight: 100;
}

.half-white {
  color: #efeeee;
}

.submit-cr-window {
  height: 0;
  overflow: visible; //hidden;
  transition: height 0.5s ease-in-out;
  background-color: #2E2D36;
}

.submit-cr-window-icon {
  height: 15px;
  width: 15px;
}

.sctions-grid {
  background: #24232C;
  color: #dfdfdf;
  max-height: 200px;
  overflow: hidden;
  border-radius: 6px;
}

.add-reviewer-panel {
  right: 25px;
  border-color: #02ADEE;
  background-color: #202123;
}

.add-reviewer-panel-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.add-reviewer-panel-body {
  background-color: #2E2D36;
}

:host ::ng-deep .add-reviewer .p-autocomplete {
  width: 100% !important;
  display: block !important;
}

:host ::ng-deep .p-autocomplete .p-inputtext {
  border: none;
  width: 100% !important;
  color: white;
}

:host ::ng-deep .p-inputtext {
  border: none;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
  color: #fff;
}


:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items {
  background-color: #2E2D36;
  color: white;
}

:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  color: white;
}

:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
  color: black;
}

:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
  color: black;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  background: #535354;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
}

.autocomplete-label {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: #02ADEE;
}

.avtar {
  border-radius: 15px;
  background-color: #02ADEE;
  font-size: 12px;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: center;
}


:host ::ng-deep .dueDate .p-inputtext {
  background-color: #302E38;
  color: #fff;
  border: none;
  box-shadow: none;
  font-weight: normal;
  padding: 0;
  width: 0;
}

:host ::ng-deep .dueDate .p-button {
  color: #ffffff;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1.5rem !important;
  border-radius: 6px;
}

:host ::ng-deep .priority-dropdown .p-dropdown-label{
  display: none;
}

:host ::ng-deep .priority-dropdown .p-dropdown-trigger .p-dropdown-trigger-icon{
  display: none;
}

:host ::ng-deep .priority-dropdown .p-dropdown-trigger {
  background: url('../../assets/status.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
}

:host ::ng-deep .menu-list-dropdown .p-dropdown-trigger{
  background: url('../../assets/kebab-menu.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
}

:host ::ng-deep .menu-list-dropdown .p-dropdown-label{
  display: none;
}

:host ::ng-deep .menu-list-dropdown .p-dropdown-trigger .p-dropdown-trigger-icon{
  display: none;
}

:host ::ng-deep .dueDate .p-button.p-button-icon-only {
  width: 1.5rem;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  background-color: #2E2D36 !important;
  color: #ffffff !important;
  width: 100%;
}

.filter-grid {
  background: #2E2D36;
  color: #EFEEEE;
  width: 100% !important;
}

:host ::ng-deep .p-dropdown {
  border: 1px solid #535354;
  background-color: #2E2D36 !important;
  color: #ffffff !important;
  width: 100% !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-items-wrapper {
  background-color: #2E2D36 !important;
  max-height: 180px !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #2E2D36 !important;
  color: #ffffff !important;
}

:host ::ng-deep .p-dropdown-item {
  border: 1px solid #535354;
  color: #ffffff !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
  background: #2E2D36 !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-items {
  padding: 0;
}

:host ::ng-deep .p-dropdown-filter-container {
  border: 1px solid transparent !important;
  background: transparent;
}
:host::ng-deep .cancel-button .p-button {
  color: #23222B !important;
  // background: #2E2D36;
  background: #ffffff !important;
  font-size: 1rem !important;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #23222B;
  border-radius: 1.5rem;
  padding: 0.5rem;

}

:host ::ng-deep .send-feedback-btn .p-button {
  background: #2563eb;
  font-size: 1rem !important;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #2563eb;
  border-radius: 1.5rem;
  padding: 0.5rem;

}
