<div class=" flex grid  gap-3 justify-content-center">
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
            id="Overview" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('Overview')"
            [ngClass]="{'layout-item-active': selectedContainer=== 'Overview'  }">
            <div class="flex flex-column">
                <div class="text-center">
                    <img src="./assets/Overview-icon.svg" alt="container">
                </div>
                <div class="mt-2 f-8">
                    Overview
                </div>
            </div>
        </div>
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
            id="ActivityLog" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('ActivityLog')"
            [ngClass]="{'layout-item-active': selectedContainer=== 'ActivityLog'  }">
            <div class="flex flex-column">
                <div class="text-center">
                    <img src="./assets/ActivityLog.svg" alt="container">
                </div>
                <div class="mt-2 f-8  text-center">
                    Activity Log
                </div>
            </div>
        </div>
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
            id="Alerts" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('Alerts')"
            [ngClass]="{'layout-item-active': selectedContainer=== 'Alerts'  }">
            <div class="flex flex-column">
                <div class="text-center">
                    <img src="./assets/Alerts.svg" alt="container">
                </div>
                <div class="mt-2 f-8 text-center">

                Alerts
                </div>
            </div>
        </div>
    <div class="grid gap-3 ">
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                id="Metrics" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('Metrics')"
                [ngClass]="{'layout-item-active': selectedContainer=== 'Metrics'  }">
                <div class="flex flex-column">
                    <div class="text-center">
                        <img src="./assets/Metrics.svg" alt="container">
                    </div>
                    <div class="mt-2 f-8  text-center">
                       Metrics
                    </div>
                </div>
            </div>                                                                           
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                id="Logs" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('Logs')"
                [ngClass]="{'layout-item-active': selectedContainer=== 'Logs'  }">
                <div class="flex flex-column">
                    <div class="text-center">
                        <img src="./assets/Logs.svg" alt="container">
                    </div>
                    <div class="mt-2 f-8  text-center">
                      Logs
                    </div>
                </div>
        </div>
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
            id="ChangeAnalysis" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('ChangeAnalysis')"
                [ngClass]="{'layout-item-active': selectedContainer=== 'ChangeAnalysis'  }">
                <div class="flex flex-column">
                    <div class="text-center">
                        <img src="./assets/ChangeAnalysis.svg" alt="container">
                    </div>
                    <div class="mt-2 f-8  text-center">
                   Change Analysis
                    </div>
                </div>
        </div>      
     </div>
     <div class="grid gap-3 last-col">
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                id="ServiceHealth" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('ServiceHealth')"
                [ngClass]="{'layout-item-active': selectedContainer=== 'ServiceHealth'  }">
                <div class="flex flex-column">
                    <div class="text-center">
                        <img src="./assets/SystemsHealth.svg" alt="container">
                    </div>
                    <div class="mt-2 f-8  text-center">
                      Service Health
                    </div>
                </div>
            </div>                                                                           
        <div class="layout-item border-1 border-primary flex flex-wrap align-content-center  justify-content-center pointer"
                id="Workbooks" draggable="true" (dragstart)="drag($event)" (click)="onSelectLayout('Workbooks')"
                [ngClass]="{'layout-item-active': selectedContainer=== 'Workbooks'  }">
                <div class="flex flex-column">
                    <div class="text-center">
                        <img src="./assets/LogBook.svg" alt="container">
                    </div>
                    <div class="mt-2 f-8  text-center">
                     Workbooks
                    </div>
                </div>
        </div>
       
     </div>
</div>