<div [ngClass]="{'spec-menu': isOpen, 'hide-spec-menu': !isOpen}">
    <div class="flex justify-content-end">
        <img src="../assets/spec-chevron-right.svg" class="flex mt-2 ml-4 text-white" alt="Logo" *ngIf="!isOpen"
            (click)="toggleMenu()">
    </div>
    <div *ngIf="isOpen">
        <div class="flex justify-content-center">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search text-white"></i>
                <input type="text" pInputText placeholder="Search for docs, Keywords, etc"
                    class="w-full border-round-3xl font-family-inter text-sm font-normal" />
            </span>
            <img src="../assets/spec-chevron-left.svg" class="flex ml-4 text-white" alt="Logo" *ngIf="isOpen"
                (click)="toggleMenu()">
        </div>
        <div>
            <p class="title font-family-inter font-semibold text-xs mt-4">General</p>
            <p-accordion [activeIndex]="activeIndex" (onOpen)="onOpenAccordian($event)">
                <p-accordionTab [header]=" (i + 1) + '. '+ shortTitle(item.title)"
                    *ngFor="let item of menuList; let i = index;" [ngClass]="{'active-header-text':i === activeIndex}">
                    <div class="p-2 pointer section text-base font-family-inter font-medium ml-4 mt-2 "
                        [ngClass]="{'active-section': i===activeIndex&& ind === selectedSecIndex}"
                        *ngFor="let section of item?.section let ind = index; " (click)="onClickSection(section,ind)">
                        {{(i + 1) + '.'+ (ind + 1) +' '+ section.title}}
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>