@media (min-width: 768px) {
    .spec-menu {
        height: 100vh;
        width: 300px;
        background: #202123;
        padding: 20px;
        height: calc(100vh - 40px);
        overflow: auto;
        transition: width 0.5s ease;
    }
}

@media (min-width: 1280px) {
    .spec-menu {
        height: 100vh;
        width: 350px;
        background: #202123;
        padding: 20px;
        height: calc(100vh - 40px);
        overflow: auto;
        transition: width 0.5s ease;
    }
}

@media (min-width: 1440px) {
    .spec-menu {
        height: 100vh;
        width: 375px;
        background: #202123;
        padding: 20px;
        height: calc(100vh - 40px);
        overflow: auto;
        transition: width 0.5s ease;
    }
}

.hide-spec-menu {
    width: 0px;
    background: #24232C;
    height: calc(100vh - 40px);
    transition: width 0.5s ease;
}

.active-header-text {
    color: #02ADEE
}

.title {
    color: #dfdfdf;
}

.section:hover {
    background: #464748;
    color: #EFEEEE;
    border-radius: 6px;
}

.active-section {
    background-color: #464748;
    color: #dedede !important;
    border-radius: 6px;
}

.section {
    color: #949292;
}

::placeholder {
    color: #DEDEDE;
}


// :host ::ng-deep .p-button {
//     font-size: 2rem;
//     background: #4F4E55;
//     border: 1px solid #24232C !important;
//     cursor: pointer;
// }

:host ::ng-deep .yellow {
    background: #8C7604 !important;
    height: 40px !important;
    color: white !important;
    border-radius: 2px !important;
}

:host::ng-deep .reset-search {
    position: absolute !important;
    right: 10px !important;
}
