<div class="bg h-full">
    <div class="flex justify-content-between">
        <div class="flex text-white m-4 text-4xl font-bold">
            Test cases</div>
        <div class="flex text-white m-4">
            <p-button label="New Test"></p-button>
        </div>
    </div>
    <div class="grid  text-white inprogress-bg">

        <div class="md:col-4 lg:col-8 flex flex-wrap">
            <p-dropdown optionLabel="name" [showClear]="true" placeholder="In Progress" class="ml-4">
            </p-dropdown>

            <h6 class="flex ml-4 mt-2 text-base font-bold">Login Flow Test</h6>
        </div>
        <div class="md:col-8 lg:col-4">
            <div class="flex flex-wrap">
                <img src="../../assets/record.svg" alt="record-image" class="record-image">
                <img src="../../assets/play-image.png" alt="play-image" class="ml-2">
                <img src="../../assets/delete-image.png" alt="delete-image" class="ml-2">
                <img src="../../assets/notepad-image.png" alt="notepad-image" class="ml-2">
                <img src="../../assets/board-image.png" alt="board-image" class="ml-2">
                <img src="../../assets/folder-image.png" alt="folder-image" class="ml-3 h-1rem mt-2">
                <img src="../../assets/copyright-image.png" alt="copyright-image" class="ml-3">
                <img src="../../assets/setting-image.png" alt="setting-image" class="ml-6">
                <p-button label="Save" class="ml-2"></p-button>
            </div>
        </div>

    </div>
    <div class="flex mt-6 p-6 justify-content-between">
        <div class="card test-card">
            <img class="card-img-top" src="../../assets/navigation-image.svg" alt="Card image" class="card-images">
            <div class="card-body">
                <h6 class="card-title">www.finlife360.com</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Navigate</li>
            </ul>
        </div>
        <img src="../../assets/arrow-image.png" alt="arrow-image" class="arrow">
        <div class="card test-card">
            <img class="card-img-top" src="../../assets/email-image (2).png" alt="Card image" class="card-images">
            <div class="card-body">
                <h6 class="card-title">raymond.nelson@ finlife360.com</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Set “Email”</li>
            </ul>
        </div>
        <img src="../../assets/arrow-image.png" alt="arrow-image" class="arrow">
        <div class="card test-card">
            <img class="card-img-top" src="../../assets/mouse-image.png" alt="Card image" class="card-images">
            <div class="card-body">
                <input pInputText type="text" class="p-inputtext-sm" placeholder="Please enter password" />
            </div>
            <ul class="list-group">
                <li class="list-group-item">Click “your password“</li>
            </ul>
        </div>
        <img src="../../assets/edditing-image.png" alt="edditing-image" class="arrow">
        <div class="card test-card">
            <img class="card-img-top" src="../../assets/email-image (2).png" alt="Card image" class="card-images">
            <div class="card-body">
                <input pInputText type="text" class="p-inputtext-sm" placeholder="********" />
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Set “password“</li>
            </ul>
        </div>
    </div>
    <div class="flex p-6">
        <div class="card test-card">
            <img class="card-img-top" src="../../assets/mouse-image.png" alt="Card image" class="card-images">
            <div class="card-body">
                <p-button label="Login" class="input-button"></p-button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Navigate</li>
            </ul>
        </div>
        <img src="../../assets/arrow-image.png" alt="arrow-image" class="arrow ml-5">
        <div class="card test-card ml-6">
            <img class="card-img-top" src="../../assets/T-image.svg" alt="Card image" class="card-images">
            <div class="card-body">
                <h6 class="card-title">“Hello, Raymond“</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Test Validation</li>
            </ul>
        </div>
    </div>
</div>