<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <p class="m-0 font-bold text-2xl">Create Task</p>
        </div>
    </ng-template>
    <form>
        <div class="p-4 grid">

            <div class="col-12">
                <label class="label-text">Task Title:</label>
                <input type="text" pInputText name="title">
            </div>
            <div class="col-12">
                <label class="label-text">Description:</label>
                <input type="text" pInputText name="description">
            </div>
            <div class="col-12">
                <div class="col-6">
                    <label class="label-text">Prioriry:</label>
                    <p-dropdown name="priority" placeholder="Select" [options]="priorityList"></p-dropdown>
                </div>
                <div class="col-6">
                    <p-calendar [inputStyle]="{'width':'0px', 'border':'0'}" class="dueDate"
                        (onSelect)="onDateSelect($event)" name="duedate" [showIcon]="true" icon="pi pi-calendar-plus"
                        [minDate]="minDate" styleClass="due-date"></p-calendar>
                    <span class="label-text">Due Date</span>

                </div>
            </div>
            <!-- <div class="col-12">
                <p-calendar [inputStyle]="{'width':'0px', 'border':'0'}" class="dueDate" [showIcon]="true"
                    icon="pi pi-calendar-plus" (onSelect)="onDateSelect($event)" [minDate]="minDate"></p-calendar>
                <span class=" text-sm font-normal text-200" *ngIf="!selectedDateLabel">Due Date</span>
                <span class=" text-sm font-normal text-200" *ngIf="selectedDateLabel">{{ selectedDateLabel }}</span>

            </div> -->
            <div class="col-12">
                <label class="label-text">Assignees</label>
                <input type="text" pInputText name="assignees">
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="mt-3">
            <p-button label="Cancel" [rounded]="true" class="cancel-button"></p-button>
            <p-button label="Create" styleClass="p-button-primary send-feedback-btn" [rounded]="true"></p-button>
        </div>
    </ng-template>
</p-dialog>