<div class="pr-4 pl-5">
    <div class="flex justify-content-between py-6">
        <div class="flex gap-2 align-items-center">
          <xnode-breadcrumbs
            [items]="agentDetailsModel.breadCrumbsAction.breadcrumb"
            (changeEvent)="agentDetailsModel.goBackBreadCrumbsHandler($event)"
            [highLightColor]="'cyan-text-color'"
          ></xnode-breadcrumbs>
        </div>
    
        <div class="flex align-items-center justify-content-between">
          <!-- Left-aligned content -->
          <div class="flex align-items-center">
              <p-splitButton
                label="Actions"
                styleClass="agent-playground-headerActionBtn"
                [model]="agentDetailsModel.activeHeaderActionBtnOption"
              ></p-splitButton>
          </div>
    
          <div class="separator"></div>
    
          <div class="flex align-items-center gap-2">    
            <p-button>
              <img src="../../../assets/agent-hub/hamburger-icon.svg" alt="" />
            </p-button>

            <p-button>
              <img src="../../../assets/agent-hub/chart-tree.svg" alt="" />
            </p-button>
          </div>
        </div>
      </div>
    <p-tabView
      styleClass="pt-3 px-6"
      (onChange)="agentDetailsModel.getAllAgentList()"
      [(activeIndex)]="agentDetailsModel.activeIndex"
      *ngIf="!agentDetailsModel.overviewTabItem.showTab; else overviewBlock"
    >
      <p-tabPanel
        *ngFor="let tab of agentDetailsModel.tabItems; let i = index"
        [header]="tab.title"
      >
      </p-tabPanel>
    </p-tabView>

    <ng-template #overviewBlock>
        <p-tabView
        styleClass="pt-3 px-6"
        [(activeIndex)]="agentDetailsModel.overviewTabItem.activeIndex"
      >
        <p-tabPanel
          *ngFor="let tab of agentDetailsModel.overviewTabItem.tabItems; let i = index"
          [header]="tab.title"
        >
        </p-tabPanel>
      </p-tabView>
    </ng-template>
  
    <div class="w-full table-height px-6" *ngIf="agentDetailsModel.activeIndex > 1 && !agentDetailsModel.overviewTabItem.showTab">
      <xnode-dynamic-table
        [inputData]="agentDetailsModel.tableData"
        [cols]="agentDetailsModel.columns"
        [tableInfo]="agentDetailsModel.tableInfo"
        [showColumnFilterOption]="agentDetailsModel.showColumnFilterOption"
        [tableRowActionOptions]="agentDetailsModel.tableRowActionOptions"
        [paginatorInfo]="agentDetailsModel.paginatorInfo"
        [searchFilterOptions]="agentDetailsModel.searchFilterOptions"
        columnWidth="13.8rem"
        altBgColorRow="#2E2D36"
        [showViewRowData]="true"
        (changeEvent)="agentDetailsModel.viewHandler($event)"
      ></xnode-dynamic-table>
    </div>
  
  
    <xnode-agent-overview></xnode-agent-overview>
  
  </div>
  