/*****TAB SECTION **********/
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff !important;
  }
  
  :host ::ng-deep .p-tabview-panels,
  :host ::ng-deep .p-tabview-nav,
  :host ::ng-deep .p-tabview-nav li,
  :host ::ng-deep .p-tabview-nav li a {
    background: transparent !important;
    gap: 1.5rem;
  }
  
  //************Agent playground CSS(Remove unncessary CSS from this file).*************  
  :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff !important;
  }
  
  :host ::ng-deep .p-tabview-panels,
  :host ::ng-deep .p-tabview-nav,
  :host ::ng-deep .p-tabview-nav li,
  :host ::ng-deep .p-tabview-nav li a {
    background: transparent !important;
  }
  
  /* Change background color of the dropdown */
  :host ::ng-deep .p-multiselect-panel {
    background-color: var(--multiselect-pannel-background-color);
  }
  
  /* Change background color of the dropdown panel */
  :host ::ng-deep .custom-multiselect .p-multiselect-label-container {
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  :host ::ng-deep .p-multiselect {
    border-radius: 0%;
  }
  
  :host ::ng-deep .custom-multiselect .p-multiselect-trigger {
    display: flex !important;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto;
    padding-right: 0.5rem;
    color: white;
  }
  
  :host ::ng-deep .custom-multiselect {
    background-color: #343541;
    border: 2px solid #595959;
    border-radius: 6px;
  }
  
  :host ::ng-deep .custom-multiselect:not(.p-disabled).p-focus {
    outline: inherit;
    outline-offset: 0;
    box-shadow: none;
    border: 2px solid #595959;
  }
  
  :host ::ng-deep .p-placeholder {
    color: white;
  }
  
  :host ::ng-deep .p-inputtext,
  :host ::ng-deep .p-inputtext:enabled:hover {
    border-radius: 0%;
    background-color: #343541;
    border: 2px solid #595959;
    border-radius: 6px;
  }
  
  :host ::ng-deep .showColumnFilterOption,
  .p-multiselect-label-container,
  .p-multiselect {
    border-radius: 0%;
    background-color: transparent !important;
    border: none;
  }
  
  :host ::ng-deep .showColumnFilterOption .p-multiselect-trigger {
    display: flex !important;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto;
    padding-right: 0.5rem;
    color: white;
  }
  
  
  // Dynamic Table style Starts
  
  // Column 3 dots action button
  :host ::ng-deep .p-splitbutton-defaultbutton,
  :host ::ng-deep .p-splitbutton-menubutton {
    padding: 0;
  }
  
  :host ::ng-deep .p-splitbutton-menubutton {
    width: fit-content;
    margin-left: 0.5rem;
  }