<div class="surface-900 relative use-case-body">
    <h1 class="text-white text-4xl p-3 font-bold">Use cases</h1>
    <div *ngIf="!loading && useCases?.length > 0">
        <div *ngFor="let usecase of useCases">
            <div class="flex justify-content-center flex-wrap card-container">
                <div class="flex align-items-center  font-bold text-gray-900 border-round m-2 usecases-card grid">
                    <div class="col-2 md:col-2 lg:col-2">
                        <img src="../../assets/case-0{{usecase.id}}.svg" alt="usecase-01" class="ml-3 w-7 h-5">
                    </div>
                    <div class="col-10 md:col-10 lg:col-10">
                        <h1 class=" text-white text-xl mt-3 font-bold">{{usecase.role}}</h1>
                        <p class=" text-white paragraph-color font-medium">{{usecase.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && useCases?.length === 0">
        <h2 class="text-center text-white">No Use cases found</h2>
    </div>

    <p-progressSpinner class="absolute top-50 left-50" *ngIf="loading"></p-progressSpinner>
</div>