<div class="container-fluid surface-900">
    <h1 class="text-white text-4xl p-3">Use cases</h1>

    <div class="card surface-900">
        <div class="flex justify-content-center flex-wrap card-container">
            <div class="flex align-items-center  font-bold text-gray-900 border-round m-2 usecases-card grid">

                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-01.png" alt="usecase-01" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 01</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to
                        track my expenses so that I can understand how I'm spending my money and make better financial
                        decisions.</p>
                </div>

            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card grid">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-02.svg" alt="usecase-02" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 02</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to link all
                        of my financial accounts (e.g. bank accounts, credit cards, investment accounts) to the app so
                        that I can see a complete picture of my financial situation.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-03.svg" alt="usecase-03" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 03</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to set up budgets
                        for different categories of expenses (e.g. food, transportation, housing) so that I can stay on
                        track and avoid overspending.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-04.svg" alt="usecase-04" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 04</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to set financial
                        goals (e.g. save for a down payment on a house, pay off credit card debt) and track my progress
                        so that I can stay motivated and focused.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-05.svg" alt="usecase-05" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 05</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to receive personalized
                        insights and recommendations based on my financial activity and goals so that I can make
                        informed decisions about my finances.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-06.svg" alt="usecase-06" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 06</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to receive
                        notifications (e.g. bill payment reminders, budget limit alerts, goal progress updates) so that
                        I can stay on top of my financial obligations and goals.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-07.svg" alt="usecase-07" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 07</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to receive
                        notifications (e.g. bill payment reminders, budget limit alerts, goal progress updates) so that
                        I can stay on top of my financial obligations and goals.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-08.svg" alt="usecase-08" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 08</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to receive
                        notifications (e.g. bill payment reminders, budget limit alerts, goal progress updates) so that
                        I can stay on top of my financial obligations and goals.</p>
                </div>
            </div>

            <div
                class="flex align-items-center justify-content-center  font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-09.svg" alt="usecase-09" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 09</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to receive
                        notifications (e.g. bill payment reminders, budget limit alerts, goal progress updates) so that
                        I can stay on top of my financial obligations and goals.</p>
                </div>
            </div>
            <div
                class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2 usecases-card">
                <div class="col-2 md:col-2 lg:col-2">
                    <img src="../../assets/case-10.svg" alt="usecase-10" class="ml-3 w-7 h-5">
                </div>
                <div class="col-10 md:col-10 lg:col-10">
                    <h1 class=" text-white text-xl mt-3">Case 10</h1>
                    <p class=" text-white paragraph-color font-medium">As a user, I want to be able to receive
                        notifications (e.g. bill payment reminders, budget limit alerts, goal progress updates) so that
                        I can stay on top of my financial obligations and goals.</p>
                </div>
            </div>
        </div>



    </div>