.usecases-card {
    background-color: #302E38;
    width: 40rem;
    height: 10rem;
    border: 1px solid #595959;
    border-radius: 4px;
}

.paragraph-color {
    color: rgba(255, 255, 255, 0.6) !important;

}