
  :host ::ng-deep .p-button {
    background: none;
    justify-content: center;
    padding-left: 1rem;
  }
  
  :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff !important;
  }
  
  :host ::ng-deep .p-tabview-panels,
  :host ::ng-deep .p-tabview-nav,
  :host ::ng-deep .p-tabview-nav li,
  :host ::ng-deep .p-tabview-nav li a {
    background: transparent !important;
  }
  
  .separator {
    border-left: 1px solid #a2a2a3;
    margin: 0 1rem;
    height: 1.8rem;
  }
  
  .agent-icons {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .agent-summary {
    padding: 0rem 13rem 2.5rem 5rem;
    justify-content: space-between;
  }


  :host ::ng-deep .p-breadcrumb {
    background-color: transparent;
    border: none;
  }
  
  
  // Dynamic Table style Starts
  .table-height {
    height: calc(100vh - 45vh);
    overflow: auto;
  }
  // Column 3 dots action button
  :host ::ng-deep .p-splitbutton-defaultbutton,
  :host ::ng-deep .p-splitbutton-menubutton {
    padding: 0;
  }
  
  :host ::ng-deep .p-splitbutton-menubutton {
    width: fit-content;
    margin-left: 0.5rem;
  }