// :host ::ng-deep.d2h-wrapper {
//     width: 50% !important;
// }
:host ::ng-deep .d2h-file-header {
    background: #3A3942;
    color: #DEDEDE;
}

:host ::ng-deep .d2h-changed-tag {
    border: none;
    background: orange;
    padding: 3px;
    border-radius: 4px;
    color: #000000;
}

:host ::ng-deep .d2h-code-side-line {
    width: auto;
}

:host ::ng-deep .d2h-info {
    background: #3A3942;
    color: #ffffff;
}


:host ::ng-deep .d2h-del {
    background: #482B2B;
    color: #FF6847;
    text-decoration: line-through !important;
}

:host ::ng-deep .d2h-code-side-line del {
    color: #FF6847;
    background: #482B2B;
    text-decoration: line-through !important;

}

:host ::ng-deep .d2h-code-side-line ins {
    background: #29422F;
    color: #FFE047;
}

:host ::ng-deep .d2h-ins {
    background: #29422F;
    color: #FFE047;
}

:host ::ng-deep .d2h-code-line-ctn {
    white-space: normal !important
}

:host ::ng-deep .d2h-file-diff .d2h-ins.d2h-change {
    background: #29422F;
    color: #FFE047;
}
:host ::ng-deep .d2h-code-line ins, .d2h-code-side-line ins{
    color: #29422F;
    background: #FFE047;
}

:host ::ng-deep .d2h-file-diff .d2h-del.d2h-change{
    background: #482B2B;
    color: #FF6847;
    text-decoration: line-through;

}
:host ::ng-deep .d2h-code-line del, .d2h-code-side-line del{
    background-color: #FF6847;
    color: #482B2B;
    text-decoration: line-through !important;
}