.side-menu-item {
    height: 80px;
    color: #ffffff;
    width: 100%;
    font-size: 8px;
    cursor: pointer;
}

.side-menu-item:hover {
    background: #44414e;

}

.active {
    background: #302E38;
    .single-item-section {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
}