<!-- <div>
  <h1>dynamic form</h1>
  <form [formGroup]="formGroup">

    <div *ngFor="let control of inputControls " class="form-row">
      <xnode-dynamic-control [control]="control" [formGroup]="formGroup"></xnode-dynamic-control>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="true">Save</button>
    </div>
  </form>

  <div  class="form-row">
    <strong>Saved the following values</strong><br>
  </div>
</div> -->


<div class="p-4"  >
  <h1 *ngIf="noSQLForm.formName">{{noSQLForm.formName}}</h1>
  <div  class="p-3" >
    <form *ngIf="noSQLForm.controls" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div *ngFor="let control of noSQLForm.controls " class="form-row">
        <xnode-dynamic-control [control]="control" [parentFormGroup]="form"></xnode-dynamic-control>
      </div>

      <div *ngFor="let subForm of noSQLForm.subForms " class="">
        <xnode-dynamic-sub-form [parenFormGroup]="form" [noSQLForm]="subForm"></xnode-dynamic-sub-form>
      </div>

      <div class="form-row">
        <button type="submit">Save</button>
      </div>
    </form>
  </div>

  <div class="form-row">
    <strong>Saved the following values</strong><br>
  </div>
</div>
