<!-- <div>
  <h1>dynamic form</h1>
  <form [formGroup]="formGroup">

    <div *ngFor="let control of inputControls " class="form-row">
      <xnode-dynamic-control [control]="control" [formGroup]="formGroup"></xnode-dynamic-control>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="true">Save</button>
    </div>
  </form>

  <div  class="form-row">
    <strong>Saved the following values</strong><br>
  </div>
</div> -->


<div>
  <h1 *ngIf="noSQLForm.formName">{{noSQLForm.formName}}</h1>
  <form *ngIf="noSQLForm.controls" [formGroup]="getFormGroup()">

    <div *ngFor="let control of noSQLForm.controls " class="form-row">
      <xnode-dynamic-control [control]="control" [formGroup]="formGroup"></xnode-dynamic-control>
    </div>

    <div *ngFor="let subForm of noSQLForm.subForms " class="form-row">
      <xnode-dynamic-form [parenFormGroup]="formGroup" [noSQLForm]="subForm"></xnode-dynamic-form>
    </div>

    <div class="form-row" *ngIf="parenFormGroup === undefined">
      <button type="submit" [disabled]="true">Save</button>
    </div>
  </form>

  <div  class="form-row" *ngIf="parenFormGroup === undefined">
    <strong>Saved the following values</strong><br>
  </div>
</div>
