.comments-grid {
    height: calc(100vh - 280px);
    overflow: auto;
    color: #dedede;
}


.title {
    font-size: 24px;
}

.sub-title {
    font-size: 16px;
    line-height: 24px;
}

:host ::ng-deep .p-inputtextarea {
    width: 100% !important;
    color: #dedede;
}

.w-90 {
    width: 90% !important;
}

.comment-send-icon {
    bottom: 5px;
    right: 5px;
}

.spec-comments-header {
    padding: 31.5px;
}

:host ::ng-deep .p-dropdown {
    border: 0 !important;
    color: #EFEEEE !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
    padding: 5px;
}

.filter-grid {
    background: #2E2D36;
    color: #EFEEEE;
}

:host ::ng-deep .p-tabview .p-tabview-nav,
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link,
:host ::ng-deep .p-tabview .p-tabview-panels {
    background: linear-gradient(0deg, #23222B, #23222B),
        linear-gradient(0deg, #535354, #535354);
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #02ADEE;
    color: #02ADEE;
    padding: 1.5rem 1.25rem;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 1.5rem 1.25rem;
    color: #949292;
}

.comments-cr-close {
    position: absolute;
    left: -14px;
    z-index: 2;
    top: 17px;
}

:host ::ng-deep.comments-cr-tabs .p-tabview-panels {
    padding: 0;
}