.container{
    padding:20px;
    background-color:#23222B;
}

.bodycontainer{
    background-color: #23222B;
}

.savebtn{
    height: 32px;
    width: 60px;
    background-color: #23222B;
    margin-right: 15px;
}
.publishbtn{
    height: 32px;
    width: 101px;
    background-color: #EF018F; 
}
.deployvbtn{
    background-color: #437FEC;
    padding-left: 10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;
}


