<div class="" > 
    <div class="" >fkdmkl</div>
    <div class="p-4" >
        <div class="flex align-items-center justify-content-between" >
          <p class="text-white text-xs" >finbuddy</p>
              <div class="flex align-items-center justify-content-start bg-primary p-2 justify-content-between  ">
                  <div class="bg-white font-bold flex align-items-center justify-content-center h-1rem w-1rem border-round text-900 ">1</div>
                  <div class="bg-white font-bold flex align-items-center justify-content-center h-1rem w-1rem border-round text-900 ">1</div>
                  <div class="bg-white font-bold flex align-items-center justify-content-center h-1rem w-1rem border-round text-900 ">1</div>
              </div>
          <div class="flex" >
              <div class="flex justify-content-center align-items-center savebtn  text-black text-xs border-round-3xl text-white" >
                  save
              </div>
              <div class="flex justify-content-center align-items-center publishbtn  text-black text-xs border-round-3xl text-white" >
                  publish
              </div>
          </div>
      
        </div>
        <div class="bodycontainer p-4  mt-3" >
      <div class="text-white text-2xl  " >Dev</div>
      <div class="flex align-items-center justify-content-between mt-4 "  >
          <div class="flex" >
              <div class="text-white text-sm" >Cloud Provider : </div>
              <div class="text-white text-sm font-bold ml-2" > Azure</div>
          </div>
             
          <div class="flex pl-5" >
              <div class="flex justify-content-center align-items-center deployvbtn text-xs border-round-3xl text-white" >
                  Deploy v3.0
              </div>
          </div>
        </div>
        <div class="mt-4" >
        <xnode-table  class="mt-2" >  </xnode-table>
        </div>
      
        </div>
      </div>
    </div>