<div class="card-content">
    <p class="text-500 font-normal text-2xl text-center">Step 2/4</p>
    <h1 class="heading-color text-6xl font-bold text-center">
        Welcome to xnode
    </h1>
    <p class="text-2xl font-semibold text-center -mt-4 mx-2">Please provide brand guidelines.</p>
    <div class="field col-10 sm:col-12 md:col-12 lg:col-10 xl:col-10 mx-7 mt-5">
        <label htmlFor="workspace" class="font-medium text-base">Workspace Name</label>
        <div class="flex flex-wrap  align-items-center p-2 border-1 surface-border border-round-3xl w-11">
            <p class="m-0 pl-2 font-normal text-base ">
                FinBuddy
            </p>
        </div>
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 mx-7 mt-5">
        <label htmlFor="logo" class="font-medium text-base">Upload Logo</label>
        <div class="container grid m-0 mt-2" appDnd (fileDropped)="onFileDropped($event)">
            <div class="field col-5 align-items-center">
                <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($any($event).target.files)"
                    *ngIf="files.length == 0; else elseBlock" />
                <ng-template #elseBlock>
                    <input type="file" #fileDropRef id="fileDropRef"
                        (change)="fileBrowseHandler($any($event).target.files)" disabled />
                </ng-template>
                <img src="./assets/sky.svg" width="64px">
                <h3 class="font-semibold text-sm">Drag and Drop </h3>
            </div>
            <div class="field col-2 ">
                <h3 class="mt-5 font-semibold text-sm">( OR )</h3>
            </div>
            <div class="field col-5 mt-5">
                <p-button label="Browse Files" for="fileDropRef" class="font-normal text-sm"
                    styleClass=" p-button-outlined"></p-button>
            </div>
            <div class="font-semibold text-sm text-500">
                Supported file types JPG, PNG (upload file size limit 2MB)
            </div>
        </div>
        <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <div class="file-icon" style="width: 50px">
                    <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58"
                        style="enable-background:new 0 0 58 58;" xml:space="preserve">
                        <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                        <g>
                            <path style="fill:#CEC9AE;"
                                d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                            <path style="fill:#CEC9AE;"
                                d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                            <path style="fill:#CEC9AE;"
                                d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                            <path style="fill:#CEC9AE;"
                                d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                            <path style="fill:#CEC9AE;"
                                d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                        </g>
                        <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                    </svg> -->
                </div>
                <div class="info">
                    <h4 class="name">
                        {{ file?.name }}
                    </h4>
                    <!-- <p class="size">
                        {{ formatBytes(file?.size) }}
                    </p> -->
                </div>

                <div class="delete" (click)="deleteFile(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                        <path fill="#B1B1B1" fill-rule="nonzero"
                            d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>