<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<div class="template-builder-wrapper">
     <xnode-page-tools-layout></xnode-page-tools-layout>
     <div class="" [ngClass]="!isOpen ? 'template-builder-body-wrapper': 'another-template-builder-body-wrapper'">
         <xnode-template-builder-publish-header></xnode-template-builder-publish-header>
          <!-- <div >
               <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
          </div> -->
          <div *ngIf="graphRedirection">
               <button type="button" class="btn btn-link" style=" height: 30px; color: rgb(239, 248, 248);  margin-top: -10px; border-radius: 20px;vertical-align: top;; font-size: 12px;margin-left: 10px;" (click)="switchWindow()">
                    <i class="bi bi-arrow-left" style ="margin-right: 4px;"></i>
                    <strong>Back to Graph</strong>
               </button>
          </div>
          <div class="container bpmn-component">
               
               <div id="diagramRef" class="diagram-container">
               </div>
               <p-sidebar *ngIf="sideBar"  id="property-panel"[(visible)]="sidebarVisible" position="right" styleClass="w-30rem" [modal]="false">
                    <ng-template pTemplate="header"><b>{{overview.title}}</b></ng-template>
                    <div class="container text-left">
                         <div class="row">
                              <div class="col-auto">
                                   <div class="row">
                                        <p-avatar *ngIf="taskHeader?.label==='Task'" label="T" styleClass="mr-2" size="large"></p-avatar>
                                        <p-avatar *ngIf="taskHeader?.label==='Pool'" label="P" styleClass="mr-2" size="large"></p-avatar>
                                        <p-avatar *ngIf="taskHeader?.label==='Activity'" label="A" styleClass="mr-2" size="large"></p-avatar>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <div class="row">{{taskHeader?.label}}</div>
                                   <div class="row"><strong>{{taskHeader?.task}}</strong></div>
                              </div>
                         </div> 
                    </div>
                    <p-divider></p-divider>
                              
                    <p-tabView>
                         <!-- General Tab -->
                         <p-tabPanel header="General">
                              <p-panel header="General" [toggleable]="true">
                                   <div class="row">
                                        <label htmlFor="username">{{generalInfo[0].label}}</label>
                                        <input  pInputText id="username" aria-describedby="username-help" [(ngModel)]="overview.Tag" />
                                   </div>
                                   <div class="row">
                                        <label htmlFor="username">{{generalInfo[1].label}}</label>
                                        <input  pInputText id="username" aria-describedby="username-help" [(ngModel)]="overview.title" />
                                   </div>
                              </p-panel>
                              <p-panel header="Documentation" [toggleable]="true">
                                   <label htmlFor="username">{{generalInfo[2].label}}</label>
                                   <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="overview.Description"></textarea>

                              </p-panel>
                         </p-tabPanel>

                         <!-- Properties tab -->
                         <p-tabPanel header="Properties">
                              <p-panel header={{taskHeader?.pHeader}} [toggleable]="true" [collapsed]="true" >
                                   <p-table [value]="flowInfo" [tableStyle]="{ 'min-width': '30rem' }">
                                        <ng-template pTemplate="body" let-product >
                                             <tr *ngIf="product.index%2===0">
                                                  <td >
                                                       <label htmlFor="username">{{product.label}}</label>
                                                       <input  pInputText id="username" aria-describedby="username-help" [(ngModel)]="product.name" /> 
                                                  </td>
                                                  <td *ngIf="flowInfo[product.index+1]">
                                                       <label htmlFor="username">{{flowInfo[product.index+1].label}}</label>
                                                       <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="flowInfo[product.index+1].name" />
                                                  </td>
                                             </tr>
                                        </ng-template>
                                   </p-table>
                              </p-panel>
                              <a *ngIf="elementList?.type ==='bpmn:ServiceTask'&&!sP" href="/">View DMN Decision Flow</a>

                              <p-panel *ngIf="sP" header="Userflows" [toggleable]="true" [collapsed]="true" styleClass="{ 'width': '30rem' }">
                                   <p-table [value]="userTask" [tableStyle]="{ 'min-width': '30rem' }">
                                        <ng-template pTemplate="body" let-product >
                                             <tr *ngIf="product.index%2===0">
                                                  <td >
                                                       <label>TaskId</label>
                                                       <input  pInputText  [(ngModel)]="product.name" />
                                                  </td>
                                                  <td *ngIf="userTask[product.index+1]">
                                                       <label >TaskId</label>
                                                       <input pInputText [(ngModel)]="userTask[product.index+1].name" />
                                                  </td>
                                             </tr>
                                        </ng-template>
                                   </p-table>
                              </p-panel>

                              <p-panel *ngIf="sP" header="Backendflows" [toggleable]="true" [collapsed]="true" >
                                   <p-table [value]="serviceTask" [tableStyle]="{ 'min-width': '30rem' }">
                                        <ng-template pTemplate="body" let-product >                         
                                             <tr *ngIf="product.index%2===0">
                                                  <td >
                                                       <label>TaskId</label>
                                                       <input  pInputText  [(ngModel)]="product.name" />
                                                  </td>
                                                  <td *ngIf="serviceTask[product.index+1]">
                                                       <label >TaskId</label>
                                                       <input pInputText [(ngModel)]="serviceTask[product.index+1].name" />
                                                  </td>
                                             </tr>
                                        </ng-template>                        
                                   </p-table>
                              </p-panel>
                         </p-tabPanel>

                         <!-- JSON Tab -->
                         <p-tabPanel header="JSON">
                              <textarea rows="5" cols="55"  pInputTextarea [(ngModel)]="jsonWorkflow"></textarea>
                         </p-tabPanel>

                         <!-- Comments Tab -->
                         <p-tabPanel header="Comments"> </p-tabPanel>
                    </p-tabView>
               </p-sidebar>
               <div id ="sc"class="scrollable-container w-full h-full overflow-auto">
                    <div class="col-12" id="graph">   
               </div>
          </div>
          
     </div>
   </div>