<div class="bg-white m-4" [ngSwitch]="contentObj.content_data_type">
  <div *ngSwitchCase="'BANNER'">
    <h3>{{index+1}}. {{contentObj.title }} </h3>
    <div [ngSwitch]="getType(contentObj.content)">
      <div *ngSwitchCase="'array'">
        <div *ngFor="let item of contentObj.content">
          <xnode-diff-comp [contentObj]="item" [diffObj]="getDiffObj(diffObj?.content, item, onDiff)"
            [onDiff]="onDiff"></xnode-diff-comp>
        </div>
        <xnode-diff-list [onDiff]="onDiff" [srcList]="diffObj?.content"
          [targetList]="contentObj.content"></xnode-diff-list>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'BULLETS_WITH_TITLE'">
    <p class="m-0"> {{contentObj.title }}: </p>
    <div [ngSwitch]="getType(contentObj.content)">
      <div *ngSwitchCase="'object'" [class]="getClass()">
        <h2>
          <Section> obj</Section> {{contentObj.content.title }} : {{contentObj.content.content }}
        </h2>
      </div>
      <div *ngSwitchCase="'array'">
        <div *ngFor="let item of contentObj.content">
          <xnode-diff-comp [contentObj]="item" [diffObj]="getDiffObj(diffObj?.content, item, onDiff)"
            [onDiff]="onDiff"></xnode-diff-comp>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'BULLETS'">
    <p class="m-0"> {{contentObj.title }}: </p>
    <div [ngSwitch]="getType(contentObj.content)">
      <div *ngSwitchCase="'object'" [class]="getClass()">
        <h2>
          <Section> obj</Section> {{contentObj.content.title }} : {{contentObj.content.content }}
        </h2>
      </div>
      <div *ngSwitchCase="'array'">
        <div *ngFor="let item of contentObj.content">
          <xnode-diff-comp [contentObj]="item" [diffObj]="getDiffObj(diffObj?.content, item, onDiff)"
            [onDiff]="onDiff"></xnode-diff-comp>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'USER_PERSONAS'">
    <p class="m-0"> {{contentObj.title }}: </p>
    <p>User personas component</p>
  </div>

  <div *ngSwitchCase="'PARA'" [class]="getClass()">
    <p class="m-0">{{contentObj.title }} :
    </p>
    <xnode-diff-generator [oldContent]="contentObj.content" [newContent]="diffObj?.content"
      [onDiff]="onDiff"></xnode-diff-generator>
  </div>
</div>