<div [ngSwitch]="contentObj?.content_data_type">
  <div *ngSwitchCase="'BANNER'" [ngClass]="{'mt-4': contentObj?.title !== 'Introduction'}">
    <div class="intro-grid" [id]="contentObj.id">
      <div class="text-4xl font-semibold flex align-items-center">{{contentObj?.sNo + ' ' + contentObj?.title}}
        <span class="version-badge">
          Version: {{contentObj.version?.version}}
        </span>
      </div>
      <div class="flex align-items-center spec-status">
        <p class="text-sm font-medium">Published on {{contentObj?.createdOn | date:
          'MMMd,y'}}
        </p>
        <i class="pi pi-circle-fill pl-3 pr-3"></i>
        <p class="text-sm font-medium">Updated on {{contentObj?.modifiedOn | date:
          'MMMd,y'}}
        </p>
        <i class="pi pi-circle-fill pl-3 pr-3"></i>
        <p class="text-sm font-medium">3 mins read</p>
      </div>
      <div class="flex mt-2">
        <div class="p-1 pl-3 pr-3 bg-white mr-2 border-round-2xl text-xs font-medium tag-text-color product-title">
          #{{product?.title}}
        </div>
      </div>
      <div class="flex mt-3  align-items-center">
        <p class="author text-sm font-medium m-0"> By
          {{contentObj?.modifiedBy.displayName | titlecase}}
      </div>
      <img [src]="getMeBanner(contentObj)" alt="banner" class="mt-3 w-full">
    </div>
  </div>
  <div [ngClass]="
  !contentObj?.collapsed && contentObj.parent_data_type !== 'list'
    ? 'sctions-grid relative'
    : contentObj.parent_data_type !== 'list' ? 'sctions-grid-full relative' : 'sctions-grid-no-padding relative'"
    id="{{ contentObj?.id }}" #contentContainer class="mt-4" *ngIf="contentObj?.content_data_type !== 'BANNER'">
    <div class="flex flex-row justify-content-between">
      <h3 class="m-0 pb-2 text-2xl font-bold" *ngIf="!contentObj?.parent_data_type">{{contentObj?.sNo + ' ' +
        contentObj?.title}}</h3>
      <img src="./assets/spec-minimize.svg" alt="expand"
        *ngIf="ComponentsToExpand.includes(contentObj.title) && !contentObj?.parent_data_type"
        class="expnad-icon pointer"
        (click)="expandComponent.emit({contentObj:contentObj,onDiff:onDiff,diffObj:diffObj})" />
    </div>
    <div class="grid" (mouseover)="contentObj.showCommentIcon = true" (mouseleave)="contentObj.showCommentIcon = false">
      <p-overlayPanel #op (onHide)="contentObj.showCommentIcon=false">
        <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);" [position]="'absolute'"
          [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj" placeHolder="Add a Comment"
          [commentType]="'comment'" [parentEntity]="'SPEC'"></xnode-add-comment-overlay-panel>
      </p-overlayPanel>
      <div class="col-12 py-0 h-2rem flex align-items-center justify-content-end mb-2"
        *ngIf="contentObj?.content_data_type === 'str' || contentObj?.content_data_type === 'VERSION_CONTROL' || contentObj?.content_data_type === 'USECASES'">
        <div *ngIf="contentObj.showCommentIcon && !onDiff" class="flex align-items-center justify-content-center">
          <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
          <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
          <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
        </div>
      </div>
      <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
        <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj" [parentTitle]="parentTitle"
          [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'" [parentId]="specItemId"
          [specItem]="contentObj"></xnode-add-task>
      </p-overlayPanel>
      <div class="col-12 py-0 list-view" *ngSwitchCase="'str'" [id]="contentObj.id">
        <div class="col-12 py-0" *ngIf="contentObj?.parent_data_type">
          <b>
            <xnode-diff-generator [removeselectedContent]="removeselectedContent" (selectedContent)="onselect($event)"
              [keyword]="keyword" [objId]="contentObj.id" [oldContent]="contentObj.title" [type]="'title'"
              [newContent]="diffObj?.title" [onDiff]="onDiff" [format]="format"></xnode-diff-generator>
          </b>
          <p>
            <xnode-diff-generator [removeselectedContent]="removeselectedContent" (selectedContent)="onselect($event)"
              [objId]="contentObj.id" [oldContent]="contentObj.content" [type]="'content'"
              [newContent]="diffObj?.content" [onDiff]="onDiff" [keyword]="keyword"
              [format]="format"></xnode-diff-generator>
          </p>
        </div>
        <p-overlayPanel #selectionText *ngIf="selectedText?.length>0" (onShow)="openOverlayPanel=true"
          (onHide)="onOverlayHide()">
          <xnode-add-comment-overlay-panel [width]="'w-30rem'" [users]="users" [selectedText]="selectedText"
            [parentEntity]="'SPEC'" (closeOverlay)="selectionText.toggle(false);emptySelectedContent()"
            [parentId]="contentObj.id" [position]="'absolute'" [selectedContent]="contentObj"
            placeHolder="Add a Comment"></xnode-add-comment-overlay-panel>
        </p-overlayPanel>
        <div class="col-12 py-0" *ngIf="!contentObj?.parent_data_type">
          <xnode-diff-generator [removeselectedContent]="removeselectedContent" (selectedContent)="onselect($event)"
            [objId]="contentObj.id" [keyword]="keyword" [oldContent]="contentObj.content"
            [newContent]="diffObj?.content" [onDiff]="onDiff" [format]="format"></xnode-diff-generator>
        </div>
      </div>
      <div *ngSwitchCase="'DATA_DICTIONARY'" [id]="contentObj.id">
        <div *ngFor="let item of contentObj?.content">
          <span *ngIf="item.tables else directTable">
            <div *ngFor="let subitem of item.tables">
              <h3 class="mb-1">{{subitem.tableName}}</h3>
              <p class="mt-1">{{subitem.tableDescription}}</p>
              <xnode-common-spec-table [content]="subitem.columns"></xnode-common-spec-table>
            </div>
          </span>
          <ng-template #directTable>
            <h3 class="mb-1">{{item.tableName}}</h3>
            <p class="mt-1">{{item.tableDescription}}</p>
            <xnode-common-spec-table [content]="item.columns"></xnode-common-spec-table>
          </ng-template>
        </div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'list'" [id]="contentObj.id">
        <div [ngSwitch]="getType(contentObj.content)">
          <div *ngSwitchCase="'array'">
            <ul *ngFor="let item of contentObj.content">
              <li>
                <xnode-diff-comp
                  (expandComponent)="expandComponent.emit({contentObj:contentObj,onDiff:onDiff,diffObj:diffObj})"
                  [contentObj]="getMeContentObj(item, contentObj)" [format]="format"
                  [diffObj]="getDiffObj(diffObj?.content, item, onDiff)" [onDiff]="onDiff"></xnode-diff-comp>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'USECASES'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-common-usecases [users]="[]" [useCases]="contentObj.content"></xnode-common-usecases>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-common-usecases [users]="[]" [useCases]="diffObj.content"></xnode-common-usecases>
          </div>
        </div>
        <xnode-common-usecases [users]="[]" [useCases]="contentObj.content" *ngIf="!onDiff"></xnode-common-usecases>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'WORKFLOWS'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-bpmn-common [inSpecView]="true" [onDiff]="true" [bpmnRefId]="'diagramRef-1'" [item]="contentObj"
              [dataToExpand]="contentObj"></xnode-bpmn-common>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-bpmn-common [inSpecView]="true" [onDiff]="true" [bpmnRefId]="'diagramRef-2'"
              [diffdataToExpand]="diffObj" [item]="diffObj"></xnode-bpmn-common>
          </div>
        </div>
        <xnode-bpmn-common [bpmnRefId]="'diagramRef'" [item]="contentObj" *ngIf="!onDiff"></xnode-bpmn-common>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'USER_ROLES'" [id]="contentObj.id">
        <xnode-user-roles [content]="contentObj.content" [parentTitle]="contentObj.title"
          [specItem]="contentObj"></xnode-user-roles>
      </div>
      <div class="col-12 py-4 dashbboard-view" *ngSwitchCase="'DASHBOARD'" [id]="contentObj.id">
        <div class="grid h-full" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12 h-full' : 'col-6 h-full'">
            <iframe id="myIframe" [src]="iframeSrc" class="h-full w-full" title="Template Builder">
            </iframe>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12 h-full' : 'col-6 h-full'">
            <iframe id="myIframe" [src]="iframeSrc1" class="h-full w-full" title="Template Builder">
            </iframe>
          </div>
        </div>
        <iframe id="myIframe" *ngIf="!onDiff" [src]="iframeSrc" class="h-full w-full " title="Template Builder">
        </iframe>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'JSON_TABLE'" [id]="contentObj.id">
        <div class="flex justify-content-end align-items-center my-2 mr-2">
          <i class="pi pi-list pointer mr-2" pTooltip="Json view" (click)="contentObj.viewType = 'list';"></i>
          <i class="pi pi-code pointer mr-2" pTooltip="Json view" (click)="contentObj.viewType = 'json';"></i>
          <i class="pi pi-table pointer ml-2" pTooltip="Table view" (click)="contentObj.viewType = 'table';"></i>
        </div>
        <pre [innerHTML]="contentObj.content | json " style="white-space: pre-wrap; overflow: auto"
          *ngIf="contentObj?.viewType ==='json'"></pre>
        <xnode-common-spec-table [content]="contentObj.content"
          *ngIf="contentObj?.viewType ==='table'"></xnode-common-spec-table>
        <div *ngIf="!contentObj.viewType ||contentObj.viewType === 'list'">
          <div [ngSwitch]="getType(contentObj.content)">
            <div *ngSwitchCase="'array'">
              <ul *ngFor="let item of contentObj.content">
                <li>
                  <xnode-diff-comp (expandComponent)="expandComponent.emit($event)"
                    [contentObj]="getMeContentObj(item, contentObj)" [format]="format"
                    [diffObj]="getDiffObj(diffObj?.content, item, onDiff)" [onDiff]="onDiff"></xnode-diff-comp>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 py-4" *ngSwitchCase="'TABLE'" [id]="contentObj.id">
        <xnode-common-spec-table [users]="[]" [content]="contentObj.content"></xnode-common-spec-table>
      </div>
      <div class="col-12 py-4" *ngSwitchCase="'DATA_MODEL'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-data-model-common *ngIf="contentObj"></xnode-data-model-common>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-data-model-common [inDiffView]="true" *ngIf="diffObj"></xnode-data-model-common>
          </div>
        </div>
        <xnode-data-model-common *ngIf="contentObj && !onDiff"></xnode-data-model-common>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'SWAGGER'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <div id="openapi-ui-spec-1" class="openapi-spec my-3"></div>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <div id="openapi-ui-spec-2" class="openapi-spec my-3"></div>
          </div>
        </div>
        <div id="openapi-ui-spec" *ngIf="!onDiff" class="openapi-spec my-3"></div>
      </div>
      <div class="col-12 py-4" *ngSwitchCase="'QUALITY_ASSURANCE'" [id]="contentObj.id">
        <div *ngFor="let item of contentObj.content">
          <h3>
            {{item.title}}
          </h3>
          <xnode-common-spec-table [specItem]="contentObj" [content]="item.content"></xnode-common-spec-table>
        </div>
      </div>
      <div class="col-12  pt-0" *ngSwitchCase="'USER_PERSONAS'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <div *ngFor="let persona of contentObj.content" class="pb-1" (mouseover)="persona.showCommentIcon = true"
              (mouseleave)="persona.showCommentIcon = false">
              <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
                <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                  [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj"
                  [specItem]="contentObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                  [parentId]="specItemId"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
              <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
                <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj"
                  [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                  [parentId]="specItemId" [specItem]="contentObj"></xnode-add-task>
              </p-overlayPanel>
              <div class="flex justify-content-end mb-2" *ngIf="persona.showCommentIcon && !onDiff">
                <div class="flex align-items-center justify-content-center">
                  <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
                  <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
                  <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
                </div>
              </div>
              <xnode-user-persona [content]="persona"></xnode-user-persona>
            </div>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6 pl-3 pt-0'">
            <div *ngFor="let persona of diffObj.content" class="pb-1" (mouseover)="persona.showCommentIcon = true"
              (mouseleave)="persona.showCommentIcon = false">
              <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
                <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                  [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="diffObj"
                  [specItem]="diffObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                  [parentId]="specItemId"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
              <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
                <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="diffObj"
                  [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                  [parentId]="specItemId" [specItem]="diffObj"></xnode-add-task>
              </p-overlayPanel>
              <div class="flex justify-content-end mb-2" *ngIf="persona.showCommentIcon && !onDiff">
                <div class="flex align-items-center justify-content-center">
                  <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
                  <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(diffObj)"></i>
                  <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
                </div>
              </div>
              <xnode-user-persona [content]="persona"></xnode-user-persona>
            </div>
          </div>
        </div>
        <div *ngIf="!onDiff">
          <div *ngFor="let persona of contentObj.content" class="pb-3" (mouseover)="persona.showCommentIcon = true"
            (mouseleave)="persona.showCommentIcon = false">
            <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
              <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj"
                [specItem]="contentObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                [parentId]="specItemId"></xnode-add-comment-overlay-panel>
            </p-overlayPanel>
            <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
              <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj"
                [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                [parentId]="specItemId" [specItem]="contentObj"></xnode-add-task>
            </p-overlayPanel>
            <div class="flex justify-content-end p-4" *ngIf="persona.showCommentIcon">
              <div class="flex align-items-center justify-content-center">
                <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
                <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
                <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
              </div>
            </div>
            <xnode-user-persona [content]="persona"></xnode-user-persona>
          </div>
        </div>
      </div>
      <div class="col-12 py-4" *ngSwitchCase="'VERSION_CONTROL'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-common-spec-table [users]="[]" [content]="contentObj.content"></xnode-common-spec-table>
          </div>
          <div [ngClass]="format === 'line-by-line' ? 'col-12' : 'col-6'">
            <xnode-common-spec-table [users]="[]" [content]="diffObj.content"
              [inDiffView]="true"></xnode-common-spec-table>
          </div>
        </div>
        <xnode-common-spec-table [users]="[]" [content]="contentObj.content"
          *ngIf="contentObj && !onDiff"></xnode-common-spec-table>
      </div>
    </div>
    <div *ngIf="!contentObj?.parent_data_type" [ngClass]="{'gradientback': !contentObj?.collapsed}">
      <p-button label="See More" size="small" [rounded]="true" (click)="contentObj.collapsed = true;" [outlined]="true"
        class="absolute bottom-0 right-0 mr-2 z-0 mb-2" *ngIf="!contentObj?.collapsed" severity="secondary"></p-button>
      <p-button label="See Less" [rounded]="true" size="small" (click)="contentObj.collapsed = false;" [outlined]="true"
        class="absolute bottom-0 right-0 mr-2 z-0 mb-2" *ngIf="contentObj?.collapsed" severity="secondary"></p-button>
      <div class="" *ngIf="!contentObj?.collapsed"></div>
    </div>
  </div>
</div>