.ADDED {
  background: #95e98d !important;
}

.REMOVED {
  background: #e45151 !important;
}

// .MODIFIED {
//   background: #d4d63f !important;
// }

.intro-grid {
  background: #24232C;
  padding: 30px;
  // color: #dfdfdf;
  color: #EFEEEE;
  border-radius: 6px;
}

.version-badge {
  font-size: 14px;
  background: #02ADEE66;
  padding: 5px;
  border-radius: 20px;
  font-weight: normal;
  margin-left: 10px;
}

.sctions-grid {
  background: #24232C;
  padding: 30px;
  color: #EFEEEE;
  max-height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.sctions-grid-full {
  background: #24232c;
  padding: 30px;
  color: #dfdfdf;
  max-height: none;
  border-radius: 6px;
}

.expnad-icon {
  width: 25px;
}

.openapi-spec {
  background: #fff;
  overflow: hidden;
}

.spec-status {
  color: #7E7E7E;
}

.author {
  color: #EFEEEE;
}

.product-title {
  color: #4B4B4B;
}

.content-old {
  color: #949292;
}

.content-title {
  color: #A2A2A3;
}

.dashbboard-view {
  height: 600px;
}

.sctions-grid-no-padding {
  padding: 0;
}