<div [ngSwitch]="contentObj?.content_data_type">
  <div *ngSwitchCase="'BANNER'">
    <div class="intro-grid " [id]="contentObj.id">
      <div class="text-4xl font-semibold flex align-items-center">{{contentObj?.sNo + ' ' + contentObj?.title}}
        <span class="version-badge">
          Version: {{contentObj.version?.version}}
        </span>
      </div>
      <div class="flex align-items-center spec-status">
        <p class="text-sm font-medium">Published on {{contentObj?.createdOn | date:
          'MMMd,y'}}
        </p>
        <i class="pi pi-circle-fill pl-3 pr-3"></i>
        <p class="text-sm font-medium">Updated on {{contentObj?.modifiedOn | date:
          'MMMd,y'}}
        </p>
        <i class="pi pi-circle-fill pl-3 pr-3"></i>
        <p class="text-sm font-medium">3 mins read</p>
      </div>
      <div class="flex mt-2">
        <div class="p-1 pl-3 pr-3 bg-white mr-2 border-round-2xl text-xs font-medium tag-text-color">
          #{{product?.title}}
        </div>
      </div>
      <div class="flex mt-3 author align-items-center">
        <p class="spec-status text-sm font-medium m-0"> By {{contentObj?.content?.[0]?.modified_by}}
      </div>
      <img [src]="getMeBanner(contentObj)" alt="banner" class="mt-3 w-full">
    </div>
  </div>
  <div [ngClass]="
  !contentObj?.collapsed
    ? 'sctions-grid relative'
    : 'sctions-grid-full relative'
" id="{{ contentObj?.id }}" #contentContainer class="mt-4" *ngIf="contentObj?.content_data_type !=='BANNER'">
<div class="flex flex-row justify-content-between">
  <h3 class="m-0 pb-2 text-2xl font-bold" *ngIf="!contentObj?.parent_data_type">{{contentObj?.sNo + ' ' +
    contentObj?.title}}</h3>
    <img src="./assets/spec-minimize.svg" alt="expand" *ngIf="ComponentsToExpand.includes(contentObj.title)" class="expnad-icon pointer" (click)="expandComponent.emit({contentObj:contentObj,onDiff:onDiff,diffObj:diffObj})" />
</div>


    <div class="grid" (mouseover)="contentObj.showCommentIcon = true" (mouseleave)="contentObj.showCommentIcon = false">
      <p-overlayPanel #op (onHide)="contentObj.showCommentIcon=false">
        <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);" [position]="'absolute'"
          [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj" [specItem]="contentObj"
          placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
          [parentId]="contentObj.parentId"></xnode-add-comment-overlay-panel>
      </p-overlayPanel>
      <div class="col-12 py-0 h-2rem flex align-items-center justify-content-end">
        <div *ngIf="contentObj.showCommentIcon && !onDiff">
          <img src="../assets/comment.svg" class="pointer pt-2" alt="comment" (click)="op.toggle($event)">
          <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
          <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
        </div>
      </div>
      <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
        <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj" [parentTitle]="parentTitle"
          [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'" [parentId]="specItemId"
          [specItem]="contentObj"></xnode-add-task>
      </p-overlayPanel>
      <div class="col-12 py-0" *ngSwitchCase="'str'" [id]="contentObj.id">
        <div class="col-12 py-0" *ngIf="contentObj?.parent_data_type">
          <b>
            <xnode-diff-generator [oldContent]="contentObj.title" [newContent]="diffObj?.title"
              [onDiff]="onDiff"  [format]="format"></xnode-diff-generator>
          </b>
          <p>
            <xnode-diff-generator [oldContent]="contentObj.content" [newContent]="diffObj?.content"
              [onDiff]="onDiff" [format]="format"></xnode-diff-generator>
          </p>
        </div>
        <div class="col-12 py-0" *ngIf="!contentObj?.parent_data_type">
          <xnode-diff-generator [oldContent]="contentObj.content" [newContent]="diffObj?.content"
            [onDiff]="onDiff" [format]="format"></xnode-diff-generator>
        </div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'list'" [id]="contentObj.id">
        <div [ngSwitch]="getType(contentObj.content)">
          <div *ngSwitchCase="'array'">
            <ul *ngFor="let item of contentObj.content">
              <li>
                <xnode-diff-comp (expandComponent)="expandComponent.emit({contentObj:contentObj,onDiff:onDiff,diffObj:diffObj})" [contentObj]="getMeContentObj(item, contentObj)"
                  [diffObj]="getDiffObj(diffObj?.content, item, onDiff)" [onDiff]="onDiff"></xnode-diff-comp>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'USECASES'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div class="col-6">
            <xnode-common-usecases [users]="[]" [useCases]="contentObj.content"></xnode-common-usecases>
          </div>
          <div class="col-6">
            <xnode-common-usecases [users]="[]" [useCases]="diffObj.content"></xnode-common-usecases>
          </div>
        </div>
        <xnode-common-usecases [users]="[]" [useCases]="contentObj.content" *ngIf="!onDiff"></xnode-common-usecases>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'WORKFLOWS'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div class="col-6">
            <xnode-bpmn-common [item]="contentObj"></xnode-bpmn-common>
          </div>
          <div class="col-6">
            <xnode-bpmn-common [item]="diffObj"></xnode-bpmn-common>
          </div>
        </div>
        <xnode-bpmn-common [item]="contentObj" *ngIf="!onDiff"></xnode-bpmn-common>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'USER_ROLES'" [id]="contentObj.id">
        <xnode-user-roles [content]="contentObj.content" [parentTitle]="contentObj.title"
          [specItem]="contentObj"></xnode-user-roles>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'DASHBOARD'" [id]="contentObj.id">
        <iframe id="myIframe" [src]="iframeSrc" class="h-vh w-full" title="Template Builder">
        </iframe>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'JSON_TABLE'" [id]="contentObj.id">
        <div class="flex justify-content-end align-items-center my-2 mr-2">
          <i class="pi pi-code pointer mr-2" pTooltip="Json view" (click)="contentObj.showTable = false;"></i>
          <i class="pi pi-table pointer ml-2" pTooltip="Table view" (click)="contentObj.showTable = true;"></i>
        </div>
        <pre [innerHTML]="contentObj.content | json " style="white-space: pre-wrap; overflow: auto"
          *ngIf="!contentObj?.showTable"></pre>
        <xnode-common-spec-table [content]="contentObj.content" *ngIf="contentObj?.showTable"></xnode-common-spec-table>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'TABLE'" [id]="contentObj.id">
        <xnode-common-spec-table [users]="[]" [content]="contentObj.content"></xnode-common-spec-table>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'DATA_MODEL'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div class="col-6">
            <xnode-data-model-common *ngIf="contentObj"></xnode-data-model-common>
          </div>
          <div class="col-6">
            <xnode-data-model-common *ngIf="diffObj"></xnode-data-model-common>
          </div>
        </div>
        <xnode-data-model-common *ngIf="contentObj"></xnode-data-model-common>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'SWAGGER'" [id]="contentObj.id">
        <div id="openapi-ui-spec" id="openapi-ui-spec" class="openapi-spec my-3"></div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'QUALITY_ASSURANCE'" [id]="contentObj.id">
        <div *ngFor="let item of contentObj.content">
          <div class="mt-2">
            <div >
              <div class="flex justify-content-between align-items-center col-12">
                <h3>
                  {{item.title}}
                </h3>
              </div>
              <div class="spec-table">
                <xnode-common-spec-table [specItem]="contentObj"
                  [content]="item.content"></xnode-common-spec-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 py-0" *ngSwitchCase="'USER_PERSONAS'" [id]="contentObj.id">
        <div class="grid" *ngIf="onDiff">
          <div class="col-6">
            <div *ngFor="let persona of contentObj.content" class="pb-3" (mouseover)="persona.showCommentIcon = true"
              (mouseleave)="persona.showCommentIcon = false">
              <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
                <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                  [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj"
                  [specItem]="contentObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                  [parentId]="specItemId"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
              <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
                <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj"
                  [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                  [parentId]="specItemId" [specItem]="contentObj"></xnode-add-task>
              </p-overlayPanel>
              <div class="flex justify-content-end" *ngIf="persona.showCommentIcon">
                <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
                <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
                <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
              </div>
              <xnode-user-persona [content]="persona"></xnode-user-persona>
            </div>
          </div>
          <div class="col-6">
            <div *ngFor="let persona of diffObj.content" class="pb-3" (mouseover)="persona.showCommentIcon = true"
              (mouseleave)="persona.showCommentIcon = false">
              <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
                <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                  [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="diffObj"
                  [specItem]="diffObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                  [parentId]="specItemId"></xnode-add-comment-overlay-panel>
              </p-overlayPanel>
              <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
                <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="diffObj"
                  [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                  [parentId]="specItemId" [specItem]="diffObj"></xnode-add-task>
              </p-overlayPanel>
              <div class="flex justify-content-end" *ngIf="persona.showCommentIcon">
                <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
                <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(diffObj)"></i>
                <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
              </div>
              <xnode-user-persona [content]="persona"></xnode-user-persona>
            </div>
          </div>
        </div>
        <div *ngIf="!onDiff">
          <div *ngFor="let persona of contentObj.content" class="pb-3" (mouseover)="persona.showCommentIcon = true"
            (mouseleave)="persona.showCommentIcon = false">
            <p-overlayPanel #op (onHide)="persona.showCommentIcon=false">
              <xnode-add-comment-overlay-panel [width]="'w-30rem'" (closeOverlay)="op.toggle(false);"
                [position]="'absolute'" [parentTitle]="parentTitle" [users]="users" [selectedContent]="contentObj"
                [specItem]="contentObj" placeHolder="Add a Comment" [commentType]="'comment'" [parentEntity]="'SPEC'"
                [parentId]="specItemId"></xnode-add-comment-overlay-panel>
            </p-overlayPanel>
            <p-overlayPanel #op1 appendTo="body" (onHide)="op1.toggle(false);">
              <xnode-add-task (closeOverlay)="op1.toggle(false)" [selectedContent]="contentObj"
                [parentTitle]="parentTitle" [users]="users" placeHolder="Add a Task" [parentEntity]="'SPEC'"
                [parentId]="specItemId" [specItem]="contentObj"></xnode-add-task>
            </p-overlayPanel>
            <div class="flex justify-content-end" *ngIf="persona.showCommentIcon">
              <img src="../assets/comment.svg" class="pointer" alt="comment" (click)="op.toggle($event)">
              <i class="pi pi-eye pointer ml-2" style="color:#0991c6" (click)="onClickViewComments(contentObj)"></i>
              <img src="../assets/add-task.svg" (click)="op1.toggle($event)" class="pointer ml-2">
            </div>
            <xnode-user-persona [content]="persona"></xnode-user-persona>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!contentObj?.parent_data_type">
      <p-button label="See More" size="small" [rounded]="true" (click)="contentObj.collapsed = true;" [outlined]="true"
        class="absolute bottom-0 right-0 mr-2 mb-2 z-5" *ngIf="!contentObj?.collapsed" severity="secondary"></p-button>
      <p-button label="See Less" [rounded]="true" size="small" (click)="contentObj.collapsed = false;" [outlined]="true"
        class="absolute bottom-0 right-0 mr-2 mb-2" *ngIf="contentObj?.collapsed" severity="secondary"></p-button>
      <div class="gradientback" *ngIf="!contentObj?.collapsed"></div>
    </div>
  </div>
</div>
