@import "bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "primeicons/primeicons.css";
@import './theme.scss';
@import './app/styles/overrides.scss';
@import './app/styles/utils.scss';
@import 'node_modules/bpmn-js/dist/assets/diagram-js.css';
@import 'node_modules/bpmn-js/dist/assets/bpmn-js.css';

@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
// @import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  background: #3A3942;
  height: 100vh;
}

/* .material-icons */

.material-icons {
  cursor: pointer;
  width: 12.813px;
}

.material-icons.disable {
  cursor: default;
  opacity: 0.3;
}

/* #canvas */
#canvas {
  position: relative;
}

#canvas .model-node {
  position: absolute;
  opacity: 0.8;
}

#canvas .model-node:hover {
  opacity: 1;
}

#canvas .model-node * {
  font-size: 0.8rem;
}

#canvas .model-node h2 {
  cursor: move;
}

#canvas .model-default-endpoint {
  z-index: 6;
}

.jtk-overlay {
  display: none;
  background-color: #EEEEEEa5;
  padding: 4px;
  border-radius: 4px;

  &.jtk-hover {
    display: block;
  }
}

.jtk-endpoint {
  opacity: 1;

  svg {
    circle {
      stroke: #437FEC;
      fill: #437FEC;
    }
  }

  &.jtk-hover {
    opacity: 1;
  }
}

.jtk-connector {
  opacity: 1;

  path {
    stroke: #437FEC;
    stroke-width: 2px;
  }

  &.jtk-hover {
    opacity: 1;
  }
}

.jtk-hover {
  z-index: 19;

  path {
    stroke: orange;
    stroke-width: 2px;
  }

  svg {
    circle {
      stroke: orange;
      fill: orange;
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px;
  /* Vertically center the text there */
  background-color: #FFF;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-auto {
  margin-right: auto;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-auto {
  margin-left: auto;
}

.text-right {
  text-align: right;
}

.right {
  text-align: right;
}

.model-node {
  width: 200px;
  background: #f8f9fa;
}

#canvas .model-node h2,
#canvas .model-node .h2 {
  background: #f8f9fa;
  border: 0;
}

.list-group-item+.list-group-item {
  background: #ffffff;
  padding: 5px 10px !important;
  border: none !important;
}

#canvas .model-node:hover {
  opacity: unset !important;
}

#canvas .model-node {
  opacity: unset !important;
}

.jtk-hover path {
  color: blue !important;
}

.list-group-item-primary {
  font-weight: 600 !important;
  padding: 10px !important;
  border-bottom: 1px solid #000000 !important;
}

// .btm-actions i,
// .btm-actions span {
//   color: #ffffff !important;
//   text-decoration: none !important;
//   border: none !important;
// }

.btm-actions a {
  color: #000000 !important;
  text-decoration: none !important;
}

#user-options-header .p-dropdown {
  background: #24232c !important;
  border: none !important;
  height: 42px !important;
}

#user-options-header .p-dropdown .p-inputtext,
#design-template-options-header .p-dropdown .p-inputtext {
  color: white !important;
  position: relative;
  top: -3px;
}

#user-options-header .p-dropdown:not(.p-disabled).p-focus,
#design-template-options-header .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}

#user-options-header .p-dropdown:not(.p-disabled):hover,
#design-template-options-header .p-dropdown:not(.p-disabled):hover {
  box-shadow: none !important;
}

#user-options-header .p-dropdown-items-wrapper,
#design-template-options-header .p-dropdown-items-wrapper {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-ripple p-element p-dropdown-item p-highlight,
#design-template-options-header .p-dropdown-items-wrapper .p-ripple p-element p-dropdown-item p-highlight {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
#design-template-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
#design-template-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-element .p-ripple p-element p-dropdown-item:hover,
#design-template-options-header .p-dropdown-items-wrapper .p-dropdown-items .p-element .p-ripple p-element p-dropdown-item:hover {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-element:hover,
#design-template-options-header .p-dropdown-items-wrapper .p-element:hover {
  background: #24232c !important;
  color: white !important;
}

#user-options-header .p-dropdown-items-wrapper .p-element,
#design-template-options-header .p-dropdown-items-wrapper .p-element {
  background: #24232c !important;
  color: white !important;
}

.p-sidebar div.p-sidebar {
  position: relative !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
  background-color: white;

}