// @import "bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "primeicons/primeicons.css";
// @import './theme.scss';
@import './app/styles/overrides.scss';
// @import './app/styles/utils.scss';
@import 'node_modules/bpmn-js/dist/assets/diagram-js.css';
@import 'node_modules/bpmn-js/dist/assets/bpmn-js.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');

@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
// @import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
@import './diff2.min.css';
@import url(../node_modules//quill/dist/quill.snow.css);
@import url(../node_modules//quill/dist/quill.core.css);


html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  // background: var(--surface-section);
  // background: #3A3942;
  overflow: hidden;
}

.pointer{
  cursor:pointer;
}

/* .material-icons */

.material-icons {
  cursor: pointer;
  width: 12.813px;
}

.material-icons.disable {
  cursor: default;
  opacity: 0.3;
}

/* #canvas */
#canvas {
  position: relative;
}

#canvas .model-node {
  position: absolute;
  opacity: 0.8;
}

#canvas .model-node:hover {
  opacity: 1;
}

#canvas .model-node * {
  font-size: 0.8rem;
  display: flex;
}

#canvas .model-node h2 {
  cursor: move;
}

#canvas .model-default-endpoint {
  z-index: 6;
}
.pointer {
  cursor: pointer;
}

.jtk-overlay {
  display: none;
  // background-color: #EEEEEEa5;
  padding: 4px;
  border-radius: 4px;

  &.jtk-hover {
    display: block;
  }
}

.jtk-endpoint {
  opacity: 1;

  svg {
    circle {
      stroke: #437FEC;
      fill: #437FEC;
    }
  }

  &.jtk-hover {
    opacity: 1;
  }
}

.jtk-connector {
  opacity: 1;

  path {
    stroke: #437FEC;
    stroke-width: 2px;
  }

  &.jtk-hover {
    opacity: 1;
  }
}

.jtk-hover {
  z-index: 19;

  path {
    stroke: orange;
    stroke-width: 2px;
  }

  svg {
    circle {
      stroke: orange;
      fill: orange;
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px;
  /* Vertically center the text there */
  // background-color: #FFF;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-auto {
  margin-right: auto;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-auto {
  margin-left: auto;
}

.text-right {
  text-align: right;
}

.right {
  text-align: right;
}

.model-node {
  width: 200px;
  // background: #f8f9fa;
}

#canvas .model-node h2,
#canvas .model-node .h2 {
  // background: #f8f9fa;
  border: 0;
}

.list-group-item+.list-group-item {
  // background: #ffffff;
  padding: 5px 10px !important;
  border: none !important;
}

#canvas .model-node:hover {
  opacity: unset !important;
}

#canvas .model-node {
  opacity: unset !important;
}

.jtk-hover path {
  // color: blue !important;
}

.list-group-item-primary {
  font-weight: 600 !important;
  padding: 10px !important;
  // border-bottom: 1px solid #000000 !important;
}

.btm-actions a {
  // color: #000000 !important;
  text-decoration: none !important;
}

.p-sidebar div.p-sidebar {
  position: relative !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem !important;
  border-width: 0 0 0 6px;
  // background-color: white;

}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 10rem;
  height: 2rem;
}

.djs-palette-shown.djs-palette-two-column .bjs-breadcrumbs {
  top: 10px !important;
}

.business-type .p-dropdown {
  width: 100% !important;
}

.signup-password .p-inputtext {
  width: 100% !important;
}

.create-account-btn .p-button {
  width: 100% !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.p-column-filter-overlay {
  // background-color: #23222B;
  height: 330px;
}

.p-column-filter-overlay-menu .p-column-filter-constraint {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-column-filter-overlay-menu .p-column-filter-add-rule {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}


.video-modal .p-dialog .p-dialog-header,
.video-modal .p-dialog .p-dialog-content {
  background-color: #2E2D36 !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(78, 78, 78, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  // background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(63, 63, 63, 0.5);
}

.content-selection-bg {
  background-color: #1d4ed8 !important;
  color: white !important;
}

.gradientback {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 255, 241, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0);
  /* IE6-9 */

}

.search-dropdown-user{
  left: 30px!important;
}
.overlay-panel-divider .p-divider.p-divider-vertical{
  margin: 0px !important;
}

.overlay-panel-divider .p-divider-vertical:before{
  top:unset!important;
  height: 50% !important;
  border-left: 1px solid #535354;
}
