@media (min-width: 1440px) {
    :host ::ng-deep .p-calendar .p-datepicker {
        width: 150px;
        padding: 0px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }

    :host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        margin-left: 5px;
    }

    :host ::ng-deep .p-datepicker table th {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
        height: 16px;
        width: 16px;
    }

    :host ::ng-deep .p-datepicker table td {
        padding: 0px;
        margin: 0px;
    }

    :host ::ng-deep .p-datepicker table td>span {
        padding: 0px;
        margin: 0px;
        font-size: 6px;
        height: 18px;
        width: 18px;
        margin-left: 5px;
    }
}

@media (min-width: 2560px) {
    :host ::ng-deep .p-calendar .p-datepicker {
        width: 200px;
        padding: 0px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }

    :host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        margin-left: 5px;
    }

    :host ::ng-deep .p-datepicker table th {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        height: 18px;
        width: 18px;
    }

    :host ::ng-deep .p-datepicker table td {
        padding: 0px;
        margin: 0px;
    }

    :host ::ng-deep .p-datepicker table td>span {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
        height: 20px;
        width: 20px;
        margin-left: 15px;
    }
}

@media (min-width: 1024px) {
    :host ::ng-deep .p-calendar .p-datepicker {
        width: 120px;
        padding: 0px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
    }

    :host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
    }

    :host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
        margin-left: 5px;
    }

    :host ::ng-deep .p-datepicker table th {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        height: 15px;
        width: 15px;
    }

    :host ::ng-deep .p-datepicker table td {
        padding: 0px;
        margin: 0px;
    }

    :host ::ng-deep .p-datepicker table td>span {
        padding: 0px;
        margin: 0px;
        font-size: 8px;
        height: 16px;
        width: 16px;
        margin-left: 5px;
    }
}


.is-invalid {
    color: #CC3514;
}

.invalid-feedback {
    color: #CC3514;
}

:host ::ng-deep .p-inputtext.ng-dirty.ng-invalid {
    border-color: transparent;
}

:host ::ng-deep .p-calendar:not(.p-calendar-disabled).p-focus>.p-inputtext {
    box-shadow: none;
}

.avtar {
    border-radius: 15px;
    background-color: #02ADEE;
    font-size: 12px;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
}

.avtar-reviewer {
    border-radius: 8px;
    background-color: #02ADEE;
    font-size: 12px;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
}