:root {
  font-family: Poppins, sans-serif;
  --font-family: Poppins, sans-serif;
  --surface-a: #161d21;
  --surface-b: #0e1315;
  --surface-c: rgba(158, 173, 230, 0.08);
  --surface-d: #263238;
  --surface-e: #161d21;
  --surface-f: #161d21;
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --primary-color: #EF018F;
  --primary-color-text: #ffffff;
  --secondary-color: #02ADEE;
  --surface-0: #0e1315;
  --surface-50: #262b2c;
  --surface-100: #3e4244;
  --surface-200: #565a5b;
  --surface-300: #6e7173;
  --surface-400: #87898a;
  --surface-500: #9fa1a1;
  --surface-600: #b7b8b9;
  --surface-700: #cfd0d0;
  --surface-800: #e7e7e8;
  --surface-900: #ffffff;
  --gray-50: #e7e7e8;
  --gray-100: #cfd0d0;
  --gray-200: #b7b8b9;
  --gray-300: #9fa1a1;
  --gray-400: #87898a;
  --gray-500: #6e7173;
  --gray-600: #565a5b;
  --gray-700: #3e4244;
  --gray-800: #262b2c;
  --gray-900: #0e1315;
  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #0e1315;
  --surface-section: #3A3942;
  --surface-card: #161d21;
  --surface-overlay: #161d21;
  --surface-border: #263238;
  --surface-hover: rgba($primaryColor, .08);
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: rgba(158, 173, 230, 0.16);
  --highlight-text-color: #9eade6;
  --focus-ring: 0 0 0 1px #9eade6;
  color-scheme: dark;
}