:host ::ng-deep.p-dialog {
    border: 1px solid #595959 !important;

}

:host ::ng-deep.p-dialog-header {
    border-top-width: 1px;
}

:host ::ng-deep.p-dialog .p-dialog-header {
    background: linear-gradient(0deg, #23222B, #23222B),
        linear-gradient(0deg, #535354, #535354);
    border-color: #fff;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    background: linear-gradient(0deg, #23222B, #23222B),
        linear-gradient(0deg, #535354, #535354);
    padding: 1.5rem;
}

:host ::ng-deep.p-dialog .p-dialog-content {
    background: linear-gradient(0deg, #23222B, #23222B),
        linear-gradient(0deg, #535354, #535354);
    color: #fff;
}


:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    color: #EFEEEE;
    font-weight: 700;
    font-size: 24px;
}

:host ::ng-deep form label {
    color: #EFEEEE;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
}

:host ::ng-deep {
    .p-inputgroup-addon {
        background: #2E2D36;
        border: none;
        padding: 10px;
    }
}

:host ::ng-deep {
    .p-inputtext:enabled:focus {
        box-shadow: none;
        border: none;
    }
}