<p-dialog header="New Change Request" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }"
    [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <img src="./assets/cr.svg" alt="cr">
                </span>
                <input type="text" pInputText [(ngModel)]="newCr" />
            </div>
        </div>

    </div>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" styleClass="p-button-sm p-button-secondary" [rounded]="true" class="mr-2"
            (click)="visible=false"></p-button>
        <p-button label="Save" styleClass="p-button-sm confirm-success btn-primary" [rounded]="true"
            (click)="visible=false"></p-button>
    </ng-template>
</p-dialog>