<div [ngClass]=" {
        'bot-container bg-bot h-full w-3':displayoff
    }" *ngIf="displayoff==true else elseTemplate">
    <div [ngClass]="{
        'x-pilot-iframe d-flex flex-column justify-content-between h-full ': displayoff
    }">
        <div class="close-span d-flex flex-row justify-content-end p-4">
            <i class="pi pi-times" (click)="displayoffFunc()"></i>
        </div>
        <iframe src="https://xpilot.azurewebsites.net/" title="x-pilot" class="h-full w-full"></iframe>
    </div>
</div>
<ng-template #elseTemplate>
    <div class="bot-container">
        <div (click)="onClickContinue()" class="bot-text flex justify-content-center">
            <p (click)="onClickContinue()" class="text text-center">Click here
                next!</p>
        </div>
        <div class="bot-logo">
            <img (click)=" onClickContinue()" src="./assets/bot.svg" width="70%">
        </div>
    </div>
</ng-template>