.bot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;

}

.bg-bot {
  background-color: #3a3942;
  padding: 10px;
  border-radius: 10px;
}

.bot-text {
  border-bottom-left-radius: 261px;
  border-top-left-radius: 261px;
  border-top-right-radius: 500px;
  height: 65px;
  width: 261px;
  background-color: #d8d8d8;
  margin-right: 64px;
}

.bot-logo {
  align-self: flex-end;
  width: 64px;
  height: 64px;
  align-self: flex-end;
}

.text {
  font-size: 24px;
  color: #000759;
  align-self: center;
  text-align: center;
  margin-top: 15px;
}

.x-pilot-iframe {
  height: 80vh;
}

.close-span {
  height: 20vh;
}

.pi-times {
  color: white;
  cursor: pointer;
}