<div class="pr-4 pl-5">

  <div class="flex justify-content-between">
    <div class="flex gap-2 align-items-center">
      <p-button [styleClass]="agentHubModel.breadCrumbsAction.isBreadCrumbActive ? 'cyan-text-color p-0' : 'p-0'" (onClick)="agentHubModel.goBackBreadCrumbsHandler()">Agent Hub</p-button>
      <div class="flex gap-2 align-items-center" *ngIf="agentHubModel.breadCrumbsAction.isBreadCrumbActive">
        <p class="m-0 flex"><i class="pi pi-angle-right"></i></p>
        <p>{{agentHubModel.breadCrumbsAction.activeBreadCrumbsItem}}</p>
      </div>
    </div>

    <!-- <div class="flex gap-2">
            <p-button label="Create Agent" styleClass="text-white text-sm line-height-1 font-semibold font-family-inter border-white-alpha-70 border-round-2xl px-2 py-2" [outlined]="true" icon="pi pi-plus" iconPos="right"></p-button>
        </div> -->

    <div class="flex align-items-center justify-content-between">
      <!-- Left-aligned content -->
      <div class="flex align-items-center">
        <p-button label="Create Agent"
          styleClass="text-white text-sm line-height-1 font-semibold font-family-inter border-white-alpha-70 border-round-2xl px-2 py-2"
          [outlined]="true" icon="pi pi-plus-circle" iconPos="right"></p-button>      
      </div>

      <div class="separator"></div>

      <div class="flex align-items-center gap-2">
        <!-- <button class="p-button p-button-text p-button-plain">
                    <i class="pi pi-bars"></i> </button> -->
        <!-- <button class="p-button p-button-text p-button-plain">
                    <i class="pi pi-user"></i> </button> -->


        <p-button icon="pi pi-bars"></p-button>

        <p-button icon="pi pi-user"></p-button>

      </div>
    </div>

  </div>

  <div class="flex agent-summary" *ngIf="!agentHubModel.breadCrumbsAction.isBreadCrumbActive">
    <!-- Agents Card -->
    <div class="flex gap-2">
      <p-button styleClass="p-0" (onClick)="agentHubModel.OnbreabCrumbsClickHandler('Agent')">
        <img class="agent-icons" src="../../../assets/agent-hub/agent.svg" alt="">
      </p-button>
      <div class="flex flex-column">
        <div class="font-semibold text-base	 star-dust">Agents</div>
        <div class="text-4xl font-bold">14</div>
      </div>
    </div>

    <div class="flex gap-2">
      <p-button styleClass="p-0" (onClick)="agentHubModel.OnbreabCrumbsClickHandler('Capabilities')">
        <img class="agent-icons" src="../../../assets/agent-hub/capabilities.svg" alt="">
      </p-button>
      <div class="flex flex-column">
        <div class="font-semibold text-base	star-dust">Capabilities</div>
        <div class="text-4xl font-bold">20</div>
      </div>
    </div>


    <div class="flex gap-2">
      <p-button styleClass="p-0" (onClick)="agentHubModel.OnbreabCrumbsClickHandler('Topics')">
        <img class="agent-icons" src="../../../assets/agent-hub/topics.svg" alt="">
      </p-button>
      <div class="flex flex-column">
        <div class="font-semibold text-base	 star-dust">Topics</div>
        <div class="text-4xl font-bold">40</div>
      </div>
    </div>


    <div class="flex gap-2">
      <p-button styleClass="p-0" (onClick)="agentHubModel.OnbreabCrumbsClickHandler('Prompt')">
        <img class="agent-icons" src="../../../assets/agent-hub/prompt.svg" alt="">
      </p-button>
      <div class="flex flex-column">
        <div class="font-semibold text-base	 star-dust">Prompt</div>
        <div class="text-4xl font-bold">60</div>
      </div>
    </div>

  </div>


<!-- TAB Section -->
  <p-tabView class="relative" *ngIf="!agentHubModel.breadCrumbsAction.isBreadCrumbActive" (onChange)="agentHubModel.getAllAgentList()" [(activeIndex)]="agentHubModel.activeIndex">
    <p-tabPanel *ngFor="let tab of agentHubModel.tabItems let i=index" [header]="tab.title"
      [style]="{color: agentHubModel.activeIndex ==i && '#fff'}">
      <!-- <p-dropdown class="absolute top-0 left-0 custom-dropdown" *ngIf="i==0" [options]="dropdownItems" (onChange)="onDropdownChange($event)"></p-dropdown> -->

      <p-splitButton label="" styleClass="p-button-text p-button-plain" [style]="{top: '7%', position: 'absolute'}"
        (onClick)="agentHubModel.agentTabDropDownHandler()" (onDropdownClick)="agentHubModel.agentTabDropDownHandler()"
        [model]="agentHubModel.agentTabItemDropdown"></p-splitButton>

    </p-tabPanel>
  </p-tabView>

  <div class="w-full table-height">
    <xnode-dynamic-table
     [inputData]="agentHubModel.tableData"
     [cols]="agentHubModel.columns"
     [tableInfo]="agentHubModel.tableInfo"
     [showColumnFilterOption]="agentHubModel.showColumnFilterOption"
     [searchFilterOptions]="agentHubModel.searchFilterOptions"
     columnWidth="13.8rem"
     altBgColorRow="#2E2D36"
     ></xnode-dynamic-table>
  </div>

</div>