.heading-color {
    color: #DEDEDE;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #2E2D36;
    border-color: 1px solid #535354;
    border-radius: 50%;
    overflow: hidden;
}

.img-bg {
    background-color: #2E2D36;
    padding: 16p;
    border-radius: 32px;
}

.feedback-type:hover {
    background: #2E2D36;
}

:host::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 1px solid #4B4B4B;
}

:host ::ng-deep.p-dialog {
    border: 1px solid #595959 !important;
}

:host::ng-deep .p-dialog .p-dialog-footer {
    border-top: 1px solid #4B4B4B;
}

:host::ng-deep.p-dialog-bottom .p-dialog {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .feedback.p-dialog.p-dialog-bottom {
        margin: 0 !important;
    }

    // :host::ng-deep .p-dialog .p-dialog-header {
    //     padding: 0px !important;
    // }

    // .customer-feedback-list,
    // .feedback-type {
    //     padding: 5px !important;
    // }
}