<p-dialog *ngIf="showDialog" header="Customer Feedback" class="feedback" [(visible)]="showDialog" [modal]="true"
    [style]="{ width: '35vw', height: '51vh'}" [draggable]="false" [resizable]="false" [position]="'center'">
    <ng-template pTemplate="header">
        <div class="flex align-items-center p-3">
            <img src="./assets/feedback-popup.svg" alt="dp" class="text-2xl font-bold mx-3 mt-1" width="40px"
                height="40px">
            <div>
                <p class="m-0 font-bold text-2xl heading-color">Customer Feedback</p>
                <p class="m-0 text-sm font-medium heading-color">Choose any option to share your feedback and view it
                </p>
            </div>

        </div>
    </ng-template>
    <div class="p-3 mx-5 mt-3">
        <form>
            <div class="grid col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12  flex flex-wrap gap-4">
                <div class="field circle-container">
                    <img src="./assets/report-bug.svg" alt="dp" class="text-2xl font-bold" width="18px" height="18px">
                </div>
                <div class="field">
                    <a class="font-medium text-xl heading-color no-underline pointer"
                        (click)="handleDataAndAction($event)">Report a bug</a>
                    <p class="text-base font-medium text-500">Let us know what’s the bug</p>
                </div>
            </div>
            <div class="grid col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12  flex flex-wrap gap-4">
                <div class="field circle-container">
                    <img src="./assets/general-feedback.svg" alt="dp" class="text-2xl font-bold" width="18px"
                        height="18px">
                </div>
                <div class="field">
                    <a class="font-medium text-xl heading-color no-underline pointer"
                        (click)="generalHandleDataAndAction($event)">General feedback</a>
                    <p class="text-base font-medium text-500">A general feedback this page</p>
                </div>
            </div>
            <div class="grid col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12  flex flex-wrap gap-4">
                <div class="field circle-container">
                    <img src="./assets/existing-feedback.svg" alt="dp" class="text-2xl font-bold" width="18px"
                        height="18px">
                </div>
                <div class="field">
                    <a class="font-medium text-xl heading-color no-underline">View existing feedback</a>
                    <p class="text-base font-medium text-500">See what you submitted already</p>
                </div>
            </div>
        </form>
    </div>
</p-dialog>