.custom-header-cell {
  height: 10px;
  line-height: 10px;
  font-size: 16px;
}

.tableheader {
  background-color: #3A3942;
  border-color: #595959;
}

.tablerow {
  background-color: #302E38;
  border-color: #595959;
}