<xnode-confirmation-popup [Data]="userDetails" *ngIf="showConfirmationPopover" ></xnode-confirmation-popup>
<p-table #dt [rows]="10" [scrollable]="true" scrollHeight="490px"  [rowHover]="true" dataKey="id" [globalFilterFields]="headers"
     styleClass="p-datatable-sm" [autoLayout]="true" scrollDirection="horizontal" [value]="dynamicData"
     [columns]="cols">
     <ng-template pTemplate="caption" *ngIf="showHeaderMenu">
          <div class="flex justify-content-between align-items-center">
               <span class="p-input-icon-left" *ngIf="showSearch">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search by User Name, Lead No ..."
                         (input)="onInputChange($event)" />
               </span>
               <div class="flex-wrap">
                    <p-button styleClass="p-button-rounded mr-3 t-header-btn" *ngIf="showDelete">
                         <img src="../../assets/delete.svg" alt="circle-ci-image" class="text-sm ml-1">
                         <span class=" text-sm font-semibold font-family-inter ml-2">Delete</span>
                    </p-button>
                    <p-button styleClass="p-button-rounded mr-3 t-header-btn" *ngIf="showExport">
                         <img src="../../assets/export.svg" alt="circle-ci-image" class="text-sm">
                         <span class=" text-sm font-semibold font-family-inter ml-2">Export</span>
                         <i class="pi pi-chevron-down ml-2"></i>
                    </p-button>
               </div>
          </div>
     </ng-template>
     <ng-template pTemplate="header" let-columns>
          <tr class="custom-cell">
               <th style="justify-content: center;align-items: center; min-width: 30px;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
               </th>
               <th *ngFor="let col of columns" [ngClass]="'tableheader'">
                    {{ col.header }}
                    <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>

               </th>
          </tr>
     </ng-template>

     <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex" class="">
          <tr class="text-white text-xs custom-cell" [ngClass]="i % 2 == 0 ? 'even' : 'odd'"
               [ngStyle]="{ 'background-color': i % 2 == 0 ? '#302E38'  : '#3A3942'}">
               <td style="width: 2rem;background-color: #3A3942;border-width: 0px;">
                    <p-tableCheckbox [value]="true"></p-tableCheckbox>
               </td>
               <td *ngFor="let col of columns" class="border-transparent">
                    <div *ngIf="col.field !== 'interest_level' && col.field !== 'action'">
                         {{rowData[col.field]}}
                    </div>
                    <div *ngIf="col.field === 'interest_level'"
                         [ngClass]="rowData[col.field] === 'High' ? 'Success' : rowData[col.field] === 'Medium' ? 'Warning' : rowData[col.field] === 'Low' ? 'Danger' : null">
                         {{rowData[col.field]}}
                    </div>
                    <ng-container *ngIf="col.field === 'action'">
                         <div
                              [ngClass]="rowData[col.field] === 'invited' ? 'Success' : rowData[col.field] === 'hold' ? 'Warning' : rowData[col.field] === 'reject' ? 'Danger' : null">
                              {{rowData[col.field]}}
                         </div>
                         <div class="flex" *ngIf="rowData[col.field] == null">
                              <p-button (click)="onClickAction({type:'invite',userData:rowData})"
                                   [styleClass]="'p-button-rounded status mr-2 ' + 'Success'">
                                   <span class="text-sm font-semibold font-family-inter">
                                        Invite
                                   </span>
                              </p-button>
                              <p-button (click)="onClickAction({type:'hold',userData:rowData})"
                                   [styleClass]="'p-button-rounded status mr-2 ' + 'Warning'">
                                   <span class="text-sm font-semibold font-family-inter">
                                        Hold
                                   </span>
                              </p-button>
                              <p-button (click)="onClickAction({type:'reject',userData:rowData})"
                                   [styleClass]="'p-button-rounded status mr-2 ' + 'Danger'">
                                   <span class="text-sm font-semibold font-family-inter">
                                        Reject
                                   </span>
                              </p-button>
                         </div>
                    </ng-container>
               </td>
          </tr>
     </ng-template>
     <!-- <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-i="rowIndex">
          <tr *ngIf="editable" class="text-white text-xs custom-cell"
               [ngStyle]="{ 'background-color': i % 2 == 0 ? '#302E38'  : '#3A3942'}">
               <td style="width: 2rem;background-color: #3A3942;border-width: 0px;">
                    <p-tableCheckbox [value]="true"></p-tableCheckbox>
               </td>
               <td *ngFor="let col of headers" class="border-transparent" [pEditableColumn]="rowData[col]"
                    pEditableColumnField="col">
                    <ng-container *ngIf="col !== 'action' && col !== 'interestlevel'">
                         {{ rowData[col.field] }}
                    </ng-container>
                    <ng-container *ngIf="col === 'interestlevel'">
                         <div class="flex">
                              <ng-container *ngFor="let key of rowData[col] | keyvalue">
                                   <span *ngIf="key.value">{{ key.key}}</span>
                              </ng-container>
                         </div>
                    </ng-container>
                    <ng-container *ngIf="col === 'action'">
                         <div class="flex">
                              <div *ngFor="let key of getObjectKeys(rowData[col].values)">
                                   <div *ngIf="allValuesTrue(rowData[col].values)"> <p-button
                                             [styleClass]="'p-button-rounded status mr-2 ' + rowData[col].color[key]"
                                             *ngIf="!rowData[col].values[key]">
                                             <span class="text-sm font-semibold font-family-inter">
                                                  {{ key | titlecase }}
                                             </span>
                                        </p-button>
                                   </div>
                                   <ng-container *ngIf=" !allValuesTrue(rowData[col].values)">
                                        <span class="text-sm font-semibold font-family-inter"
                                             [ngClass]="rowData[col].color[key]"
                                             *ngIf="rowData[col].values[key] && rowData[col].color[key] == 'Success' ">
                                             {{ key + 'd' | titlecase }}
                                        </span>
                                        <span class="text-sm font-semibold font-family-inter"
                                             [ngClass]="rowData[col].color[key]"
                                             *ngIf="rowData[col].values[key] && rowData[col].color[key] !== 'Success'">
                                             {{ key | titlecase }}
                                        </span>
                                   </ng-container>
                              </div>
                         </div>
                    </ng-container>
               </td>
          </tr>
     </ng-template> -->
</p-table>